<!DOCTYPE html>
<html lang="en-US">

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<head>
<?php echo $this->headTitle(); ?>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="<?php echo '/'.APP_PLATFORM.'/img/fsfav.gif'; ?>"/>

<?php echo $this->headScript()->appendFile('http://code.jquery.com/jquery-1.10.1.min.js')
    ->appendFile('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    ->appendFile('/'.APP_PLATFORM.'/js/fightscience-script.js')
    ->appendFile('/'.APP_PLATFORM.'/js/myLib.js')
    ->appendFile('/'.APP_PLATFORM.'/js/main.js');
?>

<?php echo $this->headLink()
    ->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    ->appendStylesheet('/'.APP_PLATFORM.'/stylesheets/jquery-ui-1.8.16.custom.css')
    ->appendStylesheet('/'.APP_PLATFORM.'/stylesheets/fightscience-stylesheet.css')
    ->appendStylesheet('/'.APP_PLATFORM.'/stylesheets/main.css');
?>

<!--[if IE]>
<script src="/core/js/html5shiv.js"></script>
<![endif]-->
</head>


<body class="home page page-id-33 page-template page-template-template-slideronly-php">

<!-- GOOGLE ANALYTICS -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48778649-1', 'fightscience-shop.co.uk');
    ga('send', 'pageview');

</script>
<!-- END OF GOOGLE ANALYTICS -->

<!-- Start of bdywrapper -->
<div id="bdywrapper">

<!-- Start of outer wrapper -->
<header id="outer_wrapper">


<!-- Start of nav wrapper -->
<div id="nav_wrapper">

    <!-- Start of top logo -->
    <div id="top_logo">
        <a href="http://fightscience.co.uk"><img src="/fightscience-shop/img/logo.png" alt="logo"/></a>
    </div>
    <!-- End of top logo -->

    <!-- Start of searchbox -->
    <div id="searchbox">
        <!-- Start of search box -->

        <form role="search" method="get" id="searchform" action="http://fightscience.co.uk/">

            <ul class="search">

                <li><input type="text" value="Search the site" id="searchBox" name="s" class="bar"
                           onblur="if(this.value == '') { this.value = 'Search the site'; }"
                           onfocus="if(this.value == 'Search the site') { this.value = ''; }"/></li>

            </ul>

        </form>

        <!-- End of searchbox -->


    </div>
    <!-- End of searchbox -->

    <!-- Start of info box -->
    <div id="info_box">


        <div class="header_phone">01252 333135</div>


        <div class="header_info"><strong>MAIDA GYM, HOSPITAL ROAD/QUEENS AVE, ALDERSHOT, HAMPSHIRE, GU11
                2BT</strong></br>
                <span
                    style="color:red;">OPEN MONDAY TO FRIDAY, 7AM - 10PM // WEEKENDS AND BANK HOLIDAYS 9AM - 6PM </span>
        </div>


    </div>
    <!-- End of info box -->

    <!-- Start of clear fix -->
    <div class="clear"></div>

</div>
<!-- End of nav wrapper -->

<!-- Start of top -->
<div id="top">

    <!-- Start of topmenu wrapper -->
    <div id="topmenu_wrapper">

        <!-- Start of topmenu -->
        <nav id="topmenu">
            <div class="menu-primary-container">
                <ul id="menu-primary" class="sf-menu">
                    <li id="menu-item-468"
                        class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-33  menu-item-468">
                        <a href="http://fightscience.co.uk/"><span class="dojodigital_toggle_title">Home</span></a>
                    </li>
                    <li id="menu-item-578"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-578">
                        <a href="http://fightscience.co.uk/our-gym/">Our Gym</a>
                        <ul class="sub-menu">
                            <li id="menu-item-635"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635">
                                <a
                                    href="http://fightscience.co.uk/cardio-equipment/">Cardio Equipment</a></li>
                            <li id="menu-item-636"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636">
                                <a
                                    href="http://fightscience.co.uk/strength-equipment/">Strength Equipment</a>
                            </li>
                            <li id="menu-item-634"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634">
                                <a
                                    href="http://fightscience.co.uk/fight-science-shop/">Fight Science Shop</a>
                            </li>
                            <li id="menu-item-633"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-633">
                                <a
                                    href="http://fightscience.co.uk/the-cage/">The Cage</a></li>
                            <li id="menu-item-632"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632">
                                <a
                                    href="http://fightscience.co.uk/the-mats/">The Mats</a></li>
                            <li id="menu-item-631"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-631">
                                <a
                                    href="http://fightscience.co.uk/physio/">Physio</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-662"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-662">
                        <a href="http://fightscience.co.uk/our-services/">Our Services</a>
                        <ul class="sub-menu">
                            <li id="menu-item-669"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-669">
                                <a
                                    href="http://fightscience.co.uk/strength-and-conditioning/">Strength And
                                    Conditioning</a></li>
                            <li id="menu-item-668"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-668">
                                <a
                                    href="http://fightscience.co.uk/performance-testing/">Performance
                                    Testing</a>
                            </li>
                            <li id="menu-item-667"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-667">
                                <a
                                    href="http://fightscience.co.uk/nutrition/">Nutrition</a></li>
                            <li id="menu-item-666"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-666">
                                <a
                                    href="http://fightscience.co.uk/programme-design/">Programme Design</a></li>
                            <li id="menu-item-665"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665">
                                <a
                                    href="http://fightscience.co.uk/martial-arts-instruction/">Martial Arts
                                    Instruction</a></li>
                            <li id="menu-item-664"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-664">
                                <a
                                    href="http://fightscience.co.uk/advanced-mental-conditioning/">Advanced
                                    Mental
                                    Conditioning</a></li>
                            <li id="menu-item-663"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-663">
                                <a
                                    href="http://fightscience.co.uk/fighter-development-programme/">Fighter
                                    Development Programme</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-829"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-829"><a
                            href="http://fightscience.co.uk/pricing-structure/">Pricing</a></li>
                    <li id="menu-item-829"
                        class="menu-item menu-item-type-post_type menu-item-object-page current_page_item menu-item-829">
                        <a
                            href="/category/">Shop</a></li>
                    <li id="menu-item-698"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-698">
                        <a href="http://www.fightscience.co.uk/alex-reid/">Gallery</a>
                        <ul class="sub-menu">
                            <li id="menu-item-1397"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1397">
                                <a
                                    href="http://fightscience.co.uk/nick-headhunter-chapman/">Nick &#8216;Headhunter&#8217;
                                    Chapman</a></li>
                            <li id="menu-item-692"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-692">
                                <a
                                    href="http://fightscience.co.uk/alex-reid/">Alex Reid</a></li>
                            <li id="menu-item-697"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697">
                                <a
                                    href="http://fightscience.co.uk/terry-hollands/">Terry Hollands</a></li>
                            <li id="menu-item-693"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693">
                                <a
                                    href="http://fightscience.co.uk/miscellaneous/">Miscellaneous</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-710"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-710"><a
                            href="http://fightscience.co.uk/timetable/">Timetable</a></li>
                    <li id="menu-item-709"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-709"><a
                            href="http://fightscience.co.uk/about-us/">About Us</a></li>
                    <li id="menu-item-708"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-708"><a
                            href="http://fightscience.co.uk/associated-clubs/">Associated Clubs</a></li>
                    <li id="menu-item-707"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-707"><a
                            href="http://fightscience.co.uk/testimonials/">Testimonials</a></li>
                    <li id="menu-item-467"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467"><a
                            href="http://fightscience.co.uk/contact/">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- End of topmenu -->


    </div>
    <!-- End of topmenu wrapper -->

</div>
<!-- End of top -->

<div id="ajax-loader">
    <div class="overlay">
        <div class="centered-page">
            <img src="/fightscience-shop/img/loading.gif"/>
        </div>
    </div>
</div>
</header>
<div class="container shop-nav">
    <nav>
        <ul class="nav">

            <?php if (isset($this->user)): ?>
                <li id="top-links" class="dropdown border-r">
                    <a href="#" class="account-dropdown-toggle">
                        <?php echo $this->user->getForename(); ?> <i class="fa fa-caret-down fa-fw"></i>
                    </a>
                    <ul class="account-dropdown account-ul">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                            <a href="/account/">
                                <h4 class="account-dropdown-header">
                                    <?php
                                    echo $this->languageSelected
                                        ->getContent('header_your_account')
                                        ->getContent();
                                    ?>
                                </h4>
                            </a>
                        </li>
                        <li>
                            <a href="/logout/" title="User logout">
                                <h4 class="account-dropdown-header">
                                    <?php
                                    echo $this->languageSelected
                                        ->getContent('logout')
                                        ->getContent();
                                    ?>
                                </h4>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/help/">
                        <?php
                        echo $this->languageSelected
                            ->getContent('help')
                            ->getContent();
                        ?>
                    </a>
                </li>
            <?php else: ?>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                    <a href="/login/">
                        <?php
                        echo $this->languageSelected
                            ->getContent('login')
                            ->getContent();
                        ?>
                    </a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                    <a href="/help/">
                        <?php
                        echo $this->languageSelected
                            ->getContent('help')
                            ->getContent();
                        ?>
                    </a>
                </li>
            <?php endif; ?>
            <li id="top-basket">
                <a href="#" class="basket-dropdown-toggle">
                    <span class="badge"><?php echo $this->basket->getNumberOfItems(); ?></span>
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <i class="fa fa-caret-down fa-fw"></i>
                </a>
                <ul class="basket-dropdown basket-ul">
                    <?php
                    /*
                     * Check if there are any items in the basket before attempting to display basket data
                     */
                    if ($this->basket->getNumberOfItems() > 0):
                        $i = 0;
                        $noToShow = 5;
                        $totalPrice = floatval(0);
                        foreach ($this->basket->getDisplayData() as $basketItem) :
                            $i++;
                            $productId = $basketItem['product_id'];
                            $productName = $basketItem['product_name'];
                            $productOption = $basketItem['option'];
                            $productColourway = $basketItem['colourway'];
                            $productUrl = $this->productUrl . ($productId);
                            $productImage = $basketItem['product_image'];
                            $productImageUrl = $this->productImageLocation . $productImage;
                            $itemQty = (float)$basketItem['qty'];
                            $itemPrice = (float)$basketItem['itemprice'];
                            ?>

                            <li class="<?php echo($i > $noToShow ? 'more' : '') ?>">
                                <a href="<?php echo $productUrl; ?>">
                                    <img src="<?php echo($productImageUrl); ?>" width='30px'/>

                                    <h4><?php echo($productName . ' [ ' . $productOption . ' / ' . $productColourway . ' ]'); ?></h4>

                                    <p><?php echo 'Quantity:' . $itemQty; ?> </p>
                                </a>
                            </li>
                            <?php
                            if ($this->usergroup && $this->usergroup->vat === '1') {
                                $roundItemPrice = number_format($itemPrice, 2);
                            } else {
                                $roundItemPrice = number_format($itemPrice * 1.2, 2);
                            }
                            $totalPrice += (float)($roundItemPrice * $itemQty);
                            ?>
                        <?php endforeach; ?>
                        <?php if ($i > $noToShow): ?>
                        <li>
                            <a class="btn view-more" href="#">View More &#9660;</a>
                        </li>
                    <?php endif; ?>

                        <li>
                            <p>ITEMS TOTAL &middot; <?php echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2); ?>
                            </p>
                        </li>
                        <li class="basket-btn ">
                            <a class="btn btn-primary" href="/basket/">View Basket
                                (<?php echo $this->basket->getNumberOfItems() . ' items'; ?>)
                            </a>
                        </li>
                    <?php else: ?>
                        <li>
                            <p>
                                <?php
                                echo $this->languageSelected
                                    ->getContent('no_basket_items')
                                    ->getContent();
                                ?>
                            </p>
                        </li>
                    <?php
                    endif; ?>


                </ul>
            </li>

        </ul>
    </nav>
    <!-- Product popup after product has been added to basket -->
    <div id='added-product-popup' class="media <?php echo($this->success ? 'show' : 'hide'); ?>" style='display: none'>
        <?php if ($this->product): ?>
            <a href="#">
                <?php
                if ($this->product->hasColourways()) {
                    $productColourwayImages = $this->product->getColourwayImagesByColourwayId($this->colourwaySelected);
                    $displayImage = $productColourwayImages[0]->image_url;
                } else {
                    $displayImage = $this->product->getDefaultImage()->image_url;
                }
                ?>
                <!--  <img class="media-object" src="<?php /*echo $this->productImageLocation . $displayImage; */?>" width='30px'/>-->
            </a>

            <p>
                Product <strong> <?php echo($this->product->getNameByLanguage($this->languageSelected)); ?> </strong> has been added to
                basket
            </p>
        <?php endif; ?>
    </div>
    <!-- End of product popup -->
</div>
<!-- BREADCRUMBS -->
<div class="container">
    <nav class="breadcrumb" class="container">
        <ul>
            <?php echo $this->navigation->setSeparator('&raquo;')->showBreadcrumbs(); ?>
        </ul>
    </nav>
</div>


<!---- Content call ---->

<?php echo $this->layout()->content ?>

<!---- Content call ---->


<!-- Start of clear fix -->
<div class="clear"></div>

</div>
<!-- End of bdywrapper -->

<!-- Start of outer footer wrapper -->
<footer id="outer_footer_wrapper">

    <!-- Start of top -->
    <div id="top">

        <!-- Start of bottom nav wrap -->
        <div id="bottom_nav_wrap">

            <!-- Start of social -->
            <section class="social">

                <ul class="icons">


                    <li><a href="https://twitter.com/FightScienceGym"><img
                                src="<?php echo '/' . APP_PLATFORM . '/img/twitter.png'; ?>" height="13"
                                width="17" alt="twitter"/></a></li>


                    <li><a href="https://www.facebook.com/FightScienceGym"><img
                                src="<?php echo '/' . APP_PLATFORM . '/img/facebook.png'; ?>"
                                height="18" width="9" alt="facebook"/></a></li>


                </ul>

            </section>
            <!-- End of social -->

            <!-- Start of bottom nav -->
            <nav id="bottom_nav">
                <div class="menu-secondary-container">
                    <ul id="menu-secondary" class="menu">
                        <li id="menu-item-475"
                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-33 current_page_item menu-item-475">
                            <a href="http://fightscience.co.uk/"><span class="dojodigital_toggle_title">Home</span></a>
                        </li>
                        <li id="menu-item-471"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471"><a
                                href="http://fightscience.co.uk/sitemap/">Sitemap</a></li>
                        <li id="menu-item-711"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-711"><a
                                href="http://fightscience.co.uk/timetable/">Timetable</a></li>
                        <li id="menu-item-473"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473"><a
                                href="http://fightscience.co.uk/contact/">Contact</a></li>
                        <li id="menu-item-473"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473"><a
                                href="/terms">Terms & Conditions</a></li>
                    </ul>
                </div>

                <!-- Start of clear fix -->
                <div class="clear"></div>

            </nav>
            <!-- end of bottom nav -->

        </div>
        <!-- end of bottom nav wrap -->

    </div>
    <!-- End of top -->

    <!-- Start of footer wrapper -->
    <div id="footer_wrapper">

        <!-- Start of two third first -->
        <div class="two_third_first">


        </div>

        <!-- Start of copyright message -->
        <div class="copyright_message">
            &copy;Fight Science LTD, 2014. <a href="http://www.creativeemporium.co.uk">WEB DESIGN BY CREATIVE
                EMPORIUM</a>
        </div>
        <!-- End of copyright message -->

        <div class="clear"></div>

    </div>
    <!-- End of footer wrapper -->

</footer>
<!-- End of outer footer wrapper -->


</body>
</html>


<!-- Dynamic page generated in 1.142 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2013-12-31 11:35:43 -->

<!-- Compression = gzip -->
