<h1>Contact</h1>
<div class="roundedCorners">

    <p><strong>To contact us please fill out the details in the form below. We will contact you within 48 hours.</strong></p>

    <p class="note">For all orders queries please remember to include your order number.</p>

    <form action="" method="post" id="contactForm">

        <h3>Your Details</h3>
        <table>
            <tr>
                <td>Name: *</td>
                <td class="option"><input name="name" type="text" class="text" value="" />
                </td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td class="option"><input name="phone" type="text" class="text" value="" /></td>
            </tr>
            <tr>
                <td>Email Address: *</td>
                <td class="option"><input name="email" type="text" class="text" value="" />
                </td>
            </tr>
        </table>

        <h3>Your Message</h3>
        <table>
            <tr>
                <td>Enquiry/comments: *</td>
                <td class="option"><textarea name="comments"></textarea></td>
            </tr>
        </table>

        <p><input name="submitted" type="hidden" value="1" />
        <!--<input type="image" src="/images/btnSend.gif" class="button" value="Send &gt;" />-->
            <input type="submit" class="button" value="Next &raquo;" />
    </form>

</div>