<?php $totalPrice = $this->basket->getItemsTotal(); //echo '<pre>'; var_dump($this->voucherSession); die();      ?>
<div class="main-wrapper">
    <div class="checkout-wrapper">
        <div class="pull-right">
            <span class="badge badge-important">1</span>
            <span class="badge">2</span>
            <span class="badge">3</span>
        </div>
        <h2>Checkout</h2>
        <h4 class="cah">Addresses</h4>
        <div class="addresses">
            <div class="address"> 
                <h4> Billing Address</h4>
                <?php
                if ($this->user->getBillingAddress()):
                    $billingAddress = $this->user->getBillingAddress();
                    ?>
                    <p><?php echo $billingAddress->getLineOne(); ?></p>
                    <p><?php echo $billingAddress->getLineTwo(); ?></p>
                    <p><?php echo $billingAddress->getCity(); ?></p>
                    <p><?php echo $billingAddress->getRegion(); ?></p>
                    <p><?php echo $billingAddress->getPostcode(); ?></p>
                    <p><?php echo $billingAddress->getCountry()->getCountry(); ?></p>
                    <a class="btn-checkout-1" href="/address/index/type/billing/">Change Billing Address</a>
                    <?php
                else:
                    ?>
                    <a class="btn-checkout-1" type="button" href="/address/index/type/billing/">Enter a Billing Address</a>
                <?php
                endif;
                ?>
            </div>
            <div class="address">
                <h4>Delivery Address</h4>
                <?php
                if ($this->user->getDeliveryAddress()):
                    $deliveryAddress = $this->user->getDeliveryAddress();
                    ?>
                    <p><?php echo $deliveryAddress->getLineOne(); ?></p>
                    <p><?php echo $deliveryAddress->getLineTwo(); ?></p>
                    <p><?php echo $deliveryAddress->getCity(); ?></p>
                    <p><?php echo $deliveryAddress->getRegion(); ?></p>
                    <p><?php echo $deliveryAddress->getPostcode(); ?></p>
                    <p><?php echo $deliveryAddress->getCountry()->getCountry(); ?></p>
                    <a class="btn-checkout-1" href="/address/index/type/delivery/">Change Delivery Address</a>
                    <?php
                else:
                    ?>
                    <a class="btn-checkout-1" type="button" href="/address/index/type/billing/">Enter a Delivery Address</a>
                <?php
                endif;
                ?>
            </div>
        </div>
        <div class="options">
            <h4>Delivery Options</h4>
            <select>
                <?php
                $shippingPrice = floatval(0.00);
                foreach ($this->shippingPrices as $rate) 
                {
                    echo '<option value="' . $rate->getOption()->getId() . '">' . $rate->getOption()->getOption() . ' - &pound;' . $rate->getPrice() . '</option>';
                    $shippingPrice = $rate->getPrice();
                }
                ?>
            </select>
            <br />
            <p>Please note that Next Day Delivery is only guaranteed for orders placed before 2pm</p>
        </div>

        <h4>Confirm Items</h4>
        <?php if (isset($this->success)) : ?>
            <h5 id="voucher-applied"><?php echo $this->success; ?></h5>
        <?php else : ?>
            <h5 id="voucher-fail"><?php echo $this->error; ?></h5>
        <?php endif; ?>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $totalPrice = floatval(0.00);
                
                foreach ($this->basket->getDisplayData() as $key => $value) :
                    $stockId = $key;
                    $productId = $value['product_id'];
                    $productUrl = $this->productUrl . $productId;
                    $productImage = $value['product_image'];
                    $productImageUrl = $this->productImageLocation . $productImage;
                    $productName = $value['product_name'];
                    $productOption = $value['option'];
                    $productColourway = $value['colourway'];
                    $itemQty = (int) $value['qty'];
                    $itemPrice = (float) $value['itemprice'];
                    $totalPrice += (float) ($itemPrice * $itemQty);
                    ?>
                    <?php
                    if (isset($this->conversion)) {
                        $itemPrice = number_format(($itemPrice * $this->conversion), 2, '.', ',');
                        $totalPrice = number_format(($totalPrice * $this->conversion), 2, '.', ',');
                    }
                    if (isset($this->voucher)) {
                        if ($this->voucher->operand == '/') {
                            $itemPrice = number_format(($itemPrice * $this->voucher->amount), 2, '.', ',');
                        }
                    } elseif (isset($this->voucherSession)) {
                        if ($this->voucherSession->operand == '/') {
                            $itemPrice = number_format(($itemPrice * $this->voucher->amount), 2, '.', ',');
                        }
                    }
                    ?>
                    <tr>
                        <td><img src="<?php echo $productImageUrl; ?>" width="70px"/></td>
                        <td><a href="<?php echo $productUrl; ?>"><?php echo $productName . ' [' . $productOption . ' / ' . $productColourway . ' ]'; ?></a> </td>
                        <td><?php echo $this->currency->getCurrencySymbol() . $itemPrice ?></td>
                        <td><?php echo $itemQty; ?></td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td><h5>Total Price</h5></td>
                    <?php
                    if (isset($this->voucher)) {
                        if ($this->voucher->operand == '-') {
                            $totalPrice = number_format(($totalPrice - $this->voucher->amount), 2, '.', ',');
                        }
                    } 
                    else if (isset($this->voucherSession)) 
                    {
                        //var_dump($this->voucherSession); die();
                        if ($this->voucherSession->operand == '-') {
                            $totalPrice = number_format(($totalPrice - $this->voucherSession->amount), 2, '.', ',');
                        }
                   }
                   ?>
                   <td><h5><?php echo $this->currency->currencySymbol . number_format(($totalPrice), 2, '.', ','); ?></h5></td>
                </tr>
            </tbody>
        </table>
            
            <h4>Have a voucher code? Enter it here.</h4>
        <form method="post" action="/checkout">
            <input type="text" name="voucher" id="voucher-code">
            <input type="submit" class='btn-checkout-3' id='process-voucher' value="Apply Voucher">
        </form>
            
        <div class="checkout-buttons">
            <form method="post" action="/payment/">
                <input type="hidden" name="shippingcost" value="<?php echo $shippingPrice; ?>" />
                <input type="submit" name="checkoutsubmit" class='btn-checkout-2' id='go-to-checkout' value="Proceed to Payment" />
            </form>
            
            <a class='btn-checkout-2' id='go-to-basket' href="/basket/">Edit Basket</a>
        </div>

        
        <!--<h3>Any Questions?</h3>
        <form id="checkout-form">

            <label> Phone Number: * </label>
            <input type ="text" name="phone_number"/>
            <label> Comments: </label>
            <textarea id="checkout-form-textarea" name="comments"></textarea>
            <a class='btn-checkout-3' href="/basket/">Send Message</a>
        </form>-->

    </div>
</div>
<script>
    $('#voucher-applied').fadeIn('slow').delay('2000').fadeOut('slow');
    $('#voucher-fail').fadeIn('slow').delay('2000').fadeOut('slow');
</script>
