<div class="container">
	<h2 class="form-signin-heading"><?php echo $this->getContent('form_title'); ?></h2>
	<?php echo $this->getContent('form'); ?>
	<?php echo $this->getContent('form_errors'); ?>

	<p><a href="/admin/forgotpassword/" title="Reset your password">Forgot your password?</a></p>
	
</div><div id="push"></div>