<div id="add-usergroup-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-group fa-fw"></i> Add new Usergroup</h1> 
    </div>
    <div class="box-content-static">  
        <div class="box-header-static-links"> <a href="/admin/users/usergroups" class="btn-link" title="View all usergroups"><i class="fa fa-arrow-left fa-fw"></i> Return to Usergroups</a></div>
        <div class="form">
            <?php echo $this->form; ?>

        </div>

    </div>
</div>



