<div id="assign-voucher-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-ticket fa-fw"></i> Choose a voucher</h1> 
    </div>
    <div class="box-content-static"> 

        <div class="box-content-static-links">
            <a class="btn-link" href="/admin/users" title="View all users"><i class="fa fa-arrow-left fa-fw"></i> Return to Users</a></a>
        </div>
        <?php echo $this->form; ?>

    </div>
</div>


