<?php
$categoryData = $this->categories;
$ugCats = $this->usergroup_categories;
//echo '<pre>'; var_dump($ugCats); die();
?>
<div class="container">
    <div id="push"></div>
    <h3>Assign Categories</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($categoryData == NULL) : ?>
                <tr><td>There are no categories in the system.</td></tr>
<?php else : ?>
            <form method="post">
                <tr>
                    <td><i>Select All</i></td>
                    <td><input type="checkbox" id="select_all"/></td>
                </tr>
                <?php foreach ($categoryData as $category) : ?>
                    <?php //echo '<pre>'; var_dump($category->category_id); ?>
                    <?php $replace = str_replace('_', ' ', $category->name);
                    $ucCategory = ucwords($replace);
                    ?>
                    <tr>
                        <td><?php echo $ucCategory; ?></td>
                        <td><input class="categories" type="checkbox" name="categories[]"
                            <?php
                            if (!empty($ugCats)) {
                                echo (in_array($category->category_id, $ugCats) ? 'checked' : '');
                            }
                            ?> 
                                   value="<?php echo $category->category_id ?>"></td>
                    </tr>
            <?php endforeach; ?>
                <input type="submit" class='btn' value="Save">
            </form>
<?php endif; ?>
        </tbody>
    </table>
    <p>Cancel and return to <a href="/admin/users/usergroups" title="View all usergroups">Usergroups</a></p>
</div>
<script>
    $('#select_all').click(function() {
        var c = this.checked;
        $('.categories').prop('checked', c);
    });
</script>