        <?php $users = $this->users; ?>

        <div id="delete-user-box" class="grid_24 box-static">
            <div class="box-header-static">
                <h1><i class="fa fa-user fa-fw"></i> Delete this user?</h1> 
                <div class="box-header-static-links">
                 <a href="/admin/users" title="View all usergroups">Cancel and return to Users</a></p>  
                </div>
            </div>
            <div class="box-content-static">  
                <?php if (!$_POST) : ?>
                    <div class="notification warning">
                        <p>Are you sure you want to delete the following user?</p>
                        <p><span class="warning">WARNING:</span> This action cannot be undone!</p>
                    </div>
                <?php endif; ?>
                <?php echo $this->form; ?>

            </div>
        </div>

