<div id="login-report-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> Edit User's password</h1>
        <div class="box-header-static-search">
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/users" title="Back to Users"><i class="fa fa-arrow-left fa-fw"></i>Return to Users</a>
        </div>
        <?php echo $this->form; ?>

    </div>
</div>
