<?php /* @var $this Usergroup_Views_View */ ?>
<?php $ug = $this->user_group; ?>

<div class="container">
    <div id="push"></div>
	<div class="row">
		<div class="span10">
			<h3>Edit Usergroup details: </h3>
			<?php echo $this->form; ?>
		</div>
	</div>
	<p>Return to <a href="/admin/users/usergroups" title="View all usergroups">Usergroups</a></p>
</div>
