<?php $users = $this->users; ?>

<div id="usergroups-index-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> Users</h1> 
    </div>
    <div class="box-content-static"> 

        <div class="box-content-static-links">
            <a  class="btn-link" href="/admin/users/adduser"><i class="fa fa-plus fa-fw"></i> Add a new user</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>User Group</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php if (count($users) == 0) : ?>
                    <tr><td>There are no users in the system.</td></tr>
                <?php else : ?>
                    <?php foreach ($users as $user) : ?>
                        <tr id="<?php echo $user->user_id; ?>">
                            <td><?php echo $user->forename; ?></td>
                            <td><?php echo $user->surname; ?></td>
                            <td><?php echo $user->username; ?></td>
                            <td><?php echo $user->email; ?></td>
                            <td><?php echo $user->user_type_name ?></td>
                            <td><?php echo $user->user_group_name ?></td>
                            <td>
                                <a href="/admin/users/editpassword/id/<?php echo $user->user_id; ?>" title="Edit this user's password">
                                    <i class="fa fa-eye fa-fw"></i>
                                </a>
                                <a href="/admin/users/edituser/id/<?php echo $user->user_id; ?>" title="Edit this user">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </a>
                                <a href="/admin/users/assignvoucher/id/<?php echo $user->user_id; ?>" title="Assign a Voucher">
                                    <i class="fa fa-ticket"></i>
                                </a>
<!--                                <a href="/admin/users/deleteuser/id/--><?php //echo $user->user_id; ?><!--" title="Delete this user">-->
<!--                                    <i class="fa fa-trash-o fa-fw"></i>-->
                                <?php if ($user->active == '0'): ?>
                                    <a href="#" title="Activate this user" class="activate-user">
                                        <i class="fa fa-unlock fa-fw"></i>
                                    </a>
                                <?php else: ?>
                                    <a href="#" title="De-activate this user" class="deativate-user">
                                        <i class="fa fa-lock fa-fw"></i>
                                    </a>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table>

    </div>
</div>
<script type="text/javascript">
    /*****************************************
    * Deactivate user
    *****************************************/
    $('.deativate-user').on('click', function(){
        var c = confirm('Are you sure you want to DEACTIVATE this user?');
        if(c == true){
            var userid = $(this).closest('tr').attr('id');
            $.ajax({
                async: false,
                url: "/admin/ajax/deactivate-user",
                data: {userid : userid},
                dataType: "json",
                type: "POST",
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('td').find('.deativate-user').html('<i class="fa fa-unlock fa-fw"></i>').fadeIn(10000);
            $(this).closest('td').find('.deativate-user').attr({
                title: 'Activate User',
                class: 'activate-user'
            });
        }
    });

    /*****************************************
     * Activate user
     *****************************************/
    $('.activate-user').on('click', function(){
        var c = confirm('Are you sure you want to ACTIVATE this user\'s account?');
        if(c == true){
            var userid = $(this).closest('tr').attr('id');
            $.ajax({
                async: false,
                url: "/admin/ajax/activate-user",
                data: {userid : userid},
                dataType: "json",
                type: "POST",
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('td').find('.activate-user').html('<i class="fa fa-lock fa-fw"></i>').fadeIn(10000);
            $(this).closest('td').find('.activate-user').attr({
                title: 'De-activate User',
                class: 'deactivate-user'
            });
        }
    });
</script>