<?php
$getUgs = $this->get_usergroups;
?>
<div id="usergroups-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-group fa-fw"></i> Usergroups</h1> 
    </div>
   
    <div class="box-content-static"> 
        <!-- Work in progress - Usergroup deleted functionality, Ciaran -->
        <?php if ($_POST) : ?>
            <div class="notification error">
                <p><span class="warning">WARNING:</span>Usergroup Deleted.</p>
            </div>
        <?php endif; ?>

        <div class="box-content-static-links">
            <a class="btn-link" href="/admin/users/addusergroup"><i class="fa fa-plus fa-fw"></i> Add New Usergroup</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Usergroup</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php if (count($getUgs) == 0) : ?>
                    <tr><td>There are no usergroups in the system.</td></tr>
                <?php else : ?>
                    <?php foreach ($getUgs as $userGroup) : ?>
                        <tr>
                            <td>
                                <div id="name" contenteditable="true">
                                    <?php echo $userGroup->getUsergroupName(); ?>
                                </div>
                            </td>
                            <td>
                                <a href="/admin/users/viewusers/id/<?php echo $userGroup->getUsergroupId(); ?>" title="View Users"><i class="fa fa-search fa-fw"></i></a>
                                <a href="/admin/users/categories/id/<?php echo $userGroup->getUsergroupId(); ?>" title="Assign Categories"><i class="fa fa-tags fa-fw"></i></a>
                                <a href="/admin/users/editusergroup/id/<?php echo $userGroup->getUsergroupId(); ?>" title="Edit this group"><i class="fa fa-pencil fa-fw"></i></a>
                                <a href="/admin/users/deleteusergroup/id/<?php echo $userGroup->getUsergroupId(); ?>" title="Delete a usergroup"><i class="fa fa-trash-o fa-fw"></i></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table> 
    </div>
</div>