<?php $users = $this->users;?>
<div class="row-fluid">
    <div id="push"></div>
    <h3>Assigned Users</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Last login</th>                
            </tr>
        </thead>
        <tbody>
            <?php if ($users == NULL) : ?>
                <tr><td>There are no categories in the system.</td></tr>
            <?php else : ?>
                <?php foreach ($users as $user) : ?>
                    <tr>
                        <td><?php echo $user->forename; ?> <?php echo $user->surname; ?></td>
                        <td><?php echo $user->username; ?></td>
                        <td><?php echo $user->email; ?></td>
                        <td><?php echo $user->created_at; ?></td>
                        <td><?php echo $user->last_login; ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
        </tbody>
    </table>
    <p>Return to <a href="/admin/users/usergroups/" title="View all usergroups">Usergroups</a></p>
</div>
