<div class="container">
	<h2 class="form-signin-heading"><?php echo $this->getContent('form_title'); ?></h2>
	<?php if($this->getContent('form_status')) : ?>
		<div class="alert <?php echo $this->getContent('update') ? "alert-success" : "alert-error" ?>">
			<?php echo $this->getContent('form_status'); ?>
		</div>
	<?php endif ?>
	<?php echo $this->getContent('form'); ?>

	<p><a href="/admin/login/" title="Login to the admin">
			<?php echo $this->getContent('update') ? "Return" : "Cancel and return" ?> to the login screen</a></p>
	<div id="push"></div>
</div>