<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?php echo $this->getTitle(); ?></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="/modules/Admin/Public/css/core.css" rel="stylesheet" media="screen">
	<link href="/modules/Admin/Public/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/modules/Admin/Public/css/bootstrap.responsive.css" rel="stylesheet" media="screen">
</head>
