<div id="index-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Notifications</h1>
        <div class="box-header-static-links"></div>
    </div>

    <div class="box-content-static">
        <?php
        if (isset($this->notifications)):
            foreach($this->notifications as $notification) : ?>
                <a href="<?php echo $notification->url; ?>"><?php echo $notification->event; ?></a>
            <?php
            endforeach;
        else:
            ?>
            <p>There are no notifications logged yet.</p>
        <?php endif; ?>
    </div>
</div>