//.breadcrumb {
//    padding: 8px 15px;
//    margin: 0 0 20px;
//    list-style: none;
//    background-color: #f5f5f5;
//    -webkit-border-radius: 4px;
//    -moz-border-radius: 4px;
//    border-radius: $br;
//    font-size:$p-size;
//
//    li {
//        display: inline-block;
//        *display: inline;
//        text-shadow: 0 1px 0 #ffffff;
//        *zoom: 1;
//        .divider {
//            padding: 0 5px;
//            color: #ccc;
//        }
//    }
//    .active {
//        color: #999999;
//    }
//}