// Set your project variables here

$blue: #354351;
$flat-blue: #3498DB;
$beige: #F7F6F0;
$red: #DA4453;
$green: #8CC152;
$yellow: #F6BB42;

$bg-color: #F7F6F0;
$primary-color: #354351;
$secondary-color: #F7F6F0;
$tertiary-color: #E0E0CF;
$fourth-color: #52575b;
$white: #FFFFFF;
$grey: #c2c2c2;

$bad-color: #ce0832;
// Bad color for errors, validation etc.
$good-color: #5dae1b;
// Good color for success etc.
$info-color: #10bade;
// Good color for success etc.
$warning-color: #dea110;
// Good color for success etc.
$subtle-color: #999;
// Subtle color for subtle text

$br: 1px;
// Border-radius
$btn-br: 1px;
// Button border-radius
$curvy-rad: 20px;
//super curvy radius
$padding: 30px;
// Consistent padding and margins
$low-margin: 5px;

$h1-size: 1.1em;
$h2-size: 1em;
$h3-size: .9em;
$h4-size: .8em;
$h5-size: .8em;
$p-size: .8em;

$primary-font: '';
$secondary-font: 'arial';




