#dashboard {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  padding-left: 0;
  .panel-row-wrapper {
    clear: both;
    width: 100%;
    display: inline-flex;
    margin-bottom: $padding;
    .panel-wrapper {
      width: 25%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      position: relative;
      min-height: 1px;
      .panel {
        background: lighten($beige, 10);
        display: block;
        padding: 10px;
        border: none;
        -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        .panel-inner-box {
          padding: 10px;
          position: relative;
          .panel-icon {
            width: 48px;
            height: 48px;
            font-size: 32px;
            color: #fff;
            float: left;
            text-align: center;
            margin-right: 16px;
            padding-top: 2px;
            margin-top: -5px;
          }
          .icon-bg-red {
            background: $red;

          }
          .icon-bg-green {
            background: $green;

          }
          .icon-bg-yellow {
            background: $yellow;

          }
          .icon-bg-blue {
            background: $flat-blue;

          }
          .panel-content {
            overflow: hidden;
            .panel-digit {
              font: 400 28px / 30px;
            }
            .panel-info {
              font-size: 11px;
              display: block;
              margin-top: 2px;
              color: #888;
            }
          }
        }
      }
    }
    .double-panel-wrapper {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      position: relative;
      min-height: 1px;
      .panel {
        background: lighten($beige, 10);
        display: block;
        padding: 10px;
        border: none;
        -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        .panel-inner-box {
          padding: 10px;
          position: relative;
          .panel-icon {
            width: 48px;
            height: 48px;
            font-size: 32px;
            color: #fff;
            float: left;
            text-align: center;
            margin-right: 16px;
            padding-top: 2px;
            margin-top: -5px;
          }
          .icon-bg-red {
            background: $red;

          }
          .icon-bg-green {
            background: $green;

          }
          .icon-bg-yellow {
            background: $yellow;

          }
          .icon-bg-blue {
            background: $flat-blue;

          }
          .panel-content {
            overflow: hidden;
            .panel-digit {
              font: 400 28px / 30px;
            }
            .panel-info {
              font-size: 11px;
              display: block;
              margin-top: 2px;
              color: #888;
            }
          }
        }
      }
      .panel-footer {
        border-top: 1px solid $beige;
        padding-top: 10px;
        a {
          text-decoration: none;
          padding: 0;

          span {
            font-size: .7em;
            padding: 0;
            margin: 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
    }
    .triple-panel-wrapper {
      width: 33%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      position: relative;
      min-height: 1px;

      .chart {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-top: 50px;
        margin-bottom: $padding;
        text-align: center;

      }
      .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
      .percent {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .conversion {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .conversion:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .users {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .users:after {
        content: '';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .angular {
        margin-top: $padding;
        text-align: center;
        span {
          color: lighten($blue, 10);
          font-size: .9em;
          text-transform: capitalize;
          font-weight: bold;

        }
      }
      .angular .chart {
        margin-top: 0;
      }
      .panel {
        background: lighten($beige, 10);
        display: block;
        padding: 10px;
        border: none;
        -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        .panel-inner-box {
          padding: 10px;
          position: relative;
          .panel-icon {
            width: 48px;
            height: 48px;
            font-size: 32px;
            color: #fff;
            float: left;
            text-align: center;
            margin-right: 16px;
            padding-top: 2px;
            margin-top: -5px;
          }
          .icon-bg-red {
            background: $red;

          }
          .icon-bg-green {
            background: $green;

          }
          .icon-bg-yellow {
            background: $yellow;

          }
          .icon-bg-blue {
            background: $flat-blue;

          }
          .panel-content {
            overflow: hidden;
            .panel-digit {
              font: 400 28px / 30px;
            }
            .panel-info {
              font-size: 11px;
              display: block;
              margin-top: 2px;
              color: #888;
            }
          }
        }
      }
      .panel-footer {
        border-top: 1px solid $beige;
        padding-top: 10px;
        a {
          text-decoration: none;
          padding: 0;

          span {
            font-size: .7em;
            padding: 0;
            margin: 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
    }
    .full-panel-wrapper {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      position: relative;
      min-height: 1px;

      .panel {
        background: lighten($beige, 10);
        display: block;
        padding: 10px;
        border: none;
        -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        .panel-inner-box {
          padding: 10px;
          position: relative;
          .panel-icon {
            width: 48px;
            height: 48px;
            font-size: 32px;
            color: #fff;
            float: left;
            text-align: center;
            margin-right: 16px;
            padding-top: 2px;
            margin-top: -5px;
          }
          .icon-bg-red {
            background: $red;

          }
          .icon-bg-green {
            background: $green;

          }
          .icon-bg-yellow {
            background: $yellow;

          }
          .icon-bg-blue {
            background: $flat-blue;

          }
          .panel-content {
            overflow: hidden;
            .panel-digit {
              font: 400 28px / 30px;
            }
            .panel-info {
              font-size: 11px;
              display: block;
              margin-top: 2px;
              color: #888;
            }
          }
        }
      }
      .panel-footer {
        border-top: 1px solid $beige;
        padding-top: 10px;
        a {
          text-decoration: none;
          padding: 0;

          span {
            font-size: .7em;
            padding: 0;
            margin: 0;
            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
    }

    .sales-chart {
      .total-revenue {
        position:absolute;
        right:$padding;
        z-index:100;
        font-size:.8em;
      }
      .chart {
        width: 100%;
        height: 300px;
      }
      text {

        font-size: .7em;
        color: $beige;
      }
    }
  }

}


