.form {
  min-width: 500px;
  width: 50%;
  margin: 0 auto;
  text-align: center;

}

form {
  border: 1px solid $tertiary-color;
  padding: $padding /2;
  margin: 0 auto;
  min-height: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  // Wrap each form input/element in an item div
  .item {
    margin-bottom: $padding/2;
  }

  dd {
    label {
      font-weight: lighter;
    }

  }
  label {
    margin-bottom: 5px;
    font-size: $p-size;
    font-weight: bold;
    display: block;
    min-width: 200px;
    margin-right: 10px;
    text-align: left;
  }

  input {
    @include box-sizing(border-box);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    &:focus {
      border-color: $primary-color;
    }
    &.auto {
      width: auto;
    }

  }
  input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
    @include box-sizing(border-box);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    &:focus {
      border-color: $primary-color;
    }
    &.auto {
      width: auto;
    }
  }

  // Notes go under the input fields
  .note {
    margin-top: 5px;
    color: $subtle-color;
  }

  // Required label
  .req {
    font-style: italic;
  }

  // Validation, add error class to the item div
  .error {
    // Validation reason
    .reason {
      margin-top: 5px;
      color: $bad-color;
    }
    input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
      border-color: $bad-color;
    }
  }
}

input[type="submit"].btn {
  float: left;
}

input[type=file] {
  @include box-sizing(border-box);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 55px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 1;
  margin: $padding 0 $padding 0;
  &:focus {
    border-color: $primary-color;
  }
  &.auto {
    width: auto;
  }
}

input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  @include box-sizing(border-box);
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  &:focus {
    border-color: $primary-color;
  }
  &.auto {
    width: auto;
  }
}

input[type="checkbox"], input[type="radio"] {
  @include no-shadow;
  display: inline-block;
  margin: 0;
  float: left;
  margin-left: -20px;
  height: 20px;
  line-height: 2px;
}

select {
  border-radius: 1px;
  font-size: 11px;
  height: auto;
  width: auto;
  margin-top: $padding /3;
  margin-bottom: $padding /3;
  display: block;
}

.addRateForm {
  width: 100%;
}

dt {
  margin-top: $padding /2;

}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

form#product {
  position: relative;

}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

ul.errors {

  color: red;
  list-style: none;
  font-size: 12px;
  width: 25%;
  display: inline-grid;
  position: relative;
}

#product-variants-form{
  display: inline-block;
  clear: both;
  width: 97%;
  margin: 0 auto;
}

