.sidebar {
  position: absolute;
  width: 250px;
  min-height: 400px;
  background: $beige;
  border-right: 1px solid darken($beige, 10);
  margin: 0;

  .menu-btn {
    list-style: none;
    padding: 0px;
    margin: 0px;
    ul {
      margin: 0;
      padding: 0 12px 12px;
      text-align: right;
      background: $blue;
      border-top: 1px solid lighten($blue, 10);
      border-bottom: 1px solid darken($blue, 10);
      li {
        display: block;
        position: relative;
        a {
          display: block;
          padding-top: $padding/2;

          i {
            color: $beige;

          }
        }
      }
    }

  }
  .user-sidebar {
    display: block;
    margin: $padding /2;
    .avatar {
      height: 65px;
      width: 65px;
      border-radius: 100px;
      overflow: hidden;
      display: inline-block;
      margin-right: 5px;
      float: left;
      img {
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }

    .user-info {
      display: inline-block;
      margin-top: $padding/2;
      a {
        text-decoration: none;
      }
      .welcome-msg {
        position: relative;
        font-size: 0.9em;
      }
      .user-icons {
        text-align: left;

        .user-icon {
          margin-bottom: 10px;
          display: inline-block;
          i {
          }
        }
      }

    }
  }
  form {
    border: 0;
    margin: 0;
    input {

    }

  }
}

nav {
  margin-top: 0;
  height: 700px;
  background: $blue;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    li {
      border-top: 1px solid lighten($blue, 10);
      border-bottom: 1px solid darken($blue, 10);
      cursor: pointer;
      background: $blue;

      &:before {
        position: relative;
        font-family: "fontAwesome";
        content: "\f104";
        font-size: 14px;
        width: 20px;
        height: 20px;
        color: #FFF;
        right: 0px;
        top: 15px;
        float: right;

      }

      &:last-of-type {
        border-bottom: 1px solid black;
      }
      &:hover {
        background: darken($blue, 2);

      }
      .active {
        border-bottom: none;
        background: lighten($blue, 2);

      }

      .active:before {
        content: "\f107";
      }

      a {
        border-top: 0;
        font-size: .9em;
        text-decoration: none;
        color: $beige;
        display: block;
        padding: ($padding /2) 0;
        i {

        }
        .right {

        }
        span {
          text-align: center;
          display: inline-block;
          width: 30px;
        }

      }
      ul {
        display: none;
        background: #fff;
        border-right: 1px solid #a2a194;
        border-left: 1px solid #a2a194;
        li {

          padding: 0;
          border-bottom: 1px solid #d4d4d4;
          border-top: none;
          background: $beige;
          padding-left: $padding*1.5;

          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background: darken($beige, 2);

          }
          a {
            display: block;
            color: #676767;
            font-size: .8em;
            font-weight: normal;
            &:before {

              content: '\00BB';
              position: absolute;
              right: 10px;
              color: $blue;

            }

          }
        }
      }
    }
  }
}

//gives the dropdown a downwards pointing arrow
nav ul li.active:before {
  content: "\f107";
}

.content {
  position: relative;
  margin: 0 0 0 250px;
  min-height: 100%;
  max-width: 100%;
  padding-left: 0;
  text-align: left;
  background: $beige;

//  height: 500px;
//  width: 100%;
//  position: relative;
//  background: $beige;
//  z-index: 1;
//

  .page-header {

    width: 100%;
    float: left;
    padding: 0px;

    .title-block {
      float: left;
      margin: 15px 0px 15px 20px;
      h1 {
        font-size: 24px;
        line-height: 25px;
        color: #444;
        font-weight: 500;
        margin-bottom: 5px;
      }
      span {
        font-size: 12px;
        line-height: 20px;
        color: #888;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0px 0px 5px;
      }
    }

  }
}

.info {
  width: 100%;
  height: 300px;
  position: relative;
  background: #f55;
}
