// Text links
a{
    color:$primary-color;
    &:hover,&:focus{
        text-decoration:none;
    }
}

// Default button
.btn{
    @include border-radius($btn-br);
    background:$tertiary-color;
    border:1px solid darken($tertiary-color,10);
    color:#fff;
    text-decoration:none;
    text-shadow:0 1px 2px rgba(0,0,0,.2);
    display:inline-block;
    line-height:1;
    font-size:$p-size - 2;
    text-transform: capitalize;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 5px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.2));
    outline:none;

    &:hover,&:focus{
        background:darken($tertiary-color,3);
        text-decoration: none;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 10px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2));
    }
    &:active{
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,.2));
    }
}

// Primary action button
.btn-primary {
    @extend .btn;
    background:$primary-color;
    border-color:darken($primary-color,10);
    &:hover,&:focus{
        background:darken($primary-color,3);
        
    }
    &:active{

    }
}

.btn-file {
    @extend .btn;
    background:$fourth-color;
    border-color:darken($fourth-color,10);
    &:hover,&:focus{
        background:darken($fourth-color,3);
        color:$white;
    }
    &:active{

    }
}

// Link button - a button that looks like a link
.btn-link{
    @extend .btn;
    color:$primary-color;
    background:transparent;
    border:none;
    text-shadow:none;
    text-transform:none;
    @include box-shadow(none);
    &:hover,&:focus{
        text-decoration:underline;
        background:transparent;
        @include box-shadow(none);
    }
    &:active{

    }
}