@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.clearfix, .group {
  @include clearfix;
}

@mixin center {
  width: 90%;
  margin: $low-margin auto;
}

@mixin full-width-center {
  width: 100%;
  margin: $low-margin auto;
}

@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

@mixin opaque {
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=70);

  /* Older than Firefox 0.9 */
  -moz-opacity: 0.7;

  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0.7;

  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0.7;

}