h4#results-text {
    display: none;
}
#product-search-results{
    z-index: 200;
    height: 165px;
    width:500px;
    top:20px;
    ul{
        @include full-width-center;
        display: none;

        overflow: scroll;
        max-height: 140px;
        border: 1px solid #ababab;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
        -moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
        box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;

        li {
            padding-left: 8px;
            cursor: pointer;
            max-height: 200px;
            border-top: 1px solid #cdcdcd;
            transition: background-color .3s ease-in-out;
            -moz-transition: background-color .3s ease-in-out;
            -webkit-transition: background-color .3s ease-in-out;
            &:hover {
                background-color: #F7F7F7;
            }
            &:first-child {
                border-top: none;
            }
            h3{
                width:100%;
                font-size:$p-size;
                margin:0;
                text-decoration:underline;
            }
            h4{
                display:inline-block;
                font-size:$p-size;
                margin:0;
            }
            p{
                display:inline-block;
                font-size:$p-size;
                
            }
        }
    }

}

#results-text {
    display: none;
}


ul#results li h3, ul#results li h4 {
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    color: #616161;
}
ul#results li:hover h3, ul#results li:hover h4  {
    color: #3b3b3b;
    font-weight: bold;
}