body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  line-height: 1.6;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-left: 25px;
  font-size: 26px;
  margin: 0 0 25px;
  border-left: 2px solid $primary-color;
}

h1 {

  font-size: $h1-size;
  margin: 0 0 10px;
  color: $primary-color;
  font-weight: bolder;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: $h2-size;
  margin: 0 0 10px;
  font-weight: normal;
  color: $primary-color;
  text-transform: uppercase;
}

h3 {
  clear: both;
  font-size: $h3-size;
  margin: 0 0 10px;
  font-weight: bolder;
  font-style: normal;
  color: $primary-color;
  text-transform: uppercase;
}

h4 {
  font-size: $h4-size;
  margin: 0 0 10px;
  font-weight: 600;
  font-style: bolder;
  color: $primary-color;
  text-transform: uppercase;
}

h5 {
  font-size: $h5-size;
  margin: 0 0 10px;
  font-style: bolder;
  font-weight: normal;
  color: $primary-color;
}

p {
  font-size: $p-size;
  margin: 0 0 $padding/2;
}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin: 0 0 $padding/2;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, .1);
  @include border-radius(5px);
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}