
#add-voucher-box {
  #addVoucher {
    width:50%;
    dl {
      dt {
      }
      dd {
        margin-top: 10px;

      }
    }
    input[type=radio] {
      margin: 0;

    }
    input[type=submit] {
      float:none;

    }
  }
}
