// Use Compass
@import "compass";

// Reset using Normalize
@import "reset";

// Import Open Sans font from Google
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
// Font Families
@import "font-families";

// Set variables and reusable mixins
@import "config";
@import "mixins";

// Import typical layout sass modules
@import "grid";
@import "type";
@import "media";
@import "links";
@import "tables";
//@import "forms";
@import "notifications";
@import "other";



// Use Font Awesome for icons
/*@import "icons";*/

// Specific project styles, add any section specific sass modules here
@import "header";
@import "layout";
@import "login";

// Additional styles to think about
@import "responsive";
@import "retina";
@import "print";

// Nav & Navlist
@import "nav";
@import "navlist";

// If IE support is needed
@import "ie";

//Pages
@import "dashboard";

//Colourways
@import "colourways";

//Breadcrumbs
@import "breadcrumb";

//vouchers specific styling
@import "vouchers";

//Search results
@import "results";

// For anything quick and dirty that needs thrown in
@import "shame";

// For anything quick and dirty that needs thrown in
@import "form-clears";


/* ==========================================================================
   Admin Panel Styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    text-decoration:normal;
}

body {
    font-size: 1em;
    line-height: 1.4;
    text-align:center;
    background-color: $bg-color;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;

    max-width:100%;
    max-height:100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Header
   ========================================================================== */




#widget-2 h3{
    margin:10px;
    position:relative;
}

.top-left-heading p{
    position: relative;
    margin:10px;

}
.top-left-heading p{
    position: relative;
    top: 25px;
    right: 80px;
}

.ui-state-highlight {
    background:#eee;
    border:1px dotted #333;
    margin:10px ;
}

.form-wrapper{
    width:40%;
    margin:0 auto;
    border: 1px solid $subtle-color;
    border-radius:$br;
    padding:10px;

}





.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

/*   Item placeholder (visual helper) */

.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}





.highlight {
    color: #3586f4;
}

#footer{
    margin-top:30px;
    border-top:1px solid #E0E0CF;
    color:#CBCAC5;
    p{
        float:left;
        margin:10px;
        font-size:8px;
    }
    a{
        float:right;
        margin:10px;
        font-size:8px;
    }
}


/* Item placeholder (visual helper) */

.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px;
}


input#search input#searchug, input#searchu {
    width: 350px;
    height: 25px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ababab;
    font-size: 20px;
    line-height: 25px;
    color: #ababab;
    &:hover, &:focus{
        color: #3b3b3b;
        border: 1px solid #36a2d2;
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);

    }
}




