<div class="container">
	<h2 class="form-signin-heading"><?php echo $this->getContent('form_title'); ?></h2>
	<p>Enter your username and an email will be sent to the address you registered with.
		This will contain instructions for resetting your password.</p>
	<?php echo $this->getContent('form'); ?>
	<?php if($this->getContent('sent')) : ?>
		<div class="alert <?php echo $this->getContent('sent') ? "alert-success" : "alert-error" ?>">
			<?php echo $this->getContent('form_status'); ?>
		</div>
	<?php endif ?>

	<p><a href="/admin/login/" title="Login to the admin">Return to the login screen</a></p>
	<div id="push"></div>
</div>