
<div id="dispatch-order-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1> <i class="fa fa-list-alt fa-fw"></i> Order Number <?php echo $this->order->getOrderNumber(); ?> 
            [ status &raquo; <?php echo strtoupper($this->order->getStatus()); ?> ]</h1> 
    </div>
    <div class="box-content-static">  
        <div class="box-content-links">
            <a href="/admin/orders/view/" title="Back to all orders" class="btn-link"><i class="fa fa-arrow-left"></i> Back to orders</a>
        </div>

        <table class="highlight">
            <thead>
            <th colspan="2">Delivery Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>Delivery Address</td>
                    <td>
                        <?php
                        echo $this->user->getForeName() . ' ' . $this->user->getSurName() . '<br/>';
                        $deliveryAddress = $this->user->getDeliveryAddress();
                        echo
                        $deliveryAddress->getLineOne() . '<br/>' .
                        $deliveryAddress->getLineTwo() . '<br/>' .
                        $deliveryAddress->getCity() . '<br/>' .
                        $deliveryAddress->getPostcode() . '<br/>' .
                        $deliveryAddress->getRegion() . '<br/>' .
                        $deliveryAddress->getCountry()->getCountry() . '<br/>';
                        ?>
                    </td>
                </tr>
            </tbody>
        </table>


        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Products Ordered</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $orderParts = $this->order->getOrderParts();
                if ($orderParts):
                    foreach ($orderParts as $orderPart):
//                            echo '<pre>'; echo var_dump($orderPart->getPartStockDetails()); die();
                        ?>
                        <tr>
                            <td><img src="<?php echo $this->prodImageLocation . $orderPart->getPartStockDetails()->image_url; ?>" width="50px"/></td>
                            <td>
                                <?php echo $orderPart->getPartStockDetails()->product; ?>
                                [ <?php echo $orderPart->getPartStockDetails()->colourway . ' / ' . $orderPart->getPartStockDetails()->option; ?> ]
                            </td>
                            <td>£<?php echo $orderPart->getPrice() ?></td>
                            <td><?php echo $orderPart->getQuantity() ?></td>
                            <td>£<?php echo $orderPart->getLineTotal() ?></td>
                        </tr>
                        <?php
                    endforeach;
                else:
                    ?>
                    <tr>
                        <td colspan="5">There seem to be no products saved under this order</td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>

        <table>
            <?php
            if (!$this->order->hasBeenDispatched()) {
                echo $this->formError;
                echo $this->form;
            }
            ?>
        </table>
    </div>
</div>