<style>
    .borderless{
        border: none;
        text-align: left;
    }
    #previous-notes{
        width: 250px;
        text-align: center;
        padding-left: 25px;
    }
    .validateTips{
        padding: 0px;
        margin: 0px;
        height: 20px;
        border: none;
    }
    #previous-notes p{
        text-align: left;
        border: 1px solid #eeeeee;
        font-size: 10px;
        padding: 5px;
        font-style: italic;
    }
</style>
<div id="orders-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-list-alt fa-fw"></i> <?php echo $this->title; ?> </h1>
        <div class="box-header-static-search">
            <input type="text" id="search" name="search" placeholder ="Search for an order..."/>
            <p>Quantity Per Page</p>
            <form action="/admin/orders" method="post">
                <select name="page_count">
                    <option value="10" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==10) {echo "selected='selected'"; }} ?>>10</option>
                    <option value="15" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==15) {echo "selected='selected'"; }} ?>>15</option>
                    <option value="20" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==20) {echo "selected='selected'"; }} ?>>20</option>
                    <option value="50" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==50) {echo "selected='selected'"; }} ?>>50</option>
                    <option value="all" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']=='all') {echo "selected='selected'"; }} ?>>Show All</option>
                </select>
                <input type="submit" value="Go">
            </form>

        </div>
    </div>

    <div class="box-content-static">
        <label>Sort by status</label>
        <select name="order_status" id="search-status">
            <option value="all">All Orders</option>
            <option value="open">Open</option>
            <option value="processed">Processed</option>
            <option value="awaiting">Pending Approval</option>
            <option value="dispatched">Dispatched</option>
        </select>
        <p><?php echo $this->numberOfItems; ?></p>
        <table class="highlight" id="usergroup-table">
            <thead>
            <tr class="head">
                <th>Order Number</th>
                <th>Date Ordered</th>
                <th>Items Total</th>
                <th>Delivery</th>
                <th>Vat</th>
                <th>Order Total</th>
                <th>Order Status</th>
                <th>Process</th>
                <th>P-Slip</th>
                <th>Dispatch</th>
                <th>Notes</th>
                <th>Expand</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr id="noresults" style="display:none">
                <td colspan="10">There are no orders that match your search...</td>
            </tr>
            <?php if ($this->allOrders == NULL) : ?>
                <tr>
                    <td colspan="10">There are no orders currently in the system.</td>
                </tr>
            <?php else : ?>
                <?php foreach ($this->allOrders as $order) :
                    ?>
                    <tr id="<?php echo $order->getId(); ?>" class="<?php echo $order->getStatus(); ?>" >
                        <td>
                            <b><?php echo $order->getOrderNumber(); ?></b>
                        </td>
                        <td>
                            <?php echo date('d-m-Y', strtotime($order->getDateOrdered())); ?>
                        </td>
                        <td>
                            £<?php echo $order->getItemsTotal(); ?>
                        </td>
                        <td>
                            £<?php echo $order->getDeliveryCharge(); ?>
                        </td>
                        <td>
                            £<?php echo $order->getVatCharge(); ?>
                        </td>
                        <td>
                            £<?php echo $order->getOrderTotal(); ?>
                        </td>
                        <td>
                            <?php echo $order->getStatus(); ?>
                        </td>
                        <td>
                            <?php if ($order->hasBeenProcessed()): ?>
                                <a href="/admin/orders/quotewerks-export/orderno/<?php echo $order->getId(); ?>" title="Export to Quotewerks"><i class="fa fa-external-link fa-fw"></i></a>
                            <?php else: ?>
                                <a href="/admin/orders/view/orderno/<?php echo $order->getId(); ?>" title="Process Order" class="process-order"><i class="fa fa-refresh fa-fw"></i></a>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php if ($order->hasBeenProcessed()): ?>
                                <a href="/admin/orders/generate-slip/orderno/<?php echo $order->getId(); ?>" title="Generate Packing Slip"><i class="fa fa-file-text-o fa-fw"></i></a>
                            <?php else: ?>
                                <a href="#" title="Have to process order first"><i class="light fa fa-file-text-o fa-fw"></i></a>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php if ($order->hasBeenDispatched()): ?>
                                <a href="#" title="Order has already been dispatched."><i class="light fa fa-plane fa-fw"></i></a>
                            <?php elseif (!$order->hasBeenProcessed()): ?>
                                <a href="#" title="Cannot dispatch yet. Have to Process order first"><i class="light fa fa-plane fa-fw"></i></a>
                            <?php else: ?>
                                <a href="#" title="Dispatch Order" class="dispatch-order"><i class="fa fa-plane fa-fw"></i></a>
                            <?php endif; ?>
                        </td>
                        <td>
                            <a href ="#" class="notes" alt="Add a note to this order" title="Add a note to this order">
                                <i class="fa fa-comments"></i>
                            </a>
                        </td>
                        <td>
                            <a href ="#" id="order-expand-<?php echo $order->getId(); ?>" class="order-expand" alt="Show Order Details" title="Show Order Details">
                                <i class="fa fa-plus-circle" ></i>
                            </a>
                        </td>
                        <td>
                            <input value="<?php echo $order->getId(); ?>" type="checkbox"/>
                        </td>
                    </tr>

                        <tr class="order-hidden order-part-<?php echo $order->getId(); ?>" >
                            <td colspan="15" class="borderless">
                                <div class="slide-me">
                                    <?php
                                    $user = $this->users[$order->getId()];
                                    $addressModel = new Core_Address_Models_Address();
                                    $currencyModel = new Core_Currency_Models_Currency();
                                    $billingAddress = $addressModel->findById($order->getBillingAddressId());
                                    $deliveryAddress = $addressModel->findById($order->getDeliveryAddressId());
                                    $currency = $currencyModel->findById($order->getCurrencyId());
                                    $currencySymbol = $currency->getCurrencySymbol();
                                    ?>
                                    <h3>
                                   <?php
                                        echo $order->getOrderNumber();
                                        if ($order->getPaymentType() == 'invoice'){
                                            echo ' [PAID BY INVOICE]';
                                        }
                                    ?>
                                    </h3>
                                    <b>User</b> <?php echo $user->getForeName() . ' ' . $user->getSurname(); ?><br/>
                                    <b>Email</b> <a href="mailto:<?php echo $user->getEmail(); ?>"><?php echo $user->getEmail(); ?></a><br/>
                                    <b>Billing Address</b>
                                    <?php 
                                    echo $billingAddress->getLineOne() .' '.$billingAddress->getLineTwo() . ', ' .
                                        $billingAddress->getCity() . ', ' . $billingAddress->getCountry()->getCountry(); ?><br/>
                                    <b>Delivery Address</b>
                                    <?php 
                                    echo $deliveryAddress->getLineOne() .' '.$deliveryAddress->getLineTwo() . ', ' .
                                        $deliveryAddress->getCity() . ', ' . $deliveryAddress->getCountry()->getCountry(); ?><br/>
                                    <table>
                                    <?php
                                    if($order->getOrderParts()):?>
                                        <tr>
                                            <th>Product</th>
                                            <th>Qty</th>
                                            <th>Unit Price</th>
                                            <th>Line Total</th>
                                        </tr>
                                        <?php
                                        foreach ($order->getOrderParts() as $orderPart):
                                            ?>
                                            <tr>
                                                <td><?php echo $orderPart->getPartStockDetails()->product; ?></td>
                                                <td><?php echo $orderPart->getQuantity(); ?></td>
                                                <td><?php echo $currencySymbol . number_format($orderPart->getPrice(), 2); ?></td>
                                                <td><?php echo $currencySymbol . number_format($orderPart->getLineTotal(), 2); ?></td>
                                            </tr>
                                        <?php
                                        endforeach;
                                        ?>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Items Total</td>
                                            <td><?php echo $currencySymbol . number_format($order->getItemsTotal() , 2); ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Delivery</td>
                                            <td><?php echo $currencySymbol . number_format($order->getDeliveryCharge(), 2); ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>VAT</td>
                                            <td><?php echo $currencySymbol . number_format($order->getVATCharge(), 2); ?></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Order Total</td>
                                            <td><?php echo $currencySymbol . number_format($order->getOrderTotal(), 2); ?></td>
                                        </tr>
                                    <?php
                                    endif;
                                    ?>
                                </table>
                            </div>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
        <select id="bulk-actions">
            <option value="bulk-actions">Bulk Actions</option>
        </select>
        <input class="bulk-delete" type="submit" value="Apply">
        <?php echo $this->paginationControl($this->allOrders, 'Sliding', '/paginator/controls.phtml'); ?>
    </div>
</div>

<div id="notes-form" title="">
    <div id="previous-notes"></div>
    <p class="validateTips"></p>
    <form>
        <fieldset>
            <label for="note">Add a note</label>
            <input type="text" name="note" id="note" class="text ui-widget-content ui-corner-all">
            <input type="hidden" name="order_id" id="note-order-id"/>
        </fieldset>
    </form>
</div>

<div id="dispatch-form" title="">
    <p class="validateTips"></p>
    <form>
        <fieldset>
            <label for="note">Delivery Company</label>
            <select name="delivery_company" id="delivery-company">
                <option name="DPD">DPD</option>
            </select>
            <label for="consignment-number">Consignment Number</label>
            <input type="text" name="consignment_number" id="consignment-number" class="text ui-widget-content ui-corner-all">
            <label for="comments">Comments</label>
            <input type="text" name="comments" id="comments" class="text ui-widget-content ui-corner-all">
            <input type="hidden" name="order_id" id="dispatch-order-id"/>
        </fieldset>
    </form>
</div>

<div id="feedback" title="Success">
    <p id="feedback-message"></p>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.process-order').click(function(e){
            e.preventDefault();
            var id = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'POST',
                data: '',
                url: '/admin/ajax/process-order/orderno/'+ id,
                async: true
            })
            var exportQuotewerksLink = '<a href="/admin/orders/quotewerks-export/orderno/' + id + '" title="Export to Quotewerks"><i class="fa fa-external-link fa-fw"></i></a>';
            var generatePackingSlipLink = '<a href="/admin/orders/generate-slip/orderno/' + id + '" title="Generate Packing Slip"><i class="fa fa-file-text-o fa-fw"></i></a>';
            var dispatchLink = '<a href="#" title="Dispatch Order" class="dispatch-order"><i class="fa fa-plane fa-fw"></i></a>';
            $(this).closest('td').fadeOut(500, function() {
                $(this).html(exportQuotewerksLink).fadeIn();
                $(this).delay(2000);
            });
            $(this).closest('td').prev().fadeOut(500, function() {
                $(this).html('processed').fadeIn();
                $(this).delay(2000);
            });
            $(this).closest('td').next().fadeOut(500, function() {
                $(this).html(generatePackingSlipLink).fadeIn();
                $(this).delay(2000);
            });
            $(this).closest('td').next().next().fadeOut(500, function() {
                $(this).html(dispatchLink).fadeIn();
                $(this).delay(2000);
            });
            $(this).parent().parent().removeClass('open').addClass('processed');
        });

    });
</script>

<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr', {
        'noResults': 'tr#noresults',
        'bind': 'keyup keydown',
        'stripeRows': ['odd', 'even'],
        'onAfter': function() {
            $('.order-hidden').hide();
        }
    });

    $('#search-status').change(function(e) {
        e.preventDefault();
        e.stopPropagation();
        var orderStatus = $(this).val();
        if (orderStatus === 'all') {
            $('tr:not(.order-hidden)').show();
            $('#noresults').hide();
        } else {
            $('tr').hide();
            $('.head').show();
            $('.' + orderStatus).show();
        }
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
        var tips = $( ".validateTips" );
        function updateTips( t ) {
            tips
                .text( t )
                .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkMin( o, n, min ) {
            if ( o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be more than " + min +
                    " characters." );
                return false;
            } else {
                return true;
            }
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                    min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function displayFeedback(msg){
            $('#feedback-message').html(msg);
            $( "#feedback" ).dialog({
                autoOpen: true,
                open: function(event, ui) {
                    $(this).closest('.ui-dialog').find('.ui-dialog-titlebar-close').hide();
                    setTimeout(function(){
                        $('#feedback').dialog('close');
                    }, 1000);
                },
                hide: {
                    effect: "fadeOut",
                    duration: 500
                }
            });
            $( "#feedback" ).closest('.ui-dialog').find('.ui-dialog-title').html('Success !!!');
        }

        var noteField = $('#note');
        $( "#notes-form" ).dialog({
            autoOpen: false,
            height: 350,
            width: 350,
            modal: true,
            buttons: {
                "Save Note": function() {
                    var valid = true;
                    var note = noteField.val();
                    var orderId = $("#note-order-id").val();
                    noteField.removeClass( "ui-state-error" );
                    valid = checkMin( noteField, "note", 3 );
                    if ( valid ) {
                        $.ajax({
                            async: false,
                            type: 'POST',
                            data: {orderId: orderId, note: note},
                            url: '/admin/ajax/save-order-note'
                        });
                        $( this ).dialog( "close" );
                        var feedback = 'Note has been added to order';
                        displayFeedback(feedback);
                    }
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                noteField.val( "" ).removeClass( "ui-state-error" );
            }
        });

        $( ".notes" ).click(function(e) {
            e.preventDefault();
            var id = $(this).closest('tr').attr('id');
            $("#note-order-id").val(id);
            $('#previous-notes').html('');
            $( "#notes-form" ).dialog( "open" );
            var ajaxResponse = $.ajax({
                async: false,
                type: 'POST',
                data: {orderId: id},
                url: '/admin/ajax/get-order-details'
            });
            var orderDetails = JSON.parse(ajaxResponse.responseText);
            var orderNumber = orderDetails['order_number'];
            var orderNotes = orderDetails['order_notes'];
            if(orderNotes.length > 0){
                var orderNotesHtml = '';
                for(var i = 0; i < orderNotes.length; i++){
                    orderNotesHtml += '<p><i class="fa fa-info-circle fa-fw"></i><b>' + orderNotes[i]['username'] + ' </b> [' + orderNotes[i]['date'] + '] <i class="fa fa-angle-double-right fa-fw"></i> <i class="fa fa-quote-left fa-fw"></i>' + orderNotes[i]['note'] + ' <i class="fa fa-quote-right fa-fw"></i></p>';
                }
            }
            $('.ui-dialog-title').html(orderNumber + ' [Notes]');
            $('#previous-notes').html(orderNotesHtml);
        });

        var deliveryCompanyField = $( "#delivery-company" );
        var consignmentNumberField = $( "#consignment-number" );
        var commentsField = $( "#comments" );
        $( "#dispatch-form" ).dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Dispatch Order": function() {
                    var valid = true;
                    var orderId = $("#dispatch-order-id").val();
                    deliveryCompanyField.removeClass( "ui-state-error" );
                    consignmentNumberField.removeClass( "ui-state-error" );
                    commentsField.removeClass( "ui-state-error" );
                    valid = checkMin( consignmentNumberField, "field", 3 );
                    if ( valid ) {
                        $.ajax({
                            async: false,
                            type: 'POST',
                            data: {
                                orderId: orderId,
                                deliveryCompany: deliveryCompanyField.val(),
                                consignmentNumber: consignmentNumberField.val(),
                                comments: commentsField.val()
                            },
                            url: '/admin/ajax/dispatch-order'
                        });
                        $('#' + orderId).children().find('.dispatch-order').addClass('light');
                        $( this ).dialog( "close" );
                        var feedback = 'Order has successfully been dispatched';
                        displayFeedback(feedback);
                    }
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                deliveryCompanyField.removeClass( "ui-state-error" );
                consignmentNumberField.removeClass( "ui-state-error" );
                commentsField.removeClass( "ui-state-error" );
            }
        });

    });

    $( document ).on( "click", '.dispatch-order', function(e){
        e.preventDefault();
        var id = $(this).closest('tr').attr('id');
        $("#dispatch-order-id").val(id);
        $( "#dispatch-form" ).dialog( "open" );
        var ajaxResponse = $.ajax({
            async: false,
            type: 'POST',
            data: {orderId: id},
            url: '/admin/ajax/get-order-details'
        });
        var orderDetails = JSON.parse(ajaxResponse.responseText);
        var orderNumber = orderDetails['order_number'];
        $('.ui-dialog-title').html(orderNumber + ' [Dispatch]');
    });

</script>