
<div id="process-order-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1> <i class="fa fa-list-alt fa-fw"></i> Order Number <?php echo $this->order->getOrderNumber(); ?> 
            [ status &raquo; <?php echo strtoupper($this->order->getStatus()); ?> ]</h1> 
    </div>
    <div class="box-content-static">  
        <div class="box-content-links">
            <a href="/admin/orders/view/" title="Back to all orders" class="btn-link"><i class="fa fa-arrow-left"></i> Back to orders</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Order Summary</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Date Ordered</td>
                    <td><?php echo date('d-m-Y', strtotime($this->order->getDateOrdered())); ?></td>
                </tr>
                <tr>
                    <td>Items Total</td>
                    <td>£<?php echo $this->order->getItemsTotal(); ?></td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>£<?php echo $this->order->getDeliveryCharge(); ?></td>
                </tr>
                <tr>
                    <td>VAT</td>
                    <td>£<?php echo $this->order->getVatCharge(); ?></td>
                </tr>
                <tr>
                    <td>Order Total</td>
                    <td>£<?php echo $this->order->getOrderTotal(); ?></td>
                </tr>
            </tbody>
        </table>


        <table>
            <thead>
            <th colspan="2">Customer Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>Customer Name</td>
                    <td><?php echo $this->user->getForeName() . ' ' . $this->user->getSurName(); ?></td>
                </tr>
                <tr>
                    <td>Billing Address</td>
                    <td>
                        <?php
                        $billingAddress = $this->user->getBillingAddress();
                        echo $billingAddress->getLineOne() . '<br/>' .
                        $billingAddress->getLineTwo() . '<br/>' .
                        $billingAddress->getCity() . '<br/>' .
                        $billingAddress->getPostcode() . '<br/>' .
                        $billingAddress->getRegion() . '<br/>' .
                        $billingAddress->getCountry()->getCountry() . '<br/>';
                        ?>
                    </td>
                </tr>
                <tr>
                    <td>Delivery Address</td>
                    <td>
                        <?php
                        $deliveryAddress = $this->user->getDeliveryAddress();
                        echo $deliveryAddress->getLineOne() . '<br/>' .
                        $deliveryAddress->getLineTwo() . '<br/>' .
                        $deliveryAddress->getCity() . '<br/>' .
                        $deliveryAddress->getPostcode() . '<br/>' .
                        $deliveryAddress->getRegion() . '<br/>' .
                        $deliveryAddress->getCountry()->getCountry() . '<br/>';
                        ?>
                    </td>
                </tr>
            </tbody>
        </table>


        <table>
            <thead>
            <th></th>
            <th>Products Ordered</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Line Total</th>
            </thead>
            <tbody>
                <?php
                $orderParts = $this->order->getOrderParts();
                if ($orderParts):
                    foreach ($orderParts as $orderPart):
//                            echo '<pre>'; echo var_dump($orderPart->getPartStockDetails()); die();
                        ?>
                        <tr>
                            <td><img src="<?php echo $this->prodImageLocation . $orderPart->getPartStockDetails()->image_url; ?>" width="50px"/></td>
                            <td>
                                <?php echo $orderPart->getPartStockDetails()->product; ?>
                                [ <?php echo $orderPart->getPartStockDetails()->colourway . ' / ' . $orderPart->getPartStockDetails()->option; ?> ]
                            </td>
                            <td>£<?php echo $orderPart->getPrice() ?></td>
                            <td><?php echo $orderPart->getQuantity() ?></td>
                            <td>£<?php echo $orderPart->getLineTotal() ?></td>
                        </tr>
                        <?php
                    endforeach;
                else:
                    ?>
                    <tr>
                        <td colspan="5">There seem to be no products saved under this order</td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>
        <?php if (!$this->order->hasBeenProcessed()): ?>
            <a class="btn btn-primary" href="/admin/orders/view/process/<?php echo $this->order->getId(); ?>"><i class="fa fa-thumbs-up fa-fw"></i> Mark ready for dispatch</a>
        <?php endif; ?>
        <br/><br/>
    </div>
</div>