<?php /* @var $this User_Views_View */ ?>

<div class="container">
	<h2 class="form-signin-heading"><?php echo $this->getContent('form_title'); ?></h2>
	<p class="lead"><?php echo $this->getContent('update_status'); ?></p>
	<?php if(!$_POST) : ?>
	<div class="alert alert-danger">
		<p>Are you sure you want to delete the following user?</p>
		<p><span class="warning">WARNING:</span> This action cannot be undone!</p>
	</div>
	<?php endif; ?>
	<?php echo $this->getContent('form_errors'); ?>
	<?php echo $this->getContent('form'); ?>
	<p>Cancel and return to <a href="/admin/user/" title="View all users">Users</a></p>

	<div id="push"></div>
</div>
