<div id="manage-categories-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-lock fa-fw"></i> <?php echo $this->title; ?></h1>
        <div class="box-header-static-links">
        </div>
    </div>

    <div class="box-content-static">
        <?php if (isset($this->passwordUpdate)) : ?>
            <div class="success">
                <p>Your password has been updated.<p>
                    <a href="/login">Log In</a>
            </div>
        <?php endif; ?>
        <?php if ($this->formErrors): ?>
            <div class="alert alert-error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php if (isset($this->cform)) : ?>
            <!--TODO dynamically generated email for the user on -->
            <form method="get" action="/login/newpassword">
                <p>Enter the 8 digit code sent to your email</p>
                <a href="/login/reset">Didn't get the email? Try again.</a>
                <input type="text" name="code" placeholder="# # # #">
                <input type="submit" value="Continue" class="btn btn-primary">
            </form>
        <?php endif; ?>
        <?php if (isset($this->pform)) {
            echo $this->pform;
        } ?>
    </div>
</div>

