<div id="manage-categories-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-lock fa-fw"></i> <?php echo $this->title; ?></h1>
        <div class="box-header-static-links">
        </div>
    </div>

    <div class="box-content-static">
        <?php if (isset($this->passwordUpdate)) : ?>
            <div class="success">
                <p>Your password has been updated.<p>
                <a href="/login">Log In</a>
            </div>
        <?php endif; ?>
        <?php if ($this->formErrors): ?>
            <div class="alert alert-error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php if (isset($this->form)) {
            echo $this->form;
        } ?>
        <?php if (isset($this->pform)) {
            echo $this->pform;
        } ?>
        <?php if (isset($this->user_result)) : ?>
            <?php echo $this->user_result->forename . ' ' .$this->user_result->surname; ?>
            <?php echo $this->user_result->email; ?>
            <a href="/login/reset">Not You?</a>
            <a class="btn btn-primary" href="/login/continue?u=<?php echo $this->user_result->user_id ?>?e=<?php echo $this->user_result->email ?>">Continue</a>
        <?php endif; ?>
    </div>
</div>

