<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<section id="dashboard" class="section-content">
<div class="page-header">
    <div class="title-block">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="panel-row-wrapper">
    <div class="panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <div class="panel-icon icon-bg-green">
                    <i class="fa fa-list-alt fa-fw"></i>
                </div>
                <div class="panel-content">
                            <span class="panel-digit">
<!--                                     --><?php //echo $this->allOrderStats->totalNumber; ?>
                                15,110
                            </span>
                            <span class="panel-info">
                                     Orders to date
                            </span>
                </div>
            </div>


        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <div class="panel-icon icon-bg-red">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                </div>
                <div class="panel-content">
                            <span class="panel-digit">
<!--                                     --><?php //echo $this->allOrderStats->open; ?>
                                96
                            </span>
                            <span class="panel-info">
                                   Open Orders
                            </span>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <div class="panel-icon icon-bg-green">
                    <i class="fa fa-globe fa-fw"></i>
                </div>
                <div class="panel-content">
                            <span class="panel-digit">
                                73,121
                            </span>
                            <span class="panel-info">
                                     Site visits
                            </span>
                </div>
            </div>


        </div>
    </div>
    <div class="panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <div class="panel-icon icon-bg-blue">
                    <i class="fa fa-money fa-fw"></i>
                </div>
                <div class="panel-content">
                            <span class="panel-digit">
<!--                                     --><?php //echo $this->allOrderStats->dispatched; ?>
                                £42,056
                            </span>
                            <span class="panel-info">
                                     Total Revenue
                            </span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="panel-row-wrapper">
    <div class="triple-panel-wrapper">
        <div class="panel">
            <div class="angular" ng-controller="usersCtrl">
		<span class="chart" easypiechart
              ng-init="options = { animate:false, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }"
              percent="users" options="options">
			<span class="users" ng-bind="users"> </span>
		</span>
                <br/>
                <span>New Users</span>
            </div>

        </div>
    </div>
    <div class="triple-panel-wrapper">
        <div class="panel">
            <div class="angular" ng-controller="chartCtrl">
		<span class="chart" easypiechart
              ng-init="options = { animate:false, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }"
              percent="percent" options="options">
			<span class="percent" ng-bind="percent"></span>
		</span>
                <br/>
                <span>Bounce Rate</span>
            </div>
        </div>
    </div>
    <div class="triple-panel-wrapper">
        <div class="panel">
            <div class="angular" ng-controller="conversionCtrl">
		<span class="chart" easypiechart
              ng-init="options = { animate:false, barColor:'#E67E22', scaleColor:false, lineWidth:3, lineCap:'butt' }"
              percent="conversion" options="options">
<span class="conversion" ng-bind="conversion"> New Users</span>
		</span>
                <br/>
                <span>Conversion Rate</span>
            </div>
        </div>
    </div>
</div>
<div class="panel-row-wrapper" ng-app="example">
    <div class="full-panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <h2>Sales</h2>
                <section class="sales-chart" ng-controller='MainController'>

                    <!--                                        <select ng-model='chartDate'>-->
                    <!--                                            <option value="2014">2014</option>-->
                    <!--                                            <option value="2013">2013</option>-->
                    <!--                                            <option value="2012">2012</option>-->
                    <!--                                            <option value="2011">2011</option>-->
                    <!--                                        </select>-->
                    <div class="total-revenue">
                        <span>120,000</span>
                    </div>

                    <div class='charts'>
                        <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div>
                    </div>


                </section>


            </div>


        </div>
    </div>


</div>
<div class="panel-row-wrapper">
    <div class="double-panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <h2>Top Search Terms</h2>

                <div class="panel-content">
                    <?php if ($this->topFiveSearchLogs): ?>
                        <table>
                            <thead>
                            <tr>
                                <!--                                <th>&nbsp;</th>-->
                                <!--                                <th>&nbsp;</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($this->topFiveSearchLogs as $searchLog): ?>
                                <tr>
                                    <td><?php echo $searchLog->getSearchTerm(); ?></td>
                                    <td><?php echo $searchLog->getCount(); ?></td>
                                </tr>
                            <?php
                            endforeach;?>
                            </tbody>
                        </table>

                        <div class="panel-footer">
                            <a href=""><span>View all Search terms</span></a>
                        </div>

                    <?php
                    else:

                        ?>
                        <p>There are currently no search terms logged yet</p>
                    <?php
                    endif; ?>
                </div>
            </div>


        </div>
    </div>
    <div class="double-panel-wrapper">
        <div class="panel">
            <div class="panel-inner-box">
                <h2>Latest Orders</h2>

                <div class="panel-content">
                    <table>
                        <thead>
                        <tr>
                            <!--                                <th>&nbsp;</th>-->
                            <!--                                <th>&nbsp;</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>T. rinity</td>
                            <td>£76.89</td>
                        </tr>
                        <tr>
                            <td>Mr Orpheus</td>
                            <td>£45.99</td>
                        </tr>
                        <tr>
                            <td>A. Smith</td>
                            <td>£5.99</td>
                        </tr>
                        <tr>
                            <td>T. One</td>
                            <td>£4.56</td>
                        </tr>
                        <tr>
                            <td>Mr. Anderson</td>
                            <td>£45.99</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-footer">
                        <a href=""><span>View all Orders</span></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>


<!---->
<!--    <div class="box-header-static">-->
<!--        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Welcome to the Admin Panel</h1>-->
<!---->
<!--        <div class="box-header-static-links"></div>-->
<!--    </div>-->
<!---->
<!--    <div class="grid_8 push_1">-->
<!--        <div id="dash-orders-box" class="box-static">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-shopping-cart fa-fw"></i> Orders to date</h3>-->
<!---->
<!--                <h2>--><?php //echo $this->allOrderStats->totalNumber; ?><!--</h2>-->
<!---->
<!--                <p>Open Orders<strong>--><?php //echo $this->allOrderStats->open; ?><!--</strong></p>-->
<!---->
<!--                <p>Processed Orders<strong>-->
<?php //echo $this->allOrderStats->processed; ?><!--</strong></p>-->
<!---->
<!--                <p>Orders Pending approval<strong>-->
<?php //echo $this->allOrderStats->awaiting; ?><!--</strong></p>-->
<!---->
<!--                <p>Orders Dispatched<strong>-->
<?php //echo $this->allOrderStats->dispatched; ?><!--</strong></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="ratio-box" class="box-static">-->
<!--            <div class="padding">-->
<!--                <h3>Ratio</h3>-->
<!--                <a class="btn btn-primary">Day</a>-->
<!--                <a class="btn btn-primary">Week</a>-->
<!--                <a class="btn btn-primary">Year</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dash-bottom-row-left box-static ">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-search fa-fw"></i>Top 5 Search Terms</h3>-->
<!--                --><?php
//                if ($this->topFiveSearchLogs):
//                    foreach ($this->topFiveSearchLogs as $searchLog):
//
?>
<!--                        <p>--><?php //echo $searchLog->getSearchTerm(); ?>
<!--                            <strong>--><?php //echo $searchLog->getCount(); ?><!--</strong></p>-->
<!--                    --><?php
//                    endforeach;
//                else:
//
?>
<!--                    <p>There are currently no search terms logged yet</p>-->
<!--                --><?php //endif; ?>
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dash-bottom-row-left box-static ">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-list-ul fa-fw"></i> Recent Actions</h3>-->
<!--                --><?php
//                if (isset($this->history)):
//                    foreach ($this->history as $history) :
//                        $image = ($history->action == 'added' ? '/core/img/icons/add.png' : '/core/img/icons/edit.jpeg');
//
?>
<!--                        <p><img src="--><?php //echo $image; ?><!--" height="10px"-->
<!--                                width="10px"> -->
<?php //echo $history->forename . ' ' . $history->surname; ?><!----><?php //echo ' -    ' . $history->action; ?>
<!--                            (--><?php //echo $history->type; ?><!--) -->
<?php //echo $history->name; ?><!--</p>-->
<!--                    --><?php
//                    endforeach;
//                else:
//
?>
<!--                    <p>There is no history logged yet</p>-->
<!--                --><?php //endif; ?>
<!--                <a href="/admin/history/">View all</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="grid_14 push_1 dash-left">-->
<!--        <div id="total-graph-box" class="box-static">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-credit-card fa-fw"></i>Total Sales This-->
<!--                    Week<strong>£--><?php //echo $this->allOrderStats->totalSales; ?><!--</strong></h3>-->
<!---->
<!--                <div id="chart_div" style="width: 100%; height: 100%;"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->
<!---->
<!--        <div id="top-product-box" class="box-static">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-star-o fa-fw"></i>Top 5 Products</h3>-->
<!--                --><?php //if ($this->mostPopularProducts): ?>
<!--                    <div id="popular-products" style="width: 100%; height: 100%;"></div>-->
<!--                --><?php //else: ?>
<!--                    There are no orders yet so no popular products can be generated.-->
<!--                --><?php //endif; ?>
<!--            </div>-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->
<!---->
<!--        <div id="dash-bottom-row-right" class="box-static ">-->
<!--            <div class="padding">-->
<!--                <h3><i class="fa fa-star-o fa-fw"></i>Site Visits</h3>-->
<!---->
<!--                <div id="google_analytics_chart" style="width: 100%; height: 100%;"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>