<div id="choose-languages-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Content Management</h1>
        <div class="box-header-static-links"></div>
    </div>

    <div class="box-content-static">
        <h2>Please choose a language to edit its content:</h2>
        <?php
        echo $this->form_errors;
        echo $this->form_success;
        echo $this->form;
        ?>
    </div>
</div>