<?php /* @var $this Language_Views_View */ ?>

<div id="choose-languages-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Content Management</h1>
    </div>
    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn btn-link" href="/admin/content/languagechoose"><i class="fa fa-arrow-left fa-fw"></i> Click here to choose another language to
                edit
            </a>
        </div>
        <h2>
            You Are Now Editing <strong><?php echo $this->language; ?></strong> Content</h2>

        <div id="content-tabs">
            <div id="content-tabs-header">

                <ul class="tabs">
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Home Title</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                    <li><a href="a">Strapline</a></li>
                </ul>
            </div>
            <div id="content-tabs-content">
                <?php
                echo $this->form_errors;
                echo $this->form_success;
                echo $this->form;
                ?>


            </div>


        </div>

    </div>
</div>