<section id="address" class="container">


    <?php
    if ($this->userAddresses):
    ?>

    <h2>Current Addresses</h2>

    <div class="current-address-wrapper span12">
        <?php
        if ($this->errors):
            ?>
            <p class="notification error"><?php echo $this->errors; ?></p>
        <?php
        endif;
        foreach ($this->userAddresses as $userAddress):
            ?>
            <div class="address-tab span4">

                <?php
                echo $userAddress->getLineOne() . '<br/>';
                echo($userAddress->getLineTwo() ? $userAddress->getLineTwo() . '<br/>' : '');
                echo $userAddress->getCity() . '<br/>';
                echo $userAddress->getPostcode() . '<br/>';
                echo $userAddress->getRegion() . '<br/>';
                echo $userAddress->getCountry()->getCountry() . '<br/>';
                ?>
                <a class="btn-link"
                   href="<?php echo $this->addressPageUrl; ?>/delete/<?php echo $userAddress->getId(); ?>">Delete this address</a>&nbsp;&nbsp;
                <?php if ($this->defaultAddress && $this->defaultAddress->getId() === $userAddress->getId()): ?>
                    <p class="notification success"> This is the current address.</p>
                    <div class="clear"></div>
                <?php else: ?>
                    <a class="btn btn-primary"
                       href="<?php echo $this->addressPageUrl; ?>/select/<?php echo $userAddress->getId(); ?>">Use
                        this address</a>
                <?php endif; ?>
                <div class="clear"></div>
            </div>
        <?php
        endforeach;
        endif;
        ?>
    </div>
    <h2><?php echo $this->addressForm->getDescription(); ?></h2>

    <div class="address-wrapper span6">
        <?php if ($this->formErrors): ?>
            <div class="notification error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php echo $this->addressForm ?>
        <div class="clear"></div>
    </div>
</section>
    

    
