<section id="success" class="container">

    <h2>Checkout</h2>

    <div class="right">
        <span class="badge">1</span>
        <span class="badge">2</span>
        <span class="badge badge-important">3</span>
    </div>
    <h3>Thank you for your order!</h3>

    <p> <?php echo $this->successMessage; ?></p>
    <a class="btn btn-primary" href="/">Continue Shopping &raquo;</a>


</section>
    
