<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<head>
    <?php

    echo '<link rel="icon" type="image/x-icon" href="/core/img/favicon.ico"/>';

    echo $this->headTitle('co3 Admin Panel');

    //meta tags
    echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8')
        ->appendName('robots', 'noindex, nofollow')
        ->appendName('description', '')
        ->appendName('keywords', '');

    //css
    //        echo '<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">';
    echo $this->headLink()->appendStylesheet('/core/css/bootstrap.css')
        ->appendStylesheet('/core/css/bootstrap.responsive.css')
        ->appendStylesheet('/core/css/bootstrap-fileupload.min.css')
        ->appendStylesheet('/core/css/chosen.css')
        ->appendStylesheet('/core/css/chosen.min.css')
        ->appendStylesheet('/core/css/jquery.fileupload-ui.css')
        ->appendStylesheet('/core/css/pikaday.css')
        ->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
        ->appendStylesheet('/core/css/normalize.min.css')
        ->appendStylesheet('/core/css/960_24_col.css')
        ->appendStylesheet('/core/css/jquery-ui.css')
        ->appendStylesheet('/core/css/main.css');

    //javascript
    echo $this->headScript()
        ->appendFile('http://code.jquery.com/jquery-1.10.1.min.js', 'text/javascript')
        ->appendFile('/core/js/angular.js', 'text/javascript')
        ->appendFile('/core/js/angular.easypiechart.min.js', 'text/javascript')
        ->appendFile('/core/js/d3.min.js', 'text/javascript')
        ->appendFile('/core/js/angular-charts.min.js', 'text/javascript')
//        ->appendFile('http://tinymce.cachefly.net/4.0/tinymce.min.js', 'text/javascript')
//        ->appendFile('/core/js/bootstrap.min.js', 'text/javascript')
//        ->appendFile('/core/js/bootstrap-fileupload.min.js', 'text/javascript')
//        ->appendFile('/core/js/chosen.jquery.js', 'text/javascript')
//        ->appendFile('/core/js/jquery.quicksearch.js', 'text/javascript')
//        ->appendFile('/core/js/main-admin.js', 'text/javascript')
//        ->appendFile('http://code.jquery.com/ui/1.10.3/jquery-ui.js')
        ->appendFile('/core/js/main.js', 'text/javascript');
    //        ->appendFile('http://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js');
    ?>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            width: 800,
            height: 150,
            force_br_newlines: false,
            force_p_newlines: false,
            forced_root_block: false,
            plugins: "paste"
        });


        /*$(function() {
         $("#sortable").sortable({
         containment: "parent",
         placeholder: "ui-state-highlight"
         });
         });*/
    </script>
    <script>

        $(document).ready(function () {
            var ct = angular.module('pieChart', ['easypiechart']);
            var sales = angular.module('salesChart', ['angularCharts']);

            ct.controller('usersCtrl', function ($scope) {
                $scope.users = 55;
                $scope.options = {
                    animate: {
                        duration: 1000,
                        enabled: true
                    },
                    barColor: '#3498DB',
                    scaleColor: false,
                    lineWidth: 20,
                    lineCap: 'circle'
                };

            });
            ct.controller('conversionCtrl', function ($scope) {
                $scope.conversion = 20;
                $scope.options = {
                    animate: {
                        duration: 1000,
                        enabled: true
                    },
                    barColor: '#8CC152',
                    scaleColor: false,
                    lineWidth: 20,
                    lineCap: 'circle'
                };

            });
            ct.controller('chartCtrl', function ($scope) {
                $scope.percent = 73;
                console.log($scope);
                $scope.options = {
                    animate: {
                        duration: 1000,
                        enabled: true
                    },
                    barColor: '#F6BB42',
                    scaleColor: false,
                    lineWidth: 20,
                    lineCap: 'circle'
                };

            });


            angular.bootstrap(document, ['pieChart']);
        });


    </script>
    <script>
        angular.module('example', ['angularCharts']);

        function MainController($scope) {

            $scope.data = {
                series: ['Hoodies', 'Beanies', 'T-shirts'],
                data: [
                    {
                        x: "Jan",
                        y: [100, 500, 0]
                    },
                    {
                        x: "Feb",
                        y: [300, 100, 100]
                    },
                    {
                        x: "March",
                        y: [351, 298, 344]
                    },
                    {
                        x: "April",
                        y: [654, 344, 879]
                    },
                    {
                        x: "May",
                        y: [954, 456, 879]
                    },
                    {
                        x: "June",
                        y: [854, 2415, 879]
                    },
                    {
                        x: "July",
                        y: [754, 450, 456]
                    },
                    {
                        x: "August",
                        y: [654, 220, 18]
                    },
                    {
                        x: "September",
                        y: [554, 210, 942]
                    },
                    {
                        x: "October",
                        y: [454, 1550, 126]
                    },
                    {
                        x: "November",
                        y: [354, 120, 785]
                    },
                    {
                        x: "December",
                        y: [254, 890, 1879]
                    }
                ]
            }


            $scope.chartType = 'line';

            $scope.config = {
                labels: false,
                legend: {
                    display: false,
                    position: 'left'
                }
            }

        }

        var sectionHeight = $("#dashboard").height();
        console.log(sectionHeight);

    </script>


</head>
<body>
<header class="header-container">


    <div id="logo">
        <img src="/lifefitness-shop/img/logo.png"/>
    </div>
    <div id="header-search">
        <form class="search" action="">
            <input type="text" value=""/>
        </form>
    </div>

    <div id="user-settings">
        <?php if ($this->user): ?>
            <?php $username = $this->user->username; ?>
            <ul>
                <li><a href="#" onclick="resetCount()" class="dropdown-toggle">

                        <div class="notification-bubble">
                            <i class="fa fa-inbox"></i>
                            <span id="notification-count"><?php echo $this->notificationCount; ?></span>
                        </div>
                    </a>
                    <section class="user-notifications">
                        <div class="notification-heading"><span>Notifications</span></div>
                        <div class="notif-settings-popup"><a href=""><span>Turn off notifications</span></a></div>
                        <?php if (isset($this->notification)) :
                            ?>
                            <div class="notification-list">
                                <?php foreach ($this->notification as $notification) : ?>
                                    <a href="<?php echo $notification->url; ?>">
                                        <div class="event-img"><i class="<?php echo $notification->icon; ?>"></i></div>
                                <span class="event"><?php echo $notification->event; ?> <br/>
                                    <small class="time"><?php echo $notification->time; ?></small>
                                </span>
                                    </a>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>
                        <div class="notification-footer">
                            <a href="/admin/notifications"><span>View all notifications</span></a>

                            <div class="notification-settings">
                                <a href="#"><i class="fa fa-cog"></i></a>


                            </div>
                        </div>
                    </section>
                </li>
                <!--                <a href="/admin/settings">-->
                <li><a href="#" class="panel-config-toggle"> <i class="fa fa-cog"></i></a>
                    <section class="panel-config">
                        <ul>
                            <li><a href="">Settings</a></li>
                            <li><a href="">Help</a></li>
                            <li><a href="">Logout</a></li>
                        </ul>
                    </section>

                </li>
            </ul>
        <?php endif; ?>
    </div>
</header>

<div class="sidebar">
    <div class="menu-btn">
        <ul>
            <li>
                <a href=""><i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="user-sidebar">
        <div class="avatar"><img src="/core/img/cat.jpg" alt=""/></div>

        <div class="user-info">
            <?php echo '<span class="welcome-msg"><a href="/admin/settings">Welcome back, ' . $username . ' </a></span>'; ?>
            <div class="user-icons">
                <span class="user-icon"><a href=""><i class="fa fa-user"></i></a></span>
                <span class="user-icon"><a href=""><i class="fa fa-envelope"></i></a></span>
                <span class="user-icon"><a href=""><i class="fa fa-cog"></i></a></span>
                <span class="user-icon"><a href=""><i class="fa fa-sign-out"></i></a></span>
            </div>
        </div>
    </div>

    <!--    <form action=""><input type="text" value="search..."/></form>-->
    <nav>
        <?php if ($this->user): ?>
            <ul>
                <?php
                $submodules = array();
                foreach ($this->nav as $nav) {
                    $submodules = $nav->getSubmodules();
                    echo '<li>';

                    echo '<a href="#"><span><i class="' . $nav->getModuleIcon() . '"></i></span>' . $nav->getModuleName() . '</a>';
//                    echo '<a href="/admin/' . $nav->getModulePathName() . '">' . $nav->getModuleName() . '</a>';

                    if (!empty($submodules)) {
                        echo '<ul class="subnav">';
                        foreach ($nav->getSubmodules() as $submodule) {
                            echo '<li><a href="' . $submodule->getPathname() . '">' . $submodule->getName() . '</a></li>';
                        }
                        echo '</ul>';
                    }
                    echo '</li>';
                }
                ?>
            </ul>
        <?php endif; ?>
    </nav>
</div>
<div class="content">
    <?php echo $this->layout()->content; ?>
</div>
<!--<div class="container_24">-->
<!--    --><?php //if($this->user): ?>
<!--        <div class="grid_24 box-2">-->
<!---->
<!--            <ul id="navlist">-->
<!--                <li id="active"><a href="/admin/users/editadminuser/id/-->
<?php //echo $this->user->getId(); ?><!--" id="current">Welcome Back, <strong>-->
<?php //echo $this->user->getForename(); ?><!--</strong></a></li>-->
<!--                <li><i class="fa fa-dropbox fa-fw"></i><a href="/admin/products/addproductdetails/new/1">Create a New Product</a></li>-->
<!--                <li><i class="fa fa-group fa-fw"></i><a href="/admin/users/addusergroup">Add a new Usergroup</a></li>-->
<!--                <li><i class="fa fa-ticket fa-fw"><a href="/admin/vouchers/add"></i>Add a Voucher</a></li>-->
<!---->
<!--            </ul>-->
<!--            <div id="navlist-settings">-->
<!--                <a href="/admin/logout"><i class="fa fa-power-off fa-fw"></i>Logout</a>-->
<!--            </div>-->
<!---->
<!--        </div>-->
<!--    --><?php //endif; ?>
<!--    -->
<!--</div> <!-- #main-container -->

<footer id="footer" class="container">
    <p>Copyright 2013 Creative Emporium CO3. All rights reserved worldwide.</p>
    <a href="#">Help</a>
</footer>

<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>-->

<script>
    //Google Analytics
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));

    //Close the count icon when it is clicked and update the database with seen as '1'
    function resetCount() {
        $('#notification-count').html(0);
        $.ajax({
            url: '/admin/ajax/notification-seen'
        })
    }

    //Notification count update every 3 seconds
    $(function($){
        setInterval(function(){
            $.ajax({
                url: '/admin/ajax/update-notification-count',
                success: function (data) {
                    $('#notification-count').html(data);
                }
            })
        }, 3000);
    });
</script>


</body>
</html>
