<?php echo $this->doctype() ?>
<head>
    <?php

    echo '<link rel="icon" type="image/x-icon" href="/core/img/favicon.ico"/>';

    echo $this->headTitle('co3 Admin Panel');

    //meta tags
    echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8')
        ->appendName('robots', 'noindex, nofollow')
        ->appendName('description', '')
        ->appendName('keywords', '');

    //css
    //        echo '<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">';
    echo $this->headLink()
        ->appendStylesheet('/core/css/main.css');

    //javascript
    echo $this->headScript()
        ->appendFile('http://code.jquery.com/jquery-1.10.1.min.js', 'text/javascript')
        ->appendFile('/core/js/main.js', 'text/javascript');
    ?>


</head>
<body>
<section id="login">
<img src="/lifefitness-shop/img/logo.png"/>
<?php echo $this->layout()->content; ?>
</section>

</body>