<div id="orders-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-list-alt fa-fw"></i> Reports </h1>
        <div class="box-header-static-search">
        </div>
    </div>

    <div class="box-content-static">

        <p>Please choose from an option above to view reports.</p>
        <h1>Saved Reports</h1>
        <table>
            <thead>
            <th>Report Name</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <?php
            if($this->savedReports):
                foreach ($this->savedReports as $sr) :
                ?>
                <tr>
                    <td><?php echo $sr->report_name; ?></td>
                    <td>
                        <a href="#" class="select_date" reportid="<?php echo $sr->id; ?>" title="Export to CSV"><i class="fa fa-external-link fa-fw"></i></a>
                        <a href="/admin/reports/edit/id/<?php echo $sr->id ?>" title="Edit Report"><i class="fa fa-pencil fa-fw"></i></a>
                        <a href="/admin/reports/delete/id/<?php echo $sr->id ?>" title="Delete Report"><i class="fa fa-trash-o fa-fw"></i></a>
                    </td>
                </tr>
                <?php
                endforeach;
            else:
                ?>
                <tr>
                    <td colspan="10">There are no saved reports currently in the system.</td>
                </tr>
                <?php
            endif;
            ?>
            </tbody>
        </table>
    </div>
</div>
    <div class="report_form" style="display: none">
        <form>
            <h3>Select a date range</h3>
            <p>From (yy-mm-dd): <input type="text" id="from" name="from" class="datepicker"></p>
            <p>To (yy-mm-dd): <input type="text" id="to" name="to" class="datepicker"></p>
            <input type="hidden" name="serializedColumns" id="report_id">
        </form>
    </div>
<script>
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
    $(".datepicker").datepicker("disable");
    $(".select_date").click(function() {
        var id = $(this).attr("reportid");
        $("#report_id").val(id);
        $(".report_form").dialog({
            open: function(event, ui) {
                $(".datepicker").datepicker("enable");
            },
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Cancel": function() {
                    $(this).dialog("close");
                },
                "Export As Csv": function() {
                    document.location.href = '/admin/reports/build/from/'+$("#from").val()+'/to/'+$("#to").val()+'/id/'+id+'/submit/exportAsCsv';
//                    $.ajax({
//                        async: false,
//                        url: "/admin/reports/build",
//                        timeout: 30000,
//                        type: "POST",
//                        data: {from: $("#from").val(), to: $("#to").val(), id: id, submit: "Export As Csv"},
//                        error: function(XMLHttpRequest, textStatus, errorThrown)  {
//                            alert("An error has occurred making the request: " + errorThrown)
//                        },
//                        success: function(data){
//                            //$( this ).dialog( "close" );
//                        }
//                    })
                }
            }
        })
    });

</script>