<?php
$logins = $this->logins;
?>

<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Logins Report</h1>
        <div class="box-header-static-search">
            <div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">

        <div class="grid_8 push_1">
            <form class="side-report" method="post" action="build">
                <h3>Select usergroups to export</h3>
                <?php if ($this->usergroups) : ?>
                    <table id="dispatch-report-table">
                        <thead>
                        <tr>
                            <th>Usergroup</th>
                            <th><input type="checkbox" id="select_all"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if (count($this->usergroups) == 0) : ?>
                            <tr><td colspan="2">There are no usergroups registered in the system.</td></tr>
                        <?php else : ?>

                            <?php foreach ($this->usergroups as $usergroup) : ?>
                                <tr>
                                    <td><?php echo $usergroup->user_group_name; ?></td>
                                    <td><input class="usergroup" type="checkbox" name="usergroups[]" value="<?php echo $usergroup->user_group_id; ?>"></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        </tbody>
                    </table>
                <?php endif; ?>

                <h3>Select a date range</h3>
                <form method="post" action="build">
                    <p>From (yy-mm-dd): <input type="text" name="from" class="datepicker"></p>
                    <p>To (yy-mm-dd): <input type="text" name="to" class="datepicker"></p>

        </div>
        <div class="grid_12 push_1 dash-left">

            <h3>Select fields to export</h3>
            <table id="dispatch-report-table">
                <thead>
                <tr>
                    <th>Fields</th>
                    <th><input type="checkbox" id="select_dispatch"/></th>
                </tr>
                </thead>
                <tbody>
                <?php if (count($logins) == 0) : ?>
                    <tr><td>There are no dispatch reports to display.</td></tr>
                <?php else : ?>
                    <?php foreach ($logins as $key => $reg) : ?>
                        <?php foreach ($reg as $key2 => $r) : ?>
                            <?php
                            $replace = str_replace('_', ' ', $key2);
                            $newKey = ucwords($replace);
                            ?>
                            <tr>
                                <td><?php echo $newKey; ?></td>
                                <td><input class="dispatch" type="checkbox" name="columns[]" value="<?php echo $key2 ?>"></td>
                            </tr>
                        <?php endforeach; ?>
                        <?php break; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
            <input type="submit" class="dispatched-logins-btn btn btn-primary" name="submit" value="Export As Csv">
            <h3>Save This Report</h3>
            <input type="hidden" name="type" value="logins">
            <input type="text" name="name">
            <input type="submit" class="dispatched-orders-btn btn btn-primary" name="submit" value="Save">
            </form>

        </div>

    </div>
</div>
<script>
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
    $('#select_all').click(function() {
        var c = this.checked;
        $('.usergroup').prop('checked', c);
    });
    $('#select_dispatch').click(function() {
        var c = this.checked;
        $('.dispatch').prop('checked', c);
    });
</script>