<?php
$stock = $this->stock;
?>
<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Stock Report</h1>

        <div class="box-header-static-search">
            <div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">

        <div class="grid_8 push_1">
            <form class="side-report" method="post" action="build">
                <h3>Select categories to export</h3>
                <?php if ($this->category) : ?>
                <table id="dispatch-report-table">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th><input type="checkbox" id="select_categories"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if (count($this->category) == 0) : ?>
                        <tr><td>There are no categories registered in the system.</td></tr>
                    <?php else : ?>
                    <form method="post" action="build">
                        <?php foreach ($this->category as $category) : ?>
                            <tr>
                                <td><?php echo $category->name; ?></td>
                                <td><input class="categories" type="checkbox" name="categories[]" value="<?php echo $category->category_id; ?>"></td>
                            </tr>
                        <?php endforeach; ?>
                        <?php endif; ?>
                        <?php endif; ?>
                    </tbody>
                </table>
        </div>

        <div class="grid_12 push_1 dash-left">
            <h3>Select fields to export</h3>
            <table id="dispatch-report-table">
                <thead>
                <tr>
                    <th>Fields</th>
                    <th><input type="checkbox" id="select_stock"/></th>
                </tr>
                </thead>
                <tbody>
                <?php if (count($stock) == 0) : ?>
                    <tr><td>There is no stock registered in the system.</td></tr>
                <?php else : ?>
                    <?php foreach ($stock as $key => $stock) : ?>
                        <?php foreach ($stock as $key2 => $s) : ?>
                            <?php $replace = str_replace('_', ' ', $key2);
                            $newKey = ucwords($replace); ?>
                            <tr>
                                <td><?php echo $newKey; ?></td>
                                <td><input class="stock" type="checkbox" name="columns[]" value="<?php echo $key2 ?>"></td>
                            </tr>
                        <?php endforeach; ?>
                        <?php break; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
            <input type="submit" class="dispatched-orders-btn btn btn-primary" name="submit" value="Export As Csv">
            <h3>Save This Report</h3>
            <input type="hidden" name="type" value="stock">
            <input type="text" name="name">
            <input type="submit" class="dispatched-orders-btn btn btn-primary" name="submit" value="Save">
            </form>
        </div>
    </div>
    <script>
        $('#select_stock').click(function() {
            var c = this.checked;
            $('.stock').prop('checked', c);
        });

        $('#select_categories').click(function() {
            var c = this.checked;
            $('.categories').prop('checked', c);
        });
    </script>