<?php
$vouchers = $this->vouchers;
?>
<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Vouchers Report</h1>

        <div class="box-header-static-search">
            <div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">

        <div class="grid_8 push_1">
            <form class="side-report" method="post" action="build">
                <h3>Select a date range</h3>
                <p>From (yy-mm-dd): <input type="text" name="from" class="datepicker"></p>
                <p>To (yy-mm-dd): <input type="text" name="to" class="datepicker"></p>
        </div>

        <div class="grid_12 push_1 dash-left">

            <h3>Select fields to export</h3>
            <table id="dispatch-report-table">
                <thead>
                <tr>
                    <th>Fields</th>
                    <th><input type="checkbox" id="select_vouchers"/></th>
                </tr>
                </thead>
                <tbody>
                <?php if (count($vouchers) == 0) : ?>
                    <tr><td>There are no logins registered in the system.</td></tr>
                <?php else : ?>
                    <?php foreach ($vouchers as $key => $reg) : ?>
                        <?php foreach ($reg as $key2 => $r) : ?>
                            <?php $replace = str_replace('_', ' ', $key2);
                            $newKey = ucwords($replace); ?>
                            <tr>
                                <td><?php echo $newKey; ?></td>
                                <td><input class="vouchers" type="checkbox" name="columns[]" value="<?php echo $key2 ?>"></td>
                            </tr>
                        <?php endforeach; ?>
                        <?php break; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
            <input type="submit" class="dispatched-orders-btn btn btn-primary" name="submit" value="Export As Csv">
            <h3>Save This Report</h3>
            <input type="hidden" name="type" value="vouchers">
            <input type="text" name="name">
            <input type="submit" class="dispatched-orders-btn btn btn-primary" name="submit" value="Save">
            </form>
        </div>
    </div>
    <script>
        $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
        $('#select_vouchers').click(function() {
            var c = this.checked;
            $('.vouchers').prop('checked', c);
        });
    </script>
