body {
    background-color: #fff;
    font-family: "Trebuchet MS",Trebuchet,Helvetica,Arial,sans-serif;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #F5F5F5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* -------------------- Life fitness styling below  ------------------------- */


table {
    table-layout: fixed;
}

#wrapper1 {
    width: 100%;
    margin: 0px auto;
    background: url("/modules/Admin/Public/img/lf/bg-left.png") repeat-y scroll 0px 0px transparent;
    position: relative;
}
#wrapper2 {
    width: 100%;
    background: url("/modules/Admin/Public/img/lf/bg-right.png") repeat-y scroll right 0px transparent;
    position: relative;
}
.darkgreyTextHome {
    color: rgb(122, 123, 125);
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0px;
    text-transform: uppercase;
}
.greyTextHome {
    color: rgb(205, 205, 205);
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0px;
    text-transform: uppercase;
}

.lf-navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:#fff;
    border: none;
    background-image:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.lf-navbar-inner:before,
.lf-navbar-inner:after {
    display: table;
    line-height: 0;
    content: "";
}

.navbar-inner:after {
    clear: both;
}
.lf-nav li{
    font-family: 'Conv_UniversLTStd-BoldCnObl';
    text-transform: uppercase;
    list-style:none;
    font-style: italic;
    font-size: 15px;
    position: relative;
}


/************ Remove tag for Basket ***********/

#logo {
    padding: 0px 0 0px 10px;
}


/************ Classes from old Stylesheet ***********/

@font-face {
    font-family: 'Conv_UniversLTStd-BoldObl';
    src: url('/modules/Admin/Public/font/Conv_UniversLTStd-BoldObl');
    src: url('/modules/Admin/Public/font/Conv_UniversLTStd-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-BoldObl.woff') format('woff'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-BoldObl.ttf') format('truetype'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-BoldObl.svg#../font/Conv_UniversLTStd-BoldObl') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Conv_UniversLTStd';
    src: url('/modules/Admin/Public/font/UniversLTStd.eot');
    src: local('☺'), url('/modules/Admin/Public/font/UniversLTStd.woff') format('woff'), url('../font/UniversLTStd.ttf') format('truetype'), url('../font/UniversLTStd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_UniversLTStd-BoldObl';
    src: url('/modules/Admin/Public/font/UniversLTStd-BoldObl.eot');
    src: local('☺'), url('/modules/Admin/Public/font/UniversLTStd-BoldObl.woff') format('woff'), url('../font/UniversLTStd-BoldObl.ttf') format('truetype'), url('../font/UniversLTStd-BoldObl.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_UniversLTStd-Cn';
    src: url('/modules/Admin/Public/font/Conv_UniversLTStd-Cn.eot');
    src: url('/modules/Admin/Public/font/Conv_UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-Cn.woff') format('woff'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-Cn.ttf') format('truetype'),
        url('/modules/Admin/Public/font/Conv_UniversLTStd-Cn.svg#Conv_UniversLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: normal;

}

#sideSocial{
    position: absolute;
    top: 200px;
    left: 1113px;
}

.languageWrapper {
    width: 660px;
    float: right;
    position: relative;
}
.languageHeader {
    /*min-width: 204px;*/
    width: 920px;
    margin: 0 0 6px 0;
    float: right;
    /* background: #fff; */
    height: 24px;
    padding: 0 97px;
    /* * padding: 6px 20px 0 0; */
    text-align: center;
    /* width: 690px;
    padding: 0;
    float: left; */
}
.languageHeader ul.topLinks li.first,
.languageHeader ul.topLinks li.last{
    background: 0 none;
    padding: 0;
    width: 20px;
}	
.languageHeader ul.topLinks li a{
    color: #636466;
    display: block;
    height: 30px;
    padding: 14px 15px 0;
    position: relative;
}
.languageHeader ul.topLinks li a span.redText{
    color: #e51937;
    text-transform: lowercase;
}
.languageHeader ul.topLinks li a.seperator{
    background: url(/images/2012/seperator.png) no-repeat 0 5px;
}
.languageHeader ul.topLinks li a.last{
    padding: 14px 5px 10px 15px;
}
.languageHeader ul.topLinks li.flags{
    padding: 10px 15px 0 5px;
    height: 50px;
    width: 25px;
}
.languageHeader ul.topLinks li.flags a{
    height: auto;
    padding: 0 0 5px;
}
.languageHeader ul.topLinks li{
    font-family: 'Conv_UniversLTStd-BoldCnObl';
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    position: relative;
}
.languageHeader ul.topLinks li img.shoppingBag{
    position: absolute;
    left: 15px;
}
.languageHeader ul.topLinks li{
    text-align: left;
    padding: 0;
    background: url(/images/2012/shadow-bottom.png) repeat-x 0 bottom;
    height: 60px;
}
.languageHeader ul.topLinks li ul.flagLinks li{
    float: none;
    display: none;
    background: 0;
    padding: 0;
    margin: 0;
    height: auto;
}
.languageHeader ul.topLinks li ul.flagLinks li.active{
    display: block;
}
.languageHeader p {
    width: 110px;
    color: #ccc;
    float: left;
    text-align: right;
    font-size: 13px;
    line-height: 19px;
    padding: 2px 0 0 0;
}
.languageHeader ul {
    list-style: none;
    float: right;
    /* float: left;*/
    height: 60px;
    z-index: 100;
    position: relative;
}
.languageHeader li {
    float: left;
    /* display: block;
    margin: 0;
    padding: 0 0 0 10px;
    width: 24px;
    height: 24px;
    font-size: 11px;
    line-height: 24px; */
}
.languageHeader li.langEN a {
    background: url(/images/emea-flags.gif) no-repeat 0 0;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}


.languageHeader li.langENcurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px 0;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langEN a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px 0;
}


.languageHeader li.langNL a {
    background: url(/images/emea-flags.gif) no-repeat 0 -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langNLcurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langNL a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px -24px;
}

.languageHeader li.langES a {
    background: url(/images/emea-flags.gif) no-repeat 0 -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.languageHeader li.langEScurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langES a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px -48px;
}

.languageHeader li.langIT a {
    background: url(/images/emea-flags.gif) no-repeat 0 -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.languageHeader li.langITcurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langIT a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px -72px;
}

.languageHeader li.langFR a {
    background: url(/images/emea-flags.gif) no-repeat 0 -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.languageHeader li.langFRcurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langFR a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px -96px;
}

.languageHeader li.langDE a {
    background: url(/images/emea-flags.gif) no-repeat 0 -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.languageHeader li.langDEcurrent a {
    background: url(/images/emea-flags.gif) no-repeat -48px -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.languageHeader li.langDE a:hover {
    background: url(/images/emea-flags.gif) no-repeat -24px -120px;
}

.accountHeaderWrapper {
    width: 540px;
    float: right;
}
.accountHeader {
    min-width: 220px;
    text-align: center;
    margin: 0;
    float: right;
    background: #fff;
    height: 24px;
    padding: 0 20px 0 0;

}

.accountHeader p {
    color: #666;
    font-size: 12px;
    line-height: 19px;
}

.accountHeader p.status {
    float: right;
}

.accountHeader p.fields {
    text-align: right;
    width: 400px;
    float: left;
}








.buttonArrow {
    position: absolute;
    top: 5px;
    right: 2%;
}

















.error {
    color: #FF0000 !important;
    display: block;
    font-size: 11px;
    margin: 4px 0 2px 0;
}

.errorbox {
    padding: 3px 5px;
    background: #FFCCCC;
    color: #FF0000;
    margin: 0 0 10px 0;
    display: block;
}

.success {
    color: #339933 !important;
    /*padding: 3px 7px;*/
    /*background: #339933;*/
    _width: 600px;
}
.success a {
    color: #339933 !important;
    /*	border-bottom: solid 1px #339933 !important;*/
}
.success a:hover {
    color: #339933 !important;
    border-bottom: 0 !important;
}







#left-col a {
    text-decoration: none;
    color: #111111;
}

#left-col a:hover {
    color: #cc3333;
}

#mainCol table {
    border-collapse: collapse;
    width: 99%;
    margin: 0;
}

#mainCol .headings td {
    border-bottom: 1px solid #CFCFCE;
    font-weight: bold;
}
.prodSizes tr.last td{
    border-bottom: 1px solid #CFCFCE;
}
#mainCol td {
    color: #666;
    font-size: 12px;
    /* border-bottom: dotted 1px #ccc; */
    padding: 8px 15px 4px 0;
    vertical-align: top;
}
#mainCol td.option {
    /*width: 150px;*/
    padding: 4px 15px 4px 0;
}

input.text {
    width: 33%;
    border: solid 1px #ccc;
    padding: 4px;
}

input.qtytext {
    width: 25px;
    text-align: center;
    border: solid 1px #ccc;
    padding: 4px;
}

#mainCol td.option input.text {
    width: 99%;
    border: solid 1px #ccc;
    padding: 4px;
}

#mainCol td.option textarea {
    width: 99%;
    border: solid 1px #ccc;
    padding: 4px;
    min-height: 100px;
}


p.intro {
    font-weight: bold;
    color: #111111;
}

.sidebox {

}





#topNav li a {
    font-size: 15px;
    text-decoration: none;
    color: #FFF;
    /* float: left;
    display: block; */
    text-align: center;
    text-transform: uppercase;
    font-family: 'Conv_UniversLTStd-Cn';
    /* font-weight: bold; */
    height: 34px;
    padding: 0 35px 0;
    /*width: 125px;*/
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right; */
}
#topNav li:hover {
    color: #FFF;
    background: #cf0404;
}
#topNav li.tnHome:hover {
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 8px 0 0 8px; /* Firefox */
    -webkit-border-radius: 8px 0 0 8px; /* Safari, Google Chrome */
    border-radius: 8px 0 0 8px; /* CSS3 */
    /* background: #cf0404 url(/images/redSide.png) no-repeat 0 0; */
}

#topNav li.tnHome a {
    height: 34px;
    /* padding: 8px 22px 0 22px; */
    display: block;
    /*width: 81px;*/
    text-align: center;
}
body.index #topNav li.tnHome a {
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right #fff; */
}

#topNav li.tnProducts a {
    height: 26px;
    padding: 8px 22px 0 22px;
    display: block;
    /*width: 100px;*/
    text-align: center;
    border-right: 1px solid #AAABAB;
}
body.products #topNav li.tnProducts a,
body.category #topNav li.tnProducts a,
body.product #topNav li.tnProducts a {
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right #fff; */
    color: #cf0404;
}

#topNav li.tnInfo a {
    height: 26px;
    padding: 8px 22px 0 22px;
    display: block;
    /*width: 76px;*/
    text-align: center;
    border-right: 1px solid #AAABAB;
}
body.info #topNav li.tnInfo a {
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right #fff; */
    color: #cf0404;
}

#topNav li.tnAccount a {
    height: 26px;
    padding: 8px 22px 0 22px;
    display: block;
    /*width: 124px;*/
    text-align: center;
    border-right: 1px solid #AAABAB;
}
body.account #topNav li.tnAccount a {
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right #fff; */
    color: #cf0404;
}

#topNav li.tnContact a {
    height: 26px;
    padding: 8px 22px 0 22px;
    display: block;
    /*width: 125px;*/
    text-align: center;
    border-right: 1px solid #AAABAB;
}
body.contact #topNav li.tnContact a {
    /* background: url(../images/bgNavButton.jpg) no-repeat bottom right #fff; */
    color: #cf0404;
}


#topNav li.tnHelp a {
    height: 26px;
    padding: 8px 22px 0 22px;
    display: block;
    /*width: 90px;*/
    text-align: center;
    border-right: 1px solid #AAABAB;
}
body.help #topNav li.tnHelp a {
    background: #fff;
    color: #cf0404;
}



#quickSearch {
    float: right;
    height: 29px;
    padding: 5px 7px 0 0;
    /*width: 275px;
    * width: 285px;*/
}

#quickSearch p {
    font-size: 12px;
    color: #666;
    margin: 0;
    padding: 0;
    float: left;
}

#quickSearch label {
    float: left;
    padding: 5px 10px 0 0;
}

#quickSearch .inputText {
    border: inset 2px #B3142Bwh;
    padding: 2px 5px;
    height: 17px;
    font-size: 12px;
    background: #e51937;
    margin: 0 5px 0 0;
    float: left;
    width: 150px;
    color: #FFF;
    border-radius: 5px;
}

#quickSearch input.btnGrey {
    background: none;
    background: #ccc;
    font-size: 12px !important;
    color: #666 !important;
    height: 23px;
    border: 0;
    padding: 5px 10px;
    margin: 0;
    float: left;
}

/*------------------Top Navigation ----------------------*/

#topNavigation li{
    font-family:'Conv_UniversLTStd-Cn';

}

#nav-col {
    padding: 0 0 30px 0;
    float: left;
    display: block;
    width: 215px;
}

#nav-col h3 {
    color: #cf0404;
    font-weight: normal;
    margin: 0 0 7px 0;
    font-size: 18px;
    /*text-transform: uppercase;*/
}

ul#catNav {
    list-style: none;
    width: 215px;
    margin: 0;
    padding: 0;
    background: #fff;
}

#catNav li {
    display: block;
    width: 145px;
    text-align: left;
}
#catNav li a {
    display: block;
    font-size: 12px;
    color: #77787b;
    text-decoration: none;
    width: 195px;
    margin: 0;
    padding: 20px 0 0;
}

#catNav li.subCat a {
    padding: 5px 0;
}
#catNav li.mainCat{
    border-bottom: 1px solid #CFCFCE;
    margin: 0 15px;
    padding-bottom: 20px;
}
#catNav li.mainCat.first{
    border-top: 1px solid #CFCFCE;
    margin-top: 20px;
}
#catNav li a.mainCatLink{
    font-weight: bold;
    text-transform: uppercase;
}
#catNav li a:hover {
    color: #cf0404;
}

#catNav li.CL1Selected ul,
#catNav li.catNavFirstSelect ul,
#catNav li.catNavLastSelect ul {
    display: block;
}


#catNav li ul {
    margin: 0;
    padding: 0;
    width: 195px;
    /* background: url(../images/bgNavCatDivider.gif) no-repeat bottom center; */
    /* border-bottom: 1px solid #CFCFCE; */
}

#catNav li ul li {
    text-align: left;
    width: 215px;
}

#catNav li ul li a {
    display: block;
    font-size: 11px;
    color: #666;
    text-decoration: none;
    text-transform: none !important;
    /* padding: 6px 30px 7px 30px !important; */
    margin: 0 !important;
    width: 155px;
    /* background: url(../images/bgNavCatSubDivider.gif) no-repeat top center; */
    font-weight: normal !important;
}

#catNav li ul li a:hover {
    color: #cf0404;
}

#basketSummary {
    position:relative;
    display: inline-block;
    width: 188px;
    padding: 7px 15px 20px 15px;
    background: url(/modules/Admin/Public/img/lf/bgBasket.jpg) repeat-x bottom left #585858;
    text-align: left;
    /*height: 260px;*/
}
#basketSummary h3 {
    font-size: 18px;
    color: #fff;
    padding: 0 0 7px 25px;
    margin: 0 0 0 0;
    background: url(/modules/Admin/Public/img/lf/iconBasket.gif) no-repeat 0 2px;
    display: block;
    /*height: 42px;
    line-height: 42px;*/
    border-bottom: solid 1px #cbcaca;
}



#basketSummary p {
    color: #fff;
    font-size: 12px;
    padding: 6px 0 6px 0;
}


table#basketSummaryItems {
    margin: 10px 0 0 0;
    width: 188px;
    padding: 0;
    border-collapse: collapse;
}

#basketSummaryItems td {
    color: #fff;
    font-size: 12px;
    padding: 3px 0 6px 0;
}
#basketSummaryItems td a {
    color: #fff;
}
#basketSummaryItems td a:hover {
    color: #cf0404;
}

#basketSummaryItems td.opt {
    width: 18px;
    padding: 0;
}

#basketSummaryItems td.cost {
    padding: 0 5px 0 7px;
    text-align: right;
}

table#basketSummaryTotals {
    border-top: solid 1px #cbcaca;
    margin: 10px 0 10px 0;
    border-collapse: collapse;
    width: 188px;
}

#basketSummaryTotals td {
    padding: 5px 0 5px 18px;
    font-size: 12px;
    color: #fff;
}

#basketSummaryTotals td.cost {
    text-align: right;
    padding: 0 5px 0 7px;
}

#basketSummaryTotals tr.totalRow {
    background: #696868;
}

tr.totalRow td span {
    font-size: 10px;
    color: #ccc;
}



table#basketSummaryButtons {
    width: 188px;
}
#basketSummaryButtons td {
    width: 94px;
}

tr.totalRow {
    margin: 0 0 10px 0;
}

#right-col {
    padding: 0;
    float: right;
    width: 218px;
}


#right-col a {
    text-decoration: none;
    color: #111111;
}

#right-col a:hover {
    color: #111111;
}

.latestProducts {

}

.latestProducts h3 {
    margin: 0 0 20px 0;
    padding: 0 10px;
    font-size: 22px;
    color: #cc3333;
    font-weight: normal;
}

.latestProducts dl {
    float: left;
    width: 175px;
    display: block;
}
.latestProducts dt {

}
.latestProducts dd {
    text-align: center;
}
.latestProducts a {
    color: #059ac2;
}
.latestProducts a:hover {
    color: #787a75;
}

#columnWrapper {
    width: 990px;
    margin: 0 auto;
}

#content {
    width: 980px;
    /*margin: -32px auto 0 auto;*/
    float: left;
}

body.index #content {
    /*margin: 0 auto 0 auto !important;*/
    /** margin: -33px auto 0 auto;
    _margin: 30px auto 0 auto !important;*/
}

#featureArea {
    float: left;
    height: 387px;
    display: block;
    margin: 0 7px 10px;
    overflow: hidden;
    width: 967px;
    _display: inline;
}

.prodCustomise #featureArea {
    height: 460px;
}

.highlight {

}


#footer{
    background: url(/modules/Admin/Public/img/lf/footer.png) no-repeat bottom center #fff;
    background-size: 1170px 199px;
    padding: 0px;
    height: 199px;
    width:100%;
}
#footer p{
    display: block;
    color: #77787b;
    font-size: 10px;

}
#footer p a {
    color: #99cc00;
    text-decoration: none;
}
#footer p a:hover {
    color: #99cc00;
}

#footer li a:hover {
    color: #000;
    text-decoration: none;
}
#footer ul.footerLinks{
    width:80%;
    padding-top: 20px;
    list-style-type: none;
}
#footer ul.footerLinks li.title{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
#footer ul.footerLinks li{
    list-style-type: none;
}
#footer ul.footerLinks li a{
    text-decoration: underline;
}
#footer ul.footerLinks li,
#footer ul.footerLinks li a{
    color: #77787b;
    font-size: 11px;
}


.catWrapper {
    /*	margin: 0 0 0 -11px;*/
    width: 480px;
    padding-bottom: 10px;

    _display: inline;
}

.catInner {
    width: 770px;
    float: left;
    display: block;
}

.catInner p {
    padding: 0 12px;
}

.catBlock {
    float: left;
    width: 176px;
    height: 220px;
    line-height: 140px;
    /* line-height: 140px;*/
    display: block;
    margin: 0 0 45px 10px;
    _display: inline;
    /*_display: inline;
    _margin: 0 0 4px 3px;*/
    text-align: center;
    position: relative;
}
.catBlock.new{
    height: 250px;
}

body.index div.catBlock {
    margin: 0 !important;
}

.catBlock div.catClick {
    z-index: 10;
    position: absolute;
    width: 149px;
    height: 220px;
    margin: 0;
    display: block;
    padding: 0;
    top: 0;
    left: 0;
}
div.catClick a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/modules/Admin/Public/img/lf/shim.gif) repeat;
    width: 149px;
    height: 220px;
    margin: 0;
    padding: 0;
    text-indent: -9000px;
}
div.catClick a:hover {
    cursor: pointer;
}


.catWrapper .alt {
}

span.catBlockButton span.boldTitle{font-weight: bold;
                                   font-size: 14px;
                                   color: #575757;}



/*.catBlock a {
    border: 0 !important;
    width: 200px;
    height: 265px;
    * font-size: 200px;
    display: block;
}*/

/* #colourways{display: block;
max-height: 31px;
overflow: hidden;} */
.catBlockImage {
    width: 149px;
    height: 149px;
    text-align: center;
    padding: 0;
    position: relative;
    margin: 0;
    z-index: 999999999;
}

.coloursHover{height: 290px;
              width: 188px;
              max-height: 290px;
              position: absolute;
              z-index: -9999999999;
              top: 0;
              border: 3px solid #E5E5E5;
              background-color: white;
              display: none;
              left: -4px;}

.coloursHoverOverlay{height: 230px;
                     width: 177px;
                     max-height: 260px;
                     position: absolute;
                     top: 0;
                     z-index:10000001;
                     left: 0;}

/* .coloursHover:hover{border: 3px solid #e5e5e5;} */
.colourwayBox{ position: relative; }
.catBlock img {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.catBlockButton {
    float: left;
    padding-left: 10px;
    color: #CE0404;
    width: 167px;
    text-align: left;
    line-height: 100%;
    min-height:62px;
    font-size: 12px;
    margin: 10px 0 0 0;
    position: relative;
    z-index: -9999999999;
}
.catBlockButton a {
    color: #77787b !important;
}
.catBlockButton a:hover {
    color: #000 !important;
}
.catBlockButton strong {
    color: #e51937 !important;
    font-size: 14px !important;
}
.catBlockButton strong.consumerPrice {
    color: #77787B !important;
    font-size: 12px !important;
    padding-bottom: 5px;
}
.catBlockButton strong.consumerPrice span {
    color: #77787B !important;
    font-size: 11px !important;
}
.catBlockButton span.consumerPrice {
    /* font-size: 10px; */
    text-decoration: line-through;
    /* font-style: italic; */
}
.catBlockButton span.consumerPrice span{
    /* font-size: 10px; */
}
.catBlockButton span {
    font-size: 11px ;
    color: #77787b;
}


/*.catWrapper div.alt span.catBlockButton {
    float: left;
    padding: 0;
    color: #111111;
    font-size: 11px;
    text-align: center;
    line-height: 100%;
}*/


.sort {
    width: 469px; /* was 697px */
    _width: 469px;
    /*border-top: dotted 1px #ccc;*/
    /*padding: 10px 0 0 0;*/
    float: left;
    _display: inline;
    margin: 0 0 0 11px;
    _margin: 0 0 0 5px;
    display: none;
}

.sort p {
    color: #999 !important;
    font-size: 11px !important;
}

.sortTotal {
    float: left;
    display: block;
    width: 325px;
    padding: 0;
}
.sortTotal p {
    color: #999 !important;
    font-size: 11px !important;
}

.sortOrder {
    float: left;
    width:250px;
    text-align: left;
}

.sortOrder select {
    margin: 1px 5px 0 10px;
    font-size: 11px !important;
    text-align: left;
    display: inline;
}
.sortOrder option {
    text-align: left;
}

.sortOrder p {
    float: left;
    text-align: right;
}

.pagination {
    width: 469px;
    _width: 469px;
    float: left;
    border-bottom: dotted 1px #ccc;
    margin: 0 0 10px 11px;
    _margin: 0 0 10px 5px;
    _display: inline;
    display: none;
}

.pagination p {
    color: #999 !important;
    font-size: 11px !important;
    float: left;
}

.pagination ul {
    list-style: none;
    float: right;
    margin: 0 !important;
}

.pagination li {
    float: left;
    color: #efefef !important;
    font-size: 11px !important;
    padding: 0 5px;
}

.pagination li a {
    color: #999 !important;
    border: 0 !important;
}

.pagination li a:hover {
    color: #111111 !important;
}

.pagination li.prevPage {
    margin: 0 10px 0 0 !important;
    display: block;
    _display: inline;
}

.pagination li.nextPage {
    margin: 0 0 0 10px !important;
    display: block;
    _display: inline;
}

.pagination li.pageCurrent {
    font-weight: bold;
    color: #cc3333 !important;
    font-size: 15px !important;
    margin: 0 !important;
    display: block;
}

.prodInner {
    position: relative;
    left:2px;
}

.prodDetails {
    width: 269px;
}

.prodPrice h3 {
    margin: 0 0 10px 0;
}

.prodPrice h3 span {
    color: #666 !important;
    font-size: 65%;
}

/* #viewSizes {
    float: right;
    text-align: right;
} */

#viewSizes a { color: #77787b; font-weight: bold; text-decoration: underline; text-transform: uppercase; }

#viewSizes h4 a:hover {
    color: #ce0404 !important;
}

.prodImgCol.colourwayImgCol {
    margin-bottom: 40px;
}
.prodImgCol {
    float: right;
    width: 490px;
    position: relative;
}

.prodImage {
    float: right;
    width: 480px;
    height: 515px;
    line-height: 200px;
    display: block;
    display: inline;
    margin: 0 auto 10px auto;
    padding: 0;
    text-align: left;
    /* font-size: 164px;*/
    color: #fff;
    overflow: hidden;
}
.prodImage img {
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}
.prodImage div#imgZoom {
    /* background: url(/images/btnZoom.gif) no-repeat bottom right; */
    z-index: 10;
    position: absolute;
    width: 405px;
    height: 515px;
    display: block;
    margin: 0;
    padding: 0;
}
div#imgZoom a {
    display: block;
    width: 405px;
    height: 515px;
    margin: 0;
    padding: 0;
}

.imageZoom{
    position: absolute;
    right: 0;
    padding: 14px 20px 10px;
    border: 1px solid #F2F2F2;
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    border-radius: 5px; /* CSS3 */
}
.prodThumbs {
    width: 50px;
    /* height: 50px;
    float: right;
    margin: 0 0 30px 0;*/
    position: absolute;
    right: 0; 
    top: 80px;
    padding: 20px 10px;
    border: 1px solid #F2F2F2;
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    border-radius: 5px; /* CSS3 */
}
.prodImageSmall {
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    padding: 10px 0 10px;
    border-bottom: 1px solid #D9D9D9;
    /* float: left; */
}
.prodImageSmall.first{
    padding: 0 0 10px;
}
.prodImageSmall.last{
    padding: 10px 0 0;
    border: 0;
}

.prodText {
    width: 269px;
}
table#basket {
    width: 715px;
    _width: 726px;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table#basketTotals {
    width: 469px;
    _width: 436px;
    border-collapse: collapse;
    display: none;
}

#basket th {
    font-weight: normal;
    font-size: 11px;
    padding: 5px;
    border-bottom: dotted 1px #ccc;
}

#basket td {
    font-size: 11px;
    padding: 0;
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px dotted #ccc;
}

.basketQty {
    width: 60px;
    text-align: center;
}
.basketQty input {
    text-align: center;
}

.basketOpt {

}

tr.total td {
    font-weight: bold;
}

.basketTotalLabel {
    text-align: right;
}
.total.saved td.basketTotalLabel,
.total.saved td.basketTotal{
    font-weight: normal;
    font-style: italic;
}
.basketTotal {
    text-align: center;
    padding: 6px 5px 5px 5px;
}

.basketItem {
    text-align: left;
}

.basketPrice {
    text-align: center;
}

#basketOptions {
    margin: 20px 0 0 0;
}

#basketOptions p {
    font-size: 11px !important;
}

.basketInner h3 {
    margin: 0 0 15px 0 !important;
}

#checkoutStages {
    /* float: right;
    width: 469px;
    _width: 600px; */
    position: absolute;
    top: 0;
    right: 0;
}

#checkoutStages ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

#checkoutStages li {
    float: left;
    display: block;
    _display: inline;
    color: #e51937;
    font-size: 16px;
    text-align: center;
    /* background: #a7b3be; */
    /* margin: 0 0 0 2px; */
    padding: 15px;
    border-left: 1px solid #d3d3d3;
}

#checkoutStages li.highlightStage {
    float: left;
    display: block;
    _display: inline;
    color: #000;
    background: url(/modules/Admin/Public/img/lf/checkoutActiveStage.png) no-repeat 0 0;
    font-weight: bold;
    /*font-size: 21px;
    background: #111111;
    margin: 0 0 0 2px; */
}

.checkoutDonations {
    padding: 15px 20px 5px 20px;
    display: block;
    float: left;
    width: 643px;
    margin: 0 0 15px 0;
    border: solid 2px #111111;
}

#basketButtonsLeft {
    float: left;
    width: 300px;
    margin: 0 0 20px 0;
}

#basketButtonsRight {
    float: right;
    text-align: right;
    width: 300px;
    margin: 0 0 20px 0;
    _padding: 5px 50px 0 0;
}

.infoBanner {
    margin: 10px 0 0 0;
    padding: 30px 0 0 0;
    border-top: solid 1px #ccc;
    float: left;
    width: 100%;
}

.address table#accountAddresses {
    width: 785px;
    border-collapse: collapse;
}

table#accountAddresses {
    width: 469px;
    border-collapse: collapse;
}

#accountAddresses th {
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    border-bottom: dotted 1px #ccc;
}

#accountAddresses td {
    font-size: 11px;
    padding: 0;
    padding: 5px;
    vertical-align: middle;
}

#accountAddresses th.option {
    text-align: center;
}

#accountAddresses td.option {
    font-size: 11px;
    padding: 0;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    width: 75px;
}
#languageSwitcher td{
    /* border-bottom: 1px dotted #888;
    padding: 15px 0; */
}
#languageSwitcher td.last{
    border: 0;
}
#languageSwitcher td.inputButton{
    width: 10px;
}



#galleryOuter {
    width: 967px;
    height: 388px;
    overflow: hidden;
    background: #fff;
    position:relative;
}
#galleryOverlay {
    position: absolute;
    left: 0;
    top:0;
    width: 964px;
    height: 550px;
    z-index: 200;
    _display: none;
    display: none;
}
#galleryImage{
    position: realative;
}
#galleryImage .arrow-left{
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 999;
}
#galleryImage .arrow-right{
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: 999;
}

#slider {

    /* You MUST specify the width and height */
    width:964px;
    height:550px;
    position:relative;
    overflow:hidden;
}

#mask-gallery {

    overflow:hidden;
}

#homeGallery {

    /* Clear the list style */
    list-style:none;
    margin:0 !important;
    padding:0 !important;

    z-index:0;
    position: relative;

    /* width = total items multiply with #mask gallery width */
    /* width:3080px; */
    overflow:hidden;
}

#homeGallery li {


    /* float left, so that the items are arrangged horizontally */
    float:left;
    padding: 0 !important;
    margin: 0 !important;
}


#mask-excerpt {

    /* Set the position */
    position:absolute;
    top:0;
    right:0;
    z-index:500;
    /* width should be lesser than #slider width */
    width:750px;
    overflow:hidden;

}

#excerpt {
    /* Opacity setting for different browsers */
    /*filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;*/

    /* Clear the list style */
    list-style:none;
    margin:0;
    padding:0;

    /* Set the position */
    z-index:300;
    position:absolute;
    top:0;
    left:0;

    /* Set the style */
    width: 750px;
    overflow:hidden;
}

#excerpt li {
    text-align: right;
    font-family:arial;
    font-size:18px;
    letter-spacing: -0.5px;
    color:#fff;
    padding: 150px 0 0 0;
}

#excerpt li span {
    background: #164f5d;
    padding: 10px 25px 10px 17px;
    line-height: 48px;
}



.clear {
    clear:both;
}


.errorLarge {
    color: #FF0000 !important;
    display: block;
    font-size: 20px;
    margin: 4px 0 2px 0;
}

.note2 {
    font-size: 9px;
    /*    color:##77787B !important;*/

}

span.catBlockButton span.note {
    font-size: 9px;
    color:#77787B;
}

.slider-wrapper {background-color:#FFF; margin-top:20px; position:relative; clear:left; padding-bottom:10px;}
#right-col h3.latest-slider { padding:10px 10px 6px; margin:10px 0px; background: url(../images/bgNavCatDivider.gif) no-repeat bottom center;}

ul.product-slider {position:relative; width:218px; margin: 20px 0px 0px; padding:0px; height:200px;}
ul.product-slider li {height:200px;}
ul.product-slider li a img {padding:0px 32px; width:154px;}
ul.product-slider li a {color: #6e3484; height:185px; display:inline-block;}

#carousel_previous, #carousel_next {position:absolute; z-index:1000; top:60px; width:25px; height:55px; display:block; }
#carousel_previous {background-image:url(http://www.in-form-hosting.com/images/bucks/brands/left.png); left:0px;}
#carousel_next {  background-image:url(http://www.in-form-hosting.com/images/bucks/brands/right.png); right:0px;}

ul.top-five {background: url(/modules/Admin/Public/img/lf/bgNavCatDividergrey.gif) no-repeat top center; padding:4px 6px 0px; margin:0px; list-style:none; font-size:12px;}
ul.top-five li {background: url(/modules/Admin/Public/img/lf/bgNavCatDividergrey.gif) no-repeat bottom center; padding:6px 0px 10px 14px;}
ul.top-five a {color:#888; display:block;}

.imghold {position:absolute; right:14px; height:24px; margin-top:-4px; width:24px;}
.imghold img {width:24px; height:24px; border:0px;}

.surveyBtn {
    display: block;
    margin: 15px auto 0;
    width: 200px;
}

#mainCol h2.journeyH2 {
    background: #3f3f3f;
    color: #fefefe;
    font-size: 18px;
    line-height: 28px;
    padding: 0 10px;
}

#mainCol span.journeyH1 {
    color: #ed1c2e;
    font-style: italic;
    font-weight: bold;
}

#mainCol .journey p {
    color: #000;
    margin: 0;
    padding: 0 0 12px;
}

#mainCol ul.journeyBenefits {
    background: url('/modules/Admin/Public/img/lf/benefits.jpg') right 0 no-repeat;
    border-bottom: 1px dotted #ccc;
    margin: 0 0 20px;
    padding: 0 0 12px 15px;
}

#mainCol ul.journeyBenefits li {
    color: #6a6a6a;
    font-size: 12px;
    margin: 0;
    padding: 0 0 6px;
    vertical-align: top;
    width: 245px;
}

#mainCol ul.journeyContents {
    background: url('/modules/Admin/Public/img/lf/journey.jpg') right 0 no-repeat;
    border-bottom: 1px dotted #ccc;
    height: 170px;
    line-height: 100%;
    margin: 0 0 20px;
    padding: 0 0 12px 15px;
}

#mainCol ul.journeyContents li {
    color: #6a6a6a;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.dbStyling p,
.dbStyling ul {
    padding-bottom: 12px !important;
}

.dualBrandingQuoteForm {
    padding: 12px 0 24px;
}

.dualBrandingQuoteForm input.button {
    background: url('/modules/Admin/Public/img/lf/bgBtnGreen.jpg') 0 100% repeat-x;
}

.dualBrandingQuoteForm input.file {
    border: solid 1px #ccc;
    margin: 5px 10px 0 0;
    padding: 4px;
    width: 221px;
}

.dualBrandingQuoteForm input.text {
    margin: 5px 10px 0 0;
    width: 121px;
}

.dualBrandingQuoteForm label {
    font-size: 12px;
    vertical-align: top;
}

.dualBrandingQuoteForm p {
    color: #020000 !important;
    margin: 0 !important;
    padding: 24px 0 0 !important;
}

.dualBrandingQuoteForm p.error {
    color: #ff0000 !important;
    font-size: 11px;
}

.dualBrandingQuoteForm select.text {
    border: solid 1px #ccc;
    margin: 5px 10px 0 0;
    padding: 4px;
    width: 471px;
}

.dualBrandingQuoteForm textarea {
    border: solid 1px #ccc;
    height: 50px;
    margin: 5px 10px 0 0;
    padding: 4px;
    vertical-align: top;
    width: 461px;
}

.dualBrandingQuoteForm .options {
    display: inline-block;
    margin: 0 0 0 10px;
}

p.right {
    text-align: right;
}

.widgetLink {
    margin: 6px 0 0;
}

ul.inliner {
    border-bottom: #d7d7d7 2px solid;
    border-top: #d7d7d7 2px solid;
    float: left;
    margin: 0;
    padding: 0 !important;
    width: 469px;
}

ul.inliner li {
    display: block;
    float: left;
    list-style: circle inside;
    margin: 0 !important;
    padding: 0 13px;
}

#dbGallery {
    /* Clear the list style */
    height: 255px !important;
    list-style:none;
    margin:0 !important;
    padding:0 !important;

    z-index:0;

    /* width = total items multiply with #mask gallery width */
    width:3080px;
    overflow:hidden;
}

#dbGallery li {
    /* float left, so that the items are arrangged horizontally */
    float:left;
    padding: 0 !important;
    margin: 0 !important;
}

.constrainer {
    height: 100px;
    margin: 5px 10px 0 0;
    overflow: scroll;
    overflow: -moz-scrollbars-vertical !important;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.constrainer label input {
    vertical-align: top;
}

#socialButtons {
    float: left;
    margin: 0;
    padding: 12px 0 6px;
}

#socialButtons img {
    float: left;
    margin: 0 10px 0 0;
}

.rotationalBanners {
    height: 67px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.rotationalBanners li {
    background: #000;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.rotationalBanners li img {
    background: #000;
}

.featuredBlock{
    float: left;
    display: block;
    position: relative;
}
.featuredBlock.twoCols{
    padding: 0 30px;
    width: 430px;
}
.featuredBlock.right{
    float: right;
    width: 480px;
}
.featuredBlock.fourCols{
    width: 235px;
    text-align: center;
    height: 310px;
}
.featuredBlock .title{
    text-align: left;
    margin: 17px 45px 0;
}
#mainCol .featuredBlock.first {
    height: 670px;
    width: 500px;
    background: url(/modules/Admin/Public/img/lf/lineRightLong.png) no-repeat right 0;
}
#mainCol .featuredBlock.first .img .linkLine{
    position: absolute;
    z-index: 100;
    top: 128px;
    right: 176px;
    display: none;
}
#mainCol .featuredBlock.first .img .imgtext{
    position: absolute;
    top: 116px;
    right: 67px;
    color: #7A7B7D;
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
    width: 110px;
    display: none;
}
#mainCol .featuredBlock.first .img .facility{
    position: absolute;
    bottom: 50px;
    left: 70px;
}
#mainCol .featuredBlock.oneCol {
    background: url(/modules/Admin/Public/img/lf/line-bottom.jpg) no-repeat 30px bottom;
    height: 280px;
    margin-bottom: 20px;
}
#mainCol .featuredBlock.oneCol .title{
    width: 180px;
    float: left;
}
#mainCol .featuredBlock.oneCol .desc{
    width: 180px;
    float: left;
    clear: left;
}
#mainCol .featuredBlock.oneCol .img{
    position: absolute;
    right: 60px;
    top: 17px;
}
#mainCol .featuredBlock .desc{
    text-align: left;
    margin: 0 45px;
}
#mainCol .featuredBlock .desc p,
#mainCol .featuredBlock .desc p a{
    font-weight: bold;
    color: #8E8E8E;
}
.featuredBlock.lineRight{
    background: url("/modules/Admin/Public/img/lf/lineRight.png") no-repeat right 0;
}
hr,
hr.altline{
    background: url("/modules/Admin/Public/img/lf/altbreak.jpg") no-repeat 0 10px !important;
    display: block;
    width: 844px;
    height: 28px;
    margin: 10px 60px;
    border: 0 none !important;
    clear: both;
}
#footerInner ul.footerLinks{
    float: left;
    width: 150px;
    padding-left: 170px;
    padding-top: 20px;
    list-style-type: none;
}
#footerInner ul.footerLinks li.title{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
#footerInner ul.footerLinks li{
    list-style-type: none;
}
#footerInner ul.footerLinks li a{
    text-decoration: underline;
}
#footerInner ul.footerLinks li,
#footerInner ul.footerLinks li a{
    color: #77787b;
    font-size: 11px;
}
#searchBox{
    position: relative;
}
#searchBox .btnSubmit{
    position: absolute;
    right: 10px;
    top: 5px;
}
#mainCol.oneCol{
    width: 1025px;
}
.roundedCorners{
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Google Chrome */
    border-radius: 8px; /* CSS3 */
    border: 1px solid #D3D3D3;
    padding: 20px;
}
.basket #mainColInner{
    margin: 0 110px 20px;
}
.login #mainColInner,
.reset-password #mainColInner,
.address #mainColInner{
    margin: 0 70px 20px;
    width: 840px;
}
.incorrect-login #mainColInner,
.retrieve-login #mainColInner,
.register #mainColInner,
.contact #mainColInner{
    width: 440px;
    margin: 0 270px 20px;
}
.account #mainCol h1,
.account #mainCol h3{
    width: auto;
    margin-left: 230px;
}
.account #accountDetails{
    background: url(/images/2012/seperator2.png) no-repeat 260px 0;
}
.account #accountDetails .balance{
    line-height: 30px;
}
.account #accountDetails,
.account #yourOrders,
.account #languageSwitch{

    width: 475px;
    float: left;
    margin: 0 230px 20px;

}
.account #accountDetails .resetPass{
    padding-right: 160px;
    float: left;
}
.account #accountDetails p{
    float: left;
    margin: 0;
}

.help #mainColInner{
    width: 440px;
    margin: 0 270px 20px;
}
#mainColInner .questionSection{
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari, Google Chrome */
    border-radius: 8px; /* CSS3 */
    /* Box Shadow */
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    padding: 20px 20px 0;
    margin-bottom: 20px;
}
#mainColInner #register{
    float: left;
    width: 360px;
}
#mainColInner #register p{
    font-weight: bold;
}
#mainColInner #login{
    float: right;
    width: 400px;
}
#featuredProducts{
    clear: both;
    width: 890px;
    margin: 0 50px;
    float: left;
}
#featuredProducts h1{
    margin: 0; 
    padding: 0 0 10px;
}
#featuredProducts .catBlock{
    width: 212px;
}
#loginForm input.text{
    width: 100%;
}
.basketInner .roundedCorners{
    position: relative;
}
#mainCol p strong.label{
    float: left;
    width: 150px;
    margin-right: 10px;
}
.floatLeft{
    float: left;
}
.proceedButton{
    margin-top: 36px;
}
.basket .promoCode{
    float: left;
    width: 335px;
}
.basket .voucher{
    float: right;
    width: 335px;
}
.basket .paypal{
    float: left; 
    width: 335px;
}
.basket #registerForm{
    float: right;
    width: 335px;
}
.lighterText{
    color: #cfcfce !important;
}
.headingText{
    font-size: 24px;
    color: #000;
    font-family: 'Conv_UniversLTStd-BoldObl';
    text-transform: uppercase;
    font-weight: bold;
    color: #636466;
}
#enterPortal{
    position: absolute;
    right: 135px;
    top: 60px;
}
#homeGalleryArea{
    position: relative;
}
#homeGalleryArea #textOverlay{
    position: absolute;
    top: 55px;
    left: 50px;
    z-index: 1000;
}
#homeGalleryArea #textOverlay h2{
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 60px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 65px;
    margin: 0 0 3px;
}
#homeGalleryArea #textOverlay p{
    margin-left: 10px;
}
#homeGalleryArea #textOverlay p,
#homeGalleryArea #textOverlay h2{
    color: #FFF;
}
.darkgreyTextHome,
.greyTextHome {
    font-family: 'Conv_UniversLTStd-Cn';
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    font-size: 34px;
    line-height: 30px;
    font-weight: bolder;
    letter-spacing: -2px;
}
.darkgreyTextHome{
    color: #7A7B7D;
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
.greyTextHome{
    color: #CDCDCD;
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0;
    text-transform: uppercase;
}
.redBtnNew{
    height: 16px;
    padding: 5px 35px 5px 10px;
    bottom:15px;
    float: left;
    display: block;
    /* background: url(/images/2012/btnRed.png) no-repeat 0 0; */
    background: url(/modules/Admin/Public/img/lf/bgRedButton.png) repeat-x scroll 0 0 transparent;
    color: #FFF !important;
    text-transform: lowercase;
    /* font-weight: bold; */
    font-size: 12px;
    behavior: url(/styles/PIE.htc);/*IE fix for: border-radius, box-shadow, border-image, multiple background images, linear-gradient as background image*/
    /* Rounded Corners */
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Google Chrome */
    border-radius: 7px; /* CSS3 */
    position: relative;
}
.redBtnNew img{
    position: absolute;
    right: 10px;
    top: 4px;
}
#comingSoonWrapper{ position: absolute; bottom: 350px; left: -11px; z-index: 100; }
.en{
    position:relative;
}

.nl{
    position:relative;
    top:30px;
}

.es{
    position:relative;
    top:45px;
}

.it{
    position:relative;
}

.fr{
    position:relative;
    top:45px;
}

.de{
    position:relative;
    top:35px;
    left:14px;
}
#languageSwitcher #userLang{ padding: 10px; width: 475px; }
#checkoutDetails input{ width: 80%; }
.prodSizes{ margin-bottom: 20px; }
#registerForm,
#addressForm{ padding-bottom: 20px; }
#colourways{display:none; color: #CE0404;
            float: left;
            position: absolute;
            font-size: 12px;
            height: 31px;
            line-height: 100%;
            padding: 0;
            text-align: center;
            width: 149px;
            margin-top: 5px;
            top: 220px;
            left: 17px;}
.consumerPrice{ padding-top: 3px; display: block; }
.colourway{ width: 100px; height: 100px; float: left; }
.userSelect{ font-size: 11px; text-decoration: underline; }
#mainCol a.userSelect{font-size: 20px;margin-bottom: 10px;display: block;}
.colourwayWrapper{ position: absolute; left: 50px; bottom: 0; width: 300px; height: 130px; overflow: hidden; padding: 0 10px; }
.colourwayInner{ width: 300px; }
/* .colourwayInner a.arrows{ display: block; height: 120px; width: 10px; float: left; } */
.arrow.left { position: absolute; left: 0; padding-top: 50px; height: 80px; z-index: 999; }
.arrow.right { position: absolute; right: 0; padding-top: 50px; height: 80px; z-index: 999; }
#colWaySelect { padding: 2px; }
.cwayDropdown{color: #969DA4;
              padding-top: 22px;
              font-size: 12px;
              position: absolute;
              height: 136px;
              top: 0px;
              z-index: 0;
              background-color: white;
              float: left;
              overflow: hidden;
              text-align: left;
              display: none;}
.coloursIcon{cursor: pointer;
             position: absolute;
             top: -15px;
             left: -20px;
             height: 60px;
             width: 60px;
             opacity: 0.7;
             z-index: 10;}
.superIcon{position: absolute;
           top: 22px;
           left: 21px;}
.colourwayBox{/* background: black; */
    display: block;
    width: 20px;
    float: left;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 2px solid #E4E4E4;}
.colouwayColour{/* background: black; */
    display: block;
    width: 20px;
    float: left;
    height: 20px; 
}
.colouwayColour.colour1Alt {/* background: black; */
    width: 20px;
    height: 10px;
    float: left;
}
.colouwayColour.colour2 {/* background: black; */
    width: 20px;
    height: 10px;
    float: left;
}

.trending img {
    max-width: 90px !important;
    max-height: 90px !important;
    float: left;
    margin: 0px 25px 35px 30px;
    bottom: 40px;
    position: relative;
    left: 0px;
    display: block;
}

/* ----------- Left category styling --------------   */

#leftCat li a{
    font-size: 11px;
    color: #666;
}

#prodImageWrapper {
    border: 1px solid #ececec;
}
#prodImageWrapper img{
    width: 400px;
    height: 400px;
    margin: auto; 
    display: block;
}

#prodInfo {
    margin-top: 10px;
}

/* -------------------------------- Buttons ---------------------------------- */

.btnBasket {
    background: url("../img/buttonArrow.png") no-repeat scroll 94% 4px transparent;
}

.input-smallest {
    width: 35px;
}

.no-border td {
    border: none;
}
#prodOptionsTable td:not-last-child {
    padding: 5px;
}

/* ----------------------- Custom LF classes ----------------------------- */



/* ----------------------- Custom LF ID's' ----------------------------- */

#top-navbar {
    background: url('/modules/Admin/Public/img/lf/bg-nav.png') repeat-x bottom left;
}

/* ----------------------- Custom media queries ----------------------------- */

@media (max-width: 1200px) {
    #footer {background-size: 930px 199px;}
}

@media (max-width: 980px) {
    #footer {background-size: 700px 199px;}
}

@media (max-width: 767px) {
    #wrapper1 {background: none;}
    #wrapper2 {background: none;}
    #footer {background: none; background-color: #ececec;}

}



/*****COLOURWAY STYLING*****/
.colourway-thumbnail-select img{
    width: 80px;
}

.colourway-select {
    float: left;
    margin: 3px;
    width: 1.5em; 
    height: 1.5em; 
    border: 2px solid #999;
    -webkit-border-radius: 1.3em; 
    -moz-border-radius: 1.3em;
    border-radius: 1.3em;
}

.colourway-product-select {
    float: left;
    margin: 3px;
    width: 20px; 
    height: 20px; 
    border: 1px solid #999;
}

.prodImage{
    width: 400px; 
    height: 400px;
    margin: auto; 
    display: block;
}

.black-tick{
    background: url('/modules/Admin/Public/img/blacktick.png') 6px 7px no-repeat;
}

.white-tick{
    background: url('/modules/Admin/Public/img/whitetick.png') 6px 7px no-repeat;
}
/******END OF COLOURWAY STYLING********/

#added-product-popup{
    background: #fff;
    width: 250px;
    position: fixed; 
    margin: -110px 0 0 850px;
    padding: 20px;
    -moz-box-shadow:    3px 3px 5px 6px #999;
    -webkit-box-shadow: 3px 3px 5px 6px #999;
    box-shadow:         3px 3px 5px 6px #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

#featuredBlockLeft{
    background: url('/modules/Admin/Public/img/lf/lineRightLong.png')
        no-repeat scroll right 0px transparent;
}

#featuredBlockLeftHeader .title{
    margin: 17px 20px 0px;
}

#featuredBlockLeftContent{
    padding:20px;
}

#featuredBlockRightTop{
    background: url('/modules/Admin/Public/img/lf/line-bottom.jpg') no-repeat scroll 0px bottom transparent;
}

#featuredBlockRightTop .title{
    margin: 17px 20px 0px;
    width:50%;
    float:left;
}

.title{
    margin: 17px 20px 0px;
    width:100%;
    float:left;

}
#featuredBlockRightBottomLeft{
    background: url('/modules/Admin/Public/img/lf/lineRight.png') no-repeat scroll right 0px transparent;
    }
    
    


.redBtnNew {
    height: 16px;
    float: left;
    display: block;
    background: url('/modules/Admin/Public/img/lf/bgRedButton.png') repeat-x scroll 0px 0px transparent;
    color: rgb(255, 255, 255) !important;
    font-family: 'Conv_UniversLTStd-Cn';
    text-transform: lowercase;
    font-size: 12px;
    border-radius: 7px 7px 7px 7px;
    position: relative;
    margin: 15px 0px 15px 0px;
}
