<?php
if ($this->user->getBillingAddress()) {
    $billingAddress = $this->user->getBillingAddress();
    $billingCountry = $billingAddress->getCountry();
}
if ($this->user->getDeliveryAddress()) {
    $deliveryAddress = $this->user->getDeliveryAddress();
    $deliveryCountry = $deliveryAddress->getCountry();
}
?>

<style>
    .borderless{
        border: none;
        text-align: left;
        background: #F7F7F7;
    }
</style>
<div class="main-wrapper">
<div id="push"></div>

<div class="tabbable">
<ul>
    <li><a href="#pane1" data-toggle="tab">Account Details</a></li>
    <li><a href="#pane2" data-toggle="tab">My Orders</a></li>
    <li><a href="#pane3" data-toggle="tab">Account Settings</a></li>
    <li><a href="#pane4" data-toggle="tab">Address Settings</a></li>
</ul>
<div class="tab-content">
<div id="pane1" class="tab-pane">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Name</th>
            <td><?php echo $this->user->getForename() . ' ' . $this->user->getSurname(); ?></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><?php echo $this->user->getEmail(); ?></td>
        </tr>
        <tr rowspan="5">
            <th>Billing Address</th>
            <?php
            if ($billingAddress) :
            ?>
            <td>
                <?php echo $billingAddress->getLineOne(); ?>
                <br/><?php echo $billingAddress->getLineTwo(); ?>
                <br/><?php echo $billingAddress->getCity(); ?>
                <br/><?php echo $billingCountry->getCountry(); ?>
            </td>
        </tr>
        <?php else: ?>

            <td>No billing Address set up</td>
            <td><a href="" class="btn btn-primary">Add Address <i class="fa fa-plus-circle"></i></td>

        <?php
        endif; ?>
        </tr>
        <tr rowspan="5">
            <th>Delivery Address</th>
            <?php
            if ($deliveryAddress) :
                ?>
                <td>
                    <?php echo $deliveryAddress->getLineOne(); ?>
                    <br/><?php echo $deliveryAddress->getLineTwo(); ?>
                    <br/><?php echo $deliveryAddress->getCity(); ?>
                    <br/><?php echo $deliveryCountry->getCountry(); ?>
                </td>
            <?php else: ?>

                <td>No delivery Address set up</td>
                <td><a href="" class="btn btn-primary">Add Address <i class="fa fa-plus-circle"></i></td>

            <?php endif; ?>
        </tr>
        <tr rowspan="5">
            <th>Currency</th>
            <td>
                (<?php // echo htmlspecialchars_decode($this->currency->getCurrencySymbol()) ?>)
                <?php // echo $this->currency->getCurrency(); ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="pane2" class="tab-pane">
    <?php if ($this->myOrders) : ?>
        <table class="table">
            <thead>
            <tr>
                <th>Order Date</th>
                <th>Order Number</th>
                <th>Items Total</th>
                <th>VAT</th>
                <th>Delivery Charge</th>
                <th>Order Total</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach ($this->myOrders as $order):
                $date = date('d-m-Y', strtotime($order->getDateOrdered()));
                ?>
                <tr id="<?php echo $order->getId(); ?>">
                    <td><?php echo $date; ?></td>
                    <td><?php echo $order->getOrderNumber(); ?></td>
                    <td><?php echo $order->getItemsTotal(); ?></td>
                    <td><?php echo $order->getVatCharge(); ?></td>
                    <td><?php echo $order->getDeliveryCharge(); ?></td>
                    <td><?php echo $order->getOrderTotal(); ?></td>
                    <td><?php echo $order->getStatus(); ?></td>
                    <td>
                        <a href="#" id="order-expand-<?php echo $order->getId(); ?>"
                           class="order-expand" alt="Show Order Details" title="Show Order Details">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </td>
                </tr>
                <?php
                if($order->getOrderParts()):
                    foreach ($order->getOrderParts() as $orderPart): ?>
                        <tr class="order-hidden order-part-<?php echo $order->getId(); ?>" >
                            <td colspan="15" class="borderless">
                                <div class="slide-me">
                                    <?php
                                    $userModel = new Core_User_Models_User();
                                    $userId = $order->getUserId();
                                    $user = $userModel->findById($userId);?>
                                    <h3><?php echo $order->getOrderNumber(); ?></h3>
                                    <b>Billing Address</b>
                                    <?php
                                    echo $user->getBillingAddress()->getLineOne() .' '.$user->getBillingAddress()->getLineTwo() . ', ' .
                                        $user->getBillingAddress()->getCity() . ', ' . $user->getBillingAddress()->getCountry()->getCountry(); ?><br/>
                                    <b>Delivery Address</b>
                                    <?php
                                    echo $user->getDeliveryAddress()->getLineOne() .' '.$user->getDeliveryAddress()->getLineTwo() . ', ' .
                                        $user->getDeliveryAddress()->getCity() . ', ' . $user->getDeliveryAddress()->getCountry()->getCountry(); ?><br/>
                                    <table>
                                        <?php
                                        if($order->getOrderParts()):?>
                                            <tr>
                                                <th>Product</th>
                                                <th>Qty</th>
                                                <th>Unit Price</th>
                                                <th>Line Total</th>
                                            </tr>
                                            <?php
                                            foreach ($order->getOrderParts() as $orderPart):
                                                ?>
                                                <tr>
                                                    <td><?php echo $orderPart->getPartStockDetails()->product; ?></td>
                                                    <td><?php echo $orderPart->getQuantity(); ?></td>
                                                    <td><?php echo $orderPart->getPrice(); ?></td>
                                                    <td><?php echo $orderPart->getLineTotal(); ?></td>
                                                </tr>
                                            <?php
                                            endforeach;
                                            ?>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Items Total</td>
                                                <td><?php echo $order->getItemsTotal(); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Delivery</td>
                                                <td><?php echo $order->getDeliveryCharge(); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>VAT</td>
                                                <td><?php echo $order->getVATCharge(); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Order Total</td>
                                                <td><?php echo $order->getOrderTotal(); ?></td>
                                            </tr>
                                        <?php
                                        endif;
                                        ?>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    <?php
                    endforeach;
                endif;
            endforeach;
            ?>
            </tbody>
        </table>

    <?php else: ?>
        <p>You currently don't have any placed orders.</p>
    <?php endif; ?>
</div>

<div id="pane3" class="tab-pane">

    <h4>Change Preferred Currency</h4>
    <?php if (isset($this->changeCurrencyForm)) : ?>
        <?php echo $this->changeCurrencyFeedback; ?>
        <?php echo $this->changeCurrencyForm; ?>
    <?php endif; ?>
</div>

<div id="pane4" class="tab-pane">


    <div class='span6'>
        <h4>Billing Address</h4>
        <?php
        if ($billingAddress) :
            ?>
            <p><?php echo $billingAddress->getLineOne(); ?></p>
            <p><?php echo $billingAddress->getLineTwo(); ?></p>
            <p><?php echo $billingAddress->getCity(); ?></p>
            <p><?php echo $billingCountry->getCountry(); ?></p>
            <a href="" class='btn btn-primary'>Change Billing Address <i class="fa fa-edit"></i></a>
        <?php else: ?>
            <p>No Billing Address</p>
            <button class='btn btn-primary'> Add Address<i class="fa fa-plus-circle"></i></button>
            <button class='btn btn-primary'> Add<i class="fa fa-plus-circle"></i></button>

        <?php endif; ?>
    </div>

    <div class='span6'>
        <h4>Delivery Address</h4>
        <?php
        if ($deliveryAddress) :
            ?>
            <p> <?php echo $deliveryAddress->getLineOne(); ?></p>
            <p><?php echo $deliveryAddress->getLineTwo(); ?></p>
            <p><?php echo $deliveryAddress->getCity(); ?></p>
            <p><?php echo $deliveryCountry->getCountry(); ?></p>

            <button class='btn btn-primary'>Change Delivery Address <i class="fa fa-edit"></i> </button>
        <?php else: ?>

            <p>No Delivery Address</p>
            <button class='btn btn-primary'>Add Address <i class="fa fa-plus-circle"></i></button>
            <button class='btn btn-primary'>Add <i class="fa fa-plus-circle"></i></button>

        <?php endif; ?>
    </div>

</div>
<!-- /.tab-content -->
</div>
<!-- /.tabbable -->
</div>
</div>

