<?php /* @var $this User_Views_View */ ?>
<?php $user = $this->getContent('user'); ?>

<div class="container">
	<h2 class=""><?php echo $this->getContent('form_title'); ?>: <?php echo $user['forename'], ' ', $user['surname'] ?></h2>
	<?php if($this->getContent('update_status')) : ?>
	<div class="alert <?php echo $this->getContent('update_status') ? "alert-success" : "alert-error" ?>"><?php echo $this->getContent('update_message'); ?></div>
	<?php endif ?>
	<div class="row">
		<div class="span5">
			<h3>Edit user details: </h3>
			<?php echo $this->getContent('form_errors'); ?>
			<?php echo $this->getContent('form'); ?>
		</div>
		<div class="span5">
			<h3>User information</h3>
			<h4>User type</h4>
			<p><?php echo $user['user_type_name'] ?></p>
			<h4>User group</h4>
			<p><?php echo $user['user_group_name'] ?></p>
			<h4>Company</h4>
			<p><?php echo $user['company_name'] ?></p>
			<h3>User address</h3>
			<p>
			<?php foreach($this->getContent('address') as $line) : ?>
				<?php echo $line ?><br />
			<?php endforeach; ?>
			</p>
			<p><a href="/admin/address/edit/index/id/<?php echo $user['user_id'] ?>" title="Edit this address" class="btn btn-primary">Edit address</a></p>
		</div>
	</div>

	<p>Return to <a href="/admin/user/" title="View all users">Users</a></p>

	<div id="push"></div>
</div>
