<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <?php
    echo $this->headTitle();

    //meta data
    echo $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8')
        ->appendName('robots', 'noindex, nofollow')
        ->appendName('description', '')
        ->appendName('keywords', '');

    //css
    echo $this->headLink()
//        ->appendStylesheet('/core/css/bootstrap.css')
        ->appendStylesheet('/core/css/reset.css')
        ->appendStylesheet('/core/css/normalize.css')
        ->appendStylesheet('/core/css/mediaqueries.css')
        ->appendStylesheet('/core/css/meanmenu.css')
        ->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css')
        ->appendStylesheet('/lifefitness/css/main.css');

    //javascript
    echo $this->headScript()->appendFile('http://code.jquery.com/jquery-1.10.1.min.js')
        ->appendFile('http://code.jquery.com/ui/1.10.3/jquery-ui.js')
        ->appendFile('/core/js/pikaday.js')
        ->appendFile('/core/js/jquery.localscroll-1.2.7-min.js')
        ->appendFile('/core/js/jquery.scrollTo-1.4.3.1-min.js')
        ->appendFile('/core/js/pikaday.jquery.js')
        ->appendFile('/core/js/moment.min.js')
        ->appendFile('/core/js/jquery.meanmenu.js')
//        ->appendFile('/core/js/bootstrap.min.js')
//        ->appendFile('/lifefitness/js/myLib.js')
//        ->appendFile('/lifefitness/js/main.js')
    ?>
    <!-- END OF JS -->
    <script>
        $(document).ready(function () {
            $('#top-nav').meanmenu();
        });
    </script>

</head>
<body>
<div id="main-container" class="main-container-effect">

<div id="header-basket">
    <nav>
        <ul>
            <li class="languages">

            </li>
            <li class="divider"></li>
                <li id="top-links" class="dropdown border-r">
                    <a href="#" class="account-dropdown-toggle" data-toggle="dropdown">
                       </a>
                    <ul class="account-dropdown">
                        <li>
                            <a href="/account/">
                                <h4>
                                </h4>
                            </a>
                        </li>
                        <li>
                            <a href="/logout/" title="User logout">
                                <h4>
                                </h4>
                            </a>
                        </li>
                    </ul>
                </li>


                <li id="login-account" class="nav">

                    <a href="/login/">
                    </a>

                </li>

            <li class="divider"></li>
            <li>
                <a href="/help/">
                </a>
            </li>
            <li class="divider"></li>
            <li id="basket">
                <ul>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div id="logo">
    <a href="/"><img src="/lifefitness/img/logo.jpg"></a>
</div>

<nav id="main-navbar">
    <ul class="nav">
        <li>
            <a href="/">
                <?php
                echo $this->languageSelected
                    ->getContent('home')
                    ->getContent();
                ?>
            </a>
        </li>
        <?php
        if (!empty($this->parentCategories)):
            foreach ($this->parentCategories as $parentCategory) :
                ?>
                <li>
                    <a href="<?php echo $this->categoryUrl . $parentCategory->getId(); ?>"> <?php echo $parentCategory->getNameByLanguage($this->languageSelected); ?></a>
                </li>
            <?php
            endforeach;
        endif;
        ?>
    </ul>

    <form role="search" method="post" action="/search">
        <div id="search-field" class="input-container pull-right">
            <input type="text" name="search" id="navbar-search" class="form-control" placeholder="Search"/><i
                class="fa fa-search navbar-search-i"></i>
        </div>
    </form>

</nav>

<!-- BREADCRUMBS -->

<ul id="breadcrumb" class="breadcrumb">
</ul>

<!-- Side Social --->
<div id="sideSocial">
    <map id="socialIcons" name="socialIcons">
        <area target="_blank" href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://wwww.lifefitness.com/"
              coords="0, 0, 30, 35" shape="rect" alt="Google +1"/>
        <area href="http://www.youtube.com/lifefitness" coords="0, 35, 30, 107" shape="rect" alt="Youtube"/>
        <area href="http://www.facebook.com/LifeFitness" coords="0, 107, 30, 146" shape="rect" alt="Facebook"/>
        <area href="http://www.twitter.com/lifefitness" coords="0, 146, 30, 183" shape="rect" alt="Twitter"/>
    </map>
    <img src="/lifefitness/img/sideSocial.jpg" alt="Social icons" usemap="#socialIcons"/>
</div>
<!-- end #sideSocial -->

<!-- MAIN CONTENT -->


<?php echo $this->content ?>


<!--add this to the class below -> class="bottom-border-effect" for drop shadow-->
<div id="content-bridge-footer">
</div>

</div>
<!-- END OF MAIN CONTENT -->
<!-- FOOTER CONTENT -->
<footer>
    <section class="footer-wrapper">
        <article id="links-footer" class="footer-article">
            <ul class="footerLinks">
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/help/">FAQs</a></li>
            </ul>
        </article>
        <article id="email-footer" class="footer-article">
            <ul class="footerLinks">
                <li class="title">Email Sign Up</li>
                <li><p>Be the first to know about new products and special offers. <br/><a href="/register/">Sign Up
                            Now</a></p></li>
            </ul>
        </article>
        <article id="vouchers-footer" class="footer-article">
            <ul class="footerLinks">
                <li class="title">Dual Branding</li>
                <li><p>We now offer dual branding on all of our clothing including our performance range as well as
                        merchandise and point of sale<br/><a href="/dualbranding/">Dual Branding</a></p></li>
            </ul>
        </article>

    </section>
    <div id="footer-copyright"><p>© 2014 Life Fitness | Built by Creative Emporium | Infinity Incorporated is the legal
            owner of Life Fitness E-Shop, Life Fitness promotional clothing and merchandise.</p></div>


</footer>

</div>
</div>
<!-- END OF FOOTER -->
</body>
</html>