
<div class="row-fluid">
   
    <div class="span10 offset1">
    
        <div class="pull-right">
            <span class="badge">1</span>
            <span class="badge">2</span>
            <span class="badge badge-important">3</span>
        </div>
        
        <h3>Order Success!</h3>
        <div class="row-fluid">
            <div class="span10">
                <div class="row-fluid">
                    <?php echo $this->successMessage; ?>
                    <br/><a class="btn" href ="/">Continue Shopping &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
