@charset "UTF-8";
/*
Theme Name: FITNESS-WP
Theme URI: http://themeforest.net/jonathan01
Description: Fitness-WP Wordpress
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0
Author: Jonathan Atkinson
Tags: fitness wordpress, themeforest fitness wordpress, jonathan, jonathan atkinson

USE THIS STYLE SHEET EXCLUSIVELY FOR FITNESS-WP WORDPRESS

Copyright 2012 - Jonathan Atkinson
*/


/*  START OF RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width:100%;
}

.clearbig {
    clear: both;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    width:100%;
}

#sb-nav a {
    border-bottom:none !important;
}

img {
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

body {
    font-weight:300;
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -webkit-text-stroke: 0.25px;
}

::selection {
    background: #000000; /* Safari */
    color: #000000;
    text-shadow:none !important;
}

::-moz-selection {
    background: #000000; /* Firefox */
    color: #000000;
    text-shadow:none !important;
}

img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    margin-top: 5px;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.wp-caption {
    text-align: center;
    margin: 10px 20px 20px 20px;
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
}

.wp-caption img,
.wp-caption img a {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption
.wp-caption-text {
    margin: 0;
    padding: 5px;
}

.gallery-caption {
    margin-left: 0;
}

.gallery-icon img {
    border:none !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

.ie7 .blog_wrapper {
    padding-top:1px;
}

audio,
canvas,
video {
    display: block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active {
    outline: 0;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    opacity: 1.0;
}

a img {
    opacity: 1.0;
    -moz-transition:opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
    -o-transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
    transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}

a img:hover {
    opacity: .65;
}

img.left {
    float:left;
    margin:0 20px 20px 0;
}

img.right {
    float:right;
    margin:0 20px 20px 0;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    color:#e7e7e7;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}

h1.dark {
    padding:20px 20px 0 20px;
    color:#e7e7e7 !important;
    font-size:30px !important;
    margin-bottom:0 !important;
}

.featured_text_fullpostspecial h1.dark {
    padding:0;
}

#message_center h1 {
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    color:#323232;
    line-height:1.6em;
    padding-top:5px;
    clear:none;
    text-shadow:0px 2px 0px #d4d4d4;
    text-align:center;
}

h1.light a, h1.light {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    color:#ffffff;
    line-height:1.6em;
    clear:none;
    text-decoration:none;
    text-align:left;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    margin-bottom:8px;
}

h1.light a:hover {
    text-decoration:none;
    color:#ffffff;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    color:#e7e7e7;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    color:#e7e7e7;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}


#right_content_wrapper h3, #content_left h3 {
    margin-bottom:20px;
}

h3 a {
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    color:#fff;
    line-height:1.6em;
    text-transform:uppercase;
    text-decoration:none;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

h3 a:hover {
    font-family: 'Oswald', sans-serif;
    font-size:22px;
    line-height:1.6em;
    text-transform:uppercase;
    text-decoration:none;
}

h4, #midsection2 .one_third_first h4, #midsection2 .one_third h4 {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    color:#323232;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}

#midsection .one_third_first h4, #midsection .one_third h4 {
    display:block;
    background-color:#323232;
    color:#ffffff;
    padding:15px 0 15px 20px;
    letter-spacing:1px;
}

h4 a {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    color:#323232;
    line-height:1.6em;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:none;
}

h4 a:hover {
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    line-height:1.6em;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:none;
}

#midsection hr {
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 0px;
    height: 25px;
}

#midsectionhr {
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 45px;
    height: 15px;
}

hr {
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 40px;
    height: 40px;
}

.ie7 hr, .ie7 .trainer_post hr {
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 45px;
    margin-top:45px;
    height: 1px !important;
}

.ie7 #midsection hr{
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 11px;
    margin-top:11px;
    height: 1px !important;
}

#right_content h5, #content_left h5 {
    font-family:'Muli', sans-serif;
    font-size:20px;
    color:#fff;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
    margin-bottom: 20px;
}


h5 {
    font-family: 'Oswald', sans-serif;
    font-size:16px;
    color:#323232;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}

h6 {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    color:#323232;
    line-height:1.6em;
    text-transform:uppercase;
    clear:both;
}

ul.events li h6 {
    clear:none;
}

h6 a {
    font-family: 'Muli',sans-serif;
    font-size:14px;
    color:#323232;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:none;
}

h6 a:hover {
    text-decoration:underline;
}

.homeclass a {
    font-family: 'Muli',sans-serif;
    font-size:14px;
    color:#323232;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:none;
    text-transform:uppercase;
}

.ie7 .homeclass a {
    font-weight:bold;
    display:inline-block;
    margin-top:-26px;
}

.ie7 .home_content_image a {
    display:block;
}

.ie7 img.lefthome {
    display:block;
    margin-top:-9px;
}

.homeclass a:hover {
    text-decoration:underline;
}

.comment_title {
    border:none;
    padding:20px;
    background-color:#323232;
    text-transform:uppercase;
    color:#ffffff;
    font-family:"Oswald", sans-serif;
    font-size:18px;
}

.comment_title a {
    font-family:"Oswald", sans-serif;
    font-size:18px;
    text-decoration:none;
}

.comment_title a:hover {
    font-family:"Oswald", sans-serif;
    font-size:18px;
    text-decoration:underline;
}

#footer_wrapper .one_half {
    margin-top:20px;
}

#footer_wrapper h6 {
    padding-bottom:20px;
    font-size:18px;
    color:#dddddd;
    font-family:'Muli', sans-serif;
}

p {
    font-family:Helvetica Neue, sans-serif;
    font-size:15px;
    color:#ababab;
    line-height:1.3em;
    margin-bottom:20px;
    margin-top:10px;
}

.home_content p, .home_content_bottom p {
    margin-top:0;
    font-size:14px;
    margin-bottom:14px;
}

.homeclass p {
    font-size:14px;
    margin-top:18px;
}

.home_content img, .home_content_bottom img {
    float:left;
    border:none;
    margin-bottom:25px;
    margin-right:15px;
}

#midsection img, #midsection2 img {
    -moz-box-shadow: 0 2px 0px #D4D4D4; /* Firefox */
    -webkit-box-shadow: 0 2px 0px #D4D4D4; /* Safari, Chrome */
    box-shadow: 0 2px 0px #D4D4D4; /* CSS3 */
}

#footer_wrapper p {
    font-size:12px;
    margin-bottom:10px;
    margin-right:24px;
    color:#ababab;
    margin-top:0;
}

.month {
    color:#572723;
    float:left;
    font-size:12px;
    margin-top:1px;
    margin-left:7px;
    text-transform:uppercase;
}

.day {
    color:#7f8084;
    float:left;
    clear:both;
    font-size:20px;
    margin-top:0px;
    margin-left:5px;
}

a {
    font-size:15px;
    font-family:Helvetica Neue, sans-serif;
    text-decoration:none;
}

a.more-link {
    font-size:10px;
    font-family: 'Muli',sans-serif;
    text-decoration:none;
}

a:hover, a:hover.more-link {
    text-decoration:underline;
}

a.small {
    font-size:10px;
    font-family:Helvetica Neue, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
}

a:hover.small {
    text-decoration:underline;
    text-transform:uppercase;
}

.homeclass {
    margin-top:15px;
}

.ie7 .homeclass {
    margin-top:-13px;
}

ul, ol {
    margin:0;
    padding:0;
}

ul li {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 2em;
    list-style: disc inside none;
}

ul.timetable li {
    display:block;
    width:100%;
    padding:22px 0 22px 0;
}

ul.timetable li.gray {
    list-style:none;
    line-height:1.2em;
    font-size:12px;
    float:left;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    background-color:#f6f6f6;
}

ul.timetable li.light {
    list-style:none;
    line-height:1.2em;
    font-size:12px;
    float:right;
    background-color:#ffffff;
}

.timeleft {
    float:left;
    padding-left:20px;
    color:#323232;
    width:25%;
}

.timeright {
    float:left;
    padding-right:20px;
    color:#7f8084;
}

ul li a, ol li a {
    font-family:Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    color:#7F8084;
    text-decoration:underline;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

ul li a:hover, ol li a:hover {
    font-family:Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    text-decoration:underline;
}

#footer_wrapper ul li {
    list-style:disc inside;
    color:#3d3d3d;
    font-size:12px;
    padding-bottom:10px;
}

#footer_wrapper ul li a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:underline;
    font-size:12px;
    color: #3d3d3d;
}

.copyright_message {
    clear: both;
    color:#7F8084;
    font-size:9px;
    padding-bottom:10px;
    font-family: 'Muli',sans-serif;
    padding-top: 5px;
}

.copyright_message a {
    font-size:9px !important;
}

.copyright_message a:hover {
    font-size:9px !important;
}

#footer_wrapper a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-decoration:none;
    font-size:12px;
}

#footer_wrapper ul li a:hover {
    font-size:12px;
    text-decoration:underline;
}

#footer_wrapper a:hover {
    font-size:12px;
    text-decoration:underline;
}

#right_content ul li, #content_left ul li, #right_content .tweet_join {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 2em;
    list-style: disc inside none;
}

#right_content p, #content_left p {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 12px;
    margin-bottom:10px;
}

#right_content a, #content_left a, #right_content a:hover, #content_left a:hover {
    font-size: 12px;
}

#right_content ul li a, #content_left ul li a {
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    font-size:12px;
}

#right_content ul li a:hover, #content_left ul li a:hover {
    font-size:12px;
    text-decoration:underline;
}

ol li {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 2em;
    list-style:decimal inside;
}

ul.icons li {
    list-style:none;
    float:left;
    margin-right:30px;
    padding-top:15px;
    display:block;
    line-height:1.2em;
}

ul.icons li:last-child {
    margin-right:0;
}

#bdywrapper {
    width:100%;
    background-position:center top;
    background-color:#000000;
    position:relative;
    z-index:3;
    background-image:url("http://www.fightscience.co.uk/wp-content/uploads/2013/11/chainlink-background.jpg");
    background-repeat:no-repeat;
    border-top:3px solid #000000;
}

#outer_wrapper {
    width:100%;
    height:195px;
    position:relative;
    z-index:9999;
}

#outer_footer_wrapper {
    width:100%;
    background-position:center top;
    background-color:#000000;
    min-height:285px;
    position:relative;
    z-index:9999;
    background-image:url("http://www.fightscience.co.uk/wp-content/uploads/2013/11/chainlink-rev.jpg");
    background-repeat:no-repeat;
}

#nav_wrapper {
    width:980px;
    margin:0 auto;
    height:148px;
}

#nav_wrapper .button {
    clear:both;
    float:right;
    margin-top:-38px;
}

.ie7 #nav_wrapper .button {
    clear:both;
    float:right;
    margin-top:-24px;
}

#info_box {
    font-family:'Muli', sans-serif;
    font-size:12px;
    float:right;
    margin-top:28px;
}

#top_logo {
    display:block;
    float:left;
    margin-top:27px;
    height:146px;
    margin-bottom:40px;
}

#main_section_home {
    position:relative;
    width:100%;
    float:left;
    margin-bottom:65px;
}


/* MENU STYLE */
header {
    width:100%;
}

#top {
    float:left;
    height:50px;
    width:100%;
    background-color:#000000;
}

header nav#topmenu {
    position:relative;
    float:left;
    height:50px;
    width:100%;
}

#topmenu_wrapper {
    width:980px;
    margin:0 auto;
}

.sf-menu, .sf-menu * {
    margin:0;
    padding:0;
    list-style:none;
}

.webkit .sf-menu {
    line-height:10px
}

.sf-menu {
    line-height:10px;
}

.sf-menu ul {
    position:absolute;
    top:-999em;
    width:10em; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li {
    width:100%;
}

.sf-menu li:hover {
    visibility:inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
    float:left;
    position:relative;
    list-style:none;
    margin:0;
    padding:0;
    text-align:left;
    text-transform:uppercase;
    display:block;
    height:50px;
}

.sf-menu a {
    display:block;
    position:relative;
}

.webkit .sf-menu li:hover ul,
.webkit .sf-menu li.sfHover ul {
    left:0px;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:0px;
    top:1.4em; /* match top ul list item height */
    z-index:99;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:-999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:10em; /* match ul width */
    top:0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:-999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:10em; /* match ul width */
    top:0;
}

ul.sf-menu li ul.sub-menu li.current_page_item a, ul.sf-menu li.current_page_item a, ul.sf-menu li ul.sub-menu li.current-menu-item a, ul.sf-menu li.current-menu-item a  {
    color:#f7f7f7;
    background-color:#515151;
}

/*** DEMO SKIN ***/

.sf-menu li a {
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding-top:11px;
    height:32px;
    box-shadow: none;
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari, Chrome */
    -o-box-shadow: none; /* CSS3 */
    font-size:11px;
    padding:18px 15px 0 15px;
    display:block;
    font-family: 'Muli',sans-serif;
}

.sf-menu li:first-child a {
    padding:18px 18px 0 18px;
}

ul.sf-menu li ul.sub-menu li a {
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding-top:11px;
    height:32px;
    box-shadow: none;
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari, Chrome */
    -o-box-shadow: none; /* CSS3 */
    font-size:11px;
    padding:18px 18px 0 18px;
    display:block;
    font-family: 'Muli',sans-serif;
    background-color:#323232;
}

ul.sf-menu li ul.sub-menu li a:hover {
    color:#323232;
    text-decoration:none;
    display:block;
    padding-top:11px;
    height:32px;
    box-shadow: none;
    -moz-box-shadow: none; /* Firefox */
    -webkit-box-shadow: none; /* Safari, Chrome */
    -o-box-shadow: none; /* CSS3 */
    font-size:11px;
    padding:18px 18px 0 18px;
    display:block;
    font-family: 'Muli',sans-serif;
    background-color:#bfbfbf;
    text-indent:15px;
}

.sf-menu li a:hover {
    text-decoration:none !important;
    color:#323232;
    background-color:#bfbfbf;
    font-size:11px;
    font-family: 'Muli',sans-serif;
}

.sf-menu ul li {
    padding:0px;
}

.sf-menu li li {
    background-color:#323232;
    min-width:170px;
}

.sf-menu li li:first-child {
    background-color:#323232;
    border-top: none;
    min-width:170px;
}

.sf-menu li li a {
    -webkit-transition:all 0.2s ease-in-out !important;
    -moz-transition:all 0.2s ease-in-out !important;
    -o-transition:all 0.2s ease-in-out !important;
    transition:all 0.2s ease-in-out !important;
}

.sf-menu li ul li:hover {
    background-color: #f7f7f7;
}

.sf-menu li ul {
    margin-top:29px;
}

.sf-menu li ul li:hover {
    color:#ffffff !important;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    outline:0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
    min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
    display:none;
}

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
    top:.8em;
    background-position:0 -103px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
    background-position:-10px -103px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
    background-position:-10px 0;
}

.sf-menu ul a > .sf-sub-indicator {
    background-position:7px 5px;
}

/* apply hovers to modern browsers */
.sf-menu ul a:focus ,
.sf-menu ul a:hover ,
.sf-menu ul a:active ,
.sf-menu ul li:hover > a ,
.sf-menu ul li.sfHover > a {
    background-position:-10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
    padding:0px;
}

.sf-shadow ul.sf-shadow-off {
    background:transparent;
}

ul.sf-menu li ul li a {
    padding:10px 0 0 0;
    display:block;
}

.sf-menu li li:first-child a {
    text-indent:0px;
}

ul.sf-menu li ul li a:hover {
    color:#323232;
}

#main {
    width:980px;
    margin:0 auto;
    position:relative;
    z-index:999;
    min-height:300px;
    padding-bottom:20px;
    font-family:Helvetica Neue, sans-serif;
    font-size:15px;
    color:#000000;
    line-height:1.3em;
    clear:both;
}

#main_fullwidth {
    width:980px;
    margin:0 auto;
    position:relative;
    z-index:999;
}

.fullwidth_content_page, #left_content_page, #content_right_page {
    padding-top:70px;
}

.fullwidth_content_home {
    margin-top:65px;
}

.fullwidth_content {
    padding-top:64px;
}

#message_center {
    margin-top:50px;
}

#midsection {
    margin-top:25px;
    padding:20px;
}

#midsection2 {
    margin-top:25px;
    padding:20px;
    background-color:none;

}

#midsection .one_third_first, #midsection .one_third {
    margin-top: 0px;

}

.home_content {
    padding:20px 20px 38px;
    background-color:none;
}

.home_content_bottom {
    padding:1px 20px 20px;
    background-color:none;
}

#left_content_wrapper {
    width: 700px;
    clear: left;
    float: left;
}

#wrapper_content_right {
    width: 700px;
    float: right;
    margin-top:-60px;
}

#left_contact_wrapper {
    width: 670px;
    clear: left;
    float: left;
    margin-top: -60px;

}

#left_content {
    padding-top:60px;
}

#left_contentsearch {
    padding-top:70px;
}

.blog_wrapper {
    background-color:none;

    margin-bottom:60px;
}

#content_right {
    padding-top:60px;

}

.posted_details {
    border:none;
    padding:20px;
    background-color:#323232;
}

.trainer_wrapper .posted_details {
    padding:15px 20px 7px 20px;
}

.posted_details_video {
    border:none;
    padding:20px;
    background-color:#323232;
    margin-top:-5px;
}

.post_content_first {
    border:none;
    float:left;
    padding:0px 9px 0px 0px;
    font-size:10px;
    color:#C0C0C0;
    font-family: 'Muli',sans-serif;
    text-transform:uppercase;
}

.post_content {
    border:none;
    float:left;
    padding:0 9px 0 9px;
    font-size:10px;
    color:#C0C0C0;
    font-family: 'Muli',sans-serif;
    text-transform:uppercase;
}

.post_content_last {
    border:none;
    float:left;
    padding:0 9px 0 9px;
    font-size:10px;
    color:#C0C0C0;
    font-family: 'Muli',sans-serif;
    text-transform:uppercase;
}

.post_content a, .post_content_last a, .post_content_first a {
    font-size:10px;
    color:#C0C0C0;
    font-family: 'Muli',sans-serif;
}

.post_content a:hover, .post_content_last a:hover, .post_content_first a:hover {
    font-size:10px;
    color:#ffffff;
    font-family: 'Muli',sans-serif;
}

.post_wrapper {
    width:100%;
}

.post_details {
    float:left;
    width:20%;
    margin-top: 10px;
}

.posted_on {
    float:left;
    margin-right:20px;
}

.posted_comments {
    clear:both;
    float:left;
    margin-top:10px;
}

.ie7 .posted_comments {
    width:auto;
}

.posted_on .cal .day {
    margin-top:7px;
}

.posted_on .cal .month {
    margin-top:7px;
}

.dynamic, .dynamic a, .dynamic a:hover {
    color:#572723;
    font-family:'Muli', sans-serif;
    font-size:10px;
    text-transform:uppercase;
}

.featured_image {
    clear:both;
    margin:10px 0 0px 0;
    position:relative;
    z-index:999;
}

.featured_image_gallery {
    clear:both;
    position:relative;
    z-index:999;
    width:100%;
}

.featured_image a img, #featured_imagea img {
    margin-top:-53px;
}

.trainer_post .featured_image a img, .class_post .featured_image a img, .featured_text_fullpostspecial .one_third_first img {
    margin-top:0;

}

.featured_text_full {
    padding:20px;
}

.featured_text_fullpost, .featured_text_fullpostspecial {
    padding:20px;
}

.trainer_post .featured_text_fullpost, .class_post .featured_text_fullpost {
    padding:0;
    margin-top:20px;
}

.trainer_post p, .class_post p {
    font-size:14px;
}

.trainer_post hr, .class_post hr {
    height:25px;
}

.featured_text_full img, .featured_text_full iframe, .featured_text_fullpost img, .featured_text_fullpost iframe {
    background-color: #FFFFFF;

}

.featured_text_fullpostspecial .one_third {
    background-color:#f6f6f6;
    padding:20px;
    width:25.66%;

}

.featured_text_fullpostspecial .two_third_first {
    width:64.33%;
}

.featured_text_fullpost .two_third, .featured_text_fullpost .one_third_first {
    margin-top:0px;
}

.featured_text_fullpost .two_third h1.dark {
    padding:0;
}

.featured_text_fullpostspecial .one_half_first, .featured_text_fullpostspecial .one_half {
    background-color:#f6f6f6;
    padding:20px;


    width:40%;
}

.featured_text_fullpost .one_half_first p, .featured_text_fullpost .one_half p {
    font-size:12px;
    line-height:1.8em;
}

.featured_text_quote {
    width:94%;
    padding:20px;
    position:relative;
}

#postformattypelink, #postformattypeaudio {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
    margin-top:-20px;
    margin-right:-20px;
}

#postformattypequote {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
    margin-top:-20px;
    margin-right:-22px;
}


#postformattypestatus {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
    margin-top:-20px;
    margin-right:-20px;
}

#postformattypequote2 {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
    margin-top:-20px;
    margin-right:-20px;
}

#postformattypestandard {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
}

#postformattypevideo {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
}

#postformattypegallery {
    z-index:999999;
    position:relative;
    float:right;
    height:53px;
    width:53px;
    margin-top:0px;
}

#postformattypequote img, #postformattypequote2 img {
    padding:16px 10px 10px 13px;
}

#postformattypelink img {
    padding:17px 10px 10px 16px;
}

#postformattypeaudio img {
    padding:12px 10px 10px 18px;
}

#postformattypestatus img {
    padding:16px 10px 10px 14px;
}

#postformattypegallery img {
    padding:16px 10px 10px 13px;
}

#postformattypevideo img {
    padding:14px 10px 10px 12px;
}

#postformattypestandard img {
    padding:14px 10px 10px 12px;
}

.featured_image .slider_wrapper {
    padding:0;
}

#right_content_wrapper {
    width: 250px;
    float: right;
    background-color:000000;
    margin-top:69px;

}

#right_content_wrapper p, #right_content_wrapper a, #right_content_wrapper a:hover, #right_content_wrapper ul li, #right_content_wrapper ol li {
    font-size:14px;
    font-family:Helvetica Neue, sans-serif;
}

#wrapper_content_left {
    width: 250px;
    float: left;
    background-color:000000;
    margin-top:69px;

}

#right_contact_wrapper {
    width: 240px;
    float: right;
    margin-top:-10px;
}

#map_div {
    width:940px;
    padding:10px 20px 1px 20px;
    background-color:#000000;
    margin-top:65px;
    -moz-box-shadow: 0 2px 0px #D4D4D4; /* Firefox */
    -webkit-box-shadow: 0 2px 0px #D4D4D4; /* Safari, Chrome */
    box-shadow: 0 2px 0px #D4D4D4; /* CSS3 */
}

#right_content {
    padding:20px;

}

#right_contact_wrapper #right_content {
    padding-top:54px;
}

#content_left {
    padding:20px;
}

.textwidget {
    margin-bottom:30px;
}

#footer_wrapper {
    width:980px;
    margin:0 auto;
}

.social {
    float:right;
}

#bottom_logo {
    float:left;
    margin-top:80px;
}

#bottom_nav_wrap {
    width:980px;
    margin:0 auto;
}

#bottom_nav {
    float:left;
    margin-top:20px;
}

#bottom_nav ul {
    margin:0;
    padding:0;
}

#bottom_nav ul li {
    list-style:none;
    float:left;
    padding:0 20px;
}

#bottom_nav ul li:first-child {
    padding:0 20px 0 0;
}

#bottom_nav ul li a {
    display:block;
    color:#c0c0c0;
    font-family:'Muli', sans-serif;
    font-size:10px;
    text-decoration:none;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    text-shadow: 0 1px 0 #1A272E;
    text-transform:uppercase;
}

#bottom_nav ul li a:hover {
    text-decoration:none;
    color:#ffffff;
    font-family:'Muli', sans-serif;
    font-size:10px;
}

#footer_wrapper .two_third_first {
    padding-top:22px;
}

#footer_wrapper .one_third {
    padding-top:42px;
}

.page_error {
    clear: none;
    color: #323232;
    font-family: 'Oswald',sans-serif;
    font-size: 45px;
    line-height: 1.6em;
    padding-top: 5px;
    text-shadow: 0 2px 0 #D4D4D4;
}

.trainer_wrapper {
    -moz-box-shadow: 0 2px 0px #D4D4D4; /* Firefox */
    -webkit-box-shadow: 0 2px 0px #D4D4D4; /* Safari, Chrome */
    box-shadow: 0 2px 0px #D4D4D4; /* CSS3 */
    background-color:#ffffff;
    float:left;
    margin-right:22px;
    width:31%;
    margin-bottom:60px;
    min-height:740px;
}

.trainer_post {
    padding:20px;
}

.class_post {
    padding:20px;
}

/*-------------------ROLLOVER BUTTONS---------------------*/

.event-button a {float:left;
    display: block;
    width: 400px;
    height: 153px;
    background: transparent url("http://www.fightscience.co.uk/wp-content/uploads/2013/11/eventsbutton.png") no-repeat bottom;
    background-position: 0px 0px;
    margin-right: 10px;
}

.event-button a:hover {
    background-position: 0px -153px;
}


.headhunter-button a {float:right;
    display: block;
    width: 400px;
    height: 153px;
    background: transparent url(http://www.fightscience.co.uk/wp-content/uploads/2013/11/headhunter-button.png) no-repeat bottom;
    background-position: 0px 0px;
    margin-right: 10px;
}

.headhunter-button a:hover {
    background-position: 0px -153px;
}



/*--------------------Search Form----------------------------*/

#searchbox {
    float: right;
    width:20%;
}

ul.search {
    height:23px;
    float:right;
    list-style:none;
    margin:10px 0 0 0px;
}

.ie7 ul.search {
    height:26px;
}

ul.search li{
    float:left;
    border:1px solid #535353;
    background:none repeat scroll 0 0 transparent;
    height:29px;
    list-style:none outside none;
    line-height:1.2em;
}

.ie7 ul.search li {
    height:26px;
}

input.bar {
    height:19px;
    width:150px;
    padding:6px;
    border:none;
    background-color:transparent;
    font-family:'Muli', sans-serif;
    font-size:11px;
    color:#4C616C;
    background:none;
    background-color:#2a4451;
    width: 280px;
    margin-bottom: 15px;
    color: #4c616c;
    border: 1px solid #3a4e59;
    padding: 8px;
    font-family:'Muli', sans-serif;
    font-size: 12px;
}

input.bar:focus {
    height:19px;
    width:150px;
    padding:6px;
    border: 1px solid #3a4e59;
    background-color:transparent;
    font-family:'Muli', sans-serif;
    font-size:11px;
    color:#323232;
}

ul.search li input {
    background-color:#323232;
    width: auto;
    margin-bottom: 0;
    color: #7F7F7F;
    border: none;
    padding: 7px;
    font-family:'Muli', sans-serif;
    font-size: 11px;
    height:15px;
    outline: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius:0px;
    margin-top:0;
}

.ie7 ul.search li input, .ie7 ul.search li input:focus {
    height:11px;
}

ul.search li input:focus {
    color:#323232;
    background-color:#bfbfbf;
    width: auto;
    margin-bottom: 0;
    border: none;
    padding: 7px;
    font-family:'Muli', sans-serif;
    font-size: 11px;
    height:15px;
    outline: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius:0px;
}

/*--------------------Pagination----------------------------*/

.navigation {
    width:100%;
    clear:both;
    padding-top:75px;
}

.border-top {
    width:100%;
    clear:both;
    border:none;
    clear: both;
    border-top: 1px solid #dddddd;
    height: 5px;
}

.border-bottom {
    width:100%;
    clear:both;
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    height: 5px;
}

.alignleft {
    float:left;
    color:#572723;
    line-height:1.6em;
    text-transform:uppercase;
    text-decoration:none;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

.alignright {
    float:right;
    color:#572723;
    line-height:1.6em;
    text-transform:uppercase;
}

.alignright a, .alignleft a {
    text-decoration:none;
    color:#572723;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

.alignright a:hover, .alignleft a:hover {
    text-decoration:none;
    color:#36515e;
}


/*--------------------Twitter UL----------------------------*/

ul.tweet_list li {
    list-style: none outside none !important;
    line-height: 1.2em !important;
    clear: both;
    margin-bottom: 28px;
    display:inline-block;
}

ul.tweet_list li .tweet_avatar {
    float:left;
    margin:0 10px 2px 0;
}

ul.tweet_list li .tweet_text {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    width:75%;
    float:right;
}

ul.tweet_list li .tweet_text a {
    font-size: 12px;
}

.tweet_time {
    font-size: 12px !important;
    clear: both;
    float:right;
    color: #7f8084;
    text-decoration:none !important;
    margin-top: 5px !important;
}


/*--------------------Shortcodes----------------------------*/

.hrr {
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 15px;
    height: 15px;
}

.one_half, .one_half_first, .one_third, .one_third_first, .two_third, .two_third_first, .one_fourth, .one_fourth_first, .three_fourth, .three_fourth_first, .one_fifth, .one_fifth_first, .two_fifth, .two_fifth_first, .three_fifth, .three_fifth_first, .four_fifth, .four_fifth_first, .one_sixth, .one_sixth_first {
    color: #7F8084;
    font-family: Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    margin-bottom: 15px;
    margin-top: 10px;
}

.one_half {
    width: 48%;
}

.one_third, .one_third_bottom {
    width: 30.66%;
}

.two_third {
    width: 65.33%;
}

.one_fourth {
    width: 22%;
}

.three_fourth {
    width: 74%;
}

.one_fifth {
    width: 16.8%;
}

.two_fifth {
    width: 37.6%;
}

.three_fifth {
    width: 58.4%;
}

.four_fifth {
    width: 67.2%;
}

.one_sixth {
    width: 13.33%;
}

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth, .one_third_bottom {
    position: relative;
    margin-left: 4%;
    float: left;
}

.one_half_first {
    width: 48%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.one_third_first, .one_third_first_bottom {
    width: 30.66%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.one_third_first_bottom, .one_third_bottom {
    margin-top:25px;
}

.one_fourth_first {
    width: 22%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.one_fifth_first {
    width: 16.8%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.one_sixth_first {
    width: 13.33%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.two_third_first {
    width: 65.33%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.three_fourth_first {
    width: 74%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.two_fifth_first {
    width: 37.6%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.three_fifth_first {
    width: 58.4%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

.four_fifth_first {
    width: 67.2%;
    position: relative;
    clear: left;
    margin-left: 0;
    float: left;
}

div .first {
    clear: left;
    margin-left: 0;
}

.center {
    text-align:center;
}

.center p {
    margin-bottom:35px;
}

img {
    border: none;
}

img.left {
    border: none;
    float: left;
    margin-right:20px;
    margin-bottom:20px;
}

img.lefthome {
    border: none;
    float: left;
    margin-right:8px;
    margin-bottom:0px;
    box-shadow: none !important;
    margin-top:10px;
}

img.right {
    border: none;
    float: right;
    margin-left:20px;
    margin-bottom:20px;
}

.alignleft {
    border: none;
    float: left;
    margin-right: 20px;
    margin-bottom:20px;
}

.alignright {
    border: none;
    float: right;
    margin-left: 20px;
    margin-bottom:20px;
}

.alert_red {
    padding:20px 10px;
    clear:both;
    font-family:'Muli', sans-serif;
    font-size:13px;
    margin-bottom:25px;
    color: #C03500;
    text-align:center;
    background-color: #FFE7E0;
    border: 1px solid #FB947B;
}

.alert_green {
    padding:20px 10px;
    clear:both;
    font-family:'Muli', sans-serif;
    font-size:13px;
    margin-bottom:25px;
    color:rgba(0, 0, 0, 0.6);
    text-align:center;
    background-color: #BFD887;
    border: 1px solid #81A235;
}

.alert_standard {
    padding:20px 10px;
    clear:both;
    font-family:'Muli', sans-serif;
    font-size:13px;
    margin-bottom:25px;
    color:rgba(0, 0, 0, 0.6);
    text-align:center;
    background-color:transparent;
    border: 1px solid #D6CABA;
}

.alert_yellow {
    padding:20px 10px;
    clear:both;
    font-family:'Muli', sans-serif;
    font-size:13px;
    margin-bottom:25px;
    color:rgba(0, 0, 0, 0.6);
    text-align:center;
    background-color:#F6D570;
    border: 1px solid #E1AE0E;
}

.alert_blue {
    padding:20px 10px;
    clear:both;
    font-family:'Muli', sans-serif;
    font-size:14px;
    margin-bottom:25px;
    color:rgba(0, 0, 0, 0.6);
    text-align:center;
    background-color:#B7D3EE;
    border: 1px solid #65A1DB;
}

.intro {
    color: #323232;
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 25px;
}

.intro a {
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    text-decoration:none;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
}

.intro a:hover {
    font-family: 'Oswald',sans-serif;
    font-size:18px;
}

.highlight_text {
    background: #323232;
    color: #ffffff;
    padding:1px 2px 1px 2px;
}

.quote {
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    color:#323232;
    line-height:1.6em;
    padding-top:5px;
    clear:none;
    text-shadow:none;
    padding-left:15px;
    padding-bottom:10px;
    margin:20px 0 20px 0;
}

blockquote {
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    color:#323232;
    line-height:1.6em;
    padding-top:5px;
    clear:none;
    text-shadow:none;
}

blockquote p, .quote p {
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    color:#323232;
    line-height:1.6em;
    padding-top:5px;
    clear:none;
    text-shadow:none;
}

.pullquoteleft {
    padding:0 14px 0 24px !important;
    text-align:left;
    font-family: 'Muli', serif;
    font-size:16px;
    float:left;
    width:40%;
    margin:5px 30px 5px 0;
    line-height:1.6em;
    font-weight:normal;
    text-transform:uppercase;
}

.pullquoteright {
    margin:5px 0 5px 30px;
    padding:0 14px 0 24px !important;
    text-align:left;
    font-family: 'Muli', serif;
    font-size:16px;
    float:right;
    width:40%;
    line-height:1.6em;
    font-weight:normal;
    text-transform:uppercase;
}




/*--------------------Flexislider---------------------------*/

.slider_wrapper {
    position: relative;
    z-index: 999;
    width:980px;
    margin:0 auto;
}

.flex-container a:active, .slider a:active, .flex-container a:focus, .slider a:focus {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
}

.home_content .slider, .home_content_bottom .slider {
    margin:0;
}

.home_content .flex-direction-nav, .home_content_bottom .flex-direction-nav {
    display:none;
}

.slider {
    width: 100%;
    margin: 0;
    padding: 0;
    position:relative;
    z-index:1999;
}

.slider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.slider .slides img {
    max-width: 100%;
    display: block;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.slides {
    list-style: none;
    border: none;
}

ul.slides li a {
    border: none;
}

ul.slides li a img:hover {
    opacity: 1 !important;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

/* FlexSlider Default Theme
 *********************************/


.slider .slides {
    zoom: 1;
}

.slider .slides > li {
    position: relative;
    list-style:none outside none;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
    zoom: 1;
    position: relative;
}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background: none;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    zoom: 1;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

/* Direction Nav */
.flex-direction-nav {
    height: 0;
}

.flex-direction-nav li a {
    width: 52px;
    height: 52px;
    margin: -13px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -999em;
    -webkit-transition:all 0.0s ease-in;
    -moz-transition:all 0.0s ease-in;
    -o-transition:all 0.0s ease-in;
    transition:all 0.0s ease-in;
}

.flex-direction-nav li .next {
    background-position: -52px 0;
    right: -21px;
}

.flex-direction-nav li .prev {
    left: -20px;
}

.flex-direction-nav li .disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .3;
    cursor: default;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: right;
}

.featured_image_gallery .flex-control-nav {
    margin-top:-40px;
    width:96%;
}

.flex-control-nav li {
    margin: 10px 0 0 5px !important;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-nav li:first-child {
    margin: 0;
}

.flex-control-nav li a {
    width: 68px;
    height: 28px;
    border: none;
    display: block;
    background: url("img/bullets.png") no-repeat;
    cursor: pointer;
    text-indent: -999em;
    background-position:0 12px;
    list-style:none;
    color:transparent;
    -webkit-transition:all 0.0s ease-in;
    -moz-transition:all 0.0s ease-in;
    -o-transition:all 0.0s ease-in;
    transition:all 0.0s ease-in;
}

ol.flex-control-nav li, ul.flex-direction-nav li	{
    list-style:none !important;
}

.flex-control-nav li a:hover {
    background: url("img/bullets.png") no-repeat;
    border: none;
    background-position:0 -12px;
    color:transparent;
}

.flex-control-nav li a.active {
    background: url("img/bullets.png") no-repeat;
    cursor: default;
    background-position:0 -12px;
    color:transparent;
    -webkit-transition:all 0.0s ease-in;
    -moz-transition:all 0.0s ease-in;
    -o-transition:all 0.0s ease-in;
    transition:all 0.0s ease-in;
}

/*--------------------Forms, Inputs & Submits----------------------------*/

textarea {
    margin-bottom: 15px;
    background-color:#ffffff;
    color: #7F8084;
    padding: 8px;
    font-family:'Muli', sans-serif;
    font-size: 15px;
    outline: none;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    border:none;
    border:1px solid #D4D4D4;
    margin-top:10px;
    width:100%;
}

textarea:focus {
    background:none;
    color:#7f8084;
    background-color:#ffffff;
    outline: none;
    border:none;
    border:1px solid #b9b9b9;
}

input[type=text], input[type=email] {
    background:none;
    background-color:#ffffff;
    width: 280px;
    margin-bottom: 15px;
    color: #7f8084;
    padding: 8px;
    font-family:'Muli', sans-serif;
    font-size: 15px;
    outline: none;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    border:none;
    border:1px solid #d4d4d4;
    margin-top:10px;
}

input[type=text]:focus, input[type=email]:focus {
    background:none;
    color:#7f8084;
    background-color:#ffffff;
    outline: none;
    border:none;
    border:1px solid #b9b9b9;
}

input[type=submit] {
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:2px;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
}

input[type=submit]:hover {
    background-color:#323232;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:2px;
}

#footer_wrapper input[type=submit] {
    background-image:url("img/footer_submit.png");
    background-repeat:no-repeat;
    background-position:5px 5px;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:35px;
    padding-top:2px;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
}

#footer_wrapper input[type=submit]:hover {
    background-color:#323232;
    background-image:url("img/footer_submit.png");
    background-repeat:no-repeat;
    background-position:5px 5px;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:35px;
    padding-top:2px;
}

ul.contact {
    margin:0 0 20px 0;
    clear: both;
    width: 100%;
}

ul.contact li {
    color:#7F8084 !important;
    font-family:'Muli', sans-serif;
    font-size:11px;
    line-height:1.3em !important;
    list-style:none !important;
    padding:5px 0;
    background:none;
}

.header_phone {
    color:#ffffff;
    font-family:'Muli', sans-serif;
    font-size:24px;
    float:right;
    text-align:right;
}

.header_info {
    color:#ffffff;
    font-family:'Muli', sans-serif;
    font-size:12px;
    float:right;
    clear:both;
    margin-top:9px;
    width:100%;
    text-align:right;
}

.contact_title {
    color:#323232;
    font-family:'Muli', sans-serif;
    font-size:11px;
    padding:17px 0 15px 0;
    text-transform: uppercase;
    font-weight: normal;
}

input:focus {
    outline: none;
}

.comment_wrapper_main {
    width:75%;
    margin-top:75px;
}

#commentform {
    margin: 0px;
    float: left;
    width:98%;
    margin-top:25px;
}

#form_wrapper {
    width:100%;
    min-height:150px;
    margin-bottom: 30px;
    padding-left:20px;
}

div.wpcf7 {
    padding:0px 0 0 !important;
}

.wpcf7-form textarea {
    margin-top:20px;
    margin-bottom:25px;
}

.wpcf7-form p {
    color: #7F8084;
    display: block;
    font-family:Helvetica Neue,sans-serif;
    font-size: 13px;
    clear:both;
    margin-bottom:0;
}

div.wpcf7-validation-errors {
    color:#FF0000 !important;
    font-family:'Muli', sans-serif; !important;
    border:none !important;
    font-size:12px !important;
    margin:0 !important;
    padding:0 !important;
    clear:both;
}

div.wpcf7-mail-sent-ok {
    color:#398f14 !important;
    font-family:'Muli', sans-serif; !important;
    border:none !important;
    font-size:12px !important;
    margin:0 !important;
    padding:0 !important;
    clear:both;
}

span.wpcf7-not-valid-tip {
    background:none !important;
    font-family:'Muli', sans-serif !important;
    font-size: 12px !important;
    color:#7f8084 !important;
}

.textwidget div.wpcf7-validation-errors {
    color:#323232 !important;
    font-family:'Muli', sans-serif; !important;
    border:none !important;
    font-size:13px !important;
    margin:-45px 0 0 !important;
    padding:0 !important;
    width:80%;
}

.ie7 .textwidget div.wpcf7-validation-errors, .ie7 .textwidget div.wpcf7-mail-sent-ok, .ie7 .textwidget span.wpcf7-not-valid-tip {
    margin:0 !important;
    top:0 !important;
}

.textwidget div.wpcf7-mail-sent-ok {
    color:#323232 !important;
    font-family:'Muli', sans-serif; !important;
    border:none !important;
    font-size:13px !important;
    margin:-45px 0 0 !important;
    padding:0 !important;
    width:80%;
}

.textwidget span.wpcf7-not-valid-tip {
    background:none !important;
    font-family:'Muli', sans-serif !important;
    font-size: 12px !important;
    color:#323232 !important;
    width:98% !important;
    left:0 !important;
    top:-50% !important;
}

label {
    color: #7F8084;
    font-family: Helvetica Neue,sans-serif;
    font-size: 15px;
    margin-left:15px;
}

.form_submit {
    background-color:#323232;
    border: none;
    color:#ffffff;
    cursor:pointer;
    font-family:'Muli', sans-serif;
    font-size:15px;
    display: block;
    padding: 5px;
}

.comment_wrapper_main_right {
    width:680px;
}

#post_comment_wrapper {
    display: block;
    clear: both;
    margin-top: 25px;
}

/****** START OF Post comment styling by jonathan **/

.comment-author-avatar {
    float: left;
    margin-right: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.comment-main {
    overflow:hidden;
}

.comment-meta {
    margin-bottom: 10px;
    overflow: hidden;
    margin-top:5px;
}

.comment-author {
    color: #323232;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 14px;
    font-family:'Muli', sans-serif;
    text-transform:uppercase;
    margin-bottom:6px;
}

.comment-date {
    clear:both;
    display: block;
    float: left;
    line-height: 14px;
    text-transform:uppercase;
}

.comment-date a, .cancel-comment-reply a {
    font-size:10px;
    font-family:'Muli', sans-serif;
    text-decoration:none;
}

.comment-date a:hover, .cancel-comment-reply a:hover {
    text-decoration:underline;
    font-size:10px;
    font-family:'Muli', sans-serif;
}

.comment-content {
}

a.comment-reply-link {
    text-decoration:none;
    font-size:10px;
    font-family:'Muli', sans-serif;
}

a.comment-reply-link:hover {
    text-decoration:underline;
    font-size:10px;
    font-family:'Muli', sans-serif;
}

/****** END OF Post comment styling by jonathan **/


ul.children {
    padding-left: 45px;
    list-style:none;
    margin-top:20px;
}

ul.children li, ul.children li:before, ul.children li:after {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.comment_wrap {
    float: left;
    padding: 20px 0;
}

.comment_wrap_reply {
    border-left: 1px solid #E2E2E2;
    float: left;
    margin-bottom: 20px;
    margin-left: 46px;
    padding: 20px 0 0 20px;
}

.comment byuser {
    float: left;
    margin-bottom: 20px;
    margin-left: 46px;
    padding: 20px 0 0 20px;
    background-color: #ebebeb;
}

.comment {
    float: right;
    display: block;
    width: 100%;
    padding-top:20px;
}

.commentlist {
    width:100%;
}

.comment-content {
    float: left;
    margin-top:5px;
    width:100%;
}

.commentlist li {
    margin-bottom: 30px;
    position: relative;
    list-style:none;
    background:none;
    border:none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 15px;
}

.commentlist li:first-child {
    border-bottom: 1px solid #dddddd;
}


.commentlist li:last-child {
    margin-bottom: 0px;
    background-color: none;
    margin-bottom:75px;
}

.commentlist ul {
    float: none;
    position: relative;
    z-index: 99;
}

.fn {
    margin-left:5px;
}

.reply {
    float:right;
}

.commentlist p {
    color: #7f8084;
    font-family:Helvetica Neue, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
}

.posted_date {
    color: #767676 !important;
    font-family:'Muli', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    display:block;
}

.posted_date a {
    color: #c52020 !important;
    font-family:'Muli', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-decoration:none;
    font-style: normal;
}

.posted_date a:hover {
    color: #c52020 !important;
    font-family:'Muli', sans-serif;
    font-size: 10px;
    font-weight:normal;
    text-decoration:underline;
    font-style: normal;
}

#respond {
    clear:both;
    padding-top:20px;
}

.commentlist ul.children li {
    padding-left:30px;
    margin:20px 0 20px 0;
    border-top: 1px solid #dddddd;
    border-bottom:none;
}

.jwts_tabberlive, .jwts_tabbertab {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}

.slideraccordion {
    padding: 10px 0 10px 0 !important;
}

/*-------------------- Button Styling ----------------------------*/

.buttontext a {
    font-family:'Muli', sans-serif;
    font-size:15px;
    color:#323232;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    background-image:url("img/previousarrow.png");
    background-repeat:no-repeat;
    padding-left:35px;
    background-position:left center;
}

.buttontextnext a {
    font-family:'Muli', sans-serif;
    font-size:15px;
    color:#323232;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    transition:all 0.3s ease-in;
    background-image:url("img/nextarrow.png");
    background-repeat:no-repeat;
    padding-right:35px;
    background-position:right center;
}

.buttontext, .buttontextnext {
    padding-top:20px;
}

.navigation hr {
    margin:0 0 40px;
}

.button, .button_reverse {
    display:block;
    position:relative;
}

.button a {
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:8px;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
}

.button a:hover {
    background-color:#323232;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:8px;
}

.button_reverse a {
    background-color:#323232;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:8px;
}

.button_reverse a:hover {
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 29px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:8px;
    transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
}


a.button.icon, a.button_reverse.icon {
    padding-left: 11px;
}

.button a.map span, .button_reverse a.map span{
    padding-left: 19px;
    background: url(img/map.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.mail span, .button_reverse a.mail span{
    padding-left: 25px;
    background: url(img/mail.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.drink span, .button_reverse a.drink span{
    padding-left: 25px;
    background: url(img/drink.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.book span, .button_reverse a.book span{
    padding-left: 27px;
    background: url(img/book.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.ipod span, .button_reverse a.ipod span{
    padding-left: 20px;
    background: url(img/ipod.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.gallery span, .button_reverse a.gallery span{
    padding-left: 22px;
    background: url(img/gallery.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.headphones span, .button_reverse a.headphones span{
    padding-left: 25px;
    background: url(img/headphones.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.download span, .button_reverse a.download span{
    padding-left: 30px;
    background: url(img/download.png) no-repeat 0 0px;
    cursor:pointer;
}

.button a.information span, .button_reverse a.information span{
    padding-left: 24px;
    background: url(img/information.png) no-repeat 0 0px;
    cursor:pointer;
}



/*-------------------- Skill Bar Styling ----------------------------*/

.meter {
    height: 20px;
    position: relative;
    background: #ffffff;
    border:none;
    border:1px solid #dddddd;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

object, embed, video, iframe {
    max-width:100%;
}

.home_content .slider .slides img, .home_content_bottom .slider .slides img {
    height:auto;
    margin:0;
}

.home_content object, .home_content embed, .home_content video, .home_content iframe, .home_content_bottom object, .home_content_bottom embed, .home_content_bottom video, .home_content_bottom iframe {
    height:180px;
}

.home_content .flex-control-nav, .home_content_bottom .flex-control-nav {
    display:none;
}

.mejs-video {
    margin: 0px auto 15px;
}

.home_content .mejs-audio, .home_content_bottom .mejs-audio {
    margin:0px auto 15px;
    max-width:100% !important;
}

#topmenu select {
    visibility:hidden;
}

.gallery-item, .gallery-1{
    width:300px !important;
    text-align:left !important;
    margin-right:13px;
}

.featured_text_full .twitter-tweet-rendered, .home_content .twitter-tweet-rendered {
    max-width:100% !important;
    max-width:100% !important;
    min-width:100% !important;
    width:100% !important;
}

.featured_text_full .twt-border, .home_content .twt-border {
    max-width:100% !important;
    min-width:100% !important;
    width:100% !important;
}

.header_phone a, .header_phone a:hover {
    color:#ffffff;
    font-family:'Muli', sans-serif;
    font-size:24px;
}

/*  START OF MEDIA QUERIES */

@media only screen and (max-width: 768px) {

    .embed-container {
        position: relative;
        padding-bottom: 52.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }

    .image-grid:after {
        margin-bottom:30px;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    iframe {
        height:400px;
    }

    img {
        max-width:100%;
        height:auto;
    }

    img {
        -ms-interpolation-mode:bicubic;
    }

    p {
        margin-bottom:10px;
    }

    #nav_wrapper, #main, #footer_wrapper, #topmenu_wrapper, .slider_wrapper, #bottom_nav_wrap, #left_content, #right_content {
        width:98%;
        margin:0 auto;
    }

    #midsection .one_third_first h4, #midsection .one_third h4 {
        padding:10px 10px;
    }

    #midsection2 .one_third_first h4, #midsection2 .one_third h4 {
        padding:0px;
    }

    .home_content, #midsection2, .posted_details, .class_post, .trainer_post, .featured_text_fullpost, .featured_text_fullpost .one_third, .featured_text_fullpostspecial, #map_div, .posted_details_video {
        padding:15px;
    }

    h1.dark {
        padding:20px 15px 0;
    }

    #right_content, #content_left {
        width:95%;
    }

    .home_content img, .home_content_bottom img {
        margin-right:10px;
    }

    .social {
        margin-right:2px;
    }

    .sf-menu li a, .sf-menu li a:hover {
        padding:18px 10px 0;
        font-size:10px;
    }

    .sf-menu li:first-child a {
        padding:18px 10px 0;
        text-indent:0px;
    }

    .trainer_wrapper {
        margin-right:30px;
        width:29%;
        min-height:690px;
    }

    .header_phone a, .header_phone a:hover {
        color:#ffffff;
        font-family:'Muli', sans-serif;
        font-size:24px;
    }

    #footer_wrapper input[type="text"], #left_content, #right_content_wrapper, #main_fullwidth, #main_fullwidth .featured_text, #wrapper_content_left, #left_content_wrapper, #wrapper_content_right, #footer_wrapper input[type="email"] {
        width:100%;
        float:none;
        margin:0 auto;
    }

    .gallery-item, .gallery-1 {
        width:30% !important;
    }

    .featured_text_fullpostspecial .one_half_first, .featured_text_fullpostspecial .one_half {
        width:39%;
    }

    #main_fullwidth .comment_wrapper_main {
        width:100%;
    }

    .blog_wrapper  {
        width:100%;
        clear:both;
    }

    .featured_text {
        width:100%;
        float:none;
        clear:both;
    }

    .posted_comments {
        margin-bottom:25px;
    }

    #left_content hr, #left_content .commentlist {
        width:95%;
        float:left;
    }

    .post_details {
        float:none;
        clear:both;
        width:100%;
    }

    #map_div {
        width:auto;
    }

    .one_fifth, .one_fifth_first, .two_fifth, .two_fifth_first, .three_fifth, .three_fifth_first, .four_fifth, .four_fifth_first, .one_sixth, .one_sixth_first {
        width:100%;
        float:none;
        margin:0;
    }

    ul.tweet_list li .tweet_text {
        line-height:1.6em;
    }

    .tweet_time, .tweet_time a {
        clear:none;
        margin-top:0 !important;
    }

    #postformattypelink, #postformattypeaudio, #postformattypequote2, #postformattypestatus {
        margin-right:-15px;
        margin-top:-15px;
    }

    #postformattypegallery {
        margin-top:-1px;
    }

    #postformattypequote {
        margin-right:-24px;
    }

    #midsection .one_third .home_content_bottom {
        padding-bottom:40px;
    }

    textarea, textarea:focus {
        width:99%;
    }

    #commentform {
        margin-bottom:60px;
    }

    .navigation {
        padding-top:60px;
    }

    #right_contact_wrapper, #left_contact_wrapper {
        float:none;
        width:100%;
    }

    #right_contact_wrapper {
        margin-top:30px;
    }

    #right_contact_wrapper #right_content, #left_contact_wrapper #left_content {
        padding:0px;
        width:100%;
    }

    #left_contact_wrapper #left_content textarea, #left_contact_wrapper #left_content textarea:focus {
        width:98%;
    }

}

/* Mobile Landscape Size to Tablet Landscape (devices and browsers) */
@media only screen and (max-width: 480px) {

    #topmenu ul {
        display:none;
    }

    #topmenu select {
        visibility:visible !important;
        width:100%;
        float:none;
        background-color:none;
        background-color: #323232 !important;
        font-size: 14px;
        height: 30px;
        margin:10px auto 0;
        color:#ffffff !important;
        border:none;
        border:1px solid #535353;
        padding:7px 5px 5px;
        font-family:'Muli', sans-serif;
    }

    .one_half, .one_half_first, .one_third, .one_third_first, .two_third, .two_third_first, .one_fourth, .one_fourth_first, .three_fourth, .three_fourth_first, .one_fifth, .one_fifth_first, .two_fifth, .two_fifth_first, .three_fifth, .three_fifth_first, .four_fifth, .four_fifth_first, .one_sixth, .one_sixth_first, .one_third_first_bottom, .one_third_bottom, .pullquoteright, .pullquoteright  {
        width:100%;
        float:none;
        margin:0;
    }

    #midsection .one_third_first, #midsection .one_third {
        margin-bottom:50px;
        clear:both;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

    #midsection hr {
        height:5px;
        margin-bottom:48px;
    }

    #midsection .home_content hr {
        margin-bottom:5px;
        height:20px;
    }

    #bottom_nav ul li a, #bottom_nav ul li a:hover {
        font-size:11px;
    }

    #bottom_nav ul li {
        padding:0 12px;
    }

    #footer_wrapper input[type="text"], #footer_wrapper input[type="email"] {
        width:60%;
    }

    .video-stretch object, .video-stretch embed, .video-stretch video, .video-stretch iframe, object, embed, video, iframe {
        max-height:244px;
    }

    #bottom_nav {
        display:none;
    }

    .social {
        margin-right:0;
        float:none;
        width:99%;
    }

    #footer_wrapper .one_third {
        padding-top:8px;
    }

    header nav#topmenu {
        width:70%;
    }

    .trainer_wrapper {
        margin-right:0;
        width:100%;
        float:none;
    }

    .featured_text_fullpostspecial .two_third_first  {
        float:none;
        width:100%;
        clear:both;
        padding:0;
        -moz-box-shadow: 0 2px 0 #D4D4D4;
        -webkit-box-shadow: 0 2px 0 #D4D4D4;
        -o-box-shadow: 0 2px 0 #D4D4D4;
        box-shadow: 0 2px 0 #D4D4D4;
    }

    .featured_text_fullpostspecial .one_third {
        float:none;
        width:90.5%;
        clear:both;
        margin-bottom:20px;
    }

    .featured_text_fullpostspecial .one_half_first, .featured_text_fullpostspecial .one_half {
        float:none;
        width:93%;
        clear:both;
        padding:15px;
        margin-bottom:20px;
    }

    ul.timetable {
        clear:both;
        margin-bottom:30px;
    }

    .mejs-container {
        width:100% !important;
    }

    #right_content, #content_left {
        padding:15px;
    }

    ul.tweet_list li {
        margin-right:8px;
    }

    #postformattypequote {
        margin-right:-8px;
    }

    textarea, textarea:focus {
        width:98%;
    }

    #left_contact_wrapper #left_content textarea, #left_contact_wrapper #left_content textarea:focus {
        width:96%;
    }

    .alignright a, .alignleft a {
        font-size:12px !important;
    }

    #right_contact_wrapper {
        margin-top:50px;
    }

    #right_content, #content_left, .pullquoteright, .pullquoteleft {
        width:94%;
    }

}

/** Contact Form External Stylesheet **/
#cfgenwp-contactform-2 .cfgenwp-clear{
    clear:both;
}
#cfgenwp-contactform-2 .cfgenwp-contactform{
    padding:10px 0;
}
.ui-datepicker{
    font-size:12px !important;
}
.ui-datepicker select.ui-datepicker-month{
    display:inline-block;
}
.ui-datepicker select.ui-datepicker-year{
    display:inline-block;
}
#cfgenwp-contactform-2 .cfgenwp-element-container{
    clear:both;
    line-height:normal;
}
#cfgenwp-contactform-2 .cfgenwp-element-set{
    margin-bottom:16px;
}
#cfgenwp-contactform-2 .cfgenwp-element-content img{
    border:none;
    float:none;
    margin:0;
    padding:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-option-set::after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
#cfgenwp-contactform-2 .cfgenwp-title{
    line-height:normal;
}
#cfgenwp-contactform-2 .cfgenwp-label{
    display:block;
    margin-right:10px;
    margin-bottom:0;
    line-height:normal;
    cursor:default;
}
#cfgenwp-contactform-2 .cfgenwp-errormessage{
    display:none;
}
#cfgenwp-contactform-2 .cfgenwp-required{
    color:#990000;
}
#cfgenwp-contactform-2 .cfgenwp-paragraph{
    margin-bottom:2px;
    line-height:normal;
}
#cfgenwp-contactform-2 .cfgenwp-captcha-container{
    margin-top:2px;
}
#cfgenwp-contactform-2 .cfgenwp-captcha-img{
    border:1px solid #dcdcdc;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    display:inline-block;
    margin-bottom:1px;
}
#cfgenwp-contactform-2 .cfgenwp-captcha-refresh{
    display:inline-block;
    margin-bottom:8px;
    cursor:pointer;
}
#cfgenwp-contactform-2 .cfgenwp-submit{
    cursor:pointer;
    padding:8px 4px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    line-height:normal;
    background-image:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-submit:hover{
    background-image:none;
}
#cfgenwp-contactform-2 .cfgenwp-uploadsuccess-container{
    margin-top:10px;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
}
#cfgenwp-contactform-2 .cfgenwp-deleteupload{
    color:#ff0033;
    margin-left:10px;
    cursor:pointer;
}
#cfgenwp-contactform-2 .cfgenwp-deleteupload:hover{
    text-decoration:underline;
}
#cfgenwp-contactform-2 .cfgenwp-loading{
    display:none;
    background:url("../img/loading.gif") no-repeat 0 1px;
    padding-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
}
#cfgenwp-contactform-2 .cfgenwp-option-content input[type=checkbox]{
    margin:0 2px 0 0;
    vertical-align:baseline;
    float:none;
    line-height:normal;
    width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-option-content input[type=radio]{
    margin:0 2px 0 0;
    vertical-align:baseline;
    float:none;
    line-height:normal;
    width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-option-content{
    line-height:normal;
    margin-bottom:4px;
}
#cfgenwp-contactform-2 .cfgenwp-option-content label{
    display:inline;
    vertical-align:baseline;
    line-height:normal;
    float:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-selectmultiple{
    height:auto;
    width:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-style:solid;
    margin:0;
    min-width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-select{
    height:auto;
    width:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-style:solid;
    margin:0;
    min-width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-selectmultiple option{
    background-color:transparent;
    padding-right:4px;
}
#cfgenwp-contactform-2 .cfgenwp-type-select option{
    background-color:transparent;
    padding-right:4px;
}
#cfgenwp-contactform-2 .cfgenwp-time-hour{
    height:auto;
    width:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-style:solid;
    margin:0;
    min-width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin-right:2px;
    display:inline-block;
}
#cfgenwp-contactform-2 .cfgenwp-time-minute{
    height:auto;
    width:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-style:solid;
    margin:0;
    min-width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin-right:2px;
    display:inline-block;
}
#cfgenwp-contactform-2 .cfgenwp-time-ampm{
    height:auto;
    width:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-style:solid;
    margin:0;
    min-width:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    margin-right:2px;
    display:inline-block;
}
#cfgenwp-contactform-2 .cfgenwp-captcha-input{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-textarea{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-phone{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-url{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-date{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-text{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
#cfgenwp-contactform-2 .cfgenwp-type-email{
    margin:0;
    line-height:normal;
    background-image:none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-sizing:border-box;
    box-sizing:border-box;
    height:auto;
    min-height:auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

#cfgenwp-contactform-2 .cfgenwp-element-content input[type="text"]
,#cfgenwp-contactform-2 .cfgenwp-element-content textarea
,#cfgenwp-contactform-2 .cfgenwp-element-content select
,#cfgenwp-contactform-2 .cfgenwp-element-content select option
,#cfgenwp-contactform-2 .cfgenwp-option-content
,#cfgenwp-contactform-2 .cfgenwp-option-content label{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
    color:#d4d4d4;
}

#cfgenwp-contactform-2 .cfgenwp-element-content input[type="text"]
,#cfgenwp-contactform-2 .cfgenwp-element-content textarea{
    padding:6px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border-width:1px;
    border-style:solid;
    border-color:#5c5c5c;
    background-color:#2e2e2e;
}

#cfgenwp-contactform-2 .cfgenwp-element-content select{
    padding:6px;
    border-width:1px;
    border-style:solid;
    border-color:#5c5c5c;
    background-color:#2e2e2e;
}

#cfgenwp-contactform-2 .cfgenwp-validationmessage{
    font-family:'Verdana';
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    color:#ffffff;
    background-color:#3bb000;
    width:450px;
    line-height:normal;
    margin:0 0 10px 0;
    padding:8px 8px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#cfgenwp-contactform-2 .cfgenwp-errormessage{
    font-family:'Verdana';
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    color:#ffffff;
    background-color:#ff0000;
    width:300px;
    line-height:normal;
    margin:4px 0;
    padding:6px 6px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-2-label{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-2-label .cfgenwp-label-value{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
    color:#d1d1d1;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-2-label .cfgenwp-required{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-2{
    width:283px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-3-label{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-3-label .cfgenwp-label-value{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
    color:#d1d1d1;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-3-label .cfgenwp-required{
    font-family:'Verdana';
    font-weight:normal;
    font-style:normal;
    font-size:12px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-3{
    width:283px;
    height:100px;
}

#cfgenwp-contactform-2 #cfgenwp-element-2-4{
    width:283px !important;
    border-width:1px;
    border-style:solid;
    font-family:'Verdana';
    font-weight:bold;
    font-style:normal;
    font-size:15px;
    margin-left:0;
    color:#ffffff;
    background-color:#e83539;
    border-color:#000000;
    margin-top:4px;
}

/** End of Contact Form External Stylesheet **/

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 320px) {

    #outer_wrapper {
        height:280px;
    }

    #top_logo {
        margin:0 auto;
        width:85%;
        float:none;
        margin-left:15%;
        margin-right:15%;
        padding-top:25px;
        height:auto;
    }

    .header_info {
        text-align:center;
        display:block;
        padding-bottom:25px;
    }

    #info_box {
        font-size:11px;
        float:none;
        width:100%;
        margin-top:15px;
        text-align:center;
        clear:both;
    }

    .header_phone {
        text-align:center;
        float:none;
        width:100%;
    }

    #topmenu select {
        width:70%;
    }

    #searchbox {
        width:20%;
    }

    ul.flex-direction-nav, ol.flex-control-nav {
        display:none;
    }

    .video-stretch object, .video-stretch embed, .video-stretch video, .video-stretch iframe, object, embed, video, iframe {
        max-height:155px;
    }

    img.left, img.right {
        margin-bottom:8px;
        margin-right:8px;
    }

    .slider {
        margin:0;
    }

    .mejs-audio {
        width:95% !important;
        margin:0 auto;
    }

    textarea, textarea:focus {
        width:94%;
    }

    #left_contact_wrapper #left_content textarea, #left_contact_wrapper #left_content textarea:focus, #right_content, #content_left, .pullquoteright, .pullquoteleft {
        width:90%;
    }

    span.wpcf7-not-valid-tip {
        width:100%;
        left:0;
    }

    .gallery-item, .gallery-1 {
        width:28% !important;
    }

    .buttontextnext a, .buttontext a {
        font-size:9px !important;
        background-image:none;
    }

    .buttontext a {
        padding-left:0px;
    }

    .buttontextnext a {
        padding-right:0px;
    }

    #commentform {
        width:100%;
    }

    .pullquoteright {
        padding: 0px 14px 0px 5px !important;
    }

    #message_center h1 {
        clear:both;
    }


}




/*  END OF MEDIA QUERIES */