<section id="banner">

    <!--- home page carousel --->
    <div id="carousel-hero-shot" class="carousel slide carousel-fade "><!-- class of slide for animation -->
        <div class="carousel-inner">
            <div class="item active"><!-- class of active since it's the first item -->
                <img src="/lifefitness-shop/img/lfBannerImage.jpg" alt="" />

            </div>
            <div class="item">
                <img src="/lifefitness-shop/img/hbenglish3.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/lifefitness-shop/img/hbenglish4.jpg" alt="" />
            </div>

        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
    </div>
</section>



<section id="featuredBlockContainer" >
    <article id="featuredBlockLeft">
        <div id="featuredBlockLeftHeader">
            <a href="/cat/your-poster/555/">
                <span class="darkgreyTextHome">
                    <?php
                    echo $this->languageSelected
                        ->getContent('benefits')
                        ->getContent();
                    ?>
                </span> 
                <span class="greyTextHome">
                    <?php
                    echo $this->languageSelected
                        ->getContent('for_facility')
                        ->getContent();
                    ?>
                </span>
            </a>
            <p class="subheading">
                <a href="/cat/your-poster/555/">
                    <?php
                    echo $this->languageSelected
                        ->getContent('home_facility_desc')
                        ->getContent();
                    ?>
                </a>
            </p>
        </div>
        <div id="featuredBlockLeftContent">
            <a href="/cat/accessories/545/"><img src="/lifefitness-shop/img/benefitsMerch.png" class="facilityTrend" alt="Facility"/></a>
            <a href="/cat/life-fitness/524/"><img src="/lifefitness-shop/img/benefitsCloth.png" class="facilityTrend" alt="Facility"/></a>
            <a href="/cat/marketing-material/544/"><img src="/lifefitness-shop/img/benefitsMark.png" class="facilityTrend" alt="Facility"/></a>
            <a href="/cat/customise/557/" class="btn btn-primary">
                <?php
                echo $this->languageSelected
                    ->getContent('see_more')
                    ->getContent();
                ?>  
<!--                <img src="/lifefitness-shop/img/buttonArrow.png" alt="" />-->
                <i class="fa fa-chevron-circle-right"></i>
            </a>
<!--            <img src="/lifefitness-shop/img/line-bottom.jpg" class="trendLine">-->
        </div>
        <!------- Left Column content end------>
    </article>
    <article id="featuredBlockRight">
        <!------- Right Column content start------>
        <div class="featuredBlockRightTop container">
            <div id="featuredBlockRightTopLeft">
                <div class="featured-padding">
                    <span class="darkgreyTextHome">
                        <?php
                        echo $this->languageSelected
                            ->getContent('new')
                            ->getContent();
                        ?>
                    </span> 
                    <br /> 
                    <span class="greyTextHome">
                        <?php
                        echo $this->languageSelected
                            ->getContent('products')
                            ->getContent();
                        ?>
                    </span>
                    <?php if($this->new): ?>

                        <a  class="btn btn-primary" href="/product/index/id/<?php echo $this->new->product_id; ?>" class="redBtnNew">
                            <?php
                            echo $this->languageSelected
                                ->getContent('see_more')
                                ->getContent();
                            ?>  
<!--                            <img src="/lifefitness-shop/img/buttonArrow.png" alt="" />-->
                        </a>
                    <?php endif; ?>
                </div>
            </div>
            <div id="featuredBlockRightTopRight">
                <?php if($this->new): ?>
                    <div class="featured-padding">
                        <a href="/product/index/id/<?php echo $this->new->product_id; ?>" title=""><img src="/lifefitness-shop/img/products/<?php echo $this->new->image_url; ?>" alt="PROMiXX™ Sports Bottle" /></a>
                    </div>
                <?php endif; ?>
            </div>
        </div>

        <div id="featuredBlockRightBottomLeft">
            <div class="featured-padding">
                <?php if($this->featured): ?>
                    <a  href="/product/index/id/<?php echo $this->featured->product_id; ?>" title="">
                        <span class="darkgreyTextHome">
                            <?php
                            echo $this->languageSelected
                                ->getContent('featured')
                                ->getContent();
                            ?>
                        </span>
                        <span class="greyTextHome">
                            <?php
                            echo $this->languageSelected
                                ->getContent('products')
                                ->getContent();
                            ?>
                        </span>
                    </a>
                    <p>
                        <a href="/product/index/id/<?php echo $this->featured->product_id; ?>" title="">
                            <?php 
                            echo $this->languageSelected
                                ->getContent($this->featured->description)
                                ->getContent();
                            ?>
                        </a>
                        <img src="/lifefitness-shop/img/arrowRed.jpg" alt="Arrow Red" />
                    </p>
                    <a href="/product/index/id/<?php echo $this->featured->product_id; ?>" title="">
                        <img class="featuredImg" src="/lifefitness-shop/img/products/<?php echo $this->featured->image_url; ?>" />
                    </a>
                <?php endif; ?>
            </div>
        </div>
        <div id="featuredBlockRightBottomRight">
            
            <div class="featured-padding">
                <?php if($this->highestRated): ?>
                    <a href="/product/index/id/<?php echo $this->highestRated->product_id; ?>" title="">
                        <span class="darkgreyTextHome">
                            <?php
                            echo $this->languageSelected
                               ->getContent('highest_rated')
                               ->getContent();
                            ?>
                        </span>
                        <br />
                        <span class="greyTextHome">
                            <?php
                            echo $this->languageSelected
                                ->getContent('products')
                                ->getContent();
                            ?>
                        </span>
                    </a>
                    <p>
                        <a href="/product/index/id/<?php echo $this->highestRated->product_id; ?>" title="">
                            <?php 
                            echo $this->languageSelected
                                ->getContent($this->highestRated->description)
                                ->getContent();
                            ?>
                        </a> 
                        <img src="/lifefitness-shop/img/arrowRed.jpg" alt="Arrow Red" />
                    </p>
                    <a href="/product/index/id/<?php echo $this->highestRated->product_id; ?>" title="">
                        <img class="featuredImg" src="/lifefitness-shop/img/products/<?php echo $this->highestRated->image_url; ?>" alt="Mens's Hammer Strength Bodywarmer" />
                    </a>
                <?php endif; ?>
            </div>
        </div>
    </article>
    <!------- Right Column content end------>
</section>



<div id="push"></div>
<script>
    $(document).ready(function() {
        $('.carousel').carousel();
    });
</script>
