<div class="main-wrapper">

    <div class="span10 offset1">

        <div id="push"></div>

        <h3>Shopping Basket</h3>
        <?php
        if ($this->success) {
            ?>
            <div class="alert alert-success">Item has successfully been removed from your basket</div>
            <?php
        }

        $items = $this->basket->getItems();

        if ($items) {
            ?>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <?php
                //$totalPrice = $this->basket->getItemsTotal();
                $totalPrice = floatval(0);
                foreach ($this->basket->getDisplayData() as $key => $value) :
                    $stockId = $key;
                    $productId = $value['product_id'];
                    $productUrl = $this->productUrl . $productId;
                    $productImage = $value['product_image'];
                    $productImageUrl = $this->productImageLocation . $productImage;
                    $productName = $value['product_name'];
                    $productOption = $value['option'];
                    $productColourway = $value['colourway'];
                    $itemQty = (float) $value['qty'];
                    $itemPrice = (float) $value['itemprice'];
                    $totalPrice += ($itemPrice * $itemQty);
                    ?>
                    <?php
                    if (isset($this->conversion)) {
                        $itemPrice = number_format(($itemPrice * $this->conversion), 2, '.', ',');
                        $totalPrice = number_format(($totalPrice * $this->conversion), 2, '.', ',');
                    }
                    ?>
                    <tr>
                        <td><img src="<?php echo $productImageUrl; ?>" width="70px"/></td>
                        <td><a href="<?php echo $productUrl; ?>"><?php echo $productName . ' [' . $productOption . ' / ' . $productColourway . ' ]'; ?></a> 
                        <td><?php echo $this->currency->getCurrencySymbol() . number_format($itemPrice, 2); ?></td>
                        <td>
                            <input type="text" id='qty_<?php echo $stockId; ?>' style="width: 30px" price ="<?php echo $this->currency->currencySymbol . $itemPrice; ?>" class="qty" value="<?php echo $itemQty; ?>"/>
                            <br /><a href="#" class="update" stock-id="<?php echo $stockId; ?>">Update</a>
                        </td>
                        <td>
                            <a class="danger" name="remove_product" title="Remove this product" alt="Remove this product" href="/basket/index/id/<?php echo $stockId; ?>"><img src="/lifefitness-shop/img/close2.png"/></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <td></td>
                <td></td>
                <td><h5>Total Price</h5></td>
                <td><h5><?php echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2); ?></h5></td>
                <td></td>
                </tbody>
            </table>

            <a class='btn-checkout' id='goToCheckout' href="/checkout/">Proceed to Checkout</a>
            <?php
            } else {
            ?>
            There are currently no items in your basket.<br /><a href="/" class="btn" title="Continue Shopping">Continue Shopping</a>
            <?php
            }
        ?>
    </div>
</div>

