<div class="main-wrapper">
    <div class="left-links">
        <ul class="nav nav-list nav-lined">
            <h3>Categories</h3>
            <?php
            if (!empty($this->childCategories)):
                foreach ($this->childCategories as $childCategory):
                    ?><li>
                        <a href ="<?php echo $this->categoryUrl . $childCategory->getId(); ?>">
                            <?php echo $childCategory->getNameByLanguage($this->languageSelected); ?></a></li>
                    <?php
                endforeach;
            endif;
            ?>
        </ul>
    </div>                                                  <!-- end column 1 -->

    <!-- Product popup after product has been added to basket -->
    <div id='added-product-popup' class="media <?php echo ($this->success ? 'show' : 'hide'); ?>" style='display: none'>
        <a class="pull-left" href="#">
            <?php
            if ($this->product->hasColourways()) {
                $productColourwayImages = $this->product->getColourwayImagesByColourwayId($this->colourwaySelected);
                $displayImage = $productColourwayImages[0]->image_url;
            } else {
                $displayImage = $this->product->getDefaultImage()->image_url;
            }
            ?>
            <img class="media-object" src="<?php echo $this->productImageLocation . $displayImage; ?>" width='30px'/>
        </a>
        <div class="media-body">
            Product [ <?php echo ($this->product->getNameByLanguage($this->languageSelected)); ?> ] has been added to basket
        </div>
    </div>
    <!-- End of product popup -->

    <div class="main-right-wrapper">


        <div class="product-header">

            <h2><?php echo $this->product->getNameByLanguage($this->languageSelected); ?></h2>  <!-- product title -->

        </div>


        <div id="prod-image-wrapper">
            <div class="product-main-image">
                <?php
                if ($this->product->hasColourways()) {
                    $productColourwayImages = $this->product->getColourwayImagesByColourwayId($this->colourwaySelected);
                    $displayImage = $productColourwayImages[0]->image_url;
                } else {
                    $displayImage = $this->product->getDefaultImage()->image_url;
                }
                ?>
                <img src="<?php echo $this->productImageLocation . $displayImage; ?>" />
            </div>
        </div>          <!-- end main image column -->
        <div class="prod-thumbs">
            <?php foreach ($this->product->getImages() as $productImage): ?>
                <div class="prod-thumb product-image-thumbnail <?php echo (($this->product->hasColourways() && $this->colourwaySelected == $productImage->colourway_id) ? ' default ' : ''); ?>
                     <?php echo (($this->product->hasColourways()) ? ' colourway-thumbnail-select colourway-thumbnail-' . $productImage->colourway_id : ''); ?>" >
                    <img src="<?php echo $this->productImageLocation . $productImage->image_url; ?>" alt="" >
                </div>
            <?php endforeach; ?>
        </div>          <!-- end thumb image column -->
        <div id="product-options">
            <div class="prod-options-header">
                <?php
                if ($this->product->hasColourways()):
                    foreach ($this->product->getColourways() as $colourway):
                        $colourwayId = $colourway->getId();
                        $hex = $colourway->getHex();
                        $name = $colourway->getNameByLanguage($this->languageSelected);
                        ?>
                        <span class="colourway-text" id="colourway-text-<?php echo $colourwayId; ?>" >
                            <?php
                            echo $this->languageSelected
                                ->getContent('colour')
                                ->getContent();
                            ?>
                            <?php echo ': ' . $name; ?>
                        </span>
                        <?php
                    endforeach;
                    echo '<br/>';
                    foreach ($this->product->getColourways() as $colourway):
                        $colourwayId = $colourway->getId();
                        $hex = $colourway->getHex();
                        $name = $colourway->getNameByLanguage($this->languageSelected);
                        ?>
                        <div class ="colourway-select" id="colourway-select-<?php echo $colourwayId; ?>" hex="<?php echo $hex; ?>" style="background-color:<?php echo $hex; ?>">
                        </div>
                        <?php
                    endforeach;
                endif;
                ?>
            </div>
            <div class="prod-options-form">
                <form method="POST" action="">
                    <table class="table" id="prod-options-table">
                        <thead>
                        </thead>
                        <tbody>
                            <?php
                            if (!empty($this->productStock)):
                                foreach ($this->productStock as $stock):
                                    $stockId = $stock->getId();
                                    $price = $stock->getPrice();
                                    $option = $stock->getOption();
                                    $colourwayId = $stock->getColourwayId();
                                    /*
                                     * Checks if product has colourways before displaying stock row
                                     * If product has colourways it has to swap textboxes per colourway clicked therefore we assign the colourway id to each row of stock input boxes showing
                                     * If product does not have colourways we just have to display all the options eg(S, M, XL) without having to swap per colourway click hence no need for the colourway-row class
                                     */
                                    ?>
                                    <tr class = "<?php echo ($this->colourwaySelected == $colourwayId ? ' default ' : ''); ?>
                                        <?php echo ($this->product->hasColourways() ? ' colourway-row-' . $colourwayId : '' ); ?> " >
                                        <td><?php echo $option; ?></td>
                                        <td>
                                            <?php echo $this->currency->currencySymbol . number_format($price, 2, '.', ','); ?> <?php //echo $symbol . number_format($conversion * $price, 2);  ?>
                                        </td>
                                        <td>
                                            <input type ="text" name="stock[<?php echo $stockId; ?>]" id="qty_<?php echo $stockId; ?>" class="input-mini qty-input"/>
                                            <input type="text" class="basketrule-display input-mini" id="cost-per-item" disabled/>
                                        </td>
                                    </tr>
                                    <?php
                                endforeach;
                            endif;
                            ?>
                            <tr class="no-border basketrule-display">
                                <td colspan="3" id="total-cost"></td>
                            </tr>
                            <tr class="no-border basketrule-display">
                                <td colspan="3" id="total-saving"></td>
                            </tr>
                            <tr class="no-border">
                                <td colspan="3">
                                    <input type ="hidden" name ='product_id' id="product-id" value ='<?php echo $this->product->getId(); ?>'/>
                                    <input type ="submit" data-toggle="tooltip" value="Add to basket" class="btn btn-primary" id="add-to-basket" data-toggle="popover" data-content="Add to basket"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <div class="prod-info" id="prod-info">
            <div id="prod-tabs" class="tabbable">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#pane1" data-toggle="tab">Product Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="pane1" class="tab-pane active">
                            <p class="description"><?php echo $this->product->getDescriptionByLanguage($this->languageSelected); ?></p>
                        </div>
                        <div id="pane3" class="tab-pane">
                            <h4>Delivery</h4>
                        </div>
                    </div><!-- /.tab-content -->
                </div><!-- /.tabbable -->

            </div>

        </div>                                          <!-- end column 2 -->
        <table class="table">
            <!--Leaving this in for now just in case we need it in the future-->
            <?php /* if (isset($this->conversion)) {
              $price = number_format(($price * $this->conversion), 2, '.', ',');
              }
              ?>
              <?php foreach ($loadedPacks as $loadedPack) : ?>
              <?php
              $packName = $loadedPack['pack_name'];
              $price = $loadedPack['price'];
              ?>
              <tr>
              <td><a href="/pack/index/id/<?php echo $loadedPack['pp_id']; ?>"><?php echo $packName; ?></a></td>
              <td><?php echo $this->currency->currencySymbol . $price; ?></td>
              </tr>
              <?php endforeach; */ ?>
        </table>
    </div>
</div>
