/* ==========================================================================
    BASKET PAGE STYLING
========================================================================== */
.danger{
    font-size:11px;
    color:#E51937;

}
.danger:hover{
    color:#D34155;

}
.update{
    font-size:11px;
    color:#468A5B;

}
.update:hover{
    color:#E8EDE6;

}