/* ==========================================================================
    COLOURWAY STYLING
========================================================================== */
.colourway-thumbnail-select img{
    width: 80px;
}

.colourway-select {
    float: left;
    margin: 3px;
    width: 1.5em; 
    height: 1.5em; 
    border: 2px solid #999;
    -webkit-border-radius: 1.3em; 
    -moz-border-radius: 1.3em;
    border-radius: 1.3em;
    cursor:pointer;
}

.colourway-product-select {
    float: left;
    margin: 3px;
    width: 20px; 
    height: 20px; 
    border: 1px solid #999;
}

.black-tick{
    background: url('/lifefitness-shop/img/blacktick.png') 6px 7px no-repeat;
}

.white-tick{
    background: url('/lifefitness-shop/img/whitetick.png') 6px 7px no-repeat;
}

#added-product-popup{
    background: #fff;
    width: 250px;
    position: fixed; 
    margin: -180px 0px 0px 330px;
    padding: 20px;
    height:30px;
    -moz-box-shadow:  0px 3px 5px rgba(96, 96, 96, 0.61);
    -webkit-box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
    box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    z-index: 1000;
}