/* ==========================================================================
HEADER
========================================================================== */

/*----------------------------Top nav links--------------------------------*/
#header-basket {

  nav {
    position: relative;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
    -moz-box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
    box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
    margin-right: 25px;
    margin-top:-10px;
    ul {
      clear: both;
      text-align: center;
      padding: 0;
      margin: 0;

      .languages {
        margin: 0px 5px 0px 15px;
        display: inline-flex;

      }
      .divider {
        position: relative;
        background: #c2c2c2;
        width: 1px;
        height: 40px;
        padding: 0;
        top: 6px;
        margin:0 5px;
        background: url('/lifefitness-shop/img/seperator.png') no-repeat 0 5px;
      }
      #basket{

        margin: 9px 10px 0px 5px;
      }
      li {

        list-style: none;
        display: inline-block;
        padding: 0px;
        margin: -5px 5px 0px 5px;

        a {
          font-family: 'Conv_UniversLTStd-BoldCnObl';
          text-transform: uppercase;
          font-style: italic;
          font-size: 15px;
          display: table;
          font-weight: bold;
          margin: 0;
          text-decoration: none;
          &:hover {
          }
        }
        &:first-child {
        }
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  li.tn-home:hover {
    -moz-border-radius: 8px 0 0 8px; /* Firefox */
    -webkit-border-radius: 8px 0 0 8px; /* Safari, Google Chrome */
    border-radius: 8px 0 0 8px; /* CSS3 */
  }

  #basket {
    ul {
      display: none;
    }
  }

}

/*----------------------------Top nav links--------------------------------*/
#shop-nav {
  display: block;
  position: relative;
  nav {
    @include header-drop-shadow;
    position: relative;
    float: right;
    text-align: center;
    background: #000;

    border-top: 0px;
    border-right: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    border-left: 1px solid #BFBFBF;
    ul {
      float: left;
      list-style-type: none;
    }
    li {
      float: left;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
      display: block;
      height: 50px;

      a {
        color: #ffffff;
        text-decoration: none;
        height: 32px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        font-size: 11px;
        padding: 18px 15px 0 15px;
        display: block;
        font-family: 'Muli', sans-serif;

        &:hover {
          text-decoration: none !important;
          color: #323232;
          background-color: #bfbfbf;
          font-size: 11px;
          font-family: 'Muli', sans-serif;

        }

      }
      ul {
        @include header-drop-shadow;

        background-color: #fff;
        top: 50px;
        position: absolute;
        padding: 20px;

        z-index: 1;
        display: none;
        min-height: 14em;
        max-height: 28em;
        min-width: 20em;
        max-width: 30em;
        bottom: 0.5em;
        right: 0;
        overflow: auto;
        li {
          float: left;
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: right;
          text-transform: uppercase;
          display: block;
          height: 50px;
          width: 100%;
          a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            height: 32px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: 11px;
            padding: 0;
            font-family: 'Muli', sans-serif;
            &:hover {
              text-decoration: none !important;
              color: #323232;
              background-color: #fff;
              font-size: 11px;
              font-family: 'Muli', sans-serif;

            }
            img {
              position: absolute;
              left: 0;
            }
            h4 {
              font-size: 1em;
              display: inline;
            }
            p {
              font-size: 1em;
              display: inline;
              line-height: 8px;
              margin: 5px 10px;

            }
          }
          p {
            display: block;

          }
        }
      }
    }
  }
}

.basket-btn {
  a {
    text-decoration: none !important;
    float: left !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important !important;
    display: block !important;
    color: #ffffff !important;
    height: 29px !important;
    font-size: 12px !important;
    font-family: 'Muli', sans-serif !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    border: none !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    padding-top: 2px !important;
    transition: all .5s ease-in !important;
    -o-transition: all .5s ease-in !important;
    -moz-transition: all .5s ease-in !important;
    -webkit-transition: all .5s ease-in !important;
    line-height: 30px !important;
    position: absolute;
    right: 0;
    &:hover {
      background-color: #323232 !important;
      -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      text-decoration: none !important;
      float: left !important;
      margin-bottom: 15px !important;
      margin-top: 0px !important !important;
      display: block !important;
      color: #ffffff !important;
      height: 29px !important;
      font-size: 12px !important;
      font-family: 'Muli', sans-serif !important;
      font-weight: normal !important;
      text-transform: uppercase !important;
      border: none !important;
      padding-right: 12px !important;
      padding-left: 12px !important;
      padding-top: 2px !important;
    }
  }
}

#logo {
  height: 80px;
  position: relative;
  width: 40%;
  margin-bottom: 35px;
  img {
    width: 380px;
    position: relative;
    width: 100%;
    margin: 50px 0px 23px 35px;
  }
}

.divider {
  padding: 2px;

}

//.account-dropdown {
//  min-height: 2em !important;
//  max-height: 28em !important;
//  min-width: 8em !important;
//  max-width: 30em !important;
//  li {
//    margin: 0 auto;
//    height: 15px !important;
//    line-height: 1 !important;
//
//  }
//}

.btn-top-basket {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  &:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
    background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
    background-color: #ad031c;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  img {
    height: 12px;
    width: 12px;
    margin: 1px 3px 2px 4px;

  }
}

.media {
  width: 100%;
  height: 64px;
  text-align: right;

}


