// Text links
a {
  color: $primary-color;
  &:hover, &:focus {
    text-decoration: none;
  }
}

a {
  color: #7A7B7D;
  text-decoration: none;
  font-size: $p-size;
}

a:hover,
a:focus {
  color: #CDCDCD;
  text-decoration: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: none;

}

// Default button
.btn {
  @include border-radius($btn-br);
  background: $tertiary-color;
  border: 1px solid darken($tertiary-color, 10);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  display: inline-block;
  text-transform: capitalize;
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
  min-width: 60px;
  text-align: center;
  margin: 10px 5px 10px 0px;
  padding: 0px 5px;
  @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 0 5px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .2));
  outline: none;
  &:hover, &:focus {
    background: darken($tertiary-color, 3);
    text-decoration: none;
    color: white;
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, .2), 0 0 10px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .2));
  }
  &:active {
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .2));
  }
}

// Primary action button
.btn-primary {
  @extend .btn;
  background: $primary-color;

  border-color: darken($primary-color, 10);

  &:hover, &:focus {
    background: darken($primary-color, 3);
  }
  &:active {

  }
}

// Link button - a button that looks like a link
.btn-link {
  @extend .btn;
  color: grey;
  background: transparent;
  border: none;
  text-shadow: none;
  text-transform: none;
  padding:0;

  @include box-shadow(none);

  &:hover, &:focus {
    text-decoration: underline;
    background: transparent;
    color: grey;
    @include box-shadow(none);
  }

  &:active {

  }
}

/* ==========================================================================
Buttons
========================================================================== */
.redBtnNew {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 80px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
}

.redBtnNew:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.redBtnNew:active {
  position: relative;
  top: 1px;
}

.redBtnNew img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-1 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 50%;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;
}

.btn-checkout-1:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-1:active {
  position: relative;
  top: 1px;
}

.btn-checkout-1 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-2 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 15%;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;
}

.btn-checkout-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-2:active {
  position: relative;
  top: 1px;
}

.btn-checkout-2 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

#add-to-basket {
  width: 100%;
  height: 24px;
  margin: 0 auto;

}

.btn-checkout {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 20%;
  float: right;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
}

.btn-checkout:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout:active {
  position: relative;
  top: 1px;
}

.btn-checkout img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-3 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 15%;
  float: right;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;

}

.btn-checkout-3:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-3:active {
  position: relative;
  top: 1px;
}

.btn-checkout-3 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.redBtn {
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  min-width: 80px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  padding: 2px;
}

.redBtn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.redBtn:active {
  position: relative;
  top: 1px;
}

.redBtn img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}