@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
    clear: both;
  }
}

.clearfix, .group{
  @include clearfix;
}

@mixin center{
  margin:0 auto;

}

@mixin header-drop-shadow{
  -webkit-box-shadow: 0px 2px 8px rgba(96, 96, 96, 0.4);
  -moz-box-shadow:    0px 2px 8px rgba(96, 96, 96, 0.4);
  box-shadow:         0px 2px 8px rgba(96, 96, 96, 0.4);


}