/* ==========================================================================
NAVIGATION
========================================================================== */

#main-navbar {
  width: 94%;
  margin: 0 auto;
  background-color: #1b1b1b;
  background-image: linear-gradient(bottom, #78797C 21%, #CFCFCE 81%);
  background-image: -o-linear-gradient(bottom, #78797C 21%, #CFCFCE 81%);
  background-image: -moz-linear-gradient(bottom, #78797C 21%, #CFCFCE 81%);
  background-image: -webkit-linear-gradient(bottom, #78797C 21%, #CFCFCE 81%);
  background-image: -ms-linear-gradient(bottom, #78797C 21%, #CFCFCE 81%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, #78797C), color-stop(0.81, #CFCFCE));
  border-radius: 8px;
  position: relative;
  height: 33px;
  ul {
    padding: 0;
    margin: 0 auto;
    height: 34px;
    float: left;
  }
  li {
    display: inline;
    float: left;
    height: 33px;
    a {
      padding: 6px 6px 6px 5px;
      border-right: 1px solid rgb(170, 171, 171);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    &:first-child {
      border-radius: 8px 0px 0px 8px;
    }
    &:last-child {
      a {
        border-right: 0;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    &:hover {
      background-color: #CF0404;
      color: #fff;

    }
  }
  a {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    min-width: 115px;
    color: #FFF;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Conv_UniversLTStd-Cn';
  }

}

#navbar-search {
  background-color: #E51937;
  border: 1px inset white;
  color: white;
  font-size: 11px;
  font-style: normal;
  padding: 1px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 120px;
  position: relative;
  margin-top: 7px;
  height: 20px;
  padding: 4px;
  .placeholder {
    color: white;

  }
}

.input-container {
  position: relative;
}

.navbar-search-i {
  position: relative;
  top: 3px;
  left: -14px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  cursor: pointer;
}

#breadcrumb {
  width: 100%;
  margin: 15px 40px 15px auto;
  padding: 0px 50px;
  list-style: none outside none;
  background: none;
}

.breadcrumb > li {
  display: inline-block;
  text-shadow: 0px 1px 0px rgb(255, 255, 255);

}

/* ==========================================================================
    NAV TABS
========================================================================== */

.tab-content {
  border: 1px solid #dddddd;
  overflow: hidden;
}

