/* ==========================================================================
PAYMENT STYLING
========================================================================== */
.payment-wrapper{
    position:relative;
    width:80%;
    margin:10px auto;

}
#payment-form{
    width:50%;
    margin:0 auto;

}

#cardpayment{
    width:100%;
    text-align:left;
}
#cardpayment input[type=text]{
    background-color:#fff;

}

/* ==========================================================================
Checkout & payment styling
========================================================================== */
.cheackout h2{
    margin-bottom:10px;

}
.checkout-wrapper{
    position:relative;
    width:80%;
    margin:10px auto;

}
.address{
    position: relative;
    width: 40%;
    text-align: left;
    float: left;
    margin: 30px 33px;
}

.options{
    width: 100%;
    position: relative;
    float: left;
    margin: 30px auto;

}
.addresses{
    margin-top:10px;
    text-align:center;


}

.checkout-buttons{
    width:100%;
    position:relative;
    float:left;

}
#checkout-form{



}
#checkout-form-textarea{
    width:100%;    


}
.cah{
    margin:20px 0px -10px 17px;
    border-bottom:1px solid #c2c2c2;

}
