/* ==========================================================================
REGISTRATION FORM
========================================================================== */
#register {
  clear: both;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

}

#registration-form {
  width: 90%;
  margin: 0 auto;
}

#registration-form dt dd {
  float: left;
}

#RegisterUser{
  width: 50%;
  margin: 20px auto;
  border: 1px solid #c2c2c2;
  padding: 40px;

}


