body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-style: normal;
    font-size:100%;
    line-height:1.6;
}

blockquote {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-left: 25px;
    font-size: 26px;
    margin: 0 0 25px;
    border-left:2px solid $primary-color;
}

/* ==========================================================================
FONTS
========================================================================== */


@font-face {
    font-family: 'Conv_UniversLTStd-BoldCnObl';
    src: url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl');
    src: url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl.eot?#iefix') format('embedded-opentype'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl.woff') format('woff'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl.ttf') format('truetype'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl.svg#/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-BoldCnObl') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Conv_UniversLTStd';
    src: url('/lifefitness-shop/css/assets/fonts/UniversLTStd.eot');
    src: url('/lifefitness-shop/css/assets/fonts/UniversLTStd.woff') format('woff'), url('/lifefitness-shop/css/assets/fonts/UniversLTStd.ttf') format('truetype'), url('assets/fonts/UniversLTStd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_UniversLTStd-BoldObl';
    src: url('/lifefitness-shop/css/assets/fonts/UniversLTStd-BoldObl.eot');
    src: url('/lifefitness-shop/css/assets/fonts/UniversLTStd-BoldObl.woff') format('woff'), url('/lifefitness-shop/css/assets/fonts/UniversLTStd-BoldObl.ttf') format('truetype'), url('assets/fonts/UniversLTStd-BoldObl.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_UniversLTStd-Cn';
    src: url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-Cn.eot');
    src: url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-Cn.woff') format('woff'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-Cn.ttf') format('truetype'),
        url('/lifefitness-shop/css/assets/fonts/Conv_UniversLTStd-Cn.svg#Conv_UniversLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1{
    font-size:$h1-size;
    color: #636466;
    font-family: 'Conv_UniversLTStd-Cn';
    font-weight: 600;
    font-style: normal;
}

h2{
    color: rgb(99, 100, 102);
    font-family: 'Conv_UniversLTStd-Cn';
    letter-spacing: -2px;
    font-style: italic;
    font-size:$h2-size;
    font-weight: 600;
    font-style: normal;
}

h3{
    font-size:$h3-size;
    color: #636466;
    font-family: 'Conv_UniversLTStd-Cn';
    font-weight: 600;
    font-style: normal;
}

h4{
    font-size:$h4-size;
    color: #636466;
    font-family: 'Conv_UniversLTStd-Cn';
    font-weight: 600;
    font-style: normal;
}

p{

    font-size:$p-size;
    color: rgb(102, 102, 102);
    font-family: "Trebuchet MS",Trebuchet,Helvetica,Arial,sans-serif;
    font-style: normal;
}

li{
    font-size:11px;

}




pre{
    font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
    margin:0 0 $padding/2;
    padding:10px;
    background:#f5f5f5;
    border:1px solid rgba(0,0,0,.1);
    @include border-radius(5px);
    display:block;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

/* ==========================================================================
Text-Effects 
========================================================================== */


.darkgreyTextHome {
    color: rgb(122, 123, 125);
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0px;
    text-transform: uppercase;
}
.greyTextHome {
    color: rgb(205, 205, 205);
    font-family: 'Conv_UniversLTStd-Cn';
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0px;
    text-transform: uppercase;
}

.subheading{
    font-weight: bold;
    color: rgb(142, 142, 142);
    margin: 0px 0px 10px 0px;

}