
<div class="container">
	<?php foreach($this->getContent('enabled_modules') as $moduleName => $moduleConfig) : ?>
		<ul>
			<li><a href="/admin/<?php echo strtolower($moduleName); ?>/" title="<?php echo $moduleConfig['display_name']; ?>"><?php echo $moduleConfig['display_name']; ?></a></li>
		</ul>
	<?php endforeach; ?>
	<div id="push"></div>
</div>
