
<div class="row-fluid">
   
    <div class="span10 offset1">
    
        <div id="push"></div>

        <h2 class="form-signin-heading"><?php echo $this->addressForm->getDescription(); ?></h2>
        <?php if ($this->formErrors): ?>
            <div class="alert alert-error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php echo $this->addressForm ?>
    
    </div>
</div>
    
