<div id="add-voucher-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-ticket fa-fw"></i> Add Voucher</h1>

        <div class="box-header-static-search"></div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/vouchers/add/"><i class="fa fa-plus fa-fw"></i> Add a new Voucher</a>
            <a class="btn-link" href="/admin/vouchers"
               title="View all vouchers"><i class="fa fa-reply fa-fw"></i> Return to Vouchers</a>
        </div>
        <?php echo $this->form; ?>
        <div class="clear"></div>
    </div>
</div>

<script>
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
    function randomString() {
        var chars = "023456789ABCDEFGHJKLMNOPQRSTUVWXYZ";
        var string_length = 16;
        var randomstring = '';
        for (var i = 0; i < string_length; i++) {
            var rnum = Math.floor(Math.random() * chars.length);
            randomstring += chars.substring(rnum, rnum + 1);
        }
        $('#code').val(randomstring);
    }

    $(document).ready(function () {
        $('<input type="button" id="code-generator" value="Generate Code" onClick="randomString();" >').insertBefore('#code-element');
    });
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': {allow_single_deselect: true},
        '.chosen-select-no-single': {disable_search_threshold: 10},
        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
        '.chosen-select-width': {width: "95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
