<?php $usersInVoucher = $this->usersInVoucher; ?>
<?php $usergroupsInVoucher = $this->usergroupsInVoucher; ?>
<div class="container">
    <h3>Assign Usergroups</h3>
    <input type="text" id="searchug" name="search" placeholder ="Search for a usergroup..."/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Usergroup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($this->usergroups == NULL) : ?>
                <tr><td>There are no usergroups in the system.</td></tr>
            <?php else : ?>
            <form method="post" action="/admin/vouchers/addusergroups/id/<?php echo $this->id; ?>">
    <?php foreach ($this->usergroups as $ug) : ?>
                <?php //echo '<pre>'; var_dump($usergroupsInVoucher); die(); ?>
                    <tr class="ug">
                        <td><?php echo $ug->user_group_name; ?></td>
                        <td><input type="checkbox" name="usergroups[]"
                            <?php if (!empty($usergroupsInVoucher)) {
                                echo (in_array($ug->user_group_id, $usergroupsInVoucher) ? 'checked' : '');
                            }
                            ?>
                                   value="<?php echo $ug->user_group_id ?>"></td>
                    </tr>
            <?php endforeach; ?>
                <input type="submit" class='btn' value="Save">
            </form>
<?php endif; ?>
        </tbody>
    </table>
    <h2>OR</h2>
    <h3>Assign Users</h3>
    <input type="text" id="searchu" name="search" placeholder ="Search for a user..."/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($this->users == NULL) : ?>
                <tr><td>There are no users in the system.</td></tr>
            <?php else : ?>
            <form method="post" action="/admin/vouchers/addusers/id/<?php echo $this->id; ?>">
    <?php foreach ($this->users as $user) : ?>
                <?php //echo '<pre>'; var_dump($user->user_id); die(); ?>
                    <tr class="u">
                        <td><?php echo $user->forename.' '.$user->surname ?></td>
                        <td><input type="checkbox" name="users[]"
                            <?php if (!empty($usersInVoucher)) {
                                echo (in_array($user->user_id, $usersInVoucher) ? 'checked' : '');
                            }
                            ?> 
                                   value="<?php echo $user->user_id ?>"></td>
                    </tr>
            <?php endforeach; ?>
                <input type="submit" class='btn' value="Save">
            </form>
<?php endif; ?>
        </tbody>
    </table>
    <a href="/admin/vouchers/index">Cancel and return to Overview</a>
</div>
<script type="text/javascript">
    $('input#searchug').quicksearch('.ug');
    $('input#searchu').quicksearch('.u');
</script>