<div class="container">
    <div id="push"></div>
    <div class="row">
        <h3>Edit Voucher details</h3>
        <div class="span6">
            <?php echo $this->form; ?>
        </div>

        <div id="voucher-list" class="span6" style="float:right;">
            <h3>Usergroups</h3>
            <?php if ($this->usergroups == null) : ?>
                <p>There are no usergroups assigned to this voucher</p>
            <?php else : ?>
                <?php foreach ($this->usergroups as $ug) : ?>
                    <p><?php echo $ug->user_group_name; ?></p>
                <?php endforeach; ?><br />
            <?php endif; ?>

            <h3>Users</h3>
            <?php if ($this->users == null) : ?>
                <p>There are no users assigned to this voucher</p>
            <?php else : ?>
                <?php foreach ($this->users as $user) : ?>
                <p><?php echo $user->forename . ' ' . $user->surname; ?></p>
                <?php endforeach; ?><br />
            <?php endif; ?>
            <a href="/admin/vouchers/changeusers/id/<?php echo $this->vouchers->id; ?>">Change</a>
        </div>
    </div>
    <p>Return to <a href="/admin/vouchers" title="View all vouchers">Vouchers</a></p>
</div>
<script>
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
</script>
<script>
    function randomString() {
        var chars = "0123456789ABCDEFGHJKLMNOPQRSTUVWXYZ";
        var string_length = 16;
        var randomstring = '';
        for (var i = 0; i < string_length; i++) {
            var rnum = Math.floor(Math.random() * chars.length);
            randomstring += chars.substring(rnum, rnum + 1);
        }
        $('#code').val(randomstring);
    }
    $(document).ready(function() {
        $('<input type="button" id="code-generator" value="Generate Code" onClick="randomString();" >').insertBefore('#code-element');
    });
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': {allow_single_deselect: true},
        '.chosen-select-no-single': {disable_search_threshold: 10},
        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
        '.chosen-select-width': {width: "95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
