<div id="vendor-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-ticket fa-fw"></i> Vouchers</h1>
        <div class="box-header-static-search"></div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/vouchers/add/"><i class="fa fa-plus fa-fw"></i> Add a new Voucher</a>
        </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Operand</th>
            <th>Code</th>
            <th>Start Date</th>
            <th>Expiration Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <?php if ($this->vouchers == NULL) : ?>
            <tr><td>There are no vouchers in the system.</td></tr>
        <?php else : ?>
            <?php foreach ($this->vouchers as $voucher) : ?>
                <tr>
                    <td><?php echo $voucher->voucher_name; ?></td>
                    <td><?php echo $voucher->amount; ?></td>
                    <td><?php echo $voucher->operand; ?></td>
                    <td><?php echo $voucher->code; ?></td>
                    <td><?php echo $voucher->start; ?></td>
                    <td><?php echo $voucher->expire; ?></td>
                    <td><?php echo $voucher->status; ?></td>
                    <td><a href="/admin/vouchers/edit/id/<?php echo $voucher->id; ?>" title="Edit this voucher"><i class="fa fa-pencil fa-fw"></i></a>
                        <a href="/admin/vouchers/changeusers/id/<?php echo $voucher->id; ?>" title="Assign this Voucher">
                            <i class="fa fa-ticket"></i>
                        </a></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
        </tbody>
    </table>
    </div>
</div>
