/* ==========================================================================
HELP PAGE STYLING
========================================================================== */


h1#title {
  text-align: center;
  font-size: 50px;
  line-height: 70px;
  margin-top: 20px;
}

ul.section_menu {
  background: #EDEDED;
  padding: 20px 10px;
}

#sidebar h3 {
  padding-top: 30px;
}

dl.faq {
  margin-bottom: 30px;
}

dl.faq dt {
  font-weight: bold;
  color: #000000;
  padding: 25px 0 5px 0;
  display: block;
  font-size: $p-size;
}

dl.faq dd {
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: $p-size;
}

#sidebar {
  left: 862px;
  position: absolute;
  top: 177px;
}

#sidebar_content {
  position: absolute;
  top: 0;
  /* just used to show how to include the margin in the effect */
  width: 150px;
}

#sidebar_content.fixed {
  position: fixed;
  top: 0;
}

#help-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px;

}