/* ==========================================================================
PRODUCTS STYLING
========================================================================== */

#product {
  clear: both;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  nav {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    h3 {
      color: white;

    }
    ul {
      margin: 0;
      padding: 0;
      li {
        color: #7f8084;
        font-family: Helvetica Neue, sans-serif;
        font-size: 15px;
        list-style: none;

        &:hover a {
          color: red;

        }
        a {
          display: block;
          font-size: 1em;
          color: #666666;
          text-decoration: none;
          text-transform: none !important;
          margin: 0px !important;
          width: 100%;
          text-align: left;
          font-weight: normal !important;
          line-height: 2em;

        }
      }
    }
  }

}

.product-header h2 {
  font-size: 25px;

}

#prod-image-wrapper {
  position: relative;
  float: left;
  width: 50%;
  min-height: 30px;
  margin-left: 2.12766%;
  -moz-box-sizing: border-box;
  text-align: center;
  border: 1px solid #D6D6D6;
  border-radius: 4px;

}

.product-main-image {
  float: left;
  width: 100%;

}

.prod-thumbs {
  position: relative;
  float: left;
  width: 10%;
  text-align: center;
  /*margin: 0px 10px 0 20px;*/
  margin: 0px 5px 0 10px;
}

.prod-thumb {
  cursor: pointer;
  margin: 10px auto;

}

#product-options {
  position: relative;
  float: left;
  width: 30%;
  min-height: 350px;
  /*margin-left: 10px;*/
  -moz-box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  /*padding: 20px;*/
  padding: 2%;
  background-color: #ECECEC;

}

#prod-tabs {
  min-height: 180px;

}

.prod-options-header {
  width: 90%;
  margin: 0 auto;
  h4 {
    font-size:2em;
  }
  p {
    margin:0;
  }
}

.prod-options-form {
  width: 100%;

}

#prod-options-table {
  position: relative;
  width: 100%;
  float: left;

}

.prod-info {
  width: 63%;
  float: left;
  position: relative;
  margin: 20px;

}

.prod-packs-wrapper {
  position: relative;
  float: left;
  width: 100%;

}

.prod-packs h3 {
  font-size: 18px;
}

.prod-packs h4 {
  font-size: 14px;
}

.prod-packs {
  width: 95%;
  margin: 0 auto;
}

.description {
  font-size: 11px;
}
