<div id="products-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-plus-square fa-fw"></i> <?php echo $this->title; ?> </h1> 
        <div class="box-header-static-links"><div id="editable-message"></div>
        </div>
    </div>
    <div class="box-content-static">  
        <!-- Show Results -->
        <?php echo $this->formErrors; ?>
        <?php echo $this->form; ?>
    </div>
</div>

<script type="text/javascript">
    /**************************************************************
    *    REMOVE PRODUCT DISPLAYED UNDER APPLICABLE PRODUCTS
    * ***********************************************************/
    $(document).on('click', ".remove_product", function(){
        var product_id = ($(this).attr('product_id'));
        $(this).closest('tr').remove();
        $('input[name="products[]"][value="'+product_id+'"]').remove();
    });
    /**************************************************************
    *     END OF REMOVING PRODUCTS UNDER APPLICABLE PRODUCTS
    * ***********************************************************/
    
    /**************************************************************
    *         ADD PRODUCT LINK TO SHOW PRODUCT AJAX TEXT BOX
    * ***********************************************************/
     $(document).on('click', "#remove_product_field", function(){
        $('#product-label').html('<label for="product" class="required">Product [All Products as default]</label>');
        $('#product').hide();
        $('#product-element').find('a').remove();
        $('#product-element').append('<a href = "#" class="btn-link" id = "add_product_field">- Show Field -</a>');
        return false;
    });
    $(document).on('click', "#add_product_field", function(){
        $('#product-label').html('<label for="product" class="required">Product [ Start typing and click on product to select ]</label>');
        $('#product').show();
        $('#product-element').find('a').remove();
        $('#product-element').append('<a href = "#" class="btn-link" id = "remove_product_field">- Hide Field -</a>');
        return false;
    });
    /**************************************************************
     *     END OF ADD PRODUCT LINK TO SHOW PRODUCT AJAX TEXT BOX
     * ***********************************************************/
    
    
    $(document).ready(function(){
        /**************************************************************
         *                      TEMPLATES
         * ***********************************************************/
        
        $('#rule_templates').change(function(){
            var templates       = new Array();
            var templateId      = $(this).val();
            var ajaxResponse    = $.ajax({
                type: 'POST',
                async: false,
                data: {id : templateId},
                url: '/ajax/get-template-details/'
            });
            templates = JSON.parse(ajaxResponse.responseText);
            $('#condition').val(templates[templateId]['condition_id']);
            $('#quantity').val(templates[templateId]['quantity']);
            $('#discount').val(templates[templateId]['discount']);
            $('#discount_type').val(templates[templateId]['discount_type_id']);
        });
        /**************************************************************
         *                    END OF TEMPLATES
         * ***********************************************************/
        
        
        
        /**************************************************************
         *                 TOGGLE 2ND QUANTITY BOX
         * ***********************************************************/
        $('#quantity_2').hide();
        $('#quantity_2-label').hide();
        $('#condition').change(function(){
            var conditionId = $('#condition').val();
            if (conditionId == 2){
                $('#quantity_2').show();
                $('#quantity_2-label').show();
                $('#quantity-label').html('<label for="quantity" class="required">Quantity [ From ]</label>');
            }else{
                $('#quantity_2').hide();
                $('#quantity_2-label').hide();
                $('#quantity-label').html('<label for="quantity" class="required">Quantity</label>');
            }
        });
        /**************************************************************
         *              END OF 2ND QUANTITY BOX TOGGLE
         * ***********************************************************/
        
        
        
        /**************************************************************
         *         ADD PRODUCT LINK TO SHOW PRODUCT AJAX TEXT BOX
         * ***********************************************************/
        
        $('#product').hide();
        $('#product-label').html('<label for="product" class="required">Product [ All Products as default ]</label>');
        $('#product-element').append('<a href = "#" class="btn-link" id = "add_product_field">- Show Field -</a>');
        
        /**************************************************************
         *     END OF ADD PRODUCT LINK TO SHOW PRODUCT AJAX TEXT BOX
         * ***********************************************************/
        
        
        
        /**************************************************************
         *                 CLEAR FIELDS ON CLICK
         * ***********************************************************/
        $("#product").click(function(){
            $("#product").val('');
        });
        /**************************************************************
         *            END of CLEARING FIELDS ON CLICK
         * ***********************************************************/
        
        
        
        /**************************************************************
         *            ALL USERGROUPS ON CHECK FUNCTION
         * ***********************************************************/
        $("#usergroup-0").find(':checkbox').attr("checked", false);
//        $("#usergroup-element").find(':checkbox').attr("checked", false);
        
        $('#usergroup-0').change(function() {
            if ($(this).is(':checked')) {
                $("#usergroup-element").find(':checkbox').prop("checked", true);
                $("#usergroup-element").find(':checkbox').prop("disabled", true);
                $("#usergroup-0").prop("disabled", false);
            }else{
                $("#usergroup-element").find(':checkbox').prop("checked", false);
                $("#usergroup-element").find(':checkbox').prop("disabled", false);
            }
        });
        /**************************************************************
         *          END OF ALL USERGROUPS ON CHECK FUNCTION
         * ***********************************************************/
        
        $("<table id='chosen-products'></table>").insertAfter($("#product-element")).hide();
        
         <?php if ($this->productIds) : ?>
            var productids = <?php echo json_encode($this->productIds); ?>;
            console.log(productids);
            var productnames = <?php echo json_encode($this->productNames); ?>;
            for (i = 0; i < productids.length; i++) {
                var tableRow = '<tr><td>'+productnames[i]+'&nbsp;<a href = "#"  product_id="'+productids[i]+'" class="remove_product"><i class="fa fa-times fa-fw"></i></a></td></tr>';
                $('#chosen-products').show().append(tableRow);
                $("#basketrule").append('<input type="hidden" name="products[]" value="'+productids[i]+'"/>');
            }
        <?php endif; ?>
    });
</script>

<script>
    $(".datepicker").datepicker({dateFormat: 'dd-mm-yy'});
    
    /**************************************************************
    *               AJAX PRODUCT AUTOCOMPLETE
    * ***********************************************************/
   var ac_config = {
       source: function(request, response) {
           $.ajax({
               url: "/ajax/get-matching-products/",
               data: request,
               dataType: "json",
               type: "POST",
               success: function(data){
                   response(data);
               }
           });
       },
       select: function(event, ui){
           $(this).val(ui.item.name);
           var tableRow = '<tr><td>'+ui.item.value+'&nbsp;<a href = "#"  product_id="'+ui.item.id+'" class="remove_product"><i class="fa fa-times fa-fw"></i></a></td></tr>';
           $('#chosen-products').show().append(tableRow);
//           $("#applicable_products").append('<p>'+ui.item.value+'&nbsp;<a href = "#"  product_id="'+ui.item.id+'" class="remove_product"><i class="fa fa-times fa-fw"></i></a></p>');
           $("#basketrule").append('<input type="hidden" name="products[]" value="'+ui.item.id+'"/>');
           $('#product-element').find('a').remove();
       },
       minLength:1
   };
   $("#product").autocomplete(ac_config);
   /**************************************************************
    *                 END OF AJAX PRODUCT AUTOCOMPLETE
    * ***********************************************************/
</script>