<h1>Hello</h1>
    <form enctype="multipart/form-data" action="/admin/products/upload" method="POST">
        <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
            Choose a CSV file to upload: <input name="uploadedfile" type="file" />
        <br />
        <input type="submit" value="Insert Data" />
    </form>