<?php
//echo '<pre>'; var_dump($this->description); die();
$productTempInfo = $this->productTempInfo;
?>
<div id="add-product-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-book fa-fw"></i><?php echo $this->title; ?> </h1> 
        <div class="box-header-static-links">

        </div>
    </div>

    <div class="box-content-static">  
        <ul class="breadcrumb">
            <li class="active">Add details<span class="divider">|</span></li>
            <li><?php echo (isset($productTempInfo['details']) ? '<a href="/admin/products/addproductvariants">Add Variants</a>' : 'Add Variants'); ?><span class="divider">|</span></li>
            <li><?php echo (isset($productTempInfo['variants']) ? '<a href="/admin/products/addproductstock">Add Stock</a>' : 'Add Stock'); ?></li>
        </ul>
<!--        <div class="icon"></div>-->
<!--        <h3 class="title">Search for Vendor Products</h3>-->

        <!-- Show Results -->
        <?php echo $this->formErrors; ?>
        <?php echo $this->form; ?>
        
        <div id="product-search-results" class="vp-results">
            <h5 id="results-text">Showing results for:<strong> <b id="search-string">Array</b></strong></h5>
            <ul id="results"></ul>
        </div>
    </div>
</div>

<style>
    .hide{
        display:none;
    }
</style>
<script>
    $(document).ready(function() {
        // Live Search
        // On Search Submit and Get Results
        $(".vp-results").insertAfter($("#search-element"));
        $("<table id='vendor-results'></table>").insertAfter($("#hidden_vp-label"));
        <?php if ($this->id) : ?>
            var vendorids = <?php echo json_encode($this->id); ?>;
            var vendordescriptions = <?php echo json_encode($this->description); ?>;
            for (i = 0; i < vendorids.length; i++) {
                var tableRow = "<tr><td><p class='remove-existing-vp-link" + vendorids[i] + "'>" + vendordescriptions[i] + "<input type='hidden' name='vendor_product_id[]' value='" + vendorids[i] + "'/><a class='remove-existing-vp' href='#vendor-results' title='Remove this product' alt='Remove this product' id='" + vendorids[i] + "'><i class='fa fa-times fa-fw'></i></a></p></td></tr>";
                $('#vendor-results').append(tableRow);
            }
        <?php endif; ?>
        function search() {
            var query_value = $('input#search').val();
            $('b#search-string').html(query_value);
            if (query_value !== '') {
                $.ajax({
                    type: "POST",
                    url: "/ajax/vendorproducts",
                    data: {query: query_value},
                    cache: false,
                    success: function(html) {
                        $("ul#results").html(html);
                    }
                });
            }
            return false;
        }

        $('#product-search-results').hide();
        $("input#search").on("keyup", function(e) {
            $('#product-search-results').show();
            // Set Timeout
            clearTimeout($.data(this, 'timer'));

            // Set Search String
            var search_string = $(this).val();

            // Do Search
            if (search_string == '') {
                $("ul#results").fadeOut();
                $('h5#results-text').fadeOut();
            } else {
                $("ul#results").fadeIn();
                $('h5#results-text').fadeIn();
                $(this).data('timer', setTimeout(search, 100));
            }
            ;
        });


        $('.remove-existing-vp').click(function() {
            var existingVendorId = $(this).attr('id');
            $('.remove-existing-vp-link' + existingVendorId + '').closest('tr').remove();
        });
    });


    $(document).on("click", ".result", function() {
        var vendorId = $(this).children().find('p').attr('vendor_id');
        var vendorName = $(this).attr('name');
        var idField = "<tr><td><p class='remove-vp-link" + vendorId + "'>" + vendorName + "<input type='hidden' name='vendor_product_id[]' value='" + vendorId + "'/><a class='remove-vp' href='#vendor-results' title='Remove this product' alt='Remove this product'><i class='fa fa-times fa-fw'></i></a></p></td></tr></table>";
        $('#vendor-results').append(idField);
        $('.remove-vp').click(function() {
            $('.remove-vp-link' + vendorId + '').closest('tr').remove();
        });
    });
</script>
