<?php
$productTempInfo = $this->productTempInfo;
$selectedColourwayImages = array();
if (isset($productTempInfo['variants']['colourways'])) {
    $selectedColourwayImages = $productTempInfo['variants']['colourways'];
}
if (isset($productTempInfo['details']['id'])) {
    $editProductId = (int) $productTempInfo['details']['id'];
}
?>

<script>
    $(document).ready(function() {
        $('.remove-colourway').addClass('hide');
        $('.added-colourways').addClass('hide');
        var showFirstColourway = false;
        var selectedColourwayImages = <?php echo json_encode($selectedColourwayImages); ?>;
        $('.colourway-select').each(function() {
            var colourwayIdString = $(this).attr('id').split('-');
            var colourwayId = colourwayIdString[2];
            if ((showFirstColourway === false) && (selectedColourwayImages.length == 0)) {
                $('#added-colourway-' + colourwayId).removeClass('hide');
                $(this).children('.add-colourway').addClass('hide');
                $(this).children('.remove-colourway').removeClass('hide');
                showFirstColourway = true;
            }
            $(this).click(function() {
                if ($('#added-colourway-' + colourwayId).hasClass('hide')) {
                    $('#added-colourway-' + colourwayId).removeClass('hide');
                    $(this).children('.add-colourway').addClass('hide');
                    $(this).children('.remove-colourway').removeClass('hide');
                }
                else {
                    $('#added-colourway-' + colourwayId).addClass('hide');
                    $(this).children('.add-colourway').removeClass('hide');
                    $(this).children('.remove-colourway').addClass('hide');
                }
            });
        });


        $.each(selectedColourwayImages, function(key, value) {
            $('#added-colourway-' + key).removeClass('hide');
            $('#colourway-select-' + key).children('.add-colourway').addClass('hide');
            $('#colourway-select-' + key).children('.remove-colourway').removeClass('hide');
        });
    });
</script>
<div id="products-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-book fa-fw"></i> <?php echo $this->title; ?> </h1> 
    </div>
    <div class="box-content-static">  
        <ul class="breadcrumb">
            <li><a href="/admin/products/addproductdetails<?php echo(isset($editProductId) && is_int($editProductId) ? '/edit/' . $editProductId : '') ?>">Add details</a> <span class="divider">|</span></li>
            <li class="active">Add Variants <span class="divider">|</span></li>
            <li><?php echo (isset($productTempInfo['variants']) ? '<a href="/admin/products/addproductstock">Add Stock</a>' : 'Add Stock'); ?></li>
        </ul>

        <div id="add-colourway-form">
            <?php echo $this->colourwayForm; ?>
        </div>

        <form method="POST" enctype="multipart/form-data" id="product-variants-form">
            <?php
            if($this->error):
                ?>
                <div class="error"><?php echo $this->error;?></div>
            <?php
            endif;
            ?>
            <div id="prodvar-left-col" class="grid_6">
                <h3>Add Options</h3>
                <div id="add-opts-txtbox" class="side-by-side clearfix">
                    <select name="options[]" data-placeholder="Start typing to select..." style="width:200px;" multiple class="chosen-select" tabindex="8">

                        <option value=""></option>
                        <?php
                        if (!empty($this->allOptions)):
                            foreach ($this->allOptions as $option):
                                ?>
                                <option value="<?php echo $option->getShortcode(); ?>"
                                <?php
                                if (isset($productTempInfo['variants']['options'])) {
                                    $selectedProductOptions = $productTempInfo['variants']['options'];
                                    if (in_array($option->getShortcode(), $selectedProductOptions)) {
                                        echo 'selected';
                                    }
                                }
                                ?> >
                                    <?php echo $option->getOption(); ?></option>
                                <?php
                            endforeach;
                        endif;
                        ?>
                    </select>
                </div>

                <h3>Add Colours</h3>
                <?php
                if (!empty($this->allColourways)):
                    foreach ($this->allColourways as $colourway):
                        $colourwayId = $colourway->getId();
                        $colourwayName = $colourway->getName();
                        $hex = $colourway->getHex();
                        ?>
                        <div class="colourway-select colourway-thumbnail" id="colourway-select-<?php echo $colourwayId; ?>" style="background-color: <?php echo $hex; ?>">
                            <div class="add-colourway show">
                                <a class="add-colourway-link" colourway ="<?php echo $colourwayId; ?>" href="#" title="Add this colour" alt="Add this colourway"><i class="fa fa-plus fa-fw"></i></a>
                            </div>
                            <div class="remove-colourway">
                                <a class="remove-colourway-link" colourway ="<?php echo $colourwayId; ?>" href="#" title="Remove this colour" alt="Remove this colourway"><i class="fa fa-times fa-fw"></i></a>
                            </div> 
                        </div>
                        <?php
                    endforeach;
                else:
                    ?>
                    There are currently no colours saved.
                <?php
                endif;
                ?>
                <a class="add-new-colourway-link btn-link" href="#" title="Add New colour" alt="Add New colourway"><i class="fa fa-plus fa-fw"></i>Add New Colourway</a>
                <br/>


            </div>
            <div id="prod-var-right"  class="grid_13 push_1 ">
                <div id="current-colourways">

                    <?php
                    if (!empty($this->allColourways)):
                        foreach ($this->allColourways as $colourway):
                            $colourwayId = $colourway->getId();
                            $colourwayName = $colourway->getName();
                            $hex = $colourway->getHex();
                            ?>

                            <div class="added-colourways" id="added-colourway-<?php echo $colourwayId; ?>">
                                <div class="grid_2">
                                    <div class="added-colourway-box" style="background-color: <?php echo $hex; ?>">
                                    </div>
                                </div>
                                <div class="grid_11">
                                    <div class="added-colourway-uploadfield">
                                        <?php
                                        for ($i = 0; $i <= 3; $i++):
                                            $className = 'fileupload-new';
                                            $displayImage = '';
                                            if ($selectedColourwayImages) {
                                                if (isset($selectedColourwayImages[$colourwayId][$i])) {
                                                    $className = 'fileupload-exists';
                                                    $displayImage = '<img src="' . $this->productImageLocation . $selectedColourwayImages[$colourwayId][$i] . '" />';
                                                }
                                            }
                                            ?>
                                            <div class="thumbnail">
                                                <div class="fileupload <?php echo $className; ?>" data-provides="fileupload">
                                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload"><i class="fa fa-times fa-fw"></i></a>
                                                    <div class="fileupload-new thumbnail" style="width: 75px; height: 75px;">
                                                        <img src="/lifefitness-shop/img/no-image.gif" />
                                                    </div>
                                                    <div class="fileupload-preview fileupload-exists thumbnail">
                                                        <?php echo $displayImage; ?>
                                                    </div>

                                                        <span id="colourway-select-btn" class="btn btn-file"><span class="fileupload-new">Select</span><span class="fileupload-exists">Change</span><input type="file" name="colourway-<?php echo $colourwayId . '[' . $i . ']'; ?>"/></span>
                                                </div>
                                            </div>
                                        <?php endfor; ?>
                                    </div>
                                </div>
                            </div> 

                            <?php
                        endforeach;
                    endif;
                    ?>
                    <input id="product-var-next-btn" type="submit" class="btn btn-primary" value="Next"/>

                    </form>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': {allow_single_deselect: true},
        '.chosen-select-no-single': {disable_search_threshold: 10},
        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
        '.chosen-select-width': {width: "95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

<script type="text/javascript">
    $(function(){

        var toggle = 0;
        $('.hex').keyup(function() {
            var hex = $(this).val();
            if (hex.charAt(0) !== '#') {
                hex = '#' + hex;
                $(this).val(hex);
            }
            var addon = '000000';
            var noEntered = hex.length;
            var diff = 7 - noEntered;
            if (diff > 1 && noEntered !== 4) {
                hex = hex + addon.substr(0, diff);
            }
            if (toggle == 0) {
                $('#hex-element').append('<div id="show-color" style="height:10px; width:220px; border:1px solid #CCC"></div>');
                $('#show-color').css('background-color', hex);
                $(this).css('font-color', hex);
                toggle = 1;
            }
            else {
                $('#show-color').css('background-color', hex);
                $(this).css('font-color', hex);
            }
        });

        var noteField = $('#note');
        $( "#add-colourway-form" ).dialog({
            title: 'Add Colourway',
            autoOpen: false,
            height: 430,
            width: 350,
            modal: true,
//            buttons: {
//                "Add Colourway": function() {
//                    //alert('working');
//                    $( "#colourway").submit();
//                },
//                Cancel: function() {
//                    $( this ).dialog( "close" );
//                }
//            },
            close: function() {
            }
        });

        $( ".add-new-colourway-link" ).click(function(e) {
            e.preventDefault();
            $( "#add-colourway-form" ).dialog( "open" );
        });
    });

    $('#add-colourway').on('click', function(){
        if($(this).html() == '<i class="fa fa-plus fa-fw"></i>Add Colourway'){
            $(this).html('<i class="fa fa-minus fa-fw"></i>Hide Colourway Form');
        }
        else{
            $(this).html('<i class="fa fa-plus fa-fw"></i>Add Colourway');
        }
        $('#add-colourway-form').slideToggle();
    });
</script>