<?php
$form = $this->form;
?>
<div class="container">

    <div id="push"></div>
    <div class="row">
        <div class="span10">
            <h3>Create a new product pack</h3>
            <p>Please fill in the form below to start</p>
            <?php echo $form; ?>
        </div>
    </div>
    <p>Return to <a href="/admin/products/productpacks/" title="View all packs">Overview</a></p>
</div>
<script type="text/javascript">
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
</script>
