<?php
$productTempInfo = $this->productTempInfo;
if (isset($productTempInfo['details']['id'])) {
    $editProductId = (int) $productTempInfo['details']['id'];
    $currentStock = $this->currentStock;
}
?>

<script>
    $(document).ready(function() {
        $('#master-price').keyup(function() {
            $('.price').val($(this).val());
        });
        $('#master-stocklevel').keyup(function() {
            $('.stocklevel').val($(this).val());
        });
        $('#master-stockwarning').keyup(function() {
            $('.stockwarning').val($(this).val());
        });
    });
</script>
<div id="add-product-stock-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-book fa-fw"></i><?php echo $this->title; ?> </h1> 
        <div class="box-header-static-links">

        </div>
    </div>

    <div class="box-content-static">  
        <ul class="breadcrumb">
            <li><a href="/admin/products/addproductdetails<?php echo(isset($editProductId) && is_int($editProductId) ? '/edit/' . $editProductId : '') ?>">Add details</a> <span class="divider">|</span></li>
            <li><a href="/admin/products/addproductvariants">Add Variants</a> <span class="divider">|</span></li>
            <li class="active">Add Stock</li>
        </ul>
        <form method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Price ( £ )</th>
                        <th>Stock Level</th>
                        <th>Stock Warning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">[MASTER RESET] <i>overwrites price, stock level and stock warning for all stock for this product</i></td>
                        <td><input type="text" id="master-price" class="input-mini price"/></td>
                        <td><input type="text" id="master-stocklevel" class="input-mini stocklevel"/></td>
                        <td><input type="text" id="master-stockwarning" class="input-mini stockwarning"/></td>
                    </tr>
                    <?php
                    foreach ($this->generatedStock as $key => $stock):
                        $name = $productTempInfo['details']['name_gb'];
                        $option = $stock['option'];
                        $colourway = $stock['colourway'];
                        $code = $stock['code'];
                        $price = $productTempInfo['details']['product_price'];
                        $price = number_format($price, 2);
                        if (isset($currentStock)) {
                            foreach ($currentStock as $checkStock) {
                                if ($checkStock->getCode() === $stock['code']) {
                                    $price = $checkStock->getPrice();
                                    $stockLevel = $checkStock->getStockLevel();
                                    $stockWarning = $checkStock->getWarningLevel();
                                }
                            }
                        }
                        ?>
                        <tr>
                            <td><?php echo $name . ' [ ' . $option . ' / ' . $colourway . ' ]'; ?></td>
                            <td><?php echo $code; ?></td>
                            <td><input type="text" name="price[]" class="input-mini price" value="<?php echo $price; ?>"/></td>
                            <td><input type="text" name="stocklevel[]" class="input-mini stocklevel" value="<?php echo (isset($stockLevel) ? $stockLevel : ''); ?>"/></td>
                            <td><input type="text" name="stockwarning[]" class="input-mini stockwarning" value="<?php echo (isset($stockWarning) ? $stockWarning : ''); ?>"/></td>
                        </tr>
                        <?php
                    endforeach;
                    ?>
                </tbody>
            </table>
            <input type="submit" value="Save Product" class="btn btn-primary"/>
        </form>
    </div>





