<h1></h1>


<div id="add-vendor-product-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> Add new vendor products</h1> 
        <div class="box-header-static-links">
            
        </div>
    </div>

    <div class="box-content-static">  
        <div class="form">
            <form enctype="multipart/form-data" action="/admin/products/upload" method="POST">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                Choose a CSV file to upload: <input name="uploadedfile"  type="file" />
                <input type="submit" class="btn btn-primary" value="Insert Data" />
            </form>
        </div>

    </div>
</div>



