<div id="add-category-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-plus fa-fw"></i> Add New Category</h1> 
        <div class="box-header-static-search"><div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">  
        <!-- Show Results -->
        <?php echo $this->formErrors; ?>
        <?php echo $this->form; ?>
    </div>
</div>