<?php $productData = $this->product;
$productsInPack = $this->productsInPack;
//echo '<pre>'; var_dump($productsInPack); die();
?>
<div class="container">
    <h3>Assign Products</h3>
    <input type="text" id="search" name="search" placeholder ="Search for a product..."/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($productData == NULL) : ?>
                <tr><td>There are no products in the system.</td></tr>
            <?php else : ?>
            <form method="post">
    <?php foreach ($productData as $product) : ?>
                <?php //echo '<pre>'; var_dump($category->category_id); ?>
                    <tr>
                        <td><?php echo $product->name; ?></td>
                        <td><input type="checkbox" name="products[]"
                            <?php if (!empty($productsInPack)) {
                                echo (in_array($product->product_id, $productsInPack) ? 'checked' : '');
                            }
                            ?> 
                                   value="<?php echo $product->product_id ?>"></td>
                    </tr>
            <?php endforeach; ?>
                <input type="submit" class='btn' value="Save">
            </form>
<?php endif; ?>
        </tbody>
    </table>
    <p>Cancel and return to <a href="/admin/products/productpacks" title="View all products">Overview</a></p>
</div>
<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr');
</script>