<?php $usersInVoucher = $this->usersInVoucher; ?>
<?php //echo '<pre>'; var_dump($this->usersInVoucher); die(); ?>
<div class="container">
    <h3>Assign Users</h3>
    <input type="text" id="search" name="search" placeholder ="Search for a user..."/>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($this->users == NULL) : ?>
                <tr><td>There are no users in the system.</td></tr>
            <?php else : ?>
            <form method="post">
    <?php foreach ($this->users as $user) : ?>
                <?php //echo '<pre>'; var_dump($user->user_id); die(); ?>
                    <tr>
                        <td><?php echo $user->forename.' '.$user->surname ?></td>
                        <td><input type="checkbox" name="users[]"
                            <?php if (!empty($this->usersInVoucher)) {
                                echo (in_array($user->user_id, $usersInVoucher) ? 'checked' : '');
                            }
                            ?> 
                                   value="<?php echo $user->user_id ?>"></td>
                    </tr>
            <?php endforeach; ?>
                <input type="submit" class='btn' value="Save">
            </form>
<?php endif; ?>
        </tbody>
    </table>
    <p>Cancel and return to <a href="/admin/vouchers" title="View all products">Overview</a></p>
</div>
<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr');
</script>