        <?php $category = $this->category; ?>

        <div id="delete-user-box" class="grid_24 box-static">
            <div class="box-header-static">
                <h1><i class="fa fa-user fa-fw"></i> <?php echo $this->title; ?></h1>
                <div class="box-header-static-links">
                 <a href="/admin/products/manage-categories/" title="View all usergroups">Cancel and return to all categories</a></p>
                </div>
            </div>
            <div class="box-content-static">  
                <?php if (!$this->formErrors) : ?>
                    <div class="notification warning">
                        <p>Are you sure you want to delete the following category?</p>
                        <p><span class="warning">WARNING:</span> This action cannot be undone!</p>
                    </div>
                <?php else: ?>
                    <p><?php echo $this->formErrors;?></p>
                <?php endif; ?>
                <?php echo $this->form; ?>

            </div>
        </div>

