<div class="row-fluid">
    <div id="push"></div>
    <h2 class="form-signin-heading">
    <?php if (!$_POST) : ?>
        <div class="alert alert-danger">
            <p>Are you sure you want to delete the following product pack?</p>
            <p><span class="warning">WARNING:</span> This action cannot be undone!</p>
        </div>
    <?php endif; ?>
    <?php echo $this->form; ?>
    <p>Cancel and return to <a href="/admin/products/productpacks" title="View all usergroups">Product Packs</a></p>
</div>
