<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Edit Vendor Product</h1>
        <div class="box-header-static-search"><div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
        </div>
            <?php echo $this->form; ?>
        </div>
    </div>
    <p>Return to <a href="/admin/products/view-vendor-products/" title="View all polls">Product Packs</a></p>
</div>