<?php
//echo '<pre>';
//var_dump($products); die();
?>
<div class="container">
    <div id="push"></div>
    <div class="row">
        <div class="span10">
            <h3>Edit Product Pack</h3>
            <?php echo $this->form; ?>  
        </div>
    </div>
    <p>Return to <a href="/admin/products/productpacks/" title="View all polls">Product Packs</a></p>
</div>
<script type="text/javascript">
  var config = {
    '.chosen-select'           : {},
    '.chosen-select-deselect'  : {allow_single_deselect:true},
    '.chosen-select-no-single' : {disable_search_threshold:10},
    '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
    '.chosen-select-width'     : {width:"95%"}
  }
  for (var selector in config) {
    $(selector).chosen(config[selector]);
  }
</script>