<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> <?php echo $this->title; ?> </h1>
        <div class="box-header-static-search"><div id="editable-message"></div>
            <input type="text" id="search" name="search" placeholder ="Search for a product..."/>
            <p>Quantity Per Page</p>
            <form action="/admin/products" method="post">
                <select name="page_count">
                    <option value="10" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==10) {echo "selected='selected'"; }} ?>>10</option>
                    <option value="15" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==15) {echo "selected='selected'"; }} ?>>15</option>
                    <option value="20" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==20) {echo "selected='selected'"; }} ?>>20</option>
                    <option value="50" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==50) {echo "selected='selected'"; }} ?>>50</option>
                    <option value="all" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']=='all') {echo "selected='selected'"; }} ?>>Show All</option>
                </select>
                <input type="submit" value="Go">
            </form>
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-static-links">
            <a class="btn-link" href="/admin/products/addproductdetails/new/1"><i class="fa fa-plus fa-fw"></i> Add New Product</a>
            <p><?php echo $this->numberOfItems; ?></p>
        </div>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Actions</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr id="noresults">
                <td colspan="5">There are no products that match your search...</td>
            </tr>
            <?php if ($this->allProducts == NULL) : ?>
                <tr><td colspan="5">There are no products in the system.</td></tr>
            <?php else : ?>
                <?php foreach ($this->allProducts as $product) : ?>
                    <tr id="<?php echo $product->getId();?>">
                        <td width="30px"><img src ="<?php echo $this->productImageLocation.$product->getDefaultImage()->image_url;?>" width="30px"/></td>
                        <td><?php echo $product->getNameByLanguage();?></td>
                        <td>
                        <?php if ($product->getLive() == 'Y'): ?>
                            <a href="#" class="unset-live" title="Unset Product"><i class="fa fa-check fa-lg"></i></a>
                        <?php else: ?>
                            <a href="#" class="set-live" title="Set Product Live"><i class="fa fa-times fa-lg"></i></a>
                        <?php endif; ?>
                            <a href="/admin/products/addproductdetails/edit/<?php echo $product->getId(); ?>" title="Edit Product"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="#" class="delete-product" title="Delete Product"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                        <td><input value="<?php echo $product->getId(); ?>" name="select[]" type="checkbox"></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
        <select id="bulk-actions">
            <option value="bulk-actions">Bulk Actions</option>
            <option value="delete">Delete</option>
        </select>
        <input class="bulk-delete" type="submit" value="Apply">
        <?php echo $this->paginationControl($this->allProducts, 'Sliding', '/paginator/controls.phtml'); ?>
    </div>
</div>

<script type="text/javascript">

    $('input#search').quicksearch('table tbody tr', {
        'noResults': 'tr#noresults',
        'bind': 'keyup keydown',
        'stripeRows': ['odd', 'even'],
        'onAfter': function() {
            $('.order-hidden').hide();
        }
    });

    $('.set-live').on('click', function(){
        var c = confirm('Are you sure you want to SET this product LIVE?');
        if(c == true){
            var productid = $(this).closest('tr').attr('id');
            $.ajax({
                url: "/admin/ajax/set-product-live/",
                data: {productid : productid},
                dataType: "json",
                type: "POST",
                async: false,
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('td').find('.set-live, .unset-live').html('<a href="#" class="unset-live" title="Unset Product"><i class="fa fa-thumbs-o-up fa-lg"></i></a>').fadeIn(10000);
//                location.reload();
        }
    });

    /*****************************************
     * UNSET product live
     *****************************************/
    $('.unset-live').on('click', function(){
        var c = confirm('Are you sure you want to UNSET this product?');
        if(c == true){
            var productid = $(this).closest('tr').attr('id');
            $.ajax({
                async: false,
                url: "/admin/ajax/unset-product-live",
                data: {productid : productid},
                dataType: "json",
                type: "POST",
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('td').find('.set-live, .unset-live').html('<a href="#" class="set-live" title="Set Product Live"><i class="fa fa-times fa-lg"></i></a>').fadeIn(10000);
//                location.reload();
        }
    });

    /*****************************************
     * DELETE product
     *****************************************/
    $('.delete-product').on('click', function(){
        var c = confirm('Are you sure you want to DELETE this product?');
        if(c == true){
            var productid = $(this).closest('tr').attr('id');
            $.ajax({
                async: false,
                url: "/admin/ajax/delete-products",
                data: {productid : productid},
                dataType: "json",
                type: "POST",
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('tr').fadeOut(1000);
        }
    });

    /*****************************************
     * BULK DELETE product
     *****************************************/
    $('.bulk-delete').on('click', function(){
        var action = $('#bulk-actions option:selected').text();
        if (action == 'Delete') {
            var c = confirm('Are you sure you want to DELETE the selected product(s)?');
            if(c == true){
                var productid = [];
                $(':checkbox:checked').each(function(i){
                    productid[i] = $(this).val();
                    $.ajax({
                        async: false,
                        url: "/admin/ajax/delete-products",
                        data: {productid : productid[i]},
                        dataType: "json",
                        type: "POST",
                        success: function(data){
                            response(data);
                        }
                    });
                });
                $(':checkbox:checked').each(function(i){
                    $(this).closest('tr').fadeOut(1000);
                });
            }
        }
    });
</script>