<div id="manage-categories-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-th-list fa-fw"></i> <?php echo $this->title; ?> </h1> 
        <div class="box-header-static-search">
           
            <input type="text" id="search" name="search" placeholder ="Search for a category..."/>
        </div>
    </div>

    <div class="box-content-static">  
        <div class="box-content-links">
             <a class="btn-link" href="/admin/products/category"><i class="fa fa-plus fa-fw"></i> Add New Category</a>
            
        </div>
        <table class="highlight" id="usergroup-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Actions</th>
                    <th>Expand</th>
                </tr>
            </thead>
            <tbody>
                <tr id="noresults">
                    <td colspan="10">There are no categories that match your search.</td>
                </tr>
                <?php if ($this->allCategories == NULL) : ?>
                    <tr><td>There are no categories in the system.</td></tr>
                <?php else : ?>
<!--                    --><?php //foreach ($this->allCategories as $category) : ?>
<!--                        <tr id="--><?php //echo $category->getId(); ?><!--">-->
<!--<!--                            <td><img src="--><?php ////echo $this->categoryImageLocation; ?><!--<!--" /></td>-->
<!--                            <td>--><?php //echo $category->getNameByLanguage(); ?><!--</td>-->
<!--                            <td>-->
<!--                                <a href="#" title="Edit Category"><i class="fa fa-camera fa-fw"></i></a>-->
<!--                                <a href="/admin/products/category/id/--><?php //echo $category->getId(); ?><!--" title="Edit Category"><i class="fa fa-pencil fa-fw"></i></a>-->
<!--                                <a href="/admin/products/delete-category/id/--><?php //echo $category->getId(); ?><!--" title="Delete Category"><i class="fa fa-trash-o fa-fw"></i></a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    --><?php //endforeach; ?>
                    <?php foreach ($this->parentCategories as $parentCategory) : ?>
                        <tr id="<?php echo $parentCategory->getId(); ?>">
                            <td><?php echo $parentCategory->getNameByLanguage(); ?></td>
                            <td>
                                <a href="#" title="Edit Category"><i class="fa fa-camera fa-fw"></i></a>
                                <a href="/admin/products/category/id/<?php echo $parentCategory->getId(); ?>" title="Edit Category"><i class="fa fa-pencil fa-fw"></i></a>
                                <a href="/admin/products/delete-category/id/<?php echo $parentCategory->getId(); ?>" title="Delete Category"><i class="fa fa-trash-o fa-fw"></i></a>
                            </td>
                            <td>
                                <a href ="#" id="category-expand-<?php echo $parentCategory->getId(); ?>" class="category-expand" alt="Show Sub Category" title="Show Sub Category">
                                    <i class="fa fa-plus-circle" ></i>
                                </a>
                            </td>
                        </tr>

                        <?php foreach ($this->childCategories[$parentCategory->getId()] as $childCategory): ?>
                            <tr class="category-hidden category-part-<?php echo $parentCategory->getId(); ?>">

                                <td>
                                    <div class="slide-me">
                                        <i class="fa fa-chevron-circle-up fa-fw"></i> <?php echo $childCategory->getNameByLanguage(); ?>
                                    </div>
                                </td>
                                <td>
                                    <div class="slide-me">
                                        <a href="#" title="Edit Category"><i class="fa fa-camera fa-fw"></i></a>
                                        <a href="/admin/products/category/id/<?php echo $childCategory->getId(); ?>" title="Edit Category"><i class="fa fa-pencil fa-fw"></i></a>
                                        <a href="/admin/products/delete-category/id/<?php echo $childCategory->getId(); ?>" title="Delete Category"><i class="fa fa-trash-o fa-fw"></i></a>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        <?php endforeach;?>

                    <?php endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        if ($('.category-expand').length > 0) {
            $('.category-hidden').hide();
            $('.category-expand').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
                var buttonId = $(this).attr('id');
                var parts = buttonId.split('-');
                var categoryId = parts[2];
                if ($(this).hasClass('show')) {
                    $('.category-part-' + categoryId).hide();
                    $(this).html('<i class="fa fa-plus-circle" ></i>');
                    $(this).attr('alt', 'Show Sub Categories');
                    $(this).attr('title', 'Show Sub Categories');
                    $(this).removeClass('show');
                }
                else {
                    $('html, body').animate({scrollTop: $("#" + categoryId).offset().top}, 1000);
                    $('.category-part-' + categoryId).find('.slide-me').hide();
                    $('.category-part-' + categoryId).show();
                    $('.category-part-' + categoryId).find('.slide-me').slideDown('slow');
                    $(this).html('<i class="fa fa-minus-circle" ></i>');
                    $(this).attr('alt', 'Hide Sub Categories');
                    $(this).attr('title', 'Hide Sub Categories');
                    $(this).addClass('show');
                }
            });
        }
    });
</script>

<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr', {
        'noResults': 'tr#noresults',
        'bind': 'keyup keydown',
        'stripeRows': ['odd', 'even'],
        'onAfter': function() {
            $('.order-hidden').hide();
        }
    });
</script>