<script>
    $(document).ready(function() {
//$('.colourway-thumbnail').tooltip({placement: 'top'});;
////set bootstrap tooltip on for remove/edit colourway links
//$('.remove-colourway-link').tooltip({placement: 'top'});
//$('.edit-colourway-link').tooltip({placement: 'top'});
        //delete colourway function
        $('.remove-colourway-link').click(function() {
            var colourwayId = $(this).attr('colourway');
            var response = confirm('Are you sure you want to delete this colourway?');
            if (response) {
                $(this).parent().parent().hide();
                $.ajax({
                    async: false,
                    type: 'POST',
                    data: {id: colourwayId},
                    url: '/Ajax/removecolourway/',
                    success: function() {
                        alert('Colourway has successfully been deleted!');
                    }
                });
            }
        });

        var toggle = 0;
        $('.hex').keyup(function() {
            var hex = $(this).val();
            if (hex.charAt(0) !== '#') {
                hex = '#' + hex;
                $(this).val(hex);
            }
            var addon = '000000';
            var noEntered = hex.length;
            var diff = 7 - noEntered;
            if (diff > 1 && noEntered !== 4) {
                hex = hex + addon.substr(0, diff);
            }
            if (toggle == 0) {
                $('#hex-element').append('<div id="show-color" style="height:10px; width:220px; border:1px solid #CCC"></div>');
                $('#show-color').css('background-color', hex);
                $(this).css('font-color', hex);
                toggle = 1;
            }
            else {
                $('#show-color').css('background-color', hex);
                $(this).css('font-color', hex);
            }
        });
    });
</script>

<div id="manage-colourways-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-asterisk fa-fw"></i> <?php echo $this->title; ?> </h1> 
        <div class="box-header-static-links"><div id="editable-message"></div>
        </div>
    </div>

    <div class="box-content-static">  
        <div class="grid_8 push_1">
            <h3><?php echo $this->form->getDescription(); ?></h3>
            <?php echo $this->form; ?>
        </div>
        <div class="grid_12 push_1 dash-left">
            <h3>Current Colourways</h3>
            <?php
            if (!empty($this->allColourways)):
                foreach ($this->allColourways as $colourway):
                    ?>
                    <div class="colourway-thumbnail" style="background-color: <?php echo $colourway->getHex(); ?>" title="Test">
                        <div class="remove-colourway">
                            <a class="remove-colourway-link" colourway ="<?php echo $colourway->getId(); ?>" href="#" title="Remove this colourway" alt="Remove this colourway"><i class="fa fa-times fa-fw"></i></a>
                        </div>
                        <div class="edit-colourway">
                            <a class="edit-colourway-link" colourway ="<?php echo $colourway->getId(); ?>" href="/admin/products/manage-colourways/edit/<?php echo $colourway->getId(); ?>" title="Edit this colourway" alt="Edit this colourway"><i class="fa fa-wrench fa-fw"></i></a>
                        </div>
                    </div>
                    <?php
                endforeach;
            else:
                ?>
                No Colourways saved yet.
            <?php
            endif;
            ?>
        </div>
    </div>
</div>