<div id="manage-categories-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-shopping-cart fa-fw"></i> <?php echo $this->title; ?> </h1> 
        <div class="box-header-static-search"><div id="editable-message"></div>
           <input type="text" id="search" name="search" placeholder ="Search for a basket rule..."/>
        </div>
    </div>

    <div class="box-content-static">  
        <div class="box-content-static-links">
            <a class="btn-link" href="/admin/products/addbasketrule"><i class="fa fa-plus fa-fw"></i> Add New Basket rule</a>
        </div>

        <table class="highlight" id="usergroup-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Condition</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Discount Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Priority</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr id="noresults" style="display:none">
                    <td colspan="10">There are no basket rules that match your search...</td>
                </tr>
                <?php if ($this->allRules == NULL) : ?>
                    <tr><td colspan="10">There are no basket rules in the system.</td></tr>
                <?php else : ?>
                    <?php foreach ($this->allRules as $basketrule) : ?>
                        <tr id="<?php echo $basketrule->getId(); ?>">
                            <td><?php echo $basketrule->getName(); ?></td>
                            <td><?php echo $basketrule->getCondition()->getName(); ?></td>
                            <td><?php echo $basketrule->getQuantity(); ?></td>
                            <td><?php echo $basketrule->getDiscount(); ?></td>
                            <td><?php echo $basketrule->getDiscountType()->getName(); ?></td>
                            <td><?php echo $basketrule->getStartDate(); ?></td>
                            <td><?php echo $basketrule->getEndDate(); ?></td>
                            <td><?php echo $basketrule->getPriority(); ?></td>
                            <td>
                                <a href="/admin/products/addbasketrule/id/<?php echo $basketrule->getId(); ?>" title="Edit Basket Rule"><i class="fa fa-pencil fa-fw"></i></a>
                                <a href="#" title="Delete Basket Rule"><i class="fa fa-trash-o fa-fw"></i></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>



<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr', {
        'noResults': 'tr#noresults',
        'bind': 'keyup keydown',
        'stripeRows': ['odd', 'even'],
        'onAfter': function() {
            $('.order-hidden').hide();
        }
    });
</script>