<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> View Vendor Products</h1>
        <div class="box-header-static-search"><div id="editable-message"></div>
            <input type="text" id="search" name="search" placeholder ="Search for a product..."/>
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/products/addvendorproducts"><i class="fa fa-plus fa-fw"></i>Add new vendor products</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Vendor Part #</th>
                <th>Description</th>
                <th>Save</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr id="noresults">
                <td colspan="10">There are no vendor products that match your search.</td>
            </tr>
            <?php if ($this->vendor_products == NULL) : ?>
                <tr><td>There are no vendor products in the system.</td></tr>
            <?php else : ?>
                <?php foreach ($this->vendor_products as $vendor_products) : ?>
                    <tr>
                        <td><?php echo $vendor_products->vendor_part_no ?></td>
                        <td>
                            <div class="editable-content-<?php echo $vendor_products->vendor_product_id ?>" contenteditable="true">
                                <p><?php echo $vendor_products->description; ?></p>
                            </div>
                        </td>
                        <td>
                            <button class="btn-primary" vendor_products_id="<?php echo $vendor_products->vendor_product_id ?>">Save</button>
                        </td>
                        <td>
                            <a href="#" title="Edit Product"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="#" title="Delete Product"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    $('input#search').quicksearch('table tbody tr', {
        'noResults': 'tr#noresults',
        'bind': 'keyup keydown',
        'stripeRows': ['odd', 'even'],
        'onAfter': function() {
            $('.order-hidden').hide();
        }
    });
</script>
<script>
    $(document).on("click", ".save-button", function() {
        var vendor_productsId = $(this).attr('vendor_products_id');
        var content = $('.editable-content-<?php echo $vendor_products->vendor_product_id ?>').html();
        $.ajax({
            url: '/ajax/editcontent',
            type: 'POST',
            data: {
                content: content,
                id: vendor_productsId
            },
            success: function(data) {
                if (data == '1')
                {
                    $(".editable-message")
                        .addClass("success")
                        .html("Data saved successfully")
                        .fadeIn('slow')
                        .delay(3000)
                        .fadeOut('slow');
                }
                else
                {
                    $(".editable-message")
                        .addClass("error")
                        .html("Error, data could not be saved")
                        .fadeIn('slow')
                        .delay(3000)
                        .fadeOut('slow');
                }
            }
        });
    });
</script>