<div id="product-pack-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-tags fa-fw"></i> Product Packs</h1> 
        <div class="box-header-static-links">
        </div>
    </div>

    <div class="box-content-static"> 
        <div class="box-content-links">
            <a class="btn-link" href="/admin/products/addpack/"><i class="fa fa-plus fa-fw"></i>Add a new product pack</a>
            <a class="btn-link" href="/admin/products/viewvendorproducts"><i class="fa fa-user fa-fw"></i>Manage all vendor products</a>
        </div>
        <?php
        $ppData = $this->pp_data;
        ?>
        <table> 
            <thead>
                <tr>
                    <th>Pack Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($ppData as $pp) : ?>
                    <tr>
                        <?php $number = $pp['price']; ?>
                        <td><?php echo $pp['pack_name'] ?></td>
                        <td><?php echo number_format(($number), 2, '.', '') ?></td>
                        <td><?php echo $pp['status'] ?></td>
                        <td><a href="/admin/products/editpack/id/<?php echo $pp->pp_id; ?>" alt="Edit Product Pack" name="Edit Product Pack" title="Edit Product Pack"><i class="fa fa-edit fa-fw"></i></a><a href="/admin/products/deletepack/id/<?php echo $pp['pp_id']; ?>" alt="Delete Product Pack" name="Delete Product Pack" title="Delete Product Pack"><i class="fa fa-times fa-fw"></i></a></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>

    </div>
</div>
