<div class="container">
    <div id="push"></div>
    <div class="row">
        <div class="span10">
            <h3>Set Product Stats</h3>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>