<div id="vendor-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Manage Vendor Products</h1>
        <div class="box-header-static-search"></div>
    </div>

    <div class="box-content-static">  
        <div class="box-content-links">
            <a class="btn-link" href="/admin/products/view-vendor-products"><i class="fa fa-user fa-fw"></i>Manage all vendor products</a>
            <a class="btn-link" href="/admin/products/view-manufacturer"><i class="fa fa-user fa-fw"></i>Manage manufacturers</a>
        </div>
    </div>
    
</div>