<div id="login-report-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> Edit Manufacturers</h1>
        <div class="box-header-static-search">
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/products/vendorproducts" title="Back to overview"><i class="fa fa-arrow-left fa-fw"></i>Return to Overview</a>
            <?php if ($this->success === 1) : ?>
                <p class="notification success">The manufacturer has been updated</p>
            <?php endif; ?>
        </div>
        <?php
        //Check if the form is set and then display them, if any
        if (isset($this->forms)) : ?>
            <?php foreach($this->forms as $form) : ?>
                <div class="span4">
                    <?php echo $form; ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
