<div id="view-products-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> View Vendor Products</h1>
        <div class="box-header-static-search"><div id="editable-message"></div>
            <input type="text" id="search" name="search" placeholder ="Search for a product..."/>
            <p>Quantity Per Page</p>
            <form action="/admin/products/view-vendor-products" method="post">
                <select name="page_count">
                    <option value="10" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==10) {echo "selected='selected'"; }} ?>>10</option>
                    <option value="15" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==15) {echo "selected='selected'"; }} ?>>15</option>
                    <option value="20" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==20) {echo "selected='selected'"; }} ?>>20</option>
                    <option value="50" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']==50) {echo "selected='selected'"; }} ?>>50</option>
                    <option value="all" <?php if (isset ($_POST['page_count'])) { if($_POST['page_count']=='all') {echo "selected='selected'"; }} ?>>Show All</option>
                </select>
                <input type="submit" value="Go">
            </form>
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/products/add-vendor-product"><i class="fa fa-plus fa-fw"></i>Add new vendor products</a>
            <p><?php echo $this->numberOfItems; ?></p>
        </div>
        <table>
            <thead>
            <tr>
                <th>Vendor Part #</th>
                <th>Description</th>
                <th>Options</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <?php if (!isset($this->vendor_products)) :
                ?>
                <tr><td>There are no vendor products in the system.</td></tr>
            <?php else : ?>
                <?php foreach ($this->vendor_products as $vendor_products) : ?>
                    <tr id="<?php echo $vendor_products->vendor_product_id; ?>">
                        <td><?php echo $vendor_products->vendor_part_no ?></td>
                        <td>
                            <p><?php echo $vendor_products->description; ?></p>
                        </td>
                        <td>
                            <a href="/admin/products/edit-vendor-product/id/<?php echo $vendor_products->vendor_product_id; ?>" title="Edit Product"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="#" class="delete-vendor-product" title="Delete Product"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                        <td><input value="<?php echo $vendor_products->vendor_product_id; ?>" type="checkbox"></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
        <select id="bulk-actions">
            <option value="bulk-actions">Bulk Actions</option>
            <option value="delete">Delete</option>
        </select>
        <input class="bulk-delete" type="submit" value="Apply">
        <?php echo $this->paginationControl($this->vendor_products, 'Sliding', '/paginator/controls.phtml'); ?>
    </div>
</div>
<script>

    /*****************************************
     * DELETE product
     *****************************************/
    $('.delete-vendor-product').on('click', function(){
        var c = confirm('Are you sure you want to DELETE this vendor product?');
        if(c == true){
            var productid = $(this).closest('tr').attr('id');
            $.ajax({
                async: false,
                url: "/admin/ajax/delete-vendor-products",
                data: {productid : productid},
                dataType: "json",
                type: "POST",
                success: function(data){
                    response(data);
                }
            });
            $(this).closest('tr').fadeOut(1000);
        }
    });

    /*****************************************
     * BULK DELETE product
     *****************************************/
    $('.bulk-delete').on('click', function(){
        var action = $('#bulk-actions option:selected').text();
        if (action == 'Delete') {
            var c = confirm('Are you sure you want to DELETE the selected vendor product(s)?');
            if(c == true){
                var productid = [];
                $(':checkbox:checked').each(function(i){
                    productid[i] = $(this).val();
                    $.ajax({
                        async: false,
                        url: "/admin/ajax/delete-vendor-products",
                        data: {productid : productid[i]},
                        dataType: "json",
                        type: "POST",
                        success: function(data){
                            response(data);
                        }
                    });
                });
                $(':checkbox:checked').each(function(i){
                    $(this).closest('tr').fadeOut(1000);
                });
            }
        }
    });
</script>