.colourway-thumbnail{
    float: left;
    margin: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #CCC;
}
.remove-colourway{
    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -10px;
    height: 20px;
}
.edit-colourway{
    display: block;
    float:right;
    position:relative;
    top:-30px;
    right: 20px;
    height: 20px;
}
.close-image{
    background: #FFF;
    border: 1px solid #ccc;
    padding: 2px;
}
.close-image:hover{
    background: #CCC;
}

/* Product Variants */

#current-colourways{
    input{

    }
    #product-var-next-btn{
        float:right;
        margin-right: 33px;

    }

}


/* Option Choices */
.chosen-container-multi .chosen-choices li.search-choice {
    display: inline-block;
    position: relative;
    list-style-type: none;
    border:1px solid $tertiary-color;
    &:hover{
        background-color: $secondary-color;

    }
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    height:25px;
    
    
}

#add-opts-txtbox{
    margin-bottom:$padding;
    
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 1px;
}

.colourway-select{
    float: left;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}
.remove-colourway, .add-colourway{
    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -10px;
    height: 20px;
}
.remove-colourway{
    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -10px;
    height: 20px;
}
.remove-image, .add-image{
    background: #FFF;
    border: 1px solid #ccc;
    padding: 2px;
}
.remove-image:hover, .add-image:hover{
    background: #CCC;
}
.added-colourways{
    float: left;
    width: 100%;
    margin-bottom:$padding;
}
.added-colourway-box{
    width: 25px;
    height: 25px;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.2),0 0 10px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.2));
    margin: 50px auto;
}

#prodvar-left-col{
    h3{
        margin:0;
        
    }
    
}

#prod-var-right{
    border-left:1px solid $secondary-color;


}
.add-colourway-link{

    fa{
        background-color: white;
        border:1px solid;
        width:10px;
        height:10px;


    }

}

#colourway-select-btn{
    display:block;


}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid $tertiary-color;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    img {
        display: block;
        max-width: 100%;
        width:75px;
        margin-right: auto;
        margin-left: auto;
    }
    .caption {
        padding: 9px;
        color: #555555;
    }
}

a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.added-colourway-uploadfield{

    .fileupload{

    }

}
.hide{
    display:none;
}
.thumbnail{
    width: 85px;
    float: left;
    margin-right: $padding /3;
    height:120px;
    float:left;
    img{
        width:75px;
        height:100%;
        width:100%;
        vertical-align:none;
    }
}
.fileupload-preview {
    height:75px;
    width:75px;
    img{
        width:100%;
        height:100%;

    }

}

.close{
    position: relative;
    margin-left: 75px;
    float: left;
    margin-top: -15px;
    margin-bottom: -6px;

}


.fileupload .thumbnail {

    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    margin-top: 6px;
}







