#addLanguage{
    @include no-shadow;
    text-align:left;
    padding:0;
    border:none;
    display:block;
}

#chooseManufacturer{

    @include no-shadow;

    text-align:left;
    padding:0;
    border:none;
    display:block;
}
#chooseLanguage{
    @include no-shadow;
    text-align:left;
    padding:0;
    border:none;
    display:block;
}

#chooseCompany{
    @include no-shadow;
    text-align:left;
    padding:0;
    border:none;
    display:block;

}

.side-report{
    @include no-shadow;
    text-align:left;
    padding:0;
    display:table;
    margin:0;
    border:none;

}