
header {
  background-color: $blue;
  position: relative;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid darken($blue, 10);
  #logo {
    height: 60px;
    width: 250px;
    float: left;
    text-align: left;
    img {
      padding-top: 15px;
      vertical-align: middle;
    }
  }
  #header-search {
    padding: 0;
    width: 200px;
    padding-top: 5px;
    float: left;
    .search {
      float: left;
      padding: 9px 10px 10px;
      position: relative;
      cursor: pointer;
      input {
        padding: 5px 0px 5px 28px;
        background: darken($blue, 2);
        border-color: transparent;
        width: 200px;
        color: $beige;
        font-size: .8em;
        -webkit-transition: width 300ms;
        -moz-transition: width 300ms;
        transition: width 300ms;
        cursor: pointer;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

      }
    }
    .search:after {
      content: "\f002";
      font-family: "FontAwesome";
      position: absolute;
      color: $beige;
      font-size: 18px;
      top: 13px;
      left: 17px;
      cursor: pointer;
    }

  }

  #user-settings ul li a .active {
    color: $blue;
  }

  #user-settings {
    float: right;
    ul {
      list-style-type: none;
      margin: 0;
      li {
        padding: 18.5px;
        float: left;
        border-left: 1px solid lighten($blue, 10);
        border-right: 1px solid darken($blue, 10);

        .notification-bubble {
          position:relative;     /* This is crucial for the absolutely positioned element */
          width:16px;
          height:16px;


//          position: absolute;
//          background: $red;
//          border-radius: 100px;
//          top: 14px;
//          right: 60px;
//          text-align: center;
//          font-size: .6em;
//          color: darken($beige, 20);
//          font-weight: bold;
          span {
            position:absolute;    /* This breaks the div from the normal HTML document. */
            top: -6px;
            right: -9px;
            padding: 1px 3px 2px 2px;
            background: $red; /* you could use a background image if you'd like as well */
            color:white;
            font-weight:bold;
            font-size: 0.55em;
            border-radius: 50%;
          }
        }
        .user-notifications {
          display: block;
          position: absolute;
          background-color: lighten($beige, 10);
          color: $blue;
          right: 52px;
          left: auto;
          z-index: 1;
          top: 61px;
          border: 1px solid darken($beige, 10);
          border-top: none;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          font-size: 1em;

          .notification-heading {
            padding: 10px 15px;
            background-color: $blue;
            color: $beige;
            text-align: left;
            border-bottom: 1px solid darken($beige, 10);

            span {
              font-size: .8em;
            }

          }
          .notif-settings-popup {
            @include opaque();

            background: $beige;

            position: absolute;
            clear: both;
            z-index: 5;
            width: 100%;
            bottom: 43px;
            text-align: right;
            span {
              color: $blue;
              font-size: .6em;
              margin-right: $padding/4;
              &:hover {
                text-decoration: underline;

              }
            }

          }
          .notification-list {
            position: relative;
            width: 100%;
            float: left;
            text-align: left;
            a {
              display: block;
              padding: 10px 15px;
              position: relative;

              .event-img {
                width: 35px;
                height: 35px;
                border-radius: 100px;
                overflow: hidden;
                display: inline-block;
                margin-right: 5px;
                float: left;
                img {
                  width: 80px;
                  height: 80px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                }

              }
              .event {
                color: $blue;
                padding-left: 10px;
                display: table;
                font-size: .8em;

              }
              .time {
                color: darken($beige, 20);
                display: inline-block;

              }
              &:hover {
                background: darken($beige, 1);

              }
            }

          }
          .notification-footer {
            clear: both;
            display: block;
            border-top: 1px solid darken($beige, 10);
            text-align: left;
            padding: 10px 15px;
            a {
              margin: 0;
              padding: 0;
            }
            span {
              font-size: .7em;
              color: $blue;
              &:hover {
                text-decoration: underline;

              }
            }
            .notification-settings {
              display: inline-block;
              text-align: right;
              float: right;
              i {
                text-align: right;
                margin: $padding/8;
                color: $blue;
              }

            }

          }
        }
        a {
          color: $beige;
          text-decoration: none;

          &:hover {
            color: lighten($beige, 10);
          }
          i {
            margin-right: $padding /4;

          }

        }
        .panel-config {
          position: absolute;
          display: block;
          clear: both;

          background-color: lighten($beige, 10);
          z-index: 50;
          right: 0;
          top: 61px;
          border: 1px solid darken($beige, 10);
          border-top: none;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          ul {
            list-style-type: none;
            padding: 0;
            width: 100px;
            li {
              color: $blue;
              border: none;
              padding: ($padding /4) 0;
              &:first-child {
                border-left: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
              }
              &:hover {
                background: darken($beige, 1);
                a {
                  color: darken($blue, 1);
                }
              }

              float: none;
              border: none;
              a {
                color: $blue;
                font-size: .8em;
              }
            }
          }

        }
        &:first-child {
          border-left: 1px solid darken($blue, 10);
          -moz-box-shadow: inset 1px 0px 0px lighten($blue, 10);
          -webkit-box-shadow: inset 1px 0px 0px lighten($blue, 10);
          box-shadow: inset 1px 0px 0px lighten($blue, 10);

          i {
            margin: 0;
          }
        }
        &:last-child {
          i {
            margin: 0;
          }

        }
      }
    }

  }

}



