#menu {
    text-align: center;
    border-bottom: 2px solid $white;
    height:40px;
    background:$primary-color;

    /* Main menu items */
    li {
        display: inline-block;
        position: relative;

        /* Space out the links */
        a {
            padding: 10px;
            display: block;
            color: $grey;
            font-size: 12px;
        }

        /* Hide sub menus & sub-sub menus
        * Position *underneath* originating li (see ul ul below) */
        ul, ul ul {
            display: none;
            position: absolute;
            z-index: 999;

            top: 0;
            left: 50%;
            margin: 40px 0px 0px -75px;
            width:150px;
            background-color: $primary-color;
        }

        /* Position sub-subs to right of parent li */
        ul ul {
            left: 50%;
            margin: 40px 0px 0px -75px;
            width:150px;
            top: 0;
            color: adjust-lightness($primary-color, -15);
        }

        /* Make sub & sub-sub li's fill parent ul
        * Add feint border to bottom to separate items */
        li {
            display: block;
        }
    }

    /* Highlight li on hover */
    li:hover {
        color: $white;

        /* Change anchor colour to highlighted text */
        > a {
            color: $secondary-color;
            background: none;
        }

        /* Display subs and sub-subs on parent hover */
        > ul {
            display: block;
        }

    }

    /* Don't display menus further than 3 deep in ul tree */
    ul ul ul li:hover ul {
        display: none;
    }

    /* Make sure no padding & margins round <ul>s.
     * Very likely to have been set in CSS for rest of site */
    ul {
        padding: 0;
        margin: 0;
    }

}
/*#menu ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 40px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #444;
}*/

