#navlist {
    float:left;
    text-decoration:none;

    /* Main menu items */
    li {
        display: inline-block;
        position: relative;
        height:30px;
        font-size:10px;
        list-style-type: none;
        border-right: 1px solid #E0E0CF;
        line-height:3em;
        padding: 0px 12px 0 12px;
        &:hover {
            text-decoration: none;
            color:#354351;

            /* Change anchor colour to highlighted text */
            > a {
                color: $secondary-color;
                background: none;
            }

            /* Space out the links */
            a {
                text-decoration: none;
                color:grey;
                height: 30px;
                text-decoration: none;
                color:$grey;
            }

            /* Make sub & sub-sub li's fill parent ul
            * Add feint border to bottom to separate items */
            li {
                display: block;
            }
        }
        i{
            padding:10px 3px 12px 0px;
            color: grey;
        }

    }
}

#navlist-settings{

    height: 15px;
    float: right;
    border-left: 1px solid rgb(224, 224, 207);
    padding: 7px;
    position: relative;
    color: grey;
    display: inline-block;
    position: relative;
    height:30px;
    font-size:10px;
    list-style-type: none;
    border-right: 1px solid #E0E0CF;
    line-height:3em;
    padding: 0px 12px 0 12px;
    a{
        color:$primary-color;
        &:hover {
            text-decoration: none;
            color: $grey;
        }    

    }

    i{
        padding:10px 3px 12px 0px;
        color: grey;
    }

} 

