table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $primary-font, sans-serif;
  font-size: 8px;
  font-weight: lighter;
  text-align: left;

  thead {
    //background: $primary-color;
    color: $grey;
  }

  th, td {
    font-size: 10px;
    padding: 5px;
    text-align: left;
  }

  td {
    color: #354351;
  }

  tr.highlight {
    background-color: $secondary-color;
    color: red;
  }

  th {
    border-top: 1px solid $beige;
    border-bottom: 1px solid $beige;
    font-weight: bold;
  }
  a {
    font-size: 11px;
    color: #354351;
    &:hover {
      font-size: 11px;
      color: black;
    }
  }
  a th {
    background-color: #354351;
    color: #D5D8DB;
  }
}
//zebra striping the tablez :D

tbody tr:nth-child(odd) {
 background: darken($beige, 1);
}


#dispatch-report-table {
  input[type="checkbox"] {
    float: none;
    margin: 0;

  }

}

.dispatched-orders-btn {
  margin-bottom: $padding;

}

.open {
  background-color: #F8E6E0;
}

.processed {
  background-color: #F5F6CE;
}

.awaiting {
  background-color: #A9E2F3;
}

.dispatched {
  background-color: #CEF6CE;
}

.light {
  opacity: 0.2;
}

#vendor-results {
  width:200px;
  tr {
    margin:10px auto;

    td {
      font-weight: bold;
      p {
        margin: 0;
      }

    }
  }

}

