@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("assets/fonts/ProximaNova-Regular.otf");
  font-weight: lighter;
}

.clearfix, .group {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .group:after {
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .group {
    margin-left: -2.1277%;
  }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
    float: left;
    margin-left: 2.1277%;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .span1 {
    width: 6.20563%;
  }

  .span2 {
    width: 14.53897%;
  }

  .span3 {
    width: 22.8723%;
  }

  .span4 {
    width: 31.20563%;
  }

  .span5 {
    width: 39.53897%;
  }

  .span6 {
    width: 47.8723%;
  }

  .span7 {
    width: 56.20563%;
  }

  .span8 {
    width: 64.53897%;
  }

  .span9 {
    width: 72.8723%;
  }

  .span10 {
    width: 81.20563%;
  }

  .span11 {
    width: 89.53897%;
  }

  .span12 {
    width: 97.8723%;
  }
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  line-height: 1.6;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-left: 25px;
  font-size: 26px;
  margin: 0 0 25px;
  border-left: 2px solid #354351;
}

h1 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #354351;
  font-weight: bolder;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 15px;
  margin: 0 10px 10px;
  font-weight: normal;
  color: #354351;
  text-transform: capitalize;
}

h3 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: bolder;
  font-style: normal;
  color: #354351;
  text-transform: uppercase;
}

h4 {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 600;
  font-style: bolder;
  color: #354351;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  margin: 0 0 10px;
  font-style: bolder;
  font-weight: normal;
  color: #354351;
}

p {
  font-size: 12px;
  margin: 0 0 15px;
}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin: 0 0 15px;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}

img, video, audio, iframe, object {
  max-width: 100%;
}

a {
  color: #354351;
}
a:hover, a:focus {
  text-decoration: none;
}

.btn, .btn-primary, .btn-file, .btn-link {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background: #e0e0cf;
  border: 1px solid #ccccb0;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 1;
  font-size: 10px;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}
.btn:hover, .btn-primary:hover, .btn-file:hover, .btn-link:hover, .btn:focus, .btn-primary:focus, .btn-file:focus, .btn-link:focus {
  background: #dadac6;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn:active, .btn-primary:active, .btn-file:active, .btn-link:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background: #354351;
  border-color: #212a32;
}
.btn-primary:hover, .btn-primary:focus {
  background: #2f3b48;
}

.btn-file {
  background: #52575b;
  border-color: #3a3d40;
}
.btn-file:hover, .btn-file:focus {
  background: #4b4f53;
  color: white;
}

.btn-link {
  color: #354351;
  background: transparent;
  border: none;
  text-shadow: none;
  text-transform: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover, .btn-link:focus {
  text-decoration: underline;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "", sans-serif;
  font-size: 8px;
  font-weight: lighter;
  text-align: center;
}
table thead {
  background: #354351;
  color: #c2c2c2;
}
table th, table td {
  font-size: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #e0e0cf;
  padding: 5px;
}
table td {
  color: #354351;
}
table tr.highlight {
  background-color: #f7f6f0;
  color: red;
}
table th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
table a {
  font-size: 11px;
  color: #354351;
}
table a:hover {
  font-size: 11px;
  color: black;
}
table a th {
  background-color: #354351;
  color: #D5D8DB;
}

usergroup-table i {
  color: black;
}

#dispatch-report-table input[type="checkbox"] {
  float: none;
  margin: 0;
}

.dispatched-orders-btn {
  margin-bottom: 30px;
}

.open {
  background-color: #F8E6E0;
}

.processed {
  background-color: #F5F6CE;
}

.awaiting {
  background-color: #A9E2F3;
}

.dispatched {
  background-color: #CEF6CE;
}

.light {
  opacity: 0.2;
}

#vendor-results {
  width: 200px;
}
#vendor-results tr {
  margin: 10px auto;
}
#vendor-results tr td {
  font-weight: bold;
}
#vendor-results tr td p {
  margin: 0;
}

.form {
  min-width: 500px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

form {
  border: 1px solid #e0e0cf;
  padding: 30px;
  display: table;
  margin: 0 auto;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
form .item {
  margin-bottom: 15px;
}
form dd label {
  font-weight: lighter;
}
form label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  display: block;
  min-width: 200px;
  margin-right: 10px;
  text-align: left;
}
form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
form input:focus {
  border-color: #354351;
}
form input.auto {
  width: auto;
}
form input[type=text], form input[type=email], form input[type=phone], form input[type=password], form input[type=number], form input[type=search], form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
form input[type=text]:focus, form input[type=email]:focus, form input[type=phone]:focus, form input[type=password]:focus, form input[type=number]:focus, form input[type=search]:focus, form textarea:focus {
  border-color: #354351;
}
form input[type=text].auto, form input[type=email].auto, form input[type=phone].auto, form input[type=password].auto, form input[type=number].auto, form input[type=search].auto, form textarea.auto {
  width: auto;
}
form .note {
  margin-top: 5px;
  color: #999999;
}
form .req {
  font-style: italic;
}
form .error .reason {
  margin-top: 5px;
  color: #ce0832;
}
form .error input[type=text], form .error input[type=email], form .error input[type=phone], form .error input[type=password], form .error input[type=number], form .error input[type=search], form .error textarea {
  border-color: #ce0832;
}

input[type="submit"].btn, input[type="submit"].btn-primary, input[type="submit"].btn-file, input[type="submit"].btn-link {
  float: left;
}

input[type=file] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 55px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 1;
  margin: 30px 0 30px 0;
}
input[type=file]:focus {
  border-color: #354351;
}
input[type=file].auto {
  width: auto;
}

input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input[type=text]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
  border-color: #354351;
}
input[type=text].auto, input[type=email].auto, input[type=phone].auto, input[type=password].auto, input[type=number].auto, input[type=search].auto, textarea.auto {
  width: auto;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  margin: 0;
  float: left;
  margin-left: -20px;
  height: 20px;
  line-height: 2px;
}

select {
  border-radius: 1px;
  font-size: 11px;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.addRateForm {
  width: 100%;
}

dt {
  margin-top: 15px;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

form#product {
  position: relative;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

ul.errors {
  color: red;
  list-style: none;
  font-size: 12px;
  width: 25%;
  display: inline-grid;
  position: relative;
}

.notification {
  width: 90%;
  margin: 5px auto;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  zoom: 1;
}
.notification:before, .notification:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.notification:after {
  clear: both;
}
.notification.error {
  border-color: #ce0832;
  color: #9d0626;
  background: rgba(206, 8, 50, 0.2);
}
.notification.success {
  border-color: #5dae1b;
  color: #458214;
  background: rgba(93, 174, 27, 0.2);
}
.notification.warning {
  border-color: #dea110;
  color: #ae7e0d;
  background: rgba(222, 161, 16, 0.2);
}
.notification.info {
  border-color: #10bade;
  color: #0d92ae;
  background: rgba(16, 186, 222, 0.2);
}
.notification.empty {
  text-align: center;
  background: #f4f4f4;
  border: 1px dashed #ddd;
}
.notification p:last-child {
  margin-bottom: 0;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.nolist {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.valign {
  vertical-align: middle;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 30px 0;
}

.padding {
  padding: 15px;
}

/*@import "icons";*/
.header-container {
  background-color: #354351;
  position: relative;
  height: 40px;
  margin: 0 auto;
}
.header-container header {
  /*        #header-navigation{
              height:40px;
              text-align:center;
              ul{
                  zoom:1;
                  _margin: 0; IE6 only
                  top: 40px;
                  background: #354351;	
                  transition: all .2s ease-in-out; 
                  list-style: none;
                  ul{
                      li{
                          float: none;
                          display: block;
                          border: 0;
                          _line-height: 0; IE6 only
                          &:first-child {
                              a{
  
                                  &:hover:after{
                                      border-right-color: #0299d3; 
                                      border-bottom-color: transparent; 
  
                                  }
                                  &:after {
                                      left: -6px;
                                      top: 50%;
                                      margin-top: -6px;
                                      border-left: 0;	
                                      border-bottom: 6px solid transparent;
                                      border-top: 6px solid transparent;
                                      border-right: 6px solid #3b3b3b;
                                  }   
                              }
  
                          }
                      }
                      a{
                          padding: 5px 0px;
                          width: auto;
                          _height: 10px; IE6 only
                          display: block;
                          white-space: nowrap;
                          float: none;
                          text-transform: none;
                          font-size:9px;
  
  
                      }
                  }
                  li {
                      float: left;
                      position: relative;
                      padding:10px 5px;
                      display:inline-block;
                      color:$color;
                      &:before,
                          &:after {
                          content: "";
                          display: table;
                      }
                      &:after{
                          clear:both; 
                      }
                      &:hover{
                          a{
                              color: #fafafa;
                          }
                          ul{
                              opacity: 1;
                              visibility: visible;
                              margin: 0;
                          }
                      }
                      &:first-child{
                          a{
                              &:hover:after{
                                  border-bottom-color: #04acec; 
                              }
                          }
                      }
                      a {
                          color: #A1AAB3;
                          font-family: ProximaNova, sans-serif;
                          font-size:10px;
                          text-decoration: none;
                          &:active{
                              color:#fafafa;
                          }
                      }
                  }
  
              }
          }*/
}
.header-container header h1 {
  float: left;
}
.header-container header #logo img {
  vertical-align: middle;
  height: 24px;
  float: left;
  margin: 8px 12px 12px -9px;
}

.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #354351;
  -webkit-box-shadow: inset 0px 1px 0px 0px #354351;
  box-shadow: inset 0px 1px 0px 0px #354351;
  background-color: #354351;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  text-indent: 0;
  border: 1px solid #354351;
  display: inline-block;
  color: #ffffff;
  font: bold 8px Arial, Helvetica;
  height: 25px;
  line-height: 23px;
  width: 70px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}
.button:hover {
  background-color: #354351;
}
.button:active {
  position: relative;
  top: 1px;
}

.bottom-right-buttons {
  position: relative;
  top: 138px;
  right: 0;
  margin-right: 50px;
}

.box {
  margin-top: 10px;
  border: 1px solid #E0E0CF;
  background-color: #fff;
  height: 250px;
  width: 386px;
}

.box-2 {
  margin-top: 10px;
  border: 1px solid #E0E0CF;
  background-color: #fff;
  height: 30px;
}

.box-static {
  margin-top: 8px;
  border: 1px solid #E0E0CF;
  background-color: #fff;
  height: 100%;
}

.box-header {
  border-bottom: 1px solid #E0E0CF;
  height: 30px;
}
.box-header i {
  float: left;
  margin: 6px;
  color: grey;
}
.box-header p {
  float: right;
  margin: 10px;
  font-size: 8px;
  color: grey;
}

.box-header-static {
  border-bottom: 1px solid #e0e0cf;
  height: 60px;
  width: 90%;
  margin: 5px auto;
}
.box-header-static i {
  float: left;
  margin: 6px;
  color: grey;
}
.box-header-static h1 {
  float: left;
  line-height: 30px;
  margin: 15px 0px 0px 0px;
}
.box-header-static p {
  float: right;
  margin: 10px;
  font-size: 8px;
  color: #c2c2c2;
}

.box-header-static-search {
  float: right;
  padding: 15px 30px 0px 0px;
  height: 60px;
}

.box-content-links {
  padding: 0px 0px 0px 15px;
  height: 25px;
}
.box-content-links a {
  margin-left: 15px;
}

.box-content {
  width: 100%;
  height: 190px;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}
.box-content p {
  position: relative;
  margin: 11px 12px 13px 10px;
}

.box-content-static {
  width: 90%;
  margin: 5px auto;
  height: 100%;
  text-align: left;
  padding-bottom: 30px;
}
.box-content-static img {
  width: 25px;
}

.box-content-static-content {
  width: 90%;
  margin: 5px auto;
  padding: 15px;
}
.box-content-static-content h5 {
  text-decoration: underline;
}
.box-content-static-content ul {
  float: left;
  text-decoration: none;
  /* Main menu items */
}
.box-content-static-content ul li {
  display: inline-block;
  position: relative;
  font-size: 8px;
  list-style-type: none;
  line-height: 4em;
  border: 1px solid #e0e0cf;
  border-radius: 3px;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
}
.box-content-static-content ul li:hover {
  background-color: #f7f6f0;
}
.box-content-static-content ul i {
  color: grey;
  font-size: 12px;
}
.box-content-static-content ul p {
  margin: 0 auto;
  display: inline-block;
}

.box-image {
  width: 100%;
  height: 100%;
}

.box-footer {
  height: 30px;
  border-top: 1px solid #E0E0CF;
}
.box-footer i {
  height: 15px;
  float: right;
  border-left: 1px solid #e0e0cf;
  padding: 7px;
  position: relative;
  color: grey;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}
@media print {
  header, nav, footer {
    display: none;
  }

  img {
    max-width: 500px;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }
}
#menu {
  text-align: center;
  border-bottom: 2px solid white;
  height: 40px;
  background: #354351;
  /* Main menu items */
  /* Highlight li on hover */
  /* Don't display menus further than 3 deep in ul tree */
  /* Make sure no padding & margins round <ul>s.
   * Very likely to have been set in CSS for rest of site */
}
#menu li {
  display: inline-block;
  position: relative;
  /* Space out the links */
  /* Hide sub menus & sub-sub menus
  * Position *underneath* originating li (see ul ul below) */
  /* Position sub-subs to right of parent li */
  /* Make sub & sub-sub li's fill parent ul
  * Add feint border to bottom to separate items */
}
#menu li a {
  padding: 10px;
  display: block;
  color: #c2c2c2;
  font-size: 12px;
}
#menu li ul, #menu li ul ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 50%;
  margin: 40px 0px 0px -75px;
  width: 150px;
  background-color: #354351;
}
#menu li ul ul {
  left: 50%;
  margin: 40px 0px 0px -75px;
  width: 150px;
  top: 0;
  color: #171d23;
}
#menu li li {
  display: block;
}
#menu li:hover {
  color: white;
  /* Change anchor colour to highlighted text */
  /* Display subs and sub-subs on parent hover */
}
#menu li:hover > a {
  color: #f7f6f0;
  background: none;
}
#menu li:hover > ul {
  display: block;
}
#menu ul ul ul li:hover ul {
  display: none;
}
#menu ul {
  padding: 0;
  margin: 0;
}

/*#menu ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 40px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #444;
}*/
#navlist {
  float: left;
  text-decoration: none;
  /* Main menu items */
}
#navlist li {
  display: inline-block;
  position: relative;
  height: 30px;
  font-size: 10px;
  list-style-type: none;
  border-right: 1px solid #E0E0CF;
  line-height: 3em;
  padding: 0px 12px 0 12px;
}
#navlist li:hover {
  text-decoration: none;
  color: #354351;
  /* Change anchor colour to highlighted text */
  /* Space out the links */
  /* Make sub & sub-sub li's fill parent ul
  * Add feint border to bottom to separate items */
}
#navlist li:hover > a {
  color: #f7f6f0;
  background: none;
}
#navlist li:hover a {
  text-decoration: none;
  color: grey;
  height: 30px;
  text-decoration: none;
  color: #c2c2c2;
}
#navlist li:hover li {
  display: block;
}
#navlist li i {
  padding: 10px 3px 12px 0px;
  color: grey;
}

#navlist-settings {
  height: 15px;
  float: right;
  border-left: 1px solid #e0e0cf;
  padding: 7px;
  position: relative;
  color: grey;
  display: inline-block;
  position: relative;
  height: 30px;
  font-size: 10px;
  list-style-type: none;
  border-right: 1px solid #E0E0CF;
  line-height: 3em;
  padding: 0px 12px 0 12px;
}
#navlist-settings a {
  color: #354351;
}
#navlist-settings a:hover {
  text-decoration: none;
  color: #c2c2c2;
}
#navlist-settings i {
  padding: 10px 3px 12px 0px;
  color: grey;
}

#content-tabs-header {
  width: 90%;
  margin: 5px auto;
  padding: 15px;
}
#content-tabs-header h5 {
  text-decoration: underline;
}
#content-tabs-header ul {
  float: left;
  text-decoration: none;
  /* Main menu items */
}
#content-tabs-header ul li {
  display: inline-block;
  position: relative;
  font-size: 8px;
  list-style-type: none;
  line-height: 4em;
  border: 1px solid #e0e0cf;
  padding: 0px 10px 0px 10px;
}
#content-tabs-header ul li:hover {
  background-color: #f7f6f0;
}
#content-tabs-header ul i {
  color: grey;
  font-size: 12px;
}
#content-tabs-header ul p {
  margin: 0 auto;
  display: inline-block;
}

.dash-left {
  margin-left: 8px;
}

#index-box {
  padding-bottom: 30px;
}

#dash-orders-box {
  height: 100%;
}

#top-product-box {
  height: 100%;
}

#dash-orders-box {
  text-align: center;
}
#dash-orders-box h2 {
  font-size: 60px;
  margin-bottom: 30px;
}
#dash-orders-box p {
  text-align: left;
}
#dash-orders-box p strong {
  float: right;
}

#dash-bottom-row-right-1 {
  width: 269px;
}

#dash-bottom-row-right-2 {
  width: 268px;
}

#total-graph-box {
  text-align: center;
}
#total-graph-box h3 {
  margin-bottom: 30px;
  text-align: left;
}
#total-graph-box h3 strong {
  float: right;
  font-size: 22.5px;
}

.admin-right-col-split h2 {
  margin: 0;
}

#ratio-box h3 {
  margin-bottom: 30px;
  text-align: left;
}
#ratio-box p {
  text-align: left;
}
#ratio-box p strong {
  float: right;
}

#ratio-box-bottom h3 {
  margin-bottom: 30px;
  text-align: left;
}
#ratio-box-bottom p {
  text-align: left;
}
#ratio-box-bottom p strong {
  float: right;
}

#top-product-box h3 {
  margin-bottom: 30px;
  text-align: left;
}

.dash-bottom-row-left h3 {
  margin-bottom: 30px;
  text-align: left;
}
.dash-bottom-row-left p {
  text-align: left;
}
.dash-bottom-row-left p strong {
  float: right;
}

.dash-bottom-row-right h3 {
  margin-bottom: 30px;
  text-align: left;
}
.dash-bottom-row-right p {
  text-align: left;
}
.dash-bottom-row-right p strong {
  float: right;
}

.colourway-thumbnail {
  float: left;
  margin: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
}

.remove-colourway {
  display: block;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  height: 20px;
}

.edit-colourway {
  display: block;
  float: right;
  position: relative;
  top: -30px;
  right: 20px;
  height: 20px;
}

.close-image {
  background: #FFF;
  border: 1px solid #ccc;
  padding: 2px;
}

.close-image:hover {
  background: #CCC;
}

/* Product Variants */
#current-colourways #product-var-next-btn {
  float: right;
  margin-right: 33px;
}

/* Option Choices */
.chosen-container-multi .chosen-choices li.search-choice {
  display: inline-block;
  position: relative;
  list-style-type: none;
  border: 1px solid #e0e0cf;
}
.chosen-container-multi .chosen-choices li.search-choice:hover {
  background-color: #f7f6f0;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 25px;
}

#add-opts-txtbox {
  margin-bottom: 30px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}

.colourway-select {
  float: left;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.remove-colourway, .add-colourway {
  display: block;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  height: 20px;
}

.remove-colourway {
  display: block;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  height: 20px;
}

.remove-image, .add-image {
  background: #FFF;
  border: 1px solid #ccc;
  padding: 2px;
}

.remove-image:hover, .add-image:hover {
  background: #CCC;
}

.added-colourways {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.added-colourway-box {
  width: 25px;
  height: 25px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

#prodvar-left-col h3 {
  margin: 0;
}

#prod-var-right {
  border-left: 1px solid #f7f6f0;
}

.add-colourway-link fa {
  background-color: white;
  border: 1px solid;
  width: 10px;
  height: 10px;
}

#colourway-select-btn {
  display: block;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e0e0cf;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail img {
  display: block;
  max-width: 100%;
  width: 75px;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #555555;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.hide {
  display: none;
}

.thumbnail {
  width: 85px;
  float: left;
  margin-right: 10px;
  height: 120px;
  float: left;
}
.thumbnail img {
  width: 75px;
  height: 100%;
  width: 100%;
  vertical-align: none;
}

.fileupload-preview {
  height: 75px;
  width: 75px;
}
.fileupload-preview img {
  width: 100%;
  height: 100%;
}

.close {
  position: relative;
  margin-left: 75px;
  float: left;
  margin-top: -15px;
  margin-bottom: -6px;
}

.fileupload .thumbnail {
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  margin-top: 6px;
}

.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 1px;
  font-size: 12px;
}
.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}
.breadcrumb li .divider {
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb .active {
  color: #999999;
}

h4#results-text {
  display: none;
}

#product-search-results {
  z-index: 200;
  height: 165px;
  width: 500px;
  top: 20px;
}
#product-search-results ul {
  width: 100%;
  margin: 5px auto;
  display: none;
  overflow: scroll;
  max-height: 140px;
  border: 1px solid #ababab;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
}
#product-search-results ul li {
  padding-left: 8px;
  cursor: pointer;
  max-height: 200px;
  border-top: 1px solid #cdcdcd;
  transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
}
#product-search-results ul li:hover {
  background-color: #F7F7F7;
}
#product-search-results ul li:first-child {
  border-top: none;
}
#product-search-results ul li h3 {
  width: 100%;
  font-size: 12px;
  margin: 0;
  text-decoration: underline;
}
#product-search-results ul li h4 {
  display: inline-block;
  font-size: 12px;
  margin: 0;
}
#product-search-results ul li p {
  display: inline-block;
  font-size: 12px;
}

#results-text {
  display: none;
}

ul#results li h3, ul#results li h4 {
  transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  color: #616161;
}

ul#results li:hover h3, ul#results li:hover h4 {
  color: #3b3b3b;
  font-weight: bold;
}

#addLanguage {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  border: none;
  display: block;
}

#chooseManufacturer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  border: none;
  display: block;
}

#chooseLanguage {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  border: none;
  display: block;
}

#chooseCompany {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  border: none;
  display: block;
}

.side-report {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  display: table;
  margin: 0;
  border: none;
}

/* ==========================================================================
   Admin Panel Styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
  text-decoration: normal;
}

body {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  background-color: #f7f6f0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Header
   ========================================================================== */
#widget-2 h3 {
  margin: 10px;
  position: relative;
}

.top-left-heading p {
  position: relative;
  margin: 10px;
}

.top-left-heading p {
  position: relative;
  top: 25px;
  right: 80px;
}

.ui-state-highlight {
  background: #eee;
  border: 1px dotted #333;
  height: 250px;
  width: 386px;
  margin: 10px 0;
}

.form-wrapper {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #999999;
  border-radius: 1px;
  padding: 10px;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*   Item placeholder (visual helper) */
.placeholder {
  background-color: #BFB;
  border: 1px dashed #666;
  height: 58px;
  margin-bottom: 5px;
}

.highlight {
  color: #3586f4;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #E0E0CF;
  color: #CBCAC5;
}
#footer p {
  float: left;
  margin: 10px;
  font-size: 8px;
}
#footer a {
  float: right;
  margin: 10px;
  font-size: 8px;
}

/* Item placeholder (visual helper) */
.placeholder {
  background-color: #BFB;
  border: 1px dashed #666;
  height: 58px;
  margin-bottom: 5px;
}

input#search input#searchug, input#searchu {
  width: 350px;
  height: 25px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ababab;
  font-size: 20px;
  line-height: 25px;
  color: #ababab;
}
input#search input#searchug:hover, input#search input#searchug:focus, input#searchu:hover, input#searchu:focus {
  color: #3b3b3b;
  border: 1px solid #36a2d2;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
}
