<section id="payment" class="container">


    <h2>Confirm Order</h2>

    <div class="check-progress">
        <span class="badge">1</span>
        <span class="badge badge-important">2</span>
        <span class="badge">3</span>
    </div>



    <div class="payment-form span8">
        <?php echo $this->formErrors; ?>
        <?php echo $this->form; ?>
    </div>

    <?php if ($this->usergroup->getInvoice() == 'Yes'): ?>
        <div class="order-total span4">
            <form method="POST">
                <p>
                    <input type="checkbox" name="payment_type" value="invoice"/>
                    PAY BY INVOICE
                </p>
                <p><input type="submit" value="Confirm" class="btn btn-primary"/></p>
            </form>
        </div>
    <?php endif; ?>

    <?php $totalPrice = $this->order->getItemsTotal(); ?>
    <div class="order-total span4">

        <h3>Order Details</h3>
        <h4>Sub Total</h4>
        <p>
            <?php if ($this->usergroup->vat === '1') {
                echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2);
            } else {
                echo $this->currency->getCurrencySymbol() . number_format($totalPrice * 1.2, 2);
            }
            ?></p>
        <?php if ($this->usergroup->vat === '1') : ?>
            <h4>VAT</h4>
            <p>
                <?php //$vatPrice = $totalPrice * 0.2;
                echo $this->currency->getCurrencySymbol() . number_format($this->order->getVatCharge(), 2);
                ?>
            </p>
        <?php endif; ?>

        <?php if ($this->usergroup->vat === '1') : ?>
            <h4>Delivery (Ex VAT)</h4>
        <?php else : ?>
            <h4>Delivery</h4>
        <?php endif; ?>

        <p class="shippingCharge">
            <?php echo $this->currency->getCurrencySymbol() . number_format($this->order->getDeliveryCharge(), 2); ?>
        </p>

        <div class="total">
            <h4><strong>Total</strong></h4>
            <p class="basketTotal">
                <?php
                if ($this->usergroup->vat === '1') {
                    $totalPrice = floatval($totalPrice) + floatval($this->order->getVatCharge() ) + floatval($this->order->getDeliveryCharge());
                } else {
                    $totalPrice = floatval($totalPrice * 1.2) + floatval($this->order->getDeliveryCharge());
                } ?>
                <strong><?php echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2); ?>
                </strong></p>
        </div>
        <h3>Payment Types</h3>

        <p>We accept the following cards:</p>

        <div class="payment-type-images">
            <img src="<?php echo $this->cardImageLocation; ?>americanExpress.gif.png">
            <img src="<?php echo $this->cardImageLocation; ?>masterCard_en_GB.gif.png">
            <img src="<?php echo $this->cardImageLocation; ?>switchSoloCard.gif.png">
            <img src="<?php echo $this->cardImageLocation; ?>visa_en_GB.gif.png">
        </div>
    </div>

</section>
