<div id="add-usergroup-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> Add new Usergroup</h1> 
        <div class="box-header-static-links"> <a href="/admin/users/usergroups" class="btn-link" title="View all usergroups">Return to Usergroups</a></div>
    </div>
    <div class="box-content-static">  
        <div class="form">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>



