<div id="login-report-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-user fa-fw"></i> Edit <?php echo $this->sm_edit->name; ?>'s Details</h1>
        <div class="box-header-static-search">
        </div>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/settings/socialmedia" title="Back to Social Media"><i class="fa fa-arrow-left fa-fw"></i>Return to Social Media</a>
        </div>
        <?php echo $this->editForm; ?>
    </div>
</div>
