<div id="usergroups-index-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-cog fa-fw"></i> Settings</h1>
    </div>
    <div class="box-content-static"> 
        <div class="box-content-static-links">
            <a class="btn-link" href="/admin/settings/rates"><i class="fa fa-plus fa-fw"></i> Change currency rates</a>
            <a class="btn-link" href="/admin/settings/socialmedia"><i class="fa fa-plus fa-fw"></i> Social Media Settings</a>
            <a class="btn-link" href="/admin/settings/languages"><i class="fa fa-plus fa-fw"></i> Languages</a>
        </div>
    </div>
</div>

