<?php /* @var $this Language_Views_View */ ?>


<div id="activate-languages-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-flag fa-fw"></i> Activate Languages</h1> 
        <div class="box-header-static-links"></div>
    </div>
    <div class="box-content-static">  


        <?php
        echo $this->form_errors;
        echo $this->form_success;
        ?>
        <?php
        echo $this->form;
        ?>
        <div class="box-content-static-content">
            <h5>Activated Languages:</h5>
            <ul>
                <?php
                foreach ($this->languages as $language) {
                    ?>
                    <a href="/admin/content/activatelanguages?deactivate=<?php echo $language->getId(); ?>">
                        <?php echo '<li><p>' . $language->getName() . '</p>'; ?>
                        <i class="fa fa-times-circle fa-fw"></i></li>
                    </a>
                    <?php
                }
                ?>
            </ul>
        </div>
    </div>
</div>