<div id="usergroups-index-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-twitter fa-fw"></i> Social Media</h1>
        <div class="box-header-static-search"></div>
    </div>

    <div class="box-content-static">
        <div class="grid_22 box-static">

            <div id="available-social-media" class="grid_11">
                <h2>Available Social Media</h2>
                <?php
                if (isset($this->available_social_media)) : ?>
                    <ul id="sortable1" class="connectedSortable">
                        <?php foreach ($this->available_social_media as $available) : ?>
                            <li id="available_<?php echo $available->id; ?>" class="ui-state-default">
                                <a href="<?php echo $available->link; ?>" title="<?php echo $available->title ?>" target="_blank">
                                    <img id="<?php echo $available->id; ?>" class="img-social-media" src="/core/img/icons/social-media-icons/<?php echo $available->image_name_grey; ?>" alt="social-media-link"></a></li>
                        <?php endforeach; ?>
                        <li style="display: none;"></li>
                    </ul>
                <?php endif; ?>
            </div>

            <div id="active-social-media" class="grid_11">
                <h2>Active Social Media</h2>
                <?php
                if (isset($this->active_social_media)) : ?>
                    <ul id="sortable2" class="connectedSortable">
                        <?php foreach ($this->active_social_media as $active) : ?>
                            <li id="active_<?php echo $active->id; ?>" class="ui-state-default">
                                <a href="<?php echo $active->link; ?>" title="<?php echo $active->title ?>" target="_blank">
                                    <img id="<?php echo $active->id; ?>" class="img-social-media" src="/core/img/icons/social-media-icons/<?php echo $active->image_name_color; ?>"></a></li>
                        <?php endforeach; ?>
                        <li style="display: none;"></li>
                    </ul>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).tooltip({
            content: function () {
                return $(this).prop('title');
            },
            show: null,
            close: function (event, ui) {
                ui.tooltip.hover(
                    function () {
                        $(this).stop(true).fadeTo(400, 1);
                    },
                    function () {
                        $(this).fadeOut("400", function () {
                            $(this).remove();
                        })
                    });
            }
        });
    });

    $(function() {
        $( "#sortable1, #sortable2" ).sortable({
            placeholder: 'ui-state-highlight',
            connectWith: ".connectedSortable",

            //This changes the image src when the element is dropped into the opposing list
            receive: function(event, ui) {
                var str = $('#'+ui.item.context.id).find("img").attr('src');
                var search_element = 'color';
                var n = str.indexOf(search_element);
                if (n == -1) {
                    var value = str.replace('grey', 'color');
                    $('#'+ui.item.context.id).find("img").attr('src', value);
                } else {
                    var value = str.replace('color', 'grey');
                    $('#'+ui.item.context.id).find("img").attr('src', value);
                }
            },

            //Now we update the database by passing the changed id's into a serialized array
            //and posting
            update: function (event, ui) {
                /*var data = $(this).sortable('serialize');
                alert(data);*/
                $.ajax({
                    type: 'POST',
                    url: '/admin/ajax/sortable',
                    data: {
                        sort1:$("#sortable1").sortable('serialize'),
                        sort2:$("#sortable2").sortable('serialize')
                    }
                });
            }
        });
    });
</script>
