<h1>Terms &amp; Conditions</h1>
<h3>Availability</h3>
<p>Manufacturers occasionally discontinue products with little or no notice and sometimes can have temporary production problems. In such circumstances, we will inform you by email to suggest an alternative product or allow you to cancel your order. We reserve the right to withdraw any item from sale without incurring liability.</p>
<p>Offers and promotions will be subject to availability. We also reserve the right to withdraw any offer or promotion without prior notice.</p>
<h3>Postage</h3>
<p>For delivery terms see our FAQ section</p>
<h3>Payment</h3>
<p>All our online transactions are fully secure. We use Sagepay as our payment gateway. Please feel free to browse their website at <a href="http://www.protx.com/">http://www.sagepay.com</a></p>
<p>Prices of products are subject to change without prior notice, however the price payable by you is the price shown on our website at the time of ordering.</p>
<p>We do not keep records of your card details.</p>
<h3>Accuracy</h3>
<p>To the best of our knowledge, all information on this website is accurate at the time of inclusion. However, changes can occur and we will endeavour to update the information as soon as possible.</p>
<p>Images shown throughout the site are also correct at time of inclusion. As with product information, changes can occur and we will update them as soon as it is possible.</p>
<h3>Technical</h3>
<p>Life Fitness is in no way liable in the event of technical issues resulting in the site being inaccessible.</p>
<h3>Amendments</h3>
<p>We may occasionally make alterations to our terms and conditions without notice. Please take time to read them as by submitting an order you are accepting the terms and conditions of lifefitness-shop.com</p>
<p>&nbsp;</p>
<p>Infinity Incorporated is the legal owner of Life Fitness E-Shop, Life Fitness promotional clothing and merchandise.</p>   