<?php /* @var $this User_Views_View */ ?>
<?php 
$deleteUserSubmissions = $this->delete_user_submissions;
$deleteCurrentPoll = $this->delete_current_poll;
$deleteCurrentProducts = $this->delete_current_products;
?>

<div class="container">
    <div id="push"></div>
            <?php if (empty($deleteUserSubmissions) && empty($deleteCurrentPoll) && empty($deleteCurrentProducts)) : ?>
                <p>There is no data to delete.</p>
            <?php else : ?>
		<div class="span10">
                    <h4>The poll has been deleted. You can view it in <a href="/admin/polls/pastpolls/">Past Polls</a></h4>
                </div>
                <?php endif; ?>
            <a href="/admin/polls/index/">Go back</a>
	</div>
</div>
