<?php /* @var $this User_Views_View */ ?>
<?php $products = $this->getContent('products'); ?>

<div class="container">
	<?php if($this->getContent('update_status')) : ?>
	<div class="alert <?php echo $this->getContent('update_status') ? "alert-success" : "alert-error" ?>"><?php echo $this->getContent('update_message'); ?></div>
	<?php endif ?>
	<div class="row">
		<div class="span10">
			<h3>Edit product details: </h3>
			<?php echo $this->getContent('form_errors'); ?>
			<?php echo $this->getContent('form'); ?>
                </div>
	</div>

	<p>Return to <a href="/admin/polls/index/" title="Go back">Overview</a></p>

	<div id="push"></div>
</div>
