<div class="container">
    <div id="push"></div>
    <div class="row">
        <div class="span10">
            <h3>Help</h3>
            <p>To start a new poll, please follow these steps:</p>
            <ul>
                <li>Step 1: End the current poll</li>
                <li>Step 2: Click 'Start a new Poll'</li>
                <li>Step 3: Fill in the form on the new page</li>
                <li>Step 4: The dashboard will now be populated with the new details. User submissions will appear alongside these as and when they are entered.</li>
            </ul>
            <p>To reset the graph refresh the page and the graph will automatically update.</p>
            <p>No graph? It will only appear when at least one submission has been registered.</p>
        </div>
    </div>
    <p>Return to <a href="/admin/polls/index/" title="Go back">Overview</a></p>
</div>
