<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $("#confirm").click(function() {
            var x = confirm("Are you sure you want to delete the data? This action cannot be undone.");
            if (x == false) {
                return false;
            }
        })
    })
</script>
<?php
$lastModifiedFile = $this->last_modified;
$barGraph = $this->bar_graph;
$currentPoll = $this->current_poll;
$getCount = $this->get_count;
$getProducts = $this->get_products;
$userSubs = $this->user_submissions;
?>
<div class="row-fluid">
    <div class="span10 offset1">
        <div id="push"></div>
        <h2>Polls Dashboard</h2>
        <h3>Menu</h3>
        <a href="/admin/polls/help/">Help</a><br />
        <a href="/admin/polls/start/">Start a new poll</a><br />
        <a href="/admin/polls/pastpolls/">View past polls</a><br /> 
        <a id="confirm" href="/admin/polls/delete/">End this poll</a><br />
        <h3>Current Poll</h3>
        <h4>Summary</h4>
        <?php if (empty($currentPoll)) : ?>
            <p>There is no active poll to display.</p>
            <?php
        else :
            ?>
            <?php if (!empty($userSubs)) : ?>
                <img id="graph" src="/core/public/lifefitness-shop/img/graphs/<?php echo $lastModifiedFile; ?>" style='float: right;'/>
            <?php endif; ?>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($currentPoll as $poll) : ?>
                        <?php
                        $title = $poll['title'];
                        $start = $poll['start'];
                        $end = $poll['end'];
                        ?>
                        <tr>
                            <td><?php echo $title; ?></td>
                            <td><?php echo $start; ?></td>
                            <td><?php echo $end; ?></td>
                            <td></td>
                        </tr>
                    <?php endforeach; ?>
                    <?php
                    $sub1Count = 0;
                    $sub2Count = 0;
                    $sub3Count = 0;
                    foreach ($getCount as $count) {
                        if ($count['submission'] == 1) {
                            $sub1Count += 1;
                        } elseif ($count['submission'] == 2) {
                            $sub2Count += 1;
                        } elseif ($count['submission'] == 3) {
                            $sub3Count += 1;
                        }
                    }
                    foreach ($getProducts as $product) :
                        $product1 = $product['product1'];
                        $product2 = $product['product2'];
                        $product3 = $product['product3'];

                        echo '<b>' . $product1 . '</b> counted: ' . $sub1Count;
                        echo '<br/><b>' . $product2 . '</b> counted: ' . $sub2Count;
                        echo '<br/><b>' . $product3 . '</b> counted: ' . $sub3Count;
                    endforeach;
                    ?>
                </tbody>
            </table>
        <?php endif; ?>
        <?php if (!empty($userSubs)): ?>
            <h3>User Submissions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Submission</th>
                        <th>Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($userSubs as $subs) : ?>
                        <?php
                        $forename = $subs['forename'];
                        $surname = $subs['surname'];
                        $email = $subs['email'];
                        $submission = $subs['submission'];
                        $dateTime = $subs['time'];
                        ?>
                        <tr>
                            <td><?php echo $forename; ?> <?php echo $surname; ?></td>
                            <td><?php echo $email; ?></td>
                            <td><?php echo $submission; ?></td>
                            <td><?php echo $dateTime; ?></td> 
                            <td></td>
                        </tr>
                    <?php endforeach; ?>
            </table>
        <?php endif; ?>
        <?php if (!empty($getProducts)): ?>
            <h3>Current Poll Products</h3>
            <p>These are the products that are currently being voted on</p>
            <a href="/admin/polls/edit/">Change these products</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Products</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($getProducts as $product) :
                        $product1 = $product['product1'];
                        $product2 = $product['product2'];
                        $product3 = $product['product3'];
                        ?>
                        <tr>
                            <td><?php echo $product1; ?><br /><?php echo $product2; ?><br /><?php echo $product3; ?></td>
                            <td><p>Image</p></td>
                        </tr>
            </table>
                    <?php endforeach; ?>
                <?php endif; ?>
            <br/>
    </div>
</div>