<?php /* @var $this User_Views_View */ ?>
<?php
$submissions = $this->submissions;
$pastPolls = $this->polls_data;
?>

<div class="container">
    <div class="row">
        <div class="span10">
            <h3>Past Polls</h3>
            <?php if (empty($pastPolls)) : ?>
                <p>No past polls exist</p>
            <?php else : ?>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Submissions</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                            $result = count($submissions);                      
                         foreach ($pastPolls as $pastPoll) : ?>
                            <tr>
                                <td><?php echo $pastPoll['title']; ?></td>
                                <td><?php echo $pastPoll['start']; ?></td>
                                <td><?php echo $pastPoll['end']; ?></td>
                                <td><?php echo $result; ?></td>  
                                <td><a class="ciaransAwesomeGraphButton" href="#"><img src="/modules/Admin/Public/img/graph/savedGraphs/<?php echo $pastPoll['graph_url']; ?>" width="80" height="80"></a>
                                    <div id="myLightbox" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="lightbox-content"><img src="/modules/Admin/Public/img/graph/savedGraphs/<?php echo $pastPoll['graph_url']; ?>" width="700" height="600">
                                            </div>                  
                                    </div>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </div>
                    </div>

                <p>Return to <a href="/admin/polls/index/" title="Go back">Overview</a></p>

                <div id="push"></div>
        </div>
<script>
            $(".ciaransAwesomeGraphButton").click(function() {
                $("#myLightbox").lightbox();
            });
</script>
        
