<?php 
//$checkPollExists = $this->poll_exists;
?>
<div class="container">
    <div id="push"></div>
    <div class="row">
        <div class="span10">
            <h3>Start a new poll</h3>
            <?php //if (!empty($checkPollExists)) : ?>
            <!--<p>Please end the current poll to be able to start a new one</p>-->
            <?php //else : ?>
            <p>Please fill in the form below to start</p>
            <?php echo $this->form; ?>
            <?php //endif; ?>
        </div>
    </div>

    <p>Return to <a href="/admin/polls/" title="View all polls">Overview</a></p>
</div>
