@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, scss/_reset.scss */
audio,
canvas,
video {
    display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, scss/_reset.scss */
audio:not([controls]) {
    display: none;
    height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, scss/_reset.scss */
[hidden] {
    display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, scss/_reset.scss */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/**
 * Remove default margin.
 */
/* line 74, scss/_reset.scss */
body {
    margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, scss/_reset.scss */
a:focus {
    outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, scss/_reset.scss */
a:active,
a:hover {
    outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, scss/_reset.scss */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, scss/_reset.scss */
abbr[title] {
    border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, scss/_reset.scss */
b,
strong {
    font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, scss/_reset.scss */
dfn {
    font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, scss/_reset.scss */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, scss/_reset.scss */
mark {
    background: #ff0;
    color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, scss/_reset.scss */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, scss/_reset.scss */
pre {
    white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 181, scss/_reset.scss */
q {
    quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, scss/_reset.scss */
small {
    font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, scss/_reset.scss */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

/* line 205, scss/_reset.scss */
sup {
    top: -0.5em; }

/* line 209, scss/_reset.scss */
sub {
    bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, scss/_reset.scss */
img {
    border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, scss/_reset.scss */
svg:not(:root) {
    overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, scss/_reset.scss */
figure {
    margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, scss/_reset.scss */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, scss/_reset.scss */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, scss/_reset.scss */
button,
input,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, scss/_reset.scss */
button,
input {
    line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, scss/_reset.scss */
button,
select {
    text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, scss/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, scss/_reset.scss */
button[disabled],
html input[disabled] {
    cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, scss/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, scss/_reset.scss */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, scss/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, scss/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, scss/_reset.scss */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, scss/_reset.scss */
table {
    border-collapse: collapse;
    border-spacing: 0; }

@font-face {
    font-family: 'ProximaNova';
    src: url("assets/fonts/ProximaNova-Regular.otf");
    font-weight: lighter; }

/* line 14, scss/_mixins.scss */
.clearfix, .group {
    zoom: 1; }
/* line 3, scss/_mixins.scss */
.clearfix:before, .clearfix:after, .group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
/* line 9, scss/_mixins.scss */
.clearfix:after, .group:after {
    clear: both; }

/* line 3, scss/_grid.scss */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; }

/* line 9, scss/_grid.scss */
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
    display: block;
    margin-bottom: 30px; }

@media (min-width: 480px) {
    /* line 21, scss/_grid.scss */
    .group {
        margin-left: -2.1277%; }

    /* line 25, scss/_grid.scss */
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
        float: left;
        margin-left: 2.1277%;
        margin-bottom: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }

    /* line 33, scss/_grid.scss */
    .span1 {
        width: 6.20563%; }

    /* line 33, scss/_grid.scss */
    .span2 {
        width: 14.53897%; }

    /* line 33, scss/_grid.scss */
    .span3 {
        width: 22.8723%; }

    /* line 33, scss/_grid.scss */
    .span4 {
        width: 31.20563%; }

    /* line 33, scss/_grid.scss */
    .span5 {
        width: 39.53897%; }

    /* line 33, scss/_grid.scss */
    .span6 {
        width: 47.8723%; }

    /* line 33, scss/_grid.scss */
    .span7 {
        width: 56.20563%; }

    /* line 33, scss/_grid.scss */
    .span8 {
        width: 64.53897%; }

    /* line 33, scss/_grid.scss */
    .span9 {
        width: 72.8723%; }

    /* line 33, scss/_grid.scss */
    .span10 {
        width: 81.20563%; }

    /* line 33, scss/_grid.scss */
    .span11 {
        width: 89.53897%; }

    /* line 33, scss/_grid.scss */
    .span12 {
        width: 97.8723%; } }
/* line 1, scss/_type.scss */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    line-height: 1.6; }

/* line 9, scss/_type.scss */
blockquote {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-left: 25px;
    font-size: 26px;
    margin: 0 0 25px;
    border-left: 2px solid #354351; }

/* line 19, scss/_type.scss */
h1 {
    font-size: 1.1em;
    margin: 0 0 10px;
    color: #354351;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase; }

/* line 29, scss/_type.scss */
h2 {
    font-size: 1em;
    margin: 0 0 10px;
    font-weight: normal;
    color: #354351;
    text-transform: uppercase; }

/* line 37, scss/_type.scss */
h3 {
    clear: both;
    font-size: 0.9em;
    margin: 0 0 10px;
    font-weight: bolder;
    font-style: normal;
    color: #354351;
    text-transform: uppercase; }

/* line 47, scss/_type.scss */
h4 {
    font-size: 0.8em;
    margin: 0 0 10px;
    font-weight: 600;
    font-style: bolder;
    color: #354351;
    text-transform: uppercase; }

/* line 56, scss/_type.scss */
h5 {
    font-size: 0.8em;
    margin: 0 0 10px;
    font-style: bolder;
    font-weight: normal;
    color: #354351; }

/* line 64, scss/_type.scss */
p {
    font-size: 0.8em;
    margin: 0 0 15px; }

/* line 69, scss/_type.scss */
pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    margin: 0 0 15px;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word; }

/* line 1, scss/_media.scss */
img, video, audio, iframe, object {
    max-width: 100%; }

/* line 2, scss/_links.scss */
a {
    color: #354351; }
/* line 4, scss/_links.scss */
a:hover, a:focus {
    text-decoration: none; }

/* line 10, scss/_links.scss */
.btn, .btn-primary, .btn-file, .btn-link {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    background: #e0e0cf;
    border: 1px solid #ccccb0;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 1;
    font-size: -1.2em;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.2);
    outline: none; }
/* line 24, scss/_links.scss */
.btn:hover, .btn-primary:hover, .btn-file:hover, .btn-link:hover, .btn:focus, .btn-primary:focus, .btn-file:focus, .btn-link:focus {
    background: #dadac6;
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
/* line 29, scss/_links.scss */
.btn:active, .btn-primary:active, .btn-file:active, .btn-link:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2); }

/* line 35, scss/_links.scss */
.btn-primary {
    background: #354351;
    border-color: #212a32; }
/* line 39, scss/_links.scss */
.btn-primary:hover, .btn-primary:focus {
    background: #2f3b48; }

/* line 48, scss/_links.scss */
.btn-file {
    background: #52575b;
    border-color: #3a3d40; }
/* line 52, scss/_links.scss */
.btn-file:hover, .btn-file:focus {
    background: #4b4f53;
    color: white; }

/* line 62, scss/_links.scss */
.btn-link {
    color: #354351;
    background: transparent;
    border: none;
    text-shadow: none;
    text-transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
/* line 70, scss/_links.scss */
.btn-link:hover, .btn-link:focus {
    text-decoration: underline;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 1, scss/_tables.scss */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "", sans-serif;
    font-size: 8px;
    font-weight: lighter;
    text-align: left; }
/* line 11, scss/_tables.scss */
table thead {
    color: #c2c2c2; }
/* line 16, scss/_tables.scss */
table th, table td {
    font-size: 10px;
    padding: 5px;
    text-align: left; }
/* line 22, scss/_tables.scss */
table td {
    color: #354351; }
/* line 26, scss/_tables.scss */
table tr.highlight {
    background-color: #f7f6f0;
    color: red; }
/* line 31, scss/_tables.scss */
table th {
    border-top: 1px solid #f7f6f0;
    border-bottom: 1px solid #f7f6f0;
    font-weight: bold; }
/* line 36, scss/_tables.scss */
table a {
    font-size: 11px;
    color: #354351; }
/* line 39, scss/_tables.scss */
table a:hover {
    font-size: 11px;
    color: black; }
/* line 44, scss/_tables.scss */
table a th {
    background-color: #354351;
    color: #D5D8DB; }

/* line 51, scss/_tables.scss */
tbody tr:nth-child(odd) {
    background: #f5f4ed; }

/* line 57, scss/_tables.scss */
#dispatch-report-table input[type="checkbox"] {
    float: none;
    margin: 0; }

/* line 65, scss/_tables.scss */
.dispatched-orders-btn {
    margin-bottom: 30px; }

/* line 70, scss/_tables.scss */
.open {
    background-color: #F8E6E0; }

/* line 74, scss/_tables.scss */
.processed {
    background-color: #F5F6CE; }

/* line 78, scss/_tables.scss */
.awaiting {
    background-color: #A9E2F3; }

/* line 82, scss/_tables.scss */
.dispatched {
    background-color: #CEF6CE; }

/* line 86, scss/_tables.scss */
.light {
    opacity: 0.2; }

/* line 90, scss/_tables.scss */
#vendor-results {
    width: 200px; }
/* line 92, scss/_tables.scss */
#vendor-results tr {
    margin: 10px auto; }
/* line 95, scss/_tables.scss */
#vendor-results tr td {
    font-weight: bold; }
/* line 97, scss/_tables.scss */
#vendor-results tr td p {
    margin: 0; }

/* line 2, scss/_notifications.scss */
.notification {
    width: 90%;
    margin: 5px auto;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    zoom: 1; }
/* line 3, scss/_mixins.scss */
.notification:before, .notification:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
/* line 9, scss/_mixins.scss */
.notification:after {
    clear: both; }
/* line 9, scss/_notifications.scss */
.notification.error {
    border-color: #ce0832;
    color: #9d0626;
    background: rgba(206, 8, 50, 0.2); }
/* line 14, scss/_notifications.scss */
.notification.success {
    border-color: #5dae1b;
    color: #458214;
    background: rgba(93, 174, 27, 0.2); }
/* line 19, scss/_notifications.scss */
.notification.warning {
    border-color: #dea110;
    color: #ae7e0d;
    background: rgba(222, 161, 16, 0.2); }
/* line 24, scss/_notifications.scss */
.notification.info {
    border-color: #10bade;
    color: #0d92ae;
    background: rgba(16, 186, 222, 0.2); }
/* line 29, scss/_notifications.scss */
.notification.empty {
    text-align: center;
    background: #f4f4f4;
    border: 1px dashed #ddd; }
/* line 34, scss/_notifications.scss */
.notification p:last-child {
    margin-bottom: 0; }

/* line 1, scss/_other.scss */
.aligncenter {
    text-align: center; }

/* line 5, scss/_other.scss */
.alignright {
    text-align: right; }

/* line 9, scss/_other.scss */
.clear {
    clear: both; }

/* line 13, scss/_other.scss */
.right {
    float: right; }

/* line 17, scss/_other.scss */
.left {
    float: left; }

/* line 21, scss/_other.scss */
.nolist {
    list-style: none;
    padding-left: 0;
    margin-left: 0; }

/* line 27, scss/_other.scss */
.valign {
    vertical-align: middle; }

/* line 31, scss/_other.scss */
hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 30px 0; }

/* line 37, scss/_other.scss */
.padding {
    padding: 15px; }

/*@import "icons";*/
/* line 2, scss/_header.scss */
header {
    background-color: #354351;
    position: relative;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #212a32; }
/* line 8, scss/_header.scss */
header #logo {
    height: 60px;
    width: 250px;
    float: left;
    text-align: left; }
/* line 13, scss/_header.scss */
header #logo img {
    padding-top: 15px;
    vertical-align: middle; }
/* line 18, scss/_header.scss */
header #header-search {
    padding: 0;
    width: 200px;
    padding-top: 5px;
    float: left; }
/* line 23, scss/_header.scss */
header #header-search .search {
    float: left;
    padding: 9px 10px 10px;
    position: relative;
    cursor: pointer; }
/* line 28, scss/_header.scss */
header #header-search .search input {
    padding: 5px 0px 5px 28px;
    background: #313e4b;
    border-color: transparent;
    width: 200px;
    color: #f7f6f0;
    font-size: .8em;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    transition: width 300ms;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
/* line 45, scss/_header.scss */
header #header-search .search:after {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    color: #f7f6f0;
    font-size: 18px;
    top: 13px;
    left: 17px;
    cursor: pointer; }
/* line 58, scss/_header.scss */
header #user-settings ul li a .active {
    color: #354351; }
/* line 62, scss/_header.scss */
header #user-settings {
    float: right; }
/* line 64, scss/_header.scss */
header #user-settings ul {
    list-style-type: none;
    margin: 0; }
/* line 67, scss/_header.scss */
header #user-settings ul li {
    padding: 18.5px;
    float: left;
    border-left: 1px solid #495d70;
    border-right: 1px solid #212a32; }
/* line 73, scss/_header.scss */
header #user-settings ul li .notification-bubble {
    position: relative;
    /* This is crucial for the absolutely positioned element */
    width: 16px;
    height: 16px; }
/* line 88, scss/_header.scss */
header #user-settings ul li .notification-bubble span {
    position: absolute;
    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right: -9px;
    padding: 1px 3px 2px 2px;
    background: #da4453;
    /* you could use a background image if you'd like as well */
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    border-radius: 50%; }
/* line 100, scss/_header.scss */
header #user-settings ul li .user-notifications {
    display: block;
    position: absolute;
    background-color: white;
    color: #354351;
    right: 52px;
    left: auto;
    z-index: 1;
    top: 61px;
    border: 1px solid #e5e2cf;
    border-top: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    font-size: 1em; }
/* line 116, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-heading {
    padding: 10px 15px;
    background-color: #354351;
    color: #f7f6f0;
    text-align: left;
    border-bottom: 1px solid #e5e2cf; }
/* line 123, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-heading span {
    font-size: .8em; }
/* line 128, scss/_header.scss */
header #user-settings ul li .user-notifications .notif-settings-popup {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);
    /* Older than Firefox 0.9 */
    -moz-opacity: 0.7;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.7;
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
    background: #f7f6f0;
    position: absolute;
    clear: both;
    z-index: 5;
    width: 100%;
    bottom: 43px;
    text-align: right; }
/* line 139, scss/_header.scss */
header #user-settings ul li .user-notifications .notif-settings-popup span {
    color: #354351;
    font-size: .6em;
    margin-right: 7.5px; }
/* line 143, scss/_header.scss */
header #user-settings ul li .user-notifications .notif-settings-popup span:hover {
    text-decoration: underline; }
/* line 150, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list {
    position: relative;
    width: 100%;
    float: left;
    text-align: left; }
/* line 155, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a {
    display: block;
    padding: 10px 15px;
    position: relative; }
/* line 160, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a .event-img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    float: left; }
/* line 168, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a .event-img img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
/* line 177, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a .event {
    color: #354351;
    padding-left: 10px;
    display: table;
    font-size: .8em; }
/* line 184, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a .time {
    color: #d4cead;
    display: inline-block; }
/* line 189, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-list a:hover {
    background: #f5f4ed; }
/* line 196, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer {
    clear: both;
    display: block;
    border-top: 1px solid #e5e2cf;
    text-align: left;
    padding: 10px 15px; }
/* line 202, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer a {
    margin: 0;
    padding: 0; }
/* line 206, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer span {
    font-size: .7em;
    color: #354351; }
/* line 209, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer span:hover {
    text-decoration: underline; }
/* line 214, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer .notification-settings {
    display: inline-block;
    text-align: right;
    float: right; }
/* line 218, scss/_header.scss */
header #user-settings ul li .user-notifications .notification-footer .notification-settings i {
    text-align: right;
    margin: 3.75px;
    color: #354351; }
/* line 228, scss/_header.scss */
header #user-settings ul li a {
    color: #f7f6f0;
    text-decoration: none; }
/* line 232, scss/_header.scss */
header #user-settings ul li a:hover {
    color: white; }
/* line 235, scss/_header.scss */
header #user-settings ul li a i {
    margin-right: 7.5px; }
/* line 241, scss/_header.scss */
header #user-settings ul li .panel-config {
    position: absolute;
    display: block;
    clear: both;
    background-color: white;
    z-index: 50;
    right: 0;
    top: 61px;
    border: 1px solid #e5e2cf;
    border-top: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
/* line 255, scss/_header.scss */
header #user-settings ul li .panel-config ul {
    list-style-type: none;
    padding: 0;
    width: 100px; }
/* line 259, scss/_header.scss */
header #user-settings ul li .panel-config ul li {
    color: #354351;
    border: none;
    padding: 7.5px 0;
    float: none;
    border: none; }
/* line 263, scss/_header.scss */
header #user-settings ul li .panel-config ul li:first-child {
    border-left: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
/* line 269, scss/_header.scss */
header #user-settings ul li .panel-config ul li:hover {
    background: #f5f4ed; }
/* line 271, scss/_header.scss */
header #user-settings ul li .panel-config ul li:hover a {
    color: #33404e; }
/* line 278, scss/_header.scss */
header #user-settings ul li .panel-config ul li a {
    color: #354351;
    font-size: .8em; }
/* line 286, scss/_header.scss */
header #user-settings ul li:first-child {
    border-left: 1px solid #212a32;
    -moz-box-shadow: inset 1px 0px 0px #495d70;
    -webkit-box-shadow: inset 1px 0px 0px #495d70;
    box-shadow: inset 1px 0px 0px #495d70; }
/* line 292, scss/_header.scss */
header #user-settings ul li:first-child i {
    margin: 0; }
/* line 297, scss/_header.scss */
header #user-settings ul li:last-child i {
    margin: 0; }

/* line 1, scss/_layout.scss */
.sidebar {
    position: absolute;
    width: 250px;
    min-height: 400px;
    background: #f7f6f0;
    border-right: 1px solid #e5e2cf;
    margin: 0; }
/* line 9, scss/_layout.scss */
.sidebar .menu-btn {
    list-style: none;
    padding: 0px;
    margin: 0px; }
/* line 13, scss/_layout.scss */
.sidebar .menu-btn ul {
    margin: 0;
    padding: 0 12px 12px;
    text-align: right;
    background: #354351;
    border-top: 1px solid #495d70;
    border-bottom: 1px solid #212a32; }
/* line 20, scss/_layout.scss */
.sidebar .menu-btn ul li {
    display: block;
    position: relative; }
/* line 23, scss/_layout.scss */
.sidebar .menu-btn ul li a {
    display: block;
    padding-top: 15px; }
/* line 27, scss/_layout.scss */
.sidebar .menu-btn ul li a i {
    color: #f7f6f0; }
/* line 36, scss/_layout.scss */
.sidebar .user-sidebar {
    display: block;
    margin: 15px; }
/* line 39, scss/_layout.scss */
.sidebar .user-sidebar .avatar {
    height: 65px;
    width: 65px;
    border-radius: 100px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    float: left; }
/* line 47, scss/_layout.scss */
.sidebar .user-sidebar .avatar img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
/* line 56, scss/_layout.scss */
.sidebar .user-sidebar .user-info {
    display: inline-block;
    margin-top: 15px; }
/* line 59, scss/_layout.scss */
.sidebar .user-sidebar .user-info a {
    text-decoration: none; }
/* line 62, scss/_layout.scss */
.sidebar .user-sidebar .user-info .welcome-msg {
    position: relative;
    font-size: 0.9em; }
/* line 66, scss/_layout.scss */
.sidebar .user-sidebar .user-info .user-icons {
    text-align: left; }
/* line 69, scss/_layout.scss */
.sidebar .user-sidebar .user-info .user-icons .user-icon {
    margin-bottom: 10px;
    display: inline-block; }
/* line 79, scss/_layout.scss */
.sidebar form {
    border: 0;
    margin: 0; }

/* line 89, scss/_layout.scss */
nav {
    margin-top: 0;
    height: 700px;
    background: #354351; }
/* line 93, scss/_layout.scss */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; }
/* line 98, scss/_layout.scss */
nav ul li {
    border-top: 1px solid #495d70;
    border-bottom: 1px solid #212a32;
    cursor: pointer;
    background: #354351; }
/* line 104, scss/_layout.scss */
nav ul li:before {
    position: relative;
    font-family: "fontAwesome";
    content: "\f104";
    font-size: 14px;
    width: 20px;
    height: 20px;
    color: #FFF;
    right: 0px;
    top: 15px;
    float: right; }
/* line 118, scss/_layout.scss */
nav ul li:last-of-type {
    border-bottom: 1px solid black; }
/* line 121, scss/_layout.scss */
nav ul li:hover {
    background: #313e4b; }
/* line 125, scss/_layout.scss */
nav ul li .active {
    border-bottom: none;
    background: #394857; }
/* line 131, scss/_layout.scss */
nav ul li .active:before {
    content: "\f107"; }
/* line 135, scss/_layout.scss */
nav ul li a {
    border-top: 0;
    font-size: .9em;
    text-decoration: none;
    color: #f7f6f0;
    display: block;
    padding: 15px 0; }
/* line 148, scss/_layout.scss */
nav ul li a span {
    text-align: center;
    display: inline-block;
    width: 30px; }
/* line 155, scss/_layout.scss */
nav ul li ul {
    display: none;
    background: #fff;
    border-right: 1px solid #a2a194;
    border-left: 1px solid #a2a194; }
/* line 160, scss/_layout.scss */
nav ul li ul li {
    padding: 0;
    border-bottom: 1px solid #d4d4d4;
    border-top: none;
    background: #f7f6f0;
    padding-left: 45px; }
/* line 168, scss/_layout.scss */
nav ul li ul li:last-child {
    border-bottom: none; }
/* line 171, scss/_layout.scss */
nav ul li ul li:hover {
    background: #f3f2e9; }
/* line 175, scss/_layout.scss */
nav ul li ul li a {
    display: block;
    color: #676767;
    font-size: .8em;
    font-weight: normal; }
/* line 180, scss/_layout.scss */
nav ul li ul li a:before {
    content: '\00BB';
    position: absolute;
    right: 10px;
    color: #354351; }

/* line 197, scss/_layout.scss */
nav ul li.active:before {
    content: "\f107"; }

/* line 201, scss/_layout.scss */
.content {
    position: relative;
    margin: 0 0 0 250px;
    min-height: 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: left;
    background: #f7f6f0; }
/* line 217, scss/_layout.scss */
.content .page-header {
    width: 100%;
    float: left;
    padding: 0px; }
/* line 223, scss/_layout.scss */
.content .page-header .title-block {
    float: left;
    margin: 15px 0px 15px 20px; }
/* line 226, scss/_layout.scss */
.content .page-header .title-block h1 {
    font-size: 24px;
    line-height: 25px;
    color: #444;
    font-weight: 500;
    margin-bottom: 5px; }
/* line 233, scss/_layout.scss */
.content .page-header .title-block span {
    font-size: 12px;
    line-height: 20px;
    color: #888;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px 0px 5px; }

/* line 246, scss/_layout.scss */
.info {
    width: 100%;
    height: 300px;
    position: relative;
    background: #f55; }

/* line 1, scss/_login.scss */
#login {
    background: #354351; }

@media screen and (max-width: 480px) {
    /* line 6, scss/_responsive.scss */
    body {
        overflow-x: hidden; } }
@media print {
    /* line 2, scss/_print.scss */
    header, nav, footer {
        display: none; }

    /* line 5, scss/_print.scss */
    img {
        max-width: 500px; }

    /* line 8, scss/_print.scss */
    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3; } }
/* line 1, scss/_nav.scss */
#menu {
    text-align: center;
    border-bottom: 2px solid white;
    height: 40px;
    background: #354351;
    /* Main menu items */
    /* Highlight li on hover */
    /* Don't display menus further than 3 deep in ul tree */
    /* Make sure no padding & margins round <ul>s.
     * Very likely to have been set in CSS for rest of site */ }
/* line 8, scss/_nav.scss */
#menu li {
    display: inline-block;
    position: relative;
    /* Space out the links */
    /* Hide sub menus & sub-sub menus
    * Position *underneath* originating li (see ul ul below) */
    /* Position sub-subs to right of parent li */
    /* Make sub & sub-sub li's fill parent ul
    * Add feint border to bottom to separate items */ }
/* line 13, scss/_nav.scss */
#menu li a {
    padding: 10px;
    display: block;
    color: #c2c2c2;
    font-size: 12px; }
/* line 22, scss/_nav.scss */
#menu li ul, #menu li ul ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 50%;
    margin: 40px 0px 0px -75px;
    width: 150px;
    background-color: #354351; }
/* line 35, scss/_nav.scss */
#menu li ul ul {
    left: 50%;
    margin: 40px 0px 0px -75px;
    width: 150px;
    top: 0;
    color: #171d23; }
/* line 45, scss/_nav.scss */
#menu li li {
    display: block; }
/* line 51, scss/_nav.scss */
#menu li:hover {
    color: white;
    /* Change anchor colour to highlighted text */
    /* Display subs and sub-subs on parent hover */ }
/* line 55, scss/_nav.scss */
#menu li:hover > a {
    color: #f7f6f0;
    background: none; }
/* line 61, scss/_nav.scss */
#menu li:hover > ul {
    display: block; }
/* line 68, scss/_nav.scss */
#menu ul ul ul li:hover ul {
    display: none; }
/* line 74, scss/_nav.scss */
#menu ul {
    padding: 0;
    margin: 0; }

/*#menu ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 40px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #444;
}*/
/* line 1, scss/_navlist.scss */
#navlist {
    float: left;
    text-decoration: none;
    /* Main menu items */ }
/* line 6, scss/_navlist.scss */
#navlist li {
    display: inline-block;
    position: relative;
    height: 30px;
    font-size: 10px;
    list-style-type: none;
    border-right: 1px solid #E0E0CF;
    line-height: 3em;
    padding: 0px 12px 0 12px; }
/* line 15, scss/_navlist.scss */
#navlist li:hover {
    text-decoration: none;
    color: #354351;
    /* Change anchor colour to highlighted text */
    /* Space out the links */
    /* Make sub & sub-sub li's fill parent ul
    * Add feint border to bottom to separate items */ }
/* line 20, scss/_navlist.scss */
#navlist li:hover > a {
    color: #f7f6f0;
    background: none; }
/* line 26, scss/_navlist.scss */
#navlist li:hover a {
    text-decoration: none;
    color: grey;
    height: 30px;
    text-decoration: none;
    color: #c2c2c2; }
/* line 36, scss/_navlist.scss */
#navlist li:hover li {
    display: block; }
/* line 40, scss/_navlist.scss */
#navlist li i {
    padding: 10px 3px 12px 0px;
    color: grey; }

/* line 48, scss/_navlist.scss */
#navlist-settings {
    height: 15px;
    float: right;
    border-left: 1px solid #e0e0cf;
    padding: 7px;
    position: relative;
    color: grey;
    display: inline-block;
    position: relative;
    height: 30px;
    font-size: 10px;
    list-style-type: none;
    border-right: 1px solid #E0E0CF;
    line-height: 3em;
    padding: 0px 12px 0 12px; }
/* line 64, scss/_navlist.scss */
#navlist-settings a {
    color: #354351; }
/* line 66, scss/_navlist.scss */
#navlist-settings a:hover {
    text-decoration: none;
    color: #c2c2c2; }
/* line 73, scss/_navlist.scss */
#navlist-settings i {
    padding: 10px 3px 12px 0px;
    color: grey; }

/* line 1, scss/_dashboard.scss */
#dashboard {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    padding-left: 0; }
/* line 6, scss/_dashboard.scss */
#dashboard .panel-row-wrapper {
    clear: both;
    width: 100%;
    display: inline-flex;
    margin-bottom: 30px; }
/* line 11, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px; }
/* line 18, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel {
    background: white;
    display: block;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 0; }
/* line 27, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box {
    padding: 10px;
    position: relative; }
/* line 30, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .panel-icon {
    width: 48px;
    height: 48px;
    font-size: 32px;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 16px;
    padding-top: 2px;
    margin-top: -5px; }
/* line 41, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .icon-bg-red {
    background: #da4453; }
/* line 45, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .icon-bg-green {
    background: #8cc152; }
/* line 49, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .icon-bg-yellow {
    background: #f6bb42; }
/* line 53, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .icon-bg-blue {
    background: #3498db; }
/* line 57, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .panel-content {
    overflow: hidden; }
/* line 59, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .panel-content .panel-digit {
    font: 400 28px / 30px; }
/* line 62, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .panel-wrapper .panel .panel-inner-box .panel-content .panel-info {
    font-size: 11px;
    display: block;
    margin-top: 2px;
    color: #888; }
/* line 72, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px; }
/* line 79, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel {
    background: white;
    display: block;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 0; }
/* line 88, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box {
    padding: 10px;
    position: relative; }
/* line 91, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .panel-icon {
    width: 48px;
    height: 48px;
    font-size: 32px;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 16px;
    padding-top: 2px;
    margin-top: -5px; }
/* line 102, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .icon-bg-red {
    background: #da4453; }
/* line 106, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .icon-bg-green {
    background: #8cc152; }
/* line 110, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .icon-bg-yellow {
    background: #f6bb42; }
/* line 114, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .icon-bg-blue {
    background: #3498db; }
/* line 118, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .panel-content {
    overflow: hidden; }
/* line 120, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .panel-content .panel-digit {
    font: 400 28px / 30px; }
/* line 123, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel .panel-inner-box .panel-content .panel-info {
    font-size: 11px;
    display: block;
    margin-top: 2px;
    color: #888; }
/* line 132, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel-footer {
    border-top: 1px solid #f7f6f0;
    padding-top: 10px; }
/* line 135, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel-footer a {
    text-decoration: none;
    padding: 0; }
/* line 139, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel-footer a span {
    font-size: .7em;
    padding: 0;
    margin: 0; }
/* line 143, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .double-panel-wrapper .panel-footer a span:hover {
    text-decoration: underline; }
/* line 151, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px; }
/* line 159, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center; }
/* line 169, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .chart canvas {
    position: absolute;
    top: 0;
    left: 0; }
/* line 174, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2; }
/* line 179, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }
/* line 184, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .conversion {
    display: inline-block;
    line-height: 110px;
    z-index: 2; }
/* line 189, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .conversion:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }
/* line 194, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .users {
    display: inline-block;
    line-height: 110px;
    z-index: 2; }
/* line 199, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .users:after {
    content: '';
    margin-left: 0.1em;
    font-size: .8em; }
/* line 204, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .angular {
    margin-top: 30px;
    text-align: center; }
/* line 207, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .angular span {
    color: #495d70;
    font-size: .9em;
    text-transform: capitalize;
    font-weight: bold; }
/* line 215, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .angular .chart {
    margin-top: 0; }
/* line 218, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel {
    background: white;
    display: block;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 0; }
/* line 227, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box {
    padding: 10px;
    position: relative; }
/* line 230, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .panel-icon {
    width: 48px;
    height: 48px;
    font-size: 32px;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 16px;
    padding-top: 2px;
    margin-top: -5px; }
/* line 241, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .icon-bg-red {
    background: #da4453; }
/* line 245, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .icon-bg-green {
    background: #8cc152; }
/* line 249, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .icon-bg-yellow {
    background: #f6bb42; }
/* line 253, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .icon-bg-blue {
    background: #3498db; }
/* line 257, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .panel-content {
    overflow: hidden; }
/* line 259, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .panel-content .panel-digit {
    font: 400 28px / 30px; }
/* line 262, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel .panel-inner-box .panel-content .panel-info {
    font-size: 11px;
    display: block;
    margin-top: 2px;
    color: #888; }
/* line 271, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel-footer {
    border-top: 1px solid #f7f6f0;
    padding-top: 10px; }
/* line 274, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel-footer a {
    text-decoration: none;
    padding: 0; }
/* line 278, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel-footer a span {
    font-size: .7em;
    padding: 0;
    margin: 0; }
/* line 282, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .triple-panel-wrapper .panel-footer a span:hover {
    text-decoration: underline; }
/* line 290, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    min-height: 1px; }
/* line 298, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel {
    background: white;
    display: block;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 0; }
/* line 307, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box {
    padding: 10px;
    position: relative; }
/* line 310, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .panel-icon {
    width: 48px;
    height: 48px;
    font-size: 32px;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 16px;
    padding-top: 2px;
    margin-top: -5px; }
/* line 321, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .icon-bg-red {
    background: #da4453; }
/* line 325, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .icon-bg-green {
    background: #8cc152; }
/* line 329, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .icon-bg-yellow {
    background: #f6bb42; }
/* line 333, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .icon-bg-blue {
    background: #3498db; }
/* line 337, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .panel-content {
    overflow: hidden; }
/* line 339, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .panel-content .panel-digit {
    font: 400 28px / 30px; }
/* line 342, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel .panel-inner-box .panel-content .panel-info {
    font-size: 11px;
    display: block;
    margin-top: 2px;
    color: #888; }
/* line 351, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel-footer {
    border-top: 1px solid #f7f6f0;
    padding-top: 10px; }
/* line 354, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel-footer a {
    text-decoration: none;
    padding: 0; }
/* line 358, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel-footer a span {
    font-size: .7em;
    padding: 0;
    margin: 0; }
/* line 362, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .full-panel-wrapper .panel-footer a span:hover {
    text-decoration: underline; }
/* line 372, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .sales-chart .total-revenue {
    position: absolute;
    right: 30px;
    z-index: 100;
    font-size: .8em; }
/* line 378, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .sales-chart .chart {
    width: 100%;
    height: 300px; }
/* line 382, scss/_dashboard.scss */
#dashboard .panel-row-wrapper .sales-chart text {
    font-size: .7em;
    color: #f7f6f0; }

/* line 1, scss/_colourways.scss */
.colourway-thumbnail {
    float: left;
    margin: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #CCC; }

/* line 8, scss/_colourways.scss */
.remove-colourway {
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    height: 20px; }

/* line 16, scss/_colourways.scss */
.edit-colourway {
    display: block;
    float: right;
    position: relative;
    top: -30px;
    right: 20px;
    height: 20px; }

/* line 24, scss/_colourways.scss */
.close-image {
    background: #FFF;
    border: 1px solid #ccc;
    padding: 2px; }

/* line 29, scss/_colourways.scss */
.close-image:hover {
    background: #CCC; }

/* Product Variants */
/* line 39, scss/_colourways.scss */
#current-colourways #product-var-next-btn {
    float: right;
    margin-right: 33px; }

/* Option Choices */
/* line 49, scss/_colourways.scss */
.chosen-container-multi .chosen-choices li.search-choice {
    display: inline-block;
    position: relative;
    list-style-type: none;
    border: 1px solid #e0e0cf; }
/* line 54, scss/_colourways.scss */
.chosen-container-multi .chosen-choices li.search-choice:hover {
    background-color: #f7f6f0; }

/* line 60, scss/_colourways.scss */
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    height: 25px; }

/* line 66, scss/_colourways.scss */
#add-opts-txtbox {
    margin-bottom: 30px; }

/* line 71, scss/_colourways.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 1px; }

/* line 81, scss/_colourways.scss */
.colourway-select {
    float: left;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #000; }

/* line 88, scss/_colourways.scss */
.remove-colourway, .add-colourway {
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    height: 20px; }

/* line 96, scss/_colourways.scss */
.remove-colourway {
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    height: 20px; }

/* line 104, scss/_colourways.scss */
.remove-image, .add-image {
    background: #FFF;
    border: 1px solid #ccc;
    padding: 2px; }

/* line 109, scss/_colourways.scss */
.remove-image:hover, .add-image:hover {
    background: #CCC; }

/* line 112, scss/_colourways.scss */
.added-colourways {
    float: left;
    width: 100%;
    margin-bottom: 30px; }

/* line 117, scss/_colourways.scss */
.added-colourway-box {
    width: 25px;
    height: 25px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 50px auto; }

/* line 125, scss/_colourways.scss */
#prodvar-left-col h3 {
    margin: 0; }

/* line 132, scss/_colourways.scss */
#prod-var-right {
    border-left: 1px solid #f7f6f0; }

/* line 139, scss/_colourways.scss */
.add-colourway-link fa {
    background-color: white;
    border: 1px solid;
    width: 10px;
    height: 10px; }

/* line 150, scss/_colourways.scss */
#colourway-select-btn {
    display: block; }

/* line 156, scss/_colourways.scss */
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e0e0cf;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
/* line 171, scss/_colourways.scss */
.thumbnail img {
    display: block;
    max-width: 100%;
    width: 75px;
    margin-right: auto;
    margin-left: auto; }
/* line 178, scss/_colourways.scss */
.thumbnail .caption {
    padding: 9px;
    color: #555555; }

/* line 185, scss/_colourways.scss */
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

/* line 199, scss/_colourways.scss */
.hide {
    display: none; }

/* line 202, scss/_colourways.scss */
.thumbnail {
    width: 85px;
    float: left;
    margin-right: 10px;
    height: 120px;
    float: left; }
/* line 208, scss/_colourways.scss */
.thumbnail img {
    width: 75px;
    height: 100%;
    width: 100%;
    vertical-align: none; }

/* line 215, scss/_colourways.scss */
.fileupload-preview {
    height: 75px;
    width: 75px; }
/* line 218, scss/_colourways.scss */
.fileupload-preview img {
    width: 100%;
    height: 100%; }

/* line 226, scss/_colourways.scss */
.close {
    position: relative;
    margin-left: 75px;
    float: left;
    margin-top: -15px;
    margin-bottom: -6px; }

/* line 236, scss/_colourways.scss */
.fileupload .thumbnail {
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    margin-top: 6px; }

/* line 3, scss/_vouchers.scss */
#add-voucher-box #addVoucher {
    width: 50%; }
/* line 8, scss/_vouchers.scss */
#add-voucher-box #addVoucher dl dd {
    margin-top: 10px; }
/* line 13, scss/_vouchers.scss */
#add-voucher-box #addVoucher input[type=radio] {
    margin: 0; }
/* line 17, scss/_vouchers.scss */
#add-voucher-box #addVoucher input[type=submit] {
    float: none; }

/* line 1, scss/_results.scss */
h4#results-text {
    display: none; }

/* line 4, scss/_results.scss */
#product-search-results {
    z-index: 200;
    height: 165px;
    width: 500px;
    top: 20px; }
/* line 9, scss/_results.scss */
#product-search-results ul {
    width: 100%;
    margin: 5px auto;
    display: none;
    overflow: scroll;
    max-height: 140px;
    border: 1px solid #ababab;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px; }
/* line 23, scss/_results.scss */
#product-search-results ul li {
    padding-left: 8px;
    cursor: pointer;
    max-height: 200px;
    border-top: 1px solid #cdcdcd;
    transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out; }
/* line 31, scss/_results.scss */
#product-search-results ul li:hover {
    background-color: #F7F7F7; }
/* line 34, scss/_results.scss */
#product-search-results ul li:first-child {
    border-top: none; }
/* line 37, scss/_results.scss */
#product-search-results ul li h3 {
    width: 100%;
    font-size: 0.8em;
    margin: 0;
    text-decoration: underline; }
/* line 43, scss/_results.scss */
#product-search-results ul li h4 {
    display: inline-block;
    font-size: 0.8em;
    margin: 0; }
/* line 48, scss/_results.scss */
#product-search-results ul li p {
    display: inline-block;
    font-size: 0.8em; }

/* line 58, scss/_results.scss */
#results-text {
    display: none; }

/* line 63, scss/_results.scss */
ul#results li h3, ul#results li h4 {
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    color: #616161; }

/* line 69, scss/_results.scss */
ul#results li:hover h3, ul#results li:hover h4 {
    color: #3b3b3b;
    font-weight: bold; }

/* line 1, scss/_form-clears.scss */
#addLanguage {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
    border: none;
    display: block; }

/* line 9, scss/_form-clears.scss */
#chooseManufacturer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
    border: none;
    display: block; }

/* line 18, scss/_form-clears.scss */
#chooseLanguage {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
    border: none;
    display: block; }

/* line 26, scss/_form-clears.scss */
#chooseCompany {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
    border: none;
    display: block; }

/* line 35, scss/_form-clears.scss */
.side-report {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 0;
    display: table;
    margin: 0;
    border: none; }

/* ==========================================================================
   Admin Panel Styles
   ========================================================================== */
/* line 78, scss/main.scss */
html,
button,
input,
select,
textarea {
    color: #222;
    text-decoration: normal; }

/* line 83, scss/main.scss */
body {
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    background-color: #f7f6f0; }

/* line 90, scss/main.scss */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; }

/* line 95, scss/main.scss */
::selection {
    background: #b3d4fc;
    text-shadow: none; }

/* line 100, scss/main.scss */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }

/* line 109, scss/main.scss */
img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%; }

/* line 116, scss/main.scss */
fieldset {
    border: 0;
    margin: 0;
    padding: 0; }

/* line 122, scss/main.scss */
textarea {
    resize: vertical; }

/* line 126, scss/main.scss */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0; }

/* ==========================================================================
   Header
   ========================================================================== */
/* line 141, scss/main.scss */
#widget-2 h3 {
    margin: 10px;
    position: relative; }

/* line 146, scss/main.scss */
.top-left-heading p {
    position: relative;
    margin: 10px; }

/* line 151, scss/main.scss */
.top-left-heading p {
    position: relative;
    top: 25px;
    right: 80px; }

/* line 157, scss/main.scss */
.ui-state-highlight {
    background: #eee;
    border: 1px dotted #333;
    margin: 10px; }

/* line 163, scss/main.scss */
.form-wrapper {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #999999;
    border-radius: 1px;
    padding: 10px; }

/* line 176, scss/main.scss */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px; }

/* line 183, scss/main.scss */
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* line 190, scss/main.scss */
.hidden {
    display: none !important;
    visibility: hidden; }

/* line 195, scss/main.scss */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

/* line 207, scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 216, scss/main.scss */
.invisible {
    visibility: hidden; }

/* line 221, scss/main.scss */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; }

/* line 226, scss/main.scss */
.clearfix:after {
    clear: both; }

/* line 230, scss/main.scss */
.clearfix {
    *zoom: 1; }

/* line 234, scss/main.scss */
.float-left {
    float: left; }

/* line 238, scss/main.scss */
.float-right {
    float: right; }

/*   Item placeholder (visual helper) */
/* line 244, scss/main.scss */
.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px; }

/* line 255, scss/main.scss */
.highlight {
    color: #3586f4; }

/* line 259, scss/main.scss */
#footer {
    margin-top: 30px;
    border-top: 1px solid #E0E0CF;
    color: #CBCAC5; }
/* line 263, scss/main.scss */
#footer p {
    float: left;
    margin: 10px;
    font-size: 8px; }
/* line 268, scss/main.scss */
#footer a {
    float: right;
    margin: 10px;
    font-size: 8px; }

/* Item placeholder (visual helper) */
/* line 278, scss/main.scss */
.placeholder {
    background-color: #BFB;
    border: 1px dashed #666;
    height: 58px;
    margin-bottom: 5px; }

/* line 286, scss/main.scss */
input#search input#searchug, input#searchu {
    width: 350px;
    height: 25px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ababab;
    font-size: 20px;
    line-height: 25px;
    color: #ababab; }
/* line 300, scss/main.scss */
input#search input#searchug:hover, input#search input#searchug:focus, input#searchu:hover, input#searchu:focus {
    color: #3b3b3b;
    border: 1px solid #36a2d2;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }
