<div id="shipping-rates-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i>Shipping Bands</h1>
    </div>

    <div class="box-content-static">
        <div class="box-content-links">
            <a class="btn-link" href="/admin/shipping/addband/"><i class="fa fa-plus fa-fw"></i> Add a new band</a>
        </div>
        <br/>

        <table class="highlight">
            <thead>
            <tr>
                <th>Start Weight</th>
                <th>End Weight</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <?php
            if (isset($this->bands)) : ?>
                <?php foreach ($this->bands as $band) : ?>
                    <tr>
                        <td><?php echo $band->start_weight; ?></td>
                        <td><?php echo $band->end_weight; ?></td>
                        <td>
                            <a href="/admin/shipping/editband/id/<?php echo $band->band_id; ?>" title="Edit this band"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="/admin/shipping/deleteband/id/<?php echo $band->band_id; ?>" title="Delete a band"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>
