<div id="shipping-types-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i> Shipping Box Sizes</h1> 
        <div class="box-header-static-links"></div>
    </div>
    <div class="box-content-static"> 
        <div class="box-content-links">
            <a href="#" class="btn-link addShippingRate"><i class="fa fa-plus fa-fw"></i> Add New Box</a>
        </div>
        <h3>Manage all of the available boxes here:</h3>
        <table>
            <thead>
                <tr>
                    <th>Box ID</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Depth</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->boxes as $box) {
                    echo '<tr>';
                    echo '<td>' . $box->getId() . '</td>';
                    echo '<td>' . $box->getBoxWidth() . 'cm</td>';
                    echo '<td>' . $box->getBoxLength() . 'cm</td>';
                    echo '<td>' . $box->getBoxDepth() . 'cm</td>';
                    echo '</tr>';
                }
                ?>
            </tbody>
        </table>

        <div class="addRateForm" style="display:none;">
            <?php echo html_entity_decode($this->form); ?>
        </div>

    </div>
</div>


