<div id="manage-companies-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i> Shipping Companies</h1> 
        <div class="box-header-static-search">
            
        </div>
    </div>

    <div class="box-content-static"> 
        <div class="box-content-links">
            <a class="btn-link" href="/admin/shipping/addcompany"><i class="fa fa-plus fa-fw"></i>Add more companies here</a>
        </div>
        
            <?php
            echo $this->form;
            ?>
       

    </div>
</div>



