<div id="add-ship-company-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i> Delete Shipping Band</h1>
    </div>

    <div class="box-content-static">
        <div class="form">
            <?php
            echo $this->form;
            ?>
        </div>
    </div>
</div>