<div id="shipping-options-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i> Shipping Options</h1> 
        <div class="box-header-static-links"></div>
    </div>
    <div class="box-content-static">  
        <div class="box-content-links">
            <a href="#" class="btn-link addShippingOption"><i class="fa fa-plus fa-fw"></i> Add New Shipping Option</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Option ID</th>
                    <th>Shipping Option</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
            <?php
            foreach ($this->options as $option) {
                echo '<tr>';
                echo '<td>' . $option->getId() . '</td>';
                echo '<td class="editableTableField">' . $option->getOption() . '</td>';
                echo '<td><a class="deleteShippingOption shippingOption' . $option->getId() . '" href="#">X</a></td>';
                echo '</tr>';
            }
            ?>
                </tbody>
        </table>
        <div class="form addOptionForm" style="display:none;">
            <form>

                <label>Enter a New Shipping Option</label>
                <input class="newShippingOption" type="text" value="" />
                <input class="btn btn-primary addShippingOptionSubmit" type="submit" value="Add Option" />

            </form>
        </div>

    </div>
</div>


