<div id="shipping-rates-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i>Shipping Rates</h1>
        <div class="box-header-static-search">
        </div>
    </div>

    <div class="box-content-static">  
        <div class="box-content-links">
            
            <a href="/admin/shipping/addrate" class="btn-link addShippingRate"><i class="fa fa-plus fa-fw"></i> Add New Shipping Rate</a>
        </div>
        <br/>
        
        <table class="highlight">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Shipping Type</th>
                    <th>Price</th>
                    <th>Weight Band</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($this->shippingRates as $rate) : ?>
                    <tr>
                    <td> <?php echo $rate->company ?></td>
                    <td> <?php echo $rate->rate_name ?></td>
                    <td> <?php echo $rate->price ?></td>
                    <td> <?php echo $rate->start_weight . '-' . $rate->end_weight ?></td>
                    <td>
                            <a href="/admin/shipping/editrate/id/<?php echo $rate->id; ?> " title="Edit this rate"><i class="fa fa-pencil fa-fw"></i></a>
                            <a href="/admin/shipping/deleterate/id/<?php echo $rate->id; ?>" title="Delete a rate"><i class="fa fa-trash-o fa-fw"></i></a>
                        </td>
                    </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
