<div id="shipping-types-box" class="grid_24 box-static">
    <div class="box-header-static">
        <h1><i class="fa fa-archive fa-fw"></i> Shipping Types</h1> 
        <div class="box-header-static-search"></div>
    </div>
    <div class="box-content-static"> 
        <div class="box-content-links">
            <a href="#" class="btn-link addShippingType"><i class="fa fa-plus fa-fw"></i>Add New Shipping Type</a>
        </div>
        <table>
            <thead>
            <tr>
                <th>Type ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Minimum Weight (kg)</th>
                <th>Weight Limit (kg)</th>
                <th>Length Limit (m)</th>
                <th>Width Limit (m)</th>
                <th>Depth limit (m)</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach ($this->types as $type) {
                echo '<tr>';
                echo '<td>' . $type->getId() . '</td>';
                echo '<td>' . $type->getName() . '</td>';
                echo '<td>' . $type->getDescription() . '</td>';
                echo '<td>' . $type->getMinimumWeight() . 'kg</td>';
                echo '<td>' . $type->getWeightLimit() . 'kg</td>';
                echo '<td>' . $type->getLengthLimit() . 'm</td>';
                echo '<td>' . $type->getWidthLimit() . 'm</td>';
                echo '<td>' . $type->getDepthLimit() . 'm</td>';
                echo '<td><a class="deleteShippingType shippingType' . $type->getId() . '" href="#"><i class="fa fa-trash-o fa-fw"></i></a></td>';
                echo '</tr>';
            }
            ?>
                </tbody>
        </table>

        <div class="form addTypeForm" style="display:none;">
            <form>

                <h3>Add new Shipping Type</h3>
                <label>Enter a New Shipping Type Name</label>
                <input class="newShippingTypeName" type="text" value="" />
                <label>Enter a New Shipping Type Description</label>
                <input class="newShippingTypeDesc" type="text" value="" />
                <label>Enter a New Shipping Type Minimum Weight (kg)</label>
                <input class="newShippingTypeMinWeight" type="text" value="0.00" />
                <label>Enter a New Shipping Type Weight Limit (kg)</label>
                <input class="newShippingTypeWeightLimit" type="text" value="0.00" />
                <label>Enter a New Shipping Type Length Limit (m)</label>
                <input class="newShippingTypeLengthLimit" type="text" value="0.00" />
                <label>Enter a New Shipping Type Width Limit (m)</label>
                <input class="newShippingTypeWidthLimit" type="text" value="0.00" />
                <label>Enter a New Shipping Type Depth Limit (m)</label>
                <input class="newShippingTypeDepthLimit" type="text" value="0.00" />
                <input class="btn btn-primary addShippingTypeSubmit" type="submit" value="Add Type" />

            </form>
        </div>
    </div>
</div>


