
<div class="main-wrapper">

    <div class="payment-wrapper">

        <div class="pull-right">
            <span class="badge">1</span>
            <span class="badge badge-important">2</span>
            <span class="badge">3</span>
        </div>

        <h2>Confirm Order</h2>
        <h4 class="cah">Addresses</h4>
        <div class="addresses">
            <div class="address"> 
                <h4> Billing Address </h4>
                <?php $billingAddress = $this->user->getBillingAddress(); ?>
                <div class="span5"><?php echo $billingAddress->getLineOne(); ?></div>
                <div class="span5"><?php echo $billingAddress->getLineTwo(); ?></div>
                <div class="span5"><?php echo $billingAddress->getCity(); ?></div>
                <div class="span5"><?php echo $billingAddress->getRegion(); ?></div>
                <div class="span5"><?php echo $billingAddress->getPostcode(); ?></div>
                <div class="span5"><?php echo $billingAddress->getCountry()->getCountry(); ?></div>
            </div>

            <div class="address">
                <h4>Delivery Address</h4>
                <?php $deliveryAddress = $this->user->getDeliveryAddress(); ?>
                <div class="span5"><?php echo $deliveryAddress->getLineOne(); ?></div>
                <div class="span5"><?php echo $deliveryAddress->getLineTwo(); ?></div>
                <div class="span5"><?php echo $deliveryAddress->getCity(); ?></div>
                <div class="span5"><?php echo $deliveryAddress->getRegion(); ?></div>
                <div class="span5"><?php echo $deliveryAddress->getPostcode(); ?></div>
                <div class="span5"><?php echo $deliveryAddress->getCountry()->getCountry(); ?></div>
            </div>
        </div>


        <h4>Order Details</h4>
        <table class="table">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Order Number</td>
                    <td><?php echo $this->order->getOrderNumber(); ?></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><?php echo $this->currency->getCurrencySymbol().number_format($this->order->getItemsTotal(), 2); ?></td>
                </tr>
                <tr>
                    <td>Vat</td>
                    <td><?php echo $this->currency->getCurrencySymbol().number_format($this->order->getVatCharge(), 2); ?></td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td><?php echo $this->currency->getCurrencySymbol().number_format($this->order->getDeliveryCharge(), 2); ?></td>
                </tr>
                <tr>
                    <td>Order Total</td>
                    <td><?php echo $this->currency->getCurrencySymbol().number_format($this->order->getOrderTotal(), 2); ?></td>
                </tr>
            </tbody>
        </table>
        <div id="payment-form">
            <?php echo $this->formErrors; ?>
            <?php echo $this->form; ?>
        </div>

    </div>
</div>

<script>
    $(".datepicker").datepicker({dateFormat: 'dd-mm-yy'});
</script>
