<?php
    $language = $this->languageSelected;
?>
<div class="main-wrapper">

    <div class="login-wrapper">

        <div id="not-registered-form" class="login-form-wrapper">
            <h2 class="form-signin-heading">
                <?php echo $language->getContent('login_not_registered')->getContent(); ?>
            </h2>
            <div class="login-register-box">
                <p>
                    <?php echo $language->getContent('login_register_text')->getContent(); ?>
                </p>
                <a href="/register" class="btn btn-primary">
                    <?php echo $language->getContent('create_account_btn')->getContent(); ?>

                </a>
            </div>
        </div>
        <div id="login-form" class="login-form-wrapper">
            <h2 class="form-signin-heading"><?php echo $this->loginForm->getDescription(); ?></h2>
            <?php if ($this->form_errors): ?>
                <div class="alert alert-error"><?php echo $this->form_errors; ?></div>
            <?php endif; ?>
            <?php echo $this->loginForm ?>
                &nbsp;<a href="/login/reset">Forgotten Your Password?</a>
        </div>

    </div>
</div>

