<section id="basket" class="container">

    <h2>Shopping Basket</h2>

    <div id="basket-wrapper">

        <?php
        if ($this->success) : ?>
            <div class="notification success">Item has successfully been removed from your basket</div>
        <?php endif;

        $items = $this->basket->getItems();

        if ($items) {
            ?>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <?php
                $totalPrice = floatval(0);
                foreach ($this->basket->getDisplayData() as $key => $value) :
                    $stockId = $key;
                    $productId = $value['product_id'];
                    $productUrl = $this->productUrl . $productId;
                    $productImage = $value['product_image'];
                    $productImageUrl = $this->productImageLocation . $productImage;
                    $productName = $value['product_name'];
                    $productOption = $value['option'];
                    $productColourway = $value['colourway'];
                    $itemQty = (float)$value['qty'];
                    $itemPrice = (float)$value['itemprice'];
                    ?>
                    <?php
                    if ($this->usergroup && $this->usergroup->vat === '1') {
                        $roundItemPrice = number_format($itemPrice, 2);
                    } else {
                        $roundItemPrice = number_format($itemPrice * 1.2, 2);
                    }
                    ?>
                    <tr>
                        <td><img src="<?php echo $productImageUrl; ?>" width="70px"/></td>
                        <td>
                            <a href="<?php echo $productUrl; ?>"><?php echo $productName . ' [ ' . $productOption . ' / ' . $productColourway . ' ]'; ?></a>
                        <td><?php echo $this->currency->getCurrencySymbol() . $roundItemPrice; ?></td>
                        <td>
                            <input type="text" id='qty_<?php echo $stockId; ?>' style="width: 30px"
                                   price="<?php echo $this->currency->currencySymbol . $roundItemPrice; ?>"
                                   class="qty input-mini" value="<?php echo $itemQty; ?>"/>
                            <br/><a href="#" class="update" stock-id="<?php echo $stockId; ?>">Update</a>
                        </td>
                        <td>
                            <a class="danger" name="remove_product" title="Remove this product"
                               alt="Remove this product" href="/basket/index/id/<?php echo $stockId; ?>"><img
                                    src="/lifefitness-shop/img/close2.png"/></a>
                        </td>
                    </tr>
                    <?php
                    $totalPrice += (float)($roundItemPrice * $itemQty);
                    ?>
                <?php endforeach; ?>
                <td></td>
                <td></td>
                <td><h5>Total Price</h5></td>
                <td><h5><?php echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2); ?></h5></td>
                <td></td>
                </tbody>
            </table>
            <div class="clear"></div>
            <div id="basket-btns">

                <a class='btn btn-primary' id='continueShopping' href="/category/">Continue Shopping</a>
                <a class='btn btn-primary' id='goToCheckout' href="/checkout/">Proceed to Checkout</a>
            </div>
            <div class="clear"></div>
        <?php
        } else {
            ?>
            There are currently no items in your basket.<br/><a href="/" class="btn" title="Continue Shopping">Continue
                Shopping</a>
        <?php
        }
        ?>
    </div>
</section>

