<div class="main-wrapper">

    <div id="registration-form">
        <h3>Register</h3>
        <p>Please fill in the form below to start</p>
        <?php echo $this->errors; ?>
        <?php echo $this->form; ?>
    </div>
    <script>
        $(document).ready(function() {
            $("#password").keyup(function() {
                var password = $("#password").val();

                //I've done two checks, will add more if needs be
                function calculateStrength(password) {
                    var score = 0;
                    // award every unique letter until 3 repetitions
                    var letters = new Object();
                    for (var i=0; i<password.length; i++) {
                        letters[password[i]] = (letters[password[i]] || 0) + 2;
                        score += 3.0 / letters[password[i]];
                    }

                    // calculate extra points from the below variations
                    var variations = {
                        digits: /\d/.test(password),
                        lower: /[a-z]/.test(password),
                        upper: /[A-Z]/.test(password),
                        nonWords: /\W/.test(password)
                    };

                    var variationCount = 0;
                    for (var check in variations) {
                        variationCount += (variations[check] == true) ? 2 : 0;
                    }
                    score += (variationCount - 1) * 10;

                    return parseInt(score);
                }

                function calculateScore(password) {
                    var score = calculateStrength(password);
                    if (score >= 80) {
                        return "Very Strong";
                    }
                    if (score >= 65) {
                        return "Strong";
                    }
                    if (score > 50) {
                        return "Good";
                    }
                    if (score >= 30) {
                        return "Weak";
                    }
                    return "Very Weak";
                }
                if (calculateScore(password) === "Very Strong") {
                    $("#strength").removeClass().height("100%").width(calculateStrength(password)+"%").addClass("very-strong");
                    $("#password-strength-label").children().remove();
                    $("#password-strength-label").append("<p id='pwd-label'>Very Strong</p>");
                }
                if (calculateScore(password) === "Strong") {
                    $("#strength").removeClass().height("100%").width(calculateStrength(password)+"%").addClass("strong");
                    $("#password-strength-label").children().remove();
                    $("#password-strength-label").append("<p id='pwd-label'>Strong</p>");
                }
                if (calculateScore(password) === "Good") {
                    $("#strength").removeClass().height("100%").width(calculateStrength(password)+"%").addClass("good");
                    $("#password-strength-label").children().remove();
                    $("#password-strength-label").append("<p id='pwd-label'>Good</p>");
                }
                if (calculateScore(password) === "Weak") {
                    $("#strength").removeClass().height("100%").width(calculateStrength(password)+"%").addClass("weak");
                    $("#password-strength-label").children().remove();
                    $("#password-strength-label").append("<p id='pwd-label'>Weak</p>");
                }
                if (calculateScore(password) === "Very Weak") {
                    $("#strength").removeClass().height("100%").width(calculateStrength(password)+"%").addClass("very-weak");
                    $("#password-strength-label").children().remove();
                    $("#password-strength-label").append("<p id='pwd-label'>Very Weak</p>");
                }


            });
            $("<div id='password-strength-generator'><div id='strength'></div></div>").insertBefore("#confirm_pswd-label");
            $("<div id='password-strength-label'></div>").insertAfter("#password-strength-generator");
        });
    </script>

