<?php //echo '<pre>'; var_dump($this->packProducts->image_url); die();   ?>
<div class="span3">
    <ul class="nav nav-list nav-lined">
        <?php
        if (!empty($this->childCategories)):
            foreach ($this->childCategories as $childCategory):
                ?><li>
                    <a href ="<?php echo $this->categoryUrl . $childCategory->getId(); ?>">
                        <?php echo $childCategory->getNameByLanguage($this->languageSelected); ?></a></li>
                <?php
            endforeach;
        endif;
        ?>
    </ul>
</div>
<?php
foreach ($this->packProducts as $product):
    $packName = $product->pack_name;
    $defaultImage = $product->image_url;
    ?>
<?php endforeach; ?>
<div id='added-product-popup' class="media <?php echo ($this->success ? 'show' : 'hide'); ?>" style='display: none'>
    <a class="pull-left" href="#">
        <img class="media-object" src="/lifefitness-shop/img/products/<?php echo $defaultImage; ?>" width='30px'/>
    </a>
    <div class="media-body">
        Pack has been added to basket
    </div>
</div>-

<div class="span8"> 
    <ul class="thumbnails">
        <h2><?php echo $packName; ?></h2>
        <?php
        if (!empty($this->packProducts)):
            foreach ($this->packProducts as $product):
                $productName = $product->name;
                $defaultImage = $product->image_url;
                $price = $product->price;
                $productId = $product->product_id;
                $packId = $product->pp_id;
                ?>
                <li class="span3">
                    <div class="thumbnail">
                        <p class="product-name">
                            <?php echo $productName; ?>
                        </p>
                        <div class="product-image">
                            <a href="/product/index/id/<?php echo $productId; ?>"><img src="/lifefitness-shop/img/products/<?php echo $defaultImage; ?>"/></a>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
            <?php
        else :
            //There are no products in this category
            echo $this->languageSelected->getContent('no_cat_products')->getContent();
        endif;
        ?>
    </ul>
    <div class="prod-options-form">
        <form method="POST" action="">
            <table class="table" id="prod-options-table"> 
                <tr class="no-border">
                    <td colspan="3">
                        <input type ="hidden" name ='product_id' id="product-id" value ='<?php echo $packId; ?>'/>
                        <input type ="submit" data-toggle="tooltip" value="Add to basket &pound;<?php echo $price; ?>" class="btn btn-red span3" id="add-pack-to-basket" data-toggle="popover" data-content="Add to basket"/>                                
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="clearfix"></div>
