<?php /* @var $this Polls_Views_View */ ?>

<div class="container">
	<div id="push"></div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>User ID</th>
				<th>User Type</th>
				<th>User Group</th>
				<th>Forename</th>
				<th>Surname</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
		<?php if(count($this->getContent('users')) == 0) : ?>
			<tr><td>There are no users in the system.</td></tr>
		<?php else : ?>
		<?php foreach($this->getContent('users') as $user) : ?>
			<tr>
				<td><?php echo $user['user_id']; ?></td>
				<td><?php echo $user['user_type_name']; ?></td>
				<td><?php echo $user['user_group_name']; ?></td>
				<td><?php echo $user['forename']; ?></td>
				<td><?php echo $user['surname']; ?></td>
				<td><?php echo $user['email']; ?></td>
                                <td><a href="/admin/user/index/edit/id/<?php echo $user['user_id']; ?>" title="Edit this user"><img src="/modules/Admin/Public/img/icons/edit.png"/></a></td>
                                <td><a href="/admin/user/delete/confirm/id/<?php echo $user['user_id']; ?>" title="Delete this user"><img src="/modules/Admin/Public/img/icons/trash.png"/></a></td>
			</tr>
		<?php endforeach; ?>
		<?php endif; ?>
		</tbody>
	</table>
</div>
