<?php /*$session = new Session_Session(); if($session->isLoggedIn()) {
	echo '<p class="lead">Welcome back.</p>';
} else {
	echo '<p class="lead">You\re not logged in.</p>';
}*/ ?>

<div class="content">

<div id="push"></div>

</div>
