<!DOCTYPE html>
<html lang="en">
<head>
	<title><?php echo $this->getTitle(); ?></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/modules/Frontend/Public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/modules/Admin/Public/js/bootstrap.min.js"></script>
</head>