<!-- Navigation goes in this file -->
<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">CO<sup>3</sup> Core Platform</a>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li><a href="/admin/">Home</a></li>
				<?php 
                foreach($this->getContent('enabled_modules') as $moduleName => $moduleConfig) : ?>
				<li <?php if($this->getContent('current_module') == $moduleName) : ?>class="active"<?php endif; ?>>
					<a href="/admin/<?php echo strtolower($moduleName); ?>/" title="<?php echo $moduleConfig['display_name']; ?>"><?php echo $moduleConfig['display_name']; ?></a>
				</li>
				<li class="divider-vertical"></li>
				<?php endforeach; ?>
			</ul>
			<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li><a href="/admin/logout" title="Sign out of the admin">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
