<body>
<div id="wrap">
	<div class="container">
		<div class="page-header">
			<h1>CO<sup>3</sup> Core Platform</h1>
			<p class="lead"><?php echo $this->getContent('strapline'); ?></p>
		</div>
	</div>
