<?php $totalPrice = $this->basket->getItemsTotal(); //echo '<pre>'; var_dump($this->voucherSession); die();      ?>
<section id="checkout" class="container">

<h2>Checkout</h2>

<div class="check-progress">
    <span class="badge badge-important">1</span>
    <span class="badge ">2</span>
    <span class="badge">3</span>
</div>

<div class="checkout-wrapper span8">
    <div class="addresses">
        <h4 class="cah">Addresses</h4>

        <div class="address span6">
            <h5> Billing Address</h5>
            <?php
            if ($this->user->getBillingAddress()):
                $billingAddress = $this->user->getBillingAddress();
                ?>
                <p><?php echo $billingAddress->getLineOne(); ?></p>
                <p><?php echo $billingAddress->getLineTwo(); ?></p>
                <p><?php echo $billingAddress->getCity(); ?></p>
                <p><?php echo $billingAddress->getRegion(); ?></p>
                <p><?php echo $billingAddress->getPostcode(); ?></p>
                <p><?php echo $billingAddress->getCountry()->getCountry(); ?></p>
                <a class="btn-link" href="/address/index/type/billing/">Change Billing Address</a>
            <?php
            else:
                ?>
                <a class="btn btn-primary" type="button" href="/address/index/type/billing/">Enter a Billing
                    Address</a>
            <?php
            endif;
            ?>
        </div>
        <div class="address span6">
            <h5>Delivery Address</h5>
            <?php
            if ($this->user->getDeliveryAddress()):
                $deliveryAddress = $this->user->getDeliveryAddress();
                ?>
                <p><?php echo $deliveryAddress->getLineOne(); ?></p>
                <p><?php echo $deliveryAddress->getLineTwo(); ?></p>
                <p><?php echo $deliveryAddress->getCity(); ?></p>
                <p><?php echo $deliveryAddress->getRegion(); ?></p>
                <p><?php echo $deliveryAddress->getPostcode(); ?></p>
                <p><?php echo $deliveryAddress->getCountry()->getCountry(); ?></p>
                <a class="btn-link" href="/address/index/type/delivery/">Change Delivery Address</a>
            <?php
            else:
                ?>
                <a class="btn btn-primary" type="button" href="/address/index/type/delivery/">Enter a Delivery
                    Address</a>
            <?php
            endif;
            ?>
        </div>
    </div>

    <div class="clear"></div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $totalPrice = floatval(0.00);

        foreach ($this->basket->getDisplayData() as $key => $value) :
            $stockId = $key;
            $productId = $value['product_id'];
            $productUrl = $this->productUrl . $productId;
            $productImage = $value['product_image'];
            $productImageUrl = $this->productImageLocation . $productImage;
            $productName = $value['product_name'];
            $productOption = $value['option'];
            $productWeight = $value['product_weight'];
            $productColourway = $value['colourway'];
            $itemQty = (int)$value['qty'];
            $itemPrice = (float) round($value['itemprice'] , 2);
            ?>
            <?php
            if (isset($this->voucher)) {
                if ($this->voucher->operand == '*') {
                    $itemPrice = number_format(($itemPrice * $this->voucher->amount), 2, '.', ',');
                }
            } elseif (isset($this->voucherSession)) {
                if ($this->voucherSession->operand == '*') {
                    $itemPrice = number_format(($itemPrice * $this->voucher->amount), 2, '.', ',');
                }
            }
            if ($this->usergroup->vat === '1') {
                $roundItemPrice = number_format($itemPrice, 2);
            } else {
                $roundItemPrice = number_format($itemPrice * 1.2, 2);
            }
            ?>
            <tr>
                <td><img src="<?php echo $productImageUrl; ?>" width="70px"/></td>
                <td>
                    <a href="<?php echo $productUrl; ?>"><?php echo $productName . ' [ ' . $productOption . ' / ' . $productColourway . ' ]'; ?></a>
                </td>

                <td><?php echo $this->currency->getCurrencySymbol() . number_format($roundItemPrice, 2); ?></td>
                <td><?php echo $itemQty; ?></td>
            </tr>
            <?php
            $totalPrice += (float)($roundItemPrice * $itemQty);
            ?>
        <?php endforeach; ?>
        <tr>
            <td></td>
            <td></td>
            <td><h5>Total Price</h5></td>
            <?php
            if (isset($this->voucher)) {
                if ($this->voucher->operand == '-') {
                    $totalPrice = number_format(($totalPrice - $this->voucher->amount), 2, '.', ',');
                }
            } else if (isset($this->voucherSession)) {
                if ($this->voucherSession->operand == '-') {
                    $totalPrice = number_format(($totalPrice - $this->voucherSession->amount), 2, '.', ',');
                }
            }
            ?>
            <td><h5><?php echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2); ?></h5></td>
        </tr>
        </tbody>
    </table>

    <?php if (isset($this->success)) : ?>
        <p id="voucher-applied" class="notification success"><?php echo $this->success; ?></p>
    <?php elseif (isset($this->error)) : ?>
        <p id="voucher-fail" class="notification error"><?php echo $this->error; ?></p>
    <?php endif; ?>
    <form id="checkout-voucher-form" method="post" action="/checkout">

        <h4>Have a voucher code? Enter it here.</h4>
        <input type="text" name="voucher" id="voucher-code">
        <input type="submit" class='btn btn-primary' id='process-voucher' value="Apply Voucher">
    </form>

    <div class="checkout-buttons">
        <form method="post" action="/payment/">
            <div class="options">
                <h4>Delivery Options</h4>
                <?php
                $totalProductWeight = ($itemQty * $productWeight);
                ?>
                <select name="delivery" id="delivery">

                    <?php foreach ($this->shipping_rate as $sr) : ?>
                        <?php $startWeight = $sr->start_weight;
                        $endWeight = $sr->end_weight;
                        if ($totalProductWeight > $startWeight && $totalProductWeight < $endWeight) : ?>
                            <?php if ($this->usergroup->vat === '1') : ?>
                                <option value="<?php echo $sr->price; ?>"><?php echo $sr->rate_name . ' ' .
                                        $this->currency->getCurrencySymbol() . number_format($sr->price, 2) ?></option>
                            <?php else : ?>
                                <?php $sr->price = $sr->price * 1.2; ?>
                                <option value="<?php echo $sr->price; ?>"><?php echo $sr->rate_name . ' ' .
                                        $this->currency->getCurrencySymbol() . number_format($sr->price, 2) ?></option>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>

                </select>
            </div>
            <br/>

            <p>Please note that Next Day Delivery is only guaranteed for orders placed before 2pm</p>

            <a class='btn btn-primary' id='go-to-basket' href="/basket/">Edit Basket</a>
            <input type="submit" name="checkoutsubmit" class='btn btn-primary' id='go-to-checkout'
                   value="Proceed to Payment"/>
        </form>
    </div>
</div>
<div class="order-total span4">

    <h3>Order Details</h3>

    <h4>Sub Total</h4>

    <p>
        <?php
        if ($this->usergroup->vat === '1') {
            echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2);
        } else {
            echo $this->currency->getCurrencySymbol() . number_format($totalPrice, 2);
        }
        ?></p>

    <?php if ($this->usergroup->vat === '1') : ?>
        <h4>VAT</h4>
        <p class="vatCharge">
            <?php $vatPrice = $totalPrice * 0.2;
            echo $this->currency->getCurrencySymbol() . number_format($vatPrice, 2);
            ?>
        </p>
    <?php endif; ?>

    <?php if ($this->usergroup->vat === '1') : ?>
        <h4>Delivery (Ex VAT)</h4>
    <?php else : ?>
        <h4>Delivery</h4>
    <?php endif; ?>

    <p class="shippingCharge">
        <?php echo $this->currency->getCurrencySymbol(); ?>
    </p>

    <div class="total">
        <h4><strong>Total</strong></h4>
        <?php
        if ($this->usergroup->vat === '1') {
            $totalPrice = floatval($totalPrice) + floatval($vatPrice);
            $currency = $this->currency->getCurrencySymbol();
        } else {
            $totalPrice = floatval($totalPrice);
            $currency = $this->currency->getCurrencySymbol();
        }
        ?>
        <p class="basketTotal">
            <strong><?php echo $this->currency->getCurrencySymbol(); ?>
            </strong>
        </p>
    </div>
    <h3>Payment Types</h3>

    <p>We accept the following cards:</p>

    <div class="payment-type-images">
        <img src="<?php echo $this->cardImageLocation; ?>americanExpress.gif.png">
        <img src="<?php echo $this->cardImageLocation; ?>masterCard_en_GB.gif.png">
        <img src="<?php echo $this->cardImageLocation; ?>switchSoloCard.gif.png">
        <img src="<?php echo $this->cardImageLocation; ?>visa_en_GB.gif.png">
    </div>
</div>

</section>
<script>
    $('#voucher-applied').fadeIn('slow').delay('2000').fadeOut('slow');
    //    $('#voucher-fail').fadeIn('slow').delay('2000').fadeOut('slow');

    //update total field based on shipping

    var shippingCharge = ($('.shippingCharge').text());
    var deliverySelect = ($('#delivery').val());

    function calculateTotal() {

        var total = 0;

        //get delivery and total values
        var shipping = ($('#delivery').val());
        var basketTotal = "<?php echo $totalPrice; ?>";

        var shippingVal = parseFloat(shipping);
        var basketVal = parseFloat(basketTotal);


        //alert(basketVal);
        //add delivery and total values
        var totalCost = shippingVal + basketVal;
        if($('.vatCharge').length > 0){
            var basketValMinusVat = (1/1.2 * basketVal);
            var vatVal = (basketValMinusVat * 0.2) + (shippingVal * 0.2);
            totalCost  = basketValMinusVat + vatVal + shippingVal;
            ($('.vatCharge').html('<?php echo $this->currency->getCurrencySymbol(); ?>' + parseFloat(vatVal).toFixed(2)));
        }

        //add total to total field
        ($('.basketTotal').html('<?php echo $this->currency->getCurrencySymbol(); ?>' + parseFloat(totalCost).toFixed(2)));
    }

    $(function () {
        calculateTotal();
        var deliverySelect = ($('#delivery').val());
        ($('.shippingCharge').html('<?php echo $this->currency->getCurrencySymbol(); ?>' + parseFloat(deliverySelect).toFixed(2)));

        $('#delivery').change(function () {

            var basketTotal = ($('.basketTotal').text());
            var deliverySelect = ($('#delivery').val());
            ($('.shippingCharge').html('<?php echo $this->currency->getCurrencySymbol(); ?>' + parseFloat(deliverySelect).toFixed(2)));
            calculateTotal();

        });

    });

    console.log(deliverySelect);
    console.log(shippingCharge);

</script>
