<section id="privacy" class="container">
    <h2>Privacy Policy</h2>

    <article id="privacy-policy">
        <p>Fight Science respects your rights to privacy. Fight Science utilizes the following
            practices in regards to any information Fight Science is provided or obtains about users of
            Infinity
            Incorporated Ltd's website located at <span
                style="text-decoration: underline;">www.fightscience.co.uk</span>
            (the "Site").</p>

        <p><strong>COLLECTION AND USE OF INFORMATION</strong></p>

        <p>Unless you provide additional information, Fight Science collects only the following non-personal
            information as you browse through the Fight Science web site:</p>
        <ol type="1">
            <li>the domain name and browser you use to access the Internet;</li>
            <li>the IP address of your computer;</li>
            <li>the date and time of your visit;</li>
            <li>the pages you visited; and</li>
            <li>the address of the web site you visited immediately prior to visiting the Fight Science
                &nbsp;site
            </li>
        </ol>
        <p>In order for you to register with the Site, fulfill transactions or receive services through the Site,
            Infinity
            Incorporated Ltd may require you to provide more detailed information. Common items may include without
            limitation your name, mailing and email addresses and telephone number. When you purchase a product or
            service
            from Fight Science, apply for membership to the Fight Science communities, or enter
            your
            name in a contest through the Site, Fight Science may collect such personal information as
            commercially or logistically necessary to complete your request. This information can include personal
            information relevant to your relationship to Fight Science . This information can also include
            the
            credit card type, number and expiration date and other relevant information relating to any order for goods
            or
            services you place through the site.</p>

        <p>By accessing the Site, you are agreeing to allow Fight Science to collect and utilize your
            information for any lawful purpose, including without limitation to complete all transactions you request
            through the Site and to disclose that information and details of all such transactions to Infinity
            Incorporated
            Ltd's various board committees and/or any necessary payment processors. Because of the nature of the
            Internet,
            your data may pass through any country.</p>

        <p>Fight Science may send you promotional and informational materials using the email or mailing
            address
            you provided on the registration screens on the Site or via cookies. From time to time Fight Science
            Ltd
            may notify you of special promotions, new products or services or other information that may interest you.
            Fight Science will not send you this type of information if you inform Fight Science
            you
            do not wish to receive such materials.</p>

        <p>Except as otherwise set forth in this Privacy Policy, Fight Science does NOT disclose any
            information
            you provide to Fight Science with any entities outside Fight Science, its affiliates
            or
            payment processors, unless required by law enforcement agencies or otherwise required by law.</p>

        <p>Fight Science reserves the right to disclose information acquired through the Site to such law
            enforcement agencies, when Fight Science believes, in good faith, that such disclosure is
            reasonably
            necessary to protect the rights, property or safety of other persons, or to comply with any.</p>

        <p><strong>COOKIES</strong></p>

        <p>When you visit the Site, Fight Science may place a record called a "cookie" within the browser
            directory of your computer's hard drive. A cookie is a small piece of information that a website can store
            on
            your web browser and later retrieve. In most cases, this information is temporary in nature (called session
            cookies) and is deleted as soon as you leave the Site and close your browser. The use of session cookies is
            solely for the purpose of allowing you to interact with the Site in an effective manner. In a few cases, the
            Site uses cookies to store information for a longer period than the current session (called persistent
            cookie).
            In those cases, the web page is clearly noted and the user can choose not to use that web page feature.
            Cookies
            enable the Site to recognize the information you have consented to give to the Site and help Infinity
            Incorporated Ltd determine what portions of the Site are most appropriate for your needs. Infinity
            Incorporated
            Ltd does NOT use cookies to examine your surfing behaviour before or after leaving the Site.</p>

        <p><strong>OUTBOUND LINKS</strong></p>

        <p>The Site contains links to third-party websites that are not under Fight Science's control.
            Infinity
            Incorporated Ltd's Privacy Policy does not apply to the practices, policies or content of any website that
            may
            be linked to or from the Site. Fight Science makes no representations whatsoever about any other
            website to which you may have access through the Site. When you access a website other than Infinity
            Incorporated Ltd's Site, you do so at your own risk. Fight Science is not responsible for the
            accuracy or reliability of any information, data, opinion, software, advice, content or statements contained
            on
            third-party websites, or for the quality of any products or services available on these websites. Infinity
            Incorporated Ltd provides links to third-party websites merely as a convenience to you and the inclusion of
            such
            links does not imply that Fight Science endorses, recommends or accepts any responsibility for
            the
            content or use of such third-party websites.</p>

        <p><strong>NO LIABILITY</strong></p>

        <p>Fight Science will use commercially reasonable precautions to protect from misuse any information
            that Fight Science collects from you through the Site. However, Fight Science does
            not
            guarantee that any such information will not be misused or disclosed to third parties by means beyond our
            control. Fight Science will not have any liability to you for any such misuse or disclosure.</p>

        <p><strong>ADDITIONAL INFORMATION</strong></p>

        <p>If at any time you (i) believe that Fight Science has not followed this Privacy Policy, (ii)
            would
            like to revise the information you provided to Fight Science, (iii) feel that what Infinity
            Incorporated Ltd currently has on record is incorrect or (iv) would like your information to be removed from
            Fight Science's system, email <a href="mailto:support@fightscience.co.uk">support@fightscience.co.uk</a>
            and Fight Science will make reasonable efforts to identify and correct the problem.</p>

        <p>Fight Science may change this Privacy Policy from time to time at its sole discretion without
            notice.
            Your use of the Site will be subject to the most current version of the Privacy Policy posted on the Site at
            the
            time of such use.</p>

        <p>Visitors to the Site are bound by both this Privacy Policy and the Terms and Conditions, and you are advised
            to
            read them both thoroughly.</p>


    </article>
</section>


<script>
    $(document).ready(function () {

        var sidebar = $('#sidebar_content');
        var top = sidebar.offset().top - parseFloat(sidebar.css('marginTop'));

        $(window).scroll(function (event) {
            var ypos = $(this).scrollTop();
            if (ypos >= top) {
                sidebar.addClass('fixed');
            }
            else {
                sidebar.removeClass('fixed');
            }
        });

        $.localScroll();

    });
</script>
