<?php //echo '<pre>'; var_dump($this->allPacks); die(); ?>
<div class="span3">
    <ul class="nav nav-list nav-lined">
        <?php
        if (!empty($this->childCategories)):
            foreach ($this->childCategories as $childCategory):
                ?><li>
                    <a href ="<?php echo $this->categoryUrl . $childCategory->getId(); ?>">
                        <?php echo $childCategory->getNameByLanguage($this->languageSelected); ?></a></li>
                <?php
            endforeach;
        endif;
        ?>
    </ul>
</div>
<div class="span8"> 
    <ul class="thumbnails">
        <h2>Marketing Packs</h2>
        <?php
        if (!empty($this->allPacks)):
            foreach ($this->allPacks as $packs):
                $packId = $packs->pp_id;
                $packName = $packs->pack_name;
                $defaultImage = $packs->pack_image;
                $price = $packs->price;
                ?>
                <li class="span3">
                    <div class="thumbnail">
                        <p class="product-name">
                            <a><?php echo $packName; ?></a>
                        </p>
                        <div class="product-image">
                            <a href="/pack/view/id/<?php echo $packId; ?>"><img src="/lifefitness-shop/img/products/<?php echo $defaultImage; ?>"/></a>
                        </div>
                        <p><?php echo $price; ?></p>
                    </div>
                </li>
            <?php endforeach; ?>
            <?php
        else :
            //There are no products in this category
            echo $this->languageSelected->getContent('no_cat_products')->getContent();
        endif;
        ?>
    </ul>
</div>
<div class="clearfix"></div>
