<br /><br />
<div id="view-content">
	<p>View script for controller <b>Language</b> and script/action name <b>index</b></p>
</div>
<p><a href="<?php echo $this->url(
    array(
        'controller' => 'guestbook',
        'action'     => 'sign'
    ),
    'default',
    true) ?>">Sign Our Guestbook</a></p>
 
Guestbook Entries: <br />
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            ISO Shortcode
        </th>
    </tr>
    <?php 
    foreach ($this->entries as $entry){ ?>
    <tr>
        <td><?php echo $this->escape($entry->name) ?></td>
        <td><?php echo $this->escape($entry->isoShortcode) ?></td>
    </tr>
    <?php } ?>
</table>