<section id="product" class="container">
    <h2 class="span12"><?php echo $this->product->getNameByLanguage($this->languageSelected); ?></h2>
    <!-- product title -->
    <nav class="span3">
        <h3>Categories</h3>
        <ul>
            <?php
            if (!empty($this->childCats)):
                foreach ($this->parentCats as $parentCats) : ?>
                    <li><?php echo $parentCats->getNameByLanguage(); ?></li>
                    <?php if (!empty($this->childCats[$parentCats->id])) : ?>
                        <?php foreach ($this->childCats[$parentCats->id] as $childCategory): ?>
                            <li class="child-category">
                                <a class="<?php echo $childCategory->id; ?>"
                                   href="<?php echo $this->categoryUrl . $childCategory->id; ?>">
                                    <?php echo $childCategory->getNameByLanguage(); ?></a></li>
                        <?php
                        endforeach;
                    endif;
                endforeach;
            endif;
            ?>
        </ul>
    </nav>
    <!-- end column 1 -->


    <div id="prod-image-wrapper" class="span5">

        <div class="product-main-image">
            <?php
            if ($this->product->hasColourways()) {
                $productColourwayImages = $this->product->getColourwayImagesByColourwayId($this->colourwaySelected);
                $displayImage = $productColourwayImages[0]->image_url;
            } else {
                $displayImage = $this->product->getDefaultImage()->image_url;
            }
            ?>
            <img src="<?php echo $this->productImageLocation . $displayImage; ?>"/>
        </div>
        <div class="prod-info" id="prod-info">
            <div id="prod-tabs" class="tabbable">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#pane1" data-toggle="tab">Product Details</a></li>
                        <li class="active"><a href="#pane2" data-toggle="tab">Delivery</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="pane1" class="tab-pane active">
                            <p><?php echo $this->product->getDescriptionByLanguage($this->languageSelected); ?></p>
                        </div>
                        <div id="pane2" class="tab-pane">
                            <h4>The delivery options for this product are:</h4>

                            <?php foreach ($this->delivery_options as $delOption) : ?>
                                <p><?php echo $delOption->rate_name; ?></p>
                            <?php endforeach; ?>
                        </div>
                        <div id="pane3" class="tab-pane">
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.tabable -->

            </div>

        </div>
    </div>
    <!-- end main image column -->
    <div class="prod-thumbs span1">
        <?php foreach ($this->product->getImages() as $productImage): ?>
            <div style="display: none"
                 class="prod-thumb product-image-thumbnail <?php echo(($this->product->hasColourways() && $this->colourwaySelected == $productImage->colourway_id) ? ' default ' : ''); ?>
                     <?php echo(($this->product->hasColourways()) ? ' colourway-thumbnail-select colourway-thumbnail-' . $productImage->colourway_id : ''); ?>">
                <img src="<?php echo $this->productImageLocation . $productImage->image_url; ?>" alt="">
            </div>
        <?php endforeach; ?>
    </div>
    <!-- end thumb image column -->
    <div id="product-options" class="span3">

        <div class="prod-options-header">
            <h4>
                <?php
                if ($this->usergroup != null && $this->usergroup->vat === '1') {
                    echo $this->currency->currencySymbol . number_format($this->product->getMinPrice(), 2, '.', ',');
                    echo ' (ex VAT)';
                } else {
                    $itemPrice = $this->productStock[0]->price * 1.2;
                    echo $this->currency->currencySymbol . number_format($itemPrice, 2, '.', ',');
                }

                ?>
            </h4>
            <?php if ($this->product->hasColourways()):
                foreach ($this->product->getColourways() as $colourway):
                    $colourwayId = $colourway->getId();
                    $hex = $colourway->getHex();
                    $name = $colourway->getNameByLanguage($this->languageSelected);
                    ?>
                    <p style="display:none" class="colourway-text colourway-text-<?php echo $colourwayId; ?>">
                        <?php echo ucwords($name); ?>
                    </p>
                <?php
                endforeach;
                foreach ($this->product->getColourways() as $colourway):
                    $colourwayId = $colourway->getId();
                    $hex = $colourway->getHex();
                    $name = $colourway->getNameByLanguage($this->languageSelected);
                    ?>
                    <div class="colourway-select-wrapper">
                        <div class="colourway-select" id="colourway-select-<?php echo $colourwayId; ?>"
                             hex="<?php echo $hex; ?>" style="background-color:<?php echo $hex; ?>">

                        </div>
                    </div>
                <?php
                endforeach;
            endif;
            ?>
        </div>
        <div class="prod-options-form">
            <form method="POST" action="">
                <table class="table" id="prod-options-table">
                    <thead>
                    </thead>
                    <tbody>
                    <?php
                    if (!empty($this->productStock)):
                        foreach ($this->productStock as $stock):
                            $stockId = $stock->getId();
                            $price = $stock->getPrice();
                            $option = $stock->getOption();
                            $colourwayId = $stock->getColourwayId();
                            /*
                             * Checks if product has colourways before displaying stock row
                             * If product has colourways it has to swap textboxes per colourway clicked therefore we assign the colourway id to each row of stock input boxes showing
                             * If product does not have colourways we just have to display all the options eg(S, M, XL) without having to swap per colourway click hence no need for the colourway-row class
                             */
                            ?>
                            <tr style="display: none"
                                class="<?php echo($this->colourwaySelected == $colourwayId ? ' default ' : ''); ?>
                                        <?php echo($this->product->hasColourways() ? ' colourway-row-' . $colourwayId : ''); ?> ">
                                <td><?php echo $option; ?></td>
                                <td>
                                    <input type="text" name="stock[<?php echo $stockId; ?>]"
                                           id="qty_<?php echo $stockId; ?>" class="input-mini qty-input"/>
                                    <input type="text" class="basketrule-display input-mini cost-per-item"
                                           disabled/>
                                </td>
                            </tr>
                        <?php
                        endforeach;
                    endif;
                    ?>
                    <tr class="no-border basketrule-display">
                        <td colspan="3" id="total-cost"></td>
                    </tr>
                    <tr class="no-border basketrule-display">
                        <td colspan="3" id="total-saving"></td>
                    </tr>
                    <tr class="no-border">
                        <td colspan="3" class="add-basket-btn">
                            <input type="hidden" name='product_id' id="product-id"
                                   value='<?php echo $this->product->getId(); ?>'/>
                            <input type="submit" data-toggle="tooltip" value="Add to basket" class="btn btn-primary"
                                   id="add-to-basket" data-toggle="popover" data-content="Add to basket"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>


    <!-- end column 2 -->
    <table class="table">
        <!--Leaving this in for now just in case we need it in the future-->
        <?php /* if (isset($this->conversion)) {
              $price = number_format(($price * $this->conversion), 2, '.', ',');
              }
              ?>
              <?php foreach ($loadedPacks as $loadedPack) : ?>
              <?php
              $packName = $loadedPack['pack_name'];
              $price = $loadedPack['price'];
              ?>
              <tr>
              <td><a href="/pack/index/id/<?php echo $loadedPack['pp_id']; ?>"><?php echo $packName; ?></a></td>
              <td><?php echo $this->currency->currencySymbol . $price; ?></td>
              </tr>
              <?php endforeach; */
        ?>
    </table>

</section>