<?php
$language = $this->languageSelected;
?>

<section id="login" class="container">

    <div id="not-registered-form" class="login-form-wrapper span6">
        <h2 class="form-signin-heading">
            <?php echo $language->getContent('login_not_registered')->getContent(); ?>
        </h2>
        <div class="login-register-box">
            <p>
                <?php echo $language->getContent('login_register_text')->getContent(); ?>
            </p>
            <a href="/register" class="btn btn-primary">
                <?php echo $language->getContent('create_account_btn')->getContent(); ?>

            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div id="login-form" class="login-form-wrapper span6">
        <h2 class="form-signin-heading"><?php echo $this->loginForm->getDescription(); ?></h2>
        <?php if ($this->form_errors): ?>
            <div class="notification error"><?php echo $this->form_errors; ?></div>
        <?php endif; ?>
        <?php echo $this->loginForm ?>
        <div class="clear"></div>
        <a href="/login/reset">Forgotten Your Password?</a>
    </div>



</section>

