<section id="new-password" class="container">

    <h2 class="span12"> <?php echo $this->title; ?></h2> <!-- product title -->



    <div class="reset-details">

        <?php if (isset($this->passwordUpdate)) : ?>
            <div class="success">
                <p>Your password has been updated.<p>
                    <a href="/login">Log In</a>
            </div>
        <?php endif; ?>
        <?php if ($this->formErrors): ?>
            <div class="notification error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php if (isset($this->cform)) : ?>
            <!--TODO dynamically generated email for the user on -->
            <form method="get" action="/login/newpassword">
                <p>Enter the 8 digit code sent to your email</p>
                <a href="/login/reset">Didn't get the email? Try again.</a>
                <input type="text" name="code" placeholder="# # # # # # # #">
                <input type="submit" value="Continue" class="btn btn-primary">
                <div class="clear"></div>
            </form>
        <?php endif; ?>
        <?php if (isset($this->pform)) {
            echo $this->pform;
        } ?>
        <div class="clear"></div>

        </div>

</section>

