<section id="password-reset" class="container">

    <h2 class="span12">Reset Password</h2> <!-- product title -->

    <div class="reset-details">

    <?php if (isset($this->passwordUpdate)) : ?>
        <div class="notification success">
            <p>Your password has been updated.

            <p>
                <a href="/login">Log In</a>
        </div>
    <?php endif; ?>
    <?php if ($this->formErrors): ?>
        <div class="notification error"><?php echo $this->formErrors; ?></div>
    <?php endif; ?>
    <?php if (isset($this->form)) {
        echo $this->form;
    } ?>
        <div class="clear"></div>
    <?php if (isset($this->pform)) {
        echo $this->pform;

    } ?>
        <div class="clear"></div>
    <?php if (isset($this->user_result)) : ?>

            <h3>Search results</h3>
            <p>Name:
                <?php echo $this->user_result->forename . ' ' . $this->user_result->surname; ?>
            </p>

            <p>Email:
                <?php echo $this->user_result->email; ?>
            </p>
            <a href="/login/reset" class="not-you">Not You?</a>

            <a class="btn btn-primary" href="/login/continue?u=<?php echo $this->user_result->user_id ?>&e=<?php echo $this->user_result->email ?>">Continue</a>
        <div class="clear"></div>

    <?php endif; ?>
    </div>
</section>