#account {
  margin-top: $padding;
  .account-overview {
    @include box-border;
    margin-top: $padding;
    .contact-details {
      margin-bottom: $padding;
      h4 {
        font-size: 1em;
        margin-bottom: $padding/2;
      }
      p {
        margin: 0 1em;
        color: darken($white-text, 10);

      }

      .account-currency {
        margin-top: $padding;
        p {
          color: darken($white-text, 10);
        }

      }
    }
    .address-details {
      .account-address {
        margin: $padding 0 0 0;
      }
      h4 {
        text-transform: uppercase;
        margin-top: 13.33333px;
        font-size: 0.8em;
        color: #e6e6e6;
        font-family: "oswald", sans-serif;
        font-size: 1em;
        margin-bottom: $padding /2;
      }
      p {
        margin: 0 1em;
        color: darken($white-text, 10);
      }

    }

  }
  .tabbable {
    .borderless {
      background: #515151;

    }

    min-height: 500px;
    .tab-content {
      border-radius: 10px;
      @include box-border;

      .account-orders {

        table {
          tbody {
            tr {
              td {
                color: darken($white-text, 10);
              }
            }
          }

        }

      }

      .address-book {
        h4 {
          text-transform: uppercase;
          margin-bottom: 13.33333px;
          color: #e6e6e6;
          font-family: "oswald", sans-serif;
          font-size: 1em;

        }
        .add-book-address {
          min-height: 200px;
          p {
            color: darken($white-text, 10);

          }
          a {
          }
          .btn {
            margin-top: 10px !important;

          }
          .notification {
            margin: 10px 0 0 0;
            width: 80%;
            border-radius: 8px;
            padding: 5px;
            font-size: 1em;
            color: green;
            text-align: center;
          }

        }

      }
      .account-settings {
        h4 {
          text-transform: uppercase;
          margin-bottom: 13.33333px;
          font-size: 0.8em;
          color: #e6e6e6;
          font-family: "oswald", sans-serif;
          font-size: 1em;
        }

      }

    }

  }
}

#pane-3 {
  h4 {
    color: #fff;
  }
}