#address {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px;
  h2 {
    margin-bottom: $padding;

  }
  .current-address-wrapper {
    @include box-border;
    display: inline-block;
    margin-bottom: $padding;
    .notification {
      margin: 15px 0;
      width: 60%;
      border-radius:10px;
      padding: 6px;
    }
  }
  .address-wrapper {
    @include box-border;

    form {

      dd {
        width: 80%;

      }
      #postcode {
        width: 30%;

      }

    }

  }
  .address-tab {
    color: darken($white-text, 10);

    a {
      margin-top: ($padding /4) !important;
      float: left;
      margin-left: 0;
      text-align: center;

    }

  }
  form {
    width: 100%;

  }
}