/* ==========================================================================
    BASKET PAGE STYLING
========================================================================== */
.danger {
  font-size: 11px;
  color: #E51937;

}

.danger:hover {
  color: #D34155;

}

.update {
  display: none;
  font-size: 11px;
  color: grey;

}

.update:hover {
  color: white;

}

#basket-btns {
  position: relative;
  width: 100%;
  display: inline;
  text-align: right;
  float:right;

}

#basket {
  color: grey;
  h2 {
    color: white;
    margin-bottom: $padding /2;

  }

  h3 {
    color: white;
    font-weight: normal;

  }
  table {
    input[type=text] {
      //padding: 5px;
      background: none repeat scroll 0 0 #2E2E2E !important;
      border: 1px solid #5C5C5C;
      border-radius: 6px;
      outline: none;
      text-align: center;
      font-size: 0.8em;
    }
    thead {

    }
    tbody {
      tr {
        border-color: black;
        td {
          vertical-align: middle;
          a {

            img {

            }
          }
        }
      }
    }
  }
  h5 {
    color: grey;
  }
  .btn {
    float:none;
    display:inline-block;

  }

}

#basket-wrapper {
  @include box-border;
}

#continueShopping {
  margin-right: 10px;
}