.breadcrumb {
  clear: both;
  margin: $padding / 2;
  ul {
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 5px;
    color: grey;
    font-size: 0.8em;
    text-transform: uppercase;
    vertical-align: middle;
    li {
      margin-left: 5px;
      list-style-type: none;
      display: inline-block;
      a {
        color: grey;
        text-decoration: none;
        position: relative;
        font-size: 0.8em;
        &:hover{
        color:white;

          }
      }

    }
  }
}

.active {
  color: $primary-color !important;
  font-size: 1em;

}