/* ==========================================================================
CATEGORIES
========================================================================== */
.wrapper {
  width: 100%;

}

#category {
  clear: both;
  display: block;
  position: relative;
  padding-top: $padding *2;
  padding-bottom: 50px;
  min-height: 300px;
  .thumbnail-wrapper {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: -58px;
  }
  nav {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: -58px;
    min-height:300px;

    h3 {
      display: none;
      color: white;
      border-bottom: 1px solid grey;
      width: 100%;

    }
    ul {
      margin: 0;
      padding: 0;
      li {
        color: #D3D3D3;
        font-family: Helvetica Neue, sans-serif;
        font-size: 15px;
        list-style: none;
        text-transform: uppercase;

        &:hover a {
          color: red;

          text-decoration: none;

        }
        a {
          display: block;
          font-size: 0.8em;
          color: #666666;
          text-decoration: none !important;
          text-transform: uppercase !important;
          margin: 0px !important;
          width: 100%;
          text-align: left;
          font-weight: normal !important;
          line-height: 2em;

        }
      }
    }
  }

}

.child-category {
  margin-left: 0.5em;
  color: #f5f5f5;

}

.categories-slides {
  width: 70%;
  margin: 10px 30px auto auto;
}

.left-links {

  float: left;
  text-align: left;
  padding-bottom: 10px;

}

.left-links h3 {
  line-height: 2;

}

.left-links li:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #D6D6D6;

}

.left-links ul li a {
  display: block;
  font-size: 12px;
  color: rgb(102, 102, 102);
  text-decoration: none;
  text-transform: none !important;
  margin: 0px !important;
  width: 100%;
  text-align: left;
  font-weight: normal !important;
  line-height: 1;

}

.left-links ul li a:hover {
  color: #CF0404;

}

.product-thumb {
  width: 24%;
  height: 315px;
  margin: 10px 0px 30px 5px;
  float: left;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  a {
    text-decoration: none;
  }

}

.product-inner {
  padding: 15px 0px 0px;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #E0DEDE;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.product-thumb:hover .product-inner {
  border: 1px solid #d0d0d0;

}

.product-image {
  height: 175px;
}

.product-image img {
  height: 165px;

}

#popular-products {
  clear: both;
  position: relative;
  width: 100%;
  margin: 20px auto;
  float: left;
}

.popular-header {
  position: relative;
  width: 85%;
  margin: 20px auto;

}

.popular-images {
  position: relative;
  width: 85%;
  margin: 20px auto;
  min-height: 100%;
  text-align: center;

}

.popular-image {
  float: left;
  height: 250px;
  width: 25%;
  text-align: left;

}

.popular-image p {
  font-size: 15px;
  margin: 15px;
  line-height: 1;

}

.popular-image-description {
  font-size: 11px;
  margin: 15px auto;
  line-height: 1;

}

.price {
  color: red;

}

.vat-description {
  font-size: 9px;
  color: rgb(102, 102, 102);
}

.popular-image img {

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}

.no-products {
  margin: 25px auto;
  width: 100%;
  text-align: center;
}

.product-colourways {
  height: 60px;
  padding: 10px 0px 0px 0px;
  background: none repeat scroll 0% 0% rgb(245, 245, 245);
  opacity: 0.9;

}


.product-description {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 10px 0px 0px 0px;
  h3 {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    line-height: 2;
    text-decoration: none !important;
    font-family: $font-muli;

  }
  p {
    color: #E51937;
    font-size: 11px;
    font-weight: normal;
    text-decoration:  none !important;
  }
  &:hover {
    text-decoration: none;

  }
}

.product-thumb:hover .product-description {
  border-bottom: 3px solid rgb(214, 214, 214);
}

.product-url a:hover {
//  border-bottom: 1px solid #D6D6D6;
}

.product-url a {
  border: none;
  text-decoration:none;
}

#category-banner {

  img {
    position: absolute;
    top: 0;
    height: 100px;
    width: 730px;

  }
}

//this is to overwrite the ul li hover found in fight science style.css on the original site.
ul li a:hover, ol li a:hover {

  text-decoration: none !important;
}