#checkout {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px;
  .checkout-wrapper {
    background-color: #0A0A0A;
    border-radius: 10px;
    border: 2px solid grey;
    padding: $padding /2;
    position: relative;
    text-align: left;
    display: table;
    margin-top: $padding;
    .addresses {
      border-bottom: 1px solid $white-text;
      .address {
        h5 {
          color: $white-text;
          font-family: $font-muli;
          font-size: 0.8em;
          margin: $padding /2 0;
        }
        p {
          margin: 0 5px;
        }
        a {
          margin-top: $padding /2 !important;
        }

      }
    }
  }
  .order-total {
    background-color: #0A0A0A;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 20px;
    position: relative;
    text-align: left;
    margin-top: 40px;
    h3 {
      clear: both;
      color: white;
      font-size: 1.2em;
      font-family: 'oswald';
    }
    h4 {
      text-align: left;
      float: left;
      width: 50%;
      display: inline;
      font-family: $font-muli;

    }
    p {
      float: left;
      text-align: left;
      width: 50%;
      margin: 0;
      display: inline;
      margin-top:3px;

    }
    .total {
      clear: both;
      border-top: 1px solid #a9a9a9;
      margin-bottom: $padding;
      .basketTotal{
        margin-top:2px;
        font-weight:bold;

      }
    }

  }
  table {
    thead {
    }
    tbody {

      tr {

        color: grey;
        th {
          color: white;
        }
        td {
          color: grey;
        }
      }

    }

  }
}

#checkout-voucher-form {
  width: 50%;
  margin: $padding 0;
}

.checkout-buttons {
  margin: $padding 0;
  display: inline-block;
  width: 100%;

  #go-to-checkout {
    position: absolute;
    right: 0;
  }
  #go-to-basket {
    position: absolute;
    right: 185px;
  }
  .btn {
    background-color: #E83539;
    margin-right: $padding /2;

  }
  a {
    display: inline-block;

  }
  input[type=submit] {
    display: inline-block;

  }
}

#checkout-form-textarea {
  width: 100%;

}

.amex {
  margin-right: -10px;
}

.order-heading-4 {
  color: #ffffff;
}

#section-order {
  border-radius: 10px;
  border: 2px solid #808080;
}

.payment-text {
  font-size: 14px;
}


