/* ==========================================================================
    COLOURWAY STYLING
========================================================================== */
.colourway-thumbnail-select img {
  width: 80px;
  border-radius: 6px;
  border: 2px solid grey;
}

.colourway-select-wrapper {
  text-align: center;
  display: inline-block;
  .colourway-select {
    float: left;
    margin: $padding / 4;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #999;
    -webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    border-radius: 1.3em;
    cursor: pointer;
  }
}

.colourway-product-select {
  margin: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  display:inline-block;
}

.black-tick {
  background: url('/lifefitness-shop/img/blacktick.png') 6px 7px no-repeat;
}

.white-tick {
  background: url('/lifefitness-shop/img/whitetick.png') 6px 7px no-repeat;
}

