// Set your project variables here

$primary-color: #E51937;
$secondary-color: #E9E9E9;
$tertiary-color: #E01735;

$dark-grey: #343434;

$white-text: darken(white, 10);

$bad-color: #ce0832;
// Bad color for errors, validation etc.
$good-color: #5dae1b;
// Good color for success etc.
$info-color: #10bade;
// Good color for success etc.
$warning-color: #dea110;
// Good color for success etc.
$subtle-color: #999;
// Subtle color for subtle text

$br: 5px;
// Border-radius
$btn-br: 5px;
// Button border-radius
$padding: 40px;
// Consistent padding and margins
$border-rad: 10px;

$h1-size: 48px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 14px;
$p-size: 1em;

$font-oswald: 'Oswald', sans-serif;
$font-muli: 'Muli', sans-serif;
;
