form {

  // Wrap each form input/element in an item div
  .item {
    margin-bottom: $padding/2;
  }
  label {
    display: block;
    font-family: "Trebuchet MS";
    color: #fff;
    margin-bottom: 5px;
    font-size: $p-size;
    margin: 10px 0 0 0;
  }
  input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
    @include box-sizing(border-box);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .05));
    width: 100%;
    padding: 5px;
    background: none repeat scroll 0 0 #2E2E2E !important;
    border: 1px solid #5C5C5C;
    border-radius: 6px;
    outline: none;
    height: 24px;
    &:focus {
      border-color: $primary-color;
    }
    &.auto {
      width: auto;
    }
  }

  // Notes go under the input fields
  .note {
    margin-top: 5px;
    color: $subtle-color;
  }

  // Required label
  .req {
    font-style: italic;
  }

  // Validation, add error class to the item div
  .error {

    // Validation reason
    .reason {
      margin-top: 5px;
      color: $bad-color;
    }
    input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
      border-color: $bad-color;
    }
  }
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

//input[type="submit"] {
//  padding: 8px;
//  &:hover{
//    padding:8px;
//
//  }
//}



#changeCurrency {
  width: 50%;
  padding: $padding /2;

}

#currency {
  font-size: 80%;

}

.zend_form {
  //min-height: 120px;
}

