/* ==========================================================================
HEADER
========================================================================== */

/*----------------------------Top nav links--------------------------------*/
.shop-nav {
  display: block;
  position: relative;
  nav {
    @include header-drop-shadow;
    position: relative;
    float: right;
    text-align: center;
    background: #000;
    display: table;
    border-top: 0px;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-radius: 0px 0px 10px 10px;
    width: 22%;
    ul {

      list-style-type: none;
    }
    li {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      display: table-cell;
      height: 50px;
      white-space: nowrap;
      width: 16.666666667%; /* (100 / numItems)% */
      line-height: 60px;
      text-align: center;
      width: 100%;
      &:hover {
        text-decoration: none !important;
        color: #ffffff;
        background-color: #515151;
        font-family: 'Muli', sans-serif;
        &:first-child {
          border-radius: 0px 0px 0px 8px;
        }
        &:last-child {
          border-radius: 0px 0px 8px 0px;
        }
      }

      a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        height: 32px;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        font-size: 11px;
        padding: 18px 12px 0 12px;
        display: block;
        font-family: 'Muli', sans-serif;

      }
      .basket-ul {

        background-color: #515151;
        top: 50px;
        position: absolute;
        padding: 20px;
        border-radius: $br;
        z-index: 1;
        right: 0;
        min-width: 50%;
        li {

          position: relative;
          list-style: none;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: 11px;
            padding: 0;
            font-family: 'Muli', sans-serif;
            text-align:right;
            &:hover {

              h4 {
                color: black;
              }
              text-decoration: none !important;
              background-color: #515151;
              font-size: 11px;
              font-family: 'Muli', sans-serif;

            }
            img {

            }
            h4 {
              font-size: 1em;
              display: inline;
              font-family: $font-muli;
            }
            p {
              font-size: 1em;
              display: inline;
              line-height: 8px;

            }
          }
          p {
            display: block;
            font-size: 0.8em;
            text-align: right;

          }
        }
      }
      .account-ul {

        background-color: #515151;
        top: 50px;
        position: absolute;
        padding: 20px;
        border-radius: $br;
        z-index: 1;
        right: 0;
        min-width: 50%;
        li {

          position: relative;
          list-style: none;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            font-size: 11px;
            padding: 0;
            font-family: 'Muli', sans-serif;
            text-align:right;
            &:hover {

              h4 {
                color: black;
              }
              text-decoration: none !important;
              background-color: #515151;
              font-size: 11px;
              font-family: 'Muli', sans-serif;

            }
            img {

            }
            h4 {
              font-size: 1em;
              display: inline;
              font-family: $font-muli;
            }
            p {
              font-size: 1em;
              display: inline;
              line-height: 8px;

            }
          }
          p {
            display: block;
            font-size: 0.8em;
            text-align: right;

          }
        }
      }
    }
  }
}

.basket-btn {
  a {
    text-decoration: none !important;
    float: left !important;
    margin-bottom: 15px !important;
    margin-top: 0px !important !important;
    display: block !important;
    color: #ffffff !important;
    height: 29px !important;
    font-family: 'Muli', sans-serif !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    border: none !important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    padding-top: 2px !important;
    transition: all .5s ease-in !important;
    -o-transition: all .5s ease-in !important;
    -moz-transition: all .5s ease-in !important;
    -webkit-transition: all .5s ease-in !important;
    line-height: 30px !important;
    position: absolute;
    right: 0;
    &:hover {
      background-color: #323232 !important;
      -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset !important;
      text-decoration: none !important;
      float: left !important;
      margin-bottom: 15px !important;
      margin-top: 0px !important !important;
      display: block !important;
      color: #ffffff !important;
      height: 29px !important;
      font-size: 12px !important;
      font-family: 'Muli', sans-serif !important;
      font-weight: normal !important;
      text-transform: uppercase !important;
      border: none !important;
      padding-right: 12px !important;
      padding-left: 12px !important;
      padding-top: 2px !important;
    }
  }
}

#top-nav li.tn-home:hover {
  -moz-border-radius: 8px 0 0 8px; /* Firefox */
  -webkit-border-radius: 8px 0 0 8px; /* Safari, Google Chrome */
  border-radius: 8px 0 0 8px; /* CSS3 */
}

.divider {
  padding: 2px;

}

.dropdown-toggle {
  // margin-top: 8px;

}

.basket-dropdown {
  display: none;
  clear: both;
  border: 2px solid #5C5C5C;

  li {
    display: inline-block;
    float: right;
    text-align: right;
    &:hover {

      text-decoration: none !important;
      color: #ffffff;
      background-color: #515151 !important;
      &:first-child {
        border-radius: 0px 0px 0px 8px;
      }
      &:last-child {
        border-radius: 0px 0px 8px 0px;
      }
    }
    p {
      color: #ffffff;
    }
    a {
      img {
        display: none;
      }
      h4 {
        color: #ffffff;
        font-weight: normal;
        width: 100%;

      }
      p {
        color: #ffffff;
        float: right;
      }
      &:hover {
        text-decoration: none !important;
        color: #ffffff;
        background-color: #515151;
        font-size: 11px !important;
        font-family: 'Muli', sans-serif;

      }

    }
  }

}

.account-dropdown {
  display: none;
  clear: both;
  border: 2px solid #5C5C5C;

  li {
    display: inline-block;
    float: right;
    text-align: right !important;
    height:1em !important;
    &:hover {
      text-decoration: none !important;
      color: #323232;
      background-color: #515151 !important;
      &:first-child {
        border-radius: 0px 0px 0px 8px;
      }
      &:last-child {
        border-radius: 0px 0px 8px 0px;
      }
    }
    a {
      img {
        display: none;
      }
      h4 {
        font-weight: normal;
        width: 100%;

      }
      p {
        float: right;
      }
      &:hover {
        text-decoration: none !important;
        color: #ffffff;
        background-color: #515151;
        font-size: 11px !important;
        font-family: 'Muli', sans-serif;

      }

    }
  }

}

.account-dropdown-header {
  color: #ffffff;
}

.btn-top-basket {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  &:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
    background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
    background-color: #ad031c;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  img {
    height: 12px;
    width: 12px;
    margin: 1px 3px 2px 4px;

  }
}

.media {
  width: 100%;
  height: 64px;
  text-align: right;

}