/* ==========================================================================
HELP PAGE STYLING
========================================================================== */
#help {
  h2 {
    margin-bottom: $padding;
  }
  font-size: 1em;
  #sidebar {
    left: 862px;
    position: absolute;
    top: 177px;
  }
  ul {
    li {
      font-size: 1em;
      list-style-type: none;
    }
  }
  dl {
    color: grey;
    dt {
      font-weight: bold;
      color: darken(white, 30);
      padding: 25px 0 5px 0;
      display: block;
      font-size: $p-size;
    }
    a {
      color: #d3d3d3;
    }
  }

}

h1#title {
  text-align: center;
  font-size: 50px;
  line-height: 70px;
  margin-top: 20px;
}

ul.section_menu {

  @include box-border;
  h3 {
    padding-top: 30px;
    color: darken(white, 10);
  }
  li {
    line-height: 1em;
    margin: 5px 0;

    a {
      text-decoration: none;

    }
  }
}

dl.faq {
  @include box-border;
  margin-bottom: 30px;
}

dl.faq dd {
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: $p-size;
}

#sidebar_content {
  position: absolute;
  top: 0;
  /* just used to show how to include the margin in the effect */
  width: 150px;
}

#sidebar_content.fixed {
  position: fixed;
  top: 0;
}

#help-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px;

}