/* ==========================================================================
  FLAGS STYLING
========================================================================== */

#dropdown-languages{
    position: absolute;
    top: 5px;
    left: 18px;
    min-width: 24px;
    width: 35px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    z-index:100;
}

.langFlag
{
    background:url('/lifefitness-shop/img/emea-flags.gif') no-repeat;
    padding: 0px !important;
    margin: 5px auto !important;
}

.langFlag.langgb {
    background-position: 0 0;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langgb.active {
    background-position: -48px 0;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
    overflow:hidden;
}

.langFlag.langgb:hover {
    background-position: -24px 0;
}


.langFlag.langnl {
    background-position: 0 -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langnl.active {
    background-position: -48px -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langnl:hover {
    background-position: -24px -24px;
}

.langFlag.langes {
    background-position: 0 -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langFlag.langes.active {
    background-position: -48px -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langes:hover {
    background-position: -24px -48px;
}

.langFlag.langit {
    background-position: 0 -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langFlag.langit.active {
    background-position:  -48px -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langit:hover {
    background-position:  -24px -72px;
}

.langFlag.langfr {
    background-position: 0 -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langFlag.langfr.active {
    background-position: -48px -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langFlag.langfr:hover {
    background-position: -24px -96px;
}

.langFlag.langde {
    background-position: 0 -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langFlag.langde.active {
    background-position: -48px -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}


.langFlag.langgb a:hover {
    background-position: -24px 0;
}


.langnl a {
    background: no-repeat 0 -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langnl.active a {
    background: no-repeat -48px -24px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langnl a:hover {
    background: no-repeat -24px -24px;
}

.langes a {
    background: no-repeat 0 -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langes.active a {
    background: no-repeat -48px -48px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langes a:hover {
    background: no-repeat -24px -48px;
}

.langit a {
    background: no-repeat 0 -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langit.active a {
    background: no-repeat -48px -72px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langit a:hover {
    background: no-repeat -24px -72px;
}

.langfr a {
    background: no-repeat 0 -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langfr.active a {
    background: no-repeat -48px -96px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langfr a:hover {
    background: no-repeat -24px -96px;
}

.langde a {
    background: no-repeat 0 -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}
.langde.active a {
    background: no-repeat -48px -120px;
    text-indent: -9000px;
    display: block;
    width: 24px;
    height: 24px;
}

.langde a:hover {
    background: no-repeat -24px -120px;
}

