/* ==========================================================================
MAIN CONTENT
========================================================================== */
body {
  margin: 0;
  background-color: #fff;
  font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
}

#main-container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -162px;
  width: 960px;
  max-width: 1280px;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.main-wrapper {
  width: 90%;
  margin: -175px auto 0px auto;
  h2 {

  }
}
.main-wrapper-category{
  width: 100%;
  margin: -175px auto 0px auto;


}

.main-container-effect {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#footer-container {

}

#container:after {
  content: "";
  display: block;
}

#banner {
  width: 94%;
  margin: -160px auto 0px auto;
}

.main-right-wrapper {
  position: relative;
  height: 100%;
  float: left;
  padding: 0px;
  margin-top: -10px;
  h2{

    color:white;
  }
}

.main-right-wrapper img {

}

#content-bridge-footer {
  clear: both

}

#content-bridge-footer {
  margin-top: 20px;
  height: 10px;
  background: #FFF;

}

.bottom-border-effect {
  position: relative;
  /*This is for an extra drop shadow effect, taken out as the div is positioned in the center of the screen sometimes*/
  /*    -webkit-box-shadow: 0px 12px 22px -19px black;
      -moz-box-shadow: 0px 12px 22px -19px black;
      box-shadow: 0px 12px 22px -19px black;*/
  z-index: 10;
}

#featuredBlockLeft {
 /* -webkit-box-shadow: 5px 19px 4px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 19px 4px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 19px 4px -18px rgba(0, 0, 0, 0.75);*/

  -webkit-box-shadow: 16px 19px 6px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 16px 19px 6px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 16px 19px 6px -19px rgba(0, 0, 0, 0.75);

  width:50%;
  float:left;
  min-height: 575px;
}

#featuredBlockLeftHeader {
  margin-left: 50px;
  margin-top: 20px;
}

#featuredBlockRight {
  background-color: white;
  overflow: hidden;
  min-height: 575px;
  width:50%;
  -webkit-box-shadow: -10px 19px 6px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 19px 6px -19px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 19px 6px -19px rgba(0, 0, 0, 0.75);
}

#featuredBlockLeftContent {
  height: auto;
  width: 80%;
  margin: 0px auto;

}

.featuredBlockRightTop {
  -webkit-box-shadow: 0px 18px 6px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 6px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 6px -20px rgba(0, 0, 0, 0.75);
  min-height: 265px;
  overflow: hidden;
  padding: 0;

}

#featuredBlockRightTopLeft {
  -webkit-box-shadow: 14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  width:50%;
  float:left;
  min-height: 220px;
}

#featuredBlockRightTopRight img {
  margin: 0 auto;
  width: 100%;
  height: 225px;

}

#featuredBlockRightTopRight {
  width:50%;
  float:left;

}

#featuredBlockRightBottomLeft {
  width:50%;
  float:left;
}

#featuredBlockRightBottomRight {
  -webkit-box-shadow: -14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -14px 9px 6px -18px rgba(0, 0, 0, 0.75);
  height: 280px;
  width:50%;
  float:left;


}

.featuredImg {
  position: relative;
  width: 80%;
  margin: 5px 20px;
}

.featured-padding {
  padding: 20px;
}

/* ==========================================================================
SOCIAL MEDIA SIDEBAR
========================================================================== */
#sideSocial {
  position: relative;
  left: 960px;
  z-index: 9999;
  overflow: hidden;
  width: 30px;
}

/* ==========================================================================
FOOTER
========================================================================== */
#footer, #container:after {
  /* .push must be the same height as footer */
  height: 162px;
}

#links-footer {

}

#email-footer {

}

#vouchers-footer {
}

#footer-copyright {

  p {
    margin: 10px auto;
    text-align: center;
    font-size: 10px;
  }

}

footer {

}

.footer-wrapper {
  width: 960px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #E9E9E9;
  padding: 0px;
  height: 162px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px -2px black;
  -moz-box-shadow: 0px 0px 6px -2px black;
  box-shadow: 0px 0px 6px -2px black;

}

.footer-wrapper p {
  display: block;
  color: #77787b;
  font-size: 10px;

}

.footer-wrapper p a {
  color: #99cc00;
  text-decoration: none;
}

.footer-wrapper p a:hover {
  color: #99cc00;
}

.footer-wrapper li a:hover {
  color: #000;
  text-decoration: none;
}

.footer-article {
  float: left;
  width: 33%;
}

.footer-wrapper ul {
  padding: 20px 22px 20px 20px;

}

.footer-wrapper ul.footerLinks li.title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-wrapper ul.footerLinks li {
  list-style-type: none;

}

.footer-wrapper ul.footerLinks li a {
  text-decoration: underline;
}

.footer-wrapper ul.footerLinks li,
.footer-wrapper ul.footerLinks li a {
  color: #77787b;
  font-size: 11px;
}
