// Text links
a {
  color: $primary-color;
  &:hover, &:focus {
    text-decoration: none;
  }
}

a {
  color: #7A7B7D;
  text-decoration: none;
  font-size: $p-size;
}

a:hover,
a:focus {
  color: #CDCDCD;
  text-decoration: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
  text-decoration: none;

}

// Default button
.btn {
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  text-decoration: none;
  float: left;
  margin-bottom: 15px;
  margin-top: 0px !important;
  display: block;
  color: #ffffff;
  height: 28px;
  font-size: 12px;
  font-family:'Muli', sans-serif;
  font-weight: normal;
  text-transform:uppercase;
  border: none;
  padding-right: 12px;
  padding-left:12px;
  padding-top:2px;
//  padding-bottom:0px;
  transition:all .5s ease-in;
  -o-transition:all .5s ease-in;
  -moz-transition:all .5s ease-in;
  -webkit-transition:all .5s ease-in;
  border-radius:8px;
  line-height:27px;
  clear:both;
  &:hover {
    background-color:#323232;
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    -o-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 0px !important;
    display: block;
    color: #ffffff;
    height: 28px;
    font-size: 12px;
    font-family:'Muli', sans-serif;
    font-weight: normal;
    text-transform:uppercase;
    border: none;
    padding-right: 12px;
    padding-left:12px;
    padding-top:2px;
    border-radius:8px;
    line-height:27px;
  }
}

// Primary action button
.btn-primary {
  @extend .btn;
  background-color: #E83539;;

  border-color: darken($primary-color, 10);

  &:hover, &:focus {
    background: #323232;
  }
  &:active {

  }
}

// Link button - a button that looks like a link
.btn-link {
 // @extend .btn;
  color: #E83539;
  background: transparent;
  border: none;
  text-shadow: none;
  text-transform: none;
  padding: 0;
  font-size: 0.8em;
  margin-left: 5px;

  @include box-shadow(none);

  &:hover, &:focus {
    text-decoration: underline;
    background: transparent;
    color: darken(#E83539, 10);
    @include box-shadow(none);
  }

  &:active {

  }
}

/* ==========================================================================
Buttons
========================================================================== */
.redBtnNew {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 80px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
}

.redBtnNew:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.redBtnNew:active {
  position: relative;
  top: 1px;
}

.redBtnNew img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-1 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 50%;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;
}

.btn-checkout-1:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-1:active {
  position: relative;
  top: 1px;
}

.btn-checkout-1 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-2 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 15%;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;
}

.btn-checkout-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-2:active {
  position: relative;
  top: 1px;
}

.btn-checkout-2 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

#add-to-basket {
  width: 100%;
  margin: 0 auto;

}


.btn-checkout {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 20%;
  float: right;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
}

.btn-checkout:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout:active {
  position: relative;
  top: 1px;
}

.btn-checkout img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.btn-checkout-3 {
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 15%;
  float: right;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  float: right;

}

.btn-checkout-3:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.btn-checkout-3:active {
  position: relative;
  top: 1px;
}

.btn-checkout-3 img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}

.redBtn {
  cursor: pointer;
  -moz-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #d95b5b;
  box-shadow: inset 0px 1px 0px 0px #d95b5b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e01735), color-stop(1, #ad031c));
  background: -moz-linear-gradient(center top, #e01735 5%, #ad031c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#ad031c');
  background-color: #e01735;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius: 7px;
  text-indent: 0;
  border: 1px solid #d95b5b;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  min-width: 80px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px #d95b5b;
  margin: 10px 5px 10px 5px;
  padding: 2px;
}

.redBtn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad031c), color-stop(1, #e01735));
  background: -moz-linear-gradient(center top, #ad031c 5%, #e01735 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad031c', endColorstr='#e01735');
  background-color: #ad031c;
}

.redBtn:active {
  position: relative;
  top: 1px;
}

.redBtn img {
  height: 12px;
  width: 12px;
  margin: 1px 3px 2px 4px;

}