/* ==========================================================================
    LOGIN STYLING
========================================================================== */
#login {
  clear: both;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

}

#password-reset {
  clear: both;
  display: block;
  position: relative;

  h2 {
    color: white;
  }

}

.reset-details {
  @include box-border;
  width: 50%;
  padding: $padding /2;
  margin-top: $padding;
  h3 {
    color: white;
    font-size: 1em;
    margin-bottom: $padding /2;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size:1.2em;
    span {
    }
  }
  a {
    display: block;
    margin-top:10px;

  }
  .not-you{
    margin-top: $padding /2;
    margin-bottom: $padding /2;
    color:darken(red, 10);
    width:20%;

  }

}

.login-wrapper {
  max-width: 1280px;
  width: 100%;
  text-align: center;
  min-height: 350px;
  margin: 0 auto;

}

.form-signin-heading {

}

.login-form-wrapper {
  position: relative;
  text-align: left;
  border-radius: 10px;
  border: 3px solid grey;
  padding: 15px;

}

.login-form-wrapper-btn {
  box-shadow: 0px 1px 0px 0px rgb(217, 91, 91) inset;
  background: #e01735; /* Old browsers */
  background: -moz-linear-gradient(top, #e01735 0%, #ad031c 50%, #e01735 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e01735), color-stop(50%, #ad031c), color-stop(100%, #e01735)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e01735 0%, #ad031c 50%, #e01735 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e01735 0%, #ad031c 50%, #e01735 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e01735 0%, #ad031c 50%, #e01735 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e01735 0%, #ad031c 50%, #e01735 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e01735', endColorstr='#e01735', GradientType=0); /* IE6-9 */
  border-radius: 7px;
  text-indent: 0px;
  border: 1px solid rgb(217, 91, 91);
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 20px;
  line-height: 20px;
  width: 29%;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 0px 0px rgb(217, 91, 91);
  margin: 10px 5px;
}

#login-form {

}
