@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
    clear: both;
  }
}

.clearfix, .group{
  @include clearfix;
}

@mixin center{
  margin:0 auto;

}

@mixin header-drop-shadow{
  -webkit-box-shadow: 0px 2px 8px rgba(96, 96, 96, 0.4);
  -moz-box-shadow:    0px 2px 8px rgba(96, 96, 96, 0.4);
  box-shadow:         0px 2px 8px rgba(96, 96, 96, 0.4);


}

@mixin square-border{
  border: 1px solid #ccc;

  border-width: 1px;
  border-style: solid;
  border-color: #5c5c5c;

}

@mixin box-border{
  background-color: #0A0A0A;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 20px;

}