

#breadcrumb {
  width: 100%;
  margin: 15px 40px 15px auto;
  padding: 0px 50px;
  list-style: none outside none;
  background: none;
}

.breadcrumb > li {
  display: inline-block;
  text-shadow: 0px 1px 0px rgb(255, 255, 255);

}

.nav {
  .ui-state-active {
    a {
      color: white !important;
      background-color: #2E2E2E !important;
    }

  }
}



