/* ==========================================================================
PAYMENT STYLING
========================================================================== */
#payment {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px;
  .order-total {
    background-color: #0A0A0A;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 20px;
    position: relative;
    text-align: left;
    margin-top: 40px;
    h3 {
      clear: both;
      color: white;
      font-size: 1.2em;
      font-family: 'oswald';
    }
    h4 {
      text-align: left;
      float: left;
      width: 50%;
      display: inline;
      font-family: $font-muli;

    }
    p {
      float: left;
      text-align: left;
      width: 50%;
      margin: 0;
      display: inline;
      margin-top:3px;

    }
    .total {
      clear: both;
      border-top: 1px solid #a9a9a9;
      margin-bottom: $padding;
    }

  }
  .payment-form {
    background-color: #0A0A0A;
    border-radius: 10px;
    border: 2px solid grey;
    padding: $padding /2;
    position: relative;
    text-align: left;
    display: table;
    margin-top: 40px;
    dd {
      margin-bottom: -10px;
    }
    .datepicker {

      width: 32%;
    }
    #start_date {
      width: 13%;
    }
    #end_date {
      width: 13%;
    }

    #card_holder {
      width: 90%;

    }
    #card_number {
      width: 90%;

    }
    #issue_number {
      width: 12%;
    }
    #cvv {
      width: 10%;

    }
    input[type=submit] {

      display: block;

    }
    input[type=text] {
      background-color: #fff;
      font-size: 0.8em;
      color: white;
    }

  }

  table {
    thead {
    }
    tbody {

      tr {

        color: grey;
        th {
          color: white;
        }
        td {
          color: grey;
        }
      }

    }

  }

  .payment-type-images {
    float: left;
    width: 50%;
    text-align: right;
    img {

    }
  }
}

#payment-form {
  width: 50%;
  float: left;

}
.check-progress {
  width: 100%;
  text-align: right;
}

.payment-type-images{
  display:inline-table;

}

