/* ==========================================================================
PRODUCTS STYLING
========================================================================== */

#product {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px;
  h2 {

    padding-left: 27%;
    margin-bottom: $padding / 2;

  }
  nav {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: -58px;
    min-height:300px;

    h3 {
      display: none;
      color: white;
      border-bottom: 1px solid grey;
      width: 100%;

    }
    ul {
      margin: 0;
      padding: 0;
      li {
        color: #D3D3D3;
        font-family: Helvetica Neue, sans-serif;
        font-size: 15px;
        list-style: none;
        text-transform: uppercase;

        &:hover a {
          color: red;

        }
        a {
          display: block;
          font-size: 0.8em;
          color: #666666;
          text-decoration: none;
          text-transform: uppercase !important;
          margin: 0px !important;
          width: 100%;
          text-align: left;
          font-weight: normal !important;
          line-height: 2em;

        }
      }
    }
  }

}

.add-basket-btn {
  padding-top: $padding !important;
}

#prod-image-wrapper {
  position: relative;
  float: left;
  min-height: 30px;
  -moz-box-sizing: border-box;
  text-align: center;

}

.product-main-image {

  width: 100%;
  border-radius: $border-rad;
  img {
    border-radius: $border-rad;
    border: 2px solid grey;
    height: 385px;
  }

}

.prod-thumbs {
  position: relative;
  text-align: center;
  /*margin: 0px 10px 0 20px;*/
}

.prod-thumb {
  cursor: pointer;

  margin: 10px auto;

}

#product-options {
  /*margin-left: 10px;*/
  -moz-box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  padding: 2%;
  border-radius: $border-rad;
  border: 2px solid grey;
  .prod-options-header {
    width: 90%;
    margin: 0 auto;
    color: grey;
    h4{
      font-size:1.2em;
    }
    p{
      margin:($padding /4) auto 0;
      color: darken(white, 10);
      text-transform: uppercase;
    }
  }
  .prod-options-form {
    width: 100%;
    color: grey;
    input[type=text] {
      width: 30%;
      text-align:center;
      font-size:0.8em;
      margin: ($padding /4) 0;

    }
  }
}

#prod-tabs {
  min-height: 180px;
  background: none;
  border: 0;
  width: 480px;
  margin-left: -5px;
  text-align: left;

}

#prod-options-table {
  position: relative;
  width: 100%;
  float: left;
  td{
    text-align:center;
    padding:0;

  }

}

.prod-info {
  width: 100%;
  float: left;
  position: relative;

}

.prod-packs-wrapper {
  position: relative;
  float: left;
  width: 100%;

}

.prod-packs {
  width: 95%;
  margin: 0 auto;
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }

}

.description {
  font-size: 11px;
}

/* ==========================================================================
    NAV TABS
========================================================================== */

.tab-content {
  border: 1px solid #5C5C5C;
  overflow: hidden;
  background-color: #2E2E2E;
  padding: 10px;
  border-radius: 6px 10px 10px 10px;
  h4 {
    text-transform: uppercase;
    margin-bottom: $padding/3;
    font-size: 0.9em;
    color: darken(white, 10);
    font-family: $font-muli;

  }
  p {
    margin: 0;
    text-transform:uppercase;
    color:darken(white, 50);
    font-size: 0.8em;
  }
}

#added-product-popup {
  display: none;
  background: #515151;
  position: absolute;
  padding: $padding /2;
  width: 250px;
  text-align: center;
  top: 120px;
  -moz-box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
  -webkit-box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
  box-shadow: 0px 3px 5px rgba(96, 96, 96, 0.61);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  z-index: 1000;
  right: 20px;
  p {
    color: $white-text;
  }

}



