/* ==========================================================================
REGISTRATION FORM
========================================================================== */
#register {
  clear: both;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  .register-wrapper{
    @include box-border;
    width:50%;


  }
}

#registration-form {
  width: 90%;
  margin: 0 auto;
}

#registration-form dt dd {
  float: left;
}

#RegisterUser{
  width: 80%;

}


