@media screen and (max-width: 780px) {
  // 780px and below styles here
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .thumbnails {

    li {
      width: 100%;

    }
  }
  #product nav {
    float: left;
    text-align: left;
    padding: 0;
    margin-top: 0px;
  }

  #prod-image-wrapper {
    float: none;
    width: 100%;
  }

  .prod-thumbs {
    display: none;

  }

  #prod-tabs {
    width: 100%;
  }

  #product-options {
    float: left;
    width: 95%;
  }

  #product h2 {
    display: none;
  }
  .breadcrumb {
    clear: both;
    margin: 0;

  }
  #payment .payment-form {
    width: 88%;
    clear: both;
    margin: 20px auto;
    display: inline-table;
  }
  #payment .order-total {
    display: inline-block;
  }
  #topmenu select {
    margin: 16px 22% 0;
  }
  .shop-nav nav {
    float:none;
    margin: 0 auto;
  }
  #category nav {
    min-height: 0;
  }
}

