// Anything quick and dirty that needs thrown in but you will tidy/optimise later


.sf-menu li a {

  padding: 18px 11px 0 11px;
}

#footer_wrapper .two_third_first {
   padding-top: 0;
}

#ajax-loader{
  display:none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: 0.5;
}

.centered-page {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
}