

#success {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 50px;
  h3 {

    padding-left: 27%;
    margin-bottom: $padding / 2;

  }
  h4 {

    padding-left: 27%;
    margin-bottom: $padding / 2;

  }
}