body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
  line-height: 1.6;
}

blockquote {
  font-style: italic;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-left: 25px;
  font-size: 26px;
  margin: 0 0 25px;
  border-left: 2px solid $primary-color;
}


/* ==========================================================================
FONTS
========================================================================== */

h1 {
  font-size: $h1-size;
  color: #636466;
  font-weight: 600;
  font-style: normal;
}

h2 {
  color: #fff;
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  color: grey;
  font-style: normal;
  font-family: $font-oswald;
}

h4 {
  font-size: $h4-size;
  color: #f8f8ff;
  font-style: normal;
  font-family: $font-oswald;
}

p {

  font-size: $p-size;
  color: rgb(102, 102, 102);
  font-family: "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
  font-style: normal;
}

li {
  font-size: 11px;

}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin: 0 0 $padding/2;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, .1);
  @include border-radius(5px);
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}

/* ==========================================================================
Text-Effects 
========================================================================== */

.darkgreyTextHome {
  color: rgb(122, 123, 125);
  font-family: 'Conv_UniversLTStd-Cn';
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 30px;
  margin: 0px;
  text-transform: uppercase;
}

.greyTextHome {
  color: rgb(205, 205, 205);
  font-family: 'Conv_UniversLTStd-Cn';
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 30px;
  margin: 0px;
  text-transform: uppercase;
}

.subheading {
  font-weight: bold;
  color: rgb(142, 142, 142);
  margin: 0px 0px 10px 0px;

}