// Use Compass
@import "compass";

// Reset using Normalize
@import "reset";


// Set variables and reusable mixins
@import "config";
@import "mixins";
// Import typical layout sass modules
@import "grid";
@import "type";
@import "media";
@import "links";
@import "tables";
@import "forms";
@import "notifications";
@import "other";
// Use Font Awesome for icons
@import "icons";
// Specific project styles, add any section specific sass modules here
@import "account";
@import "address";
@import "layout";
@import "header";
@import "basket";
@import "badges";
@import "breadcrumb";
@import "carousel";
@import "checkout";
@import "category";
@import "colourways";
@import "help";
@import "privacy";
@import "terms";
@import "languages";
@import "login";
@import "nav";
@import "navlist";
@import "payment";
@import "product";
@import "register";
@import "thumbnails";



// Additional styles to think about
@import "responsive";
@import "retina";
@import "print";

// jQuery-ui styling
@import "jquery-ui";


// If IE support is needed
@import "ie";

// For anything quick and dirty that needs thrown in
@import "shame";

/*•?((¯°·._.• creaтιve eмporιυм co3 plaтғorм ѕтyleѕнeeт •._.·°¯))؟•*/



/*fix issue with navbar centering*/
.navbar-nav.nav-justified > li{
    float:none;
}

#editable-message {
    display:none;
    margin-bottom:15px;
    padding:5px 10px;
    border-radius:5px;
}


