<div class="main-wrapper">

        <h2>Help</h2>


            <ul class="section_menu span4">
                <h3 id="1">Delivery</h3>
                <li><a href="#1_1">1. How long will it take for my order to be delivered?</a></li>
                <li><a href="#1_2">2. How much will my delivery cost?</a></li>
                <li><a href="#1_3">3. What countries do you deliver to?</a></li>
                <li><a href="#1_4">4. Can I track my delivery?</a></li>
                <li><a href="#1_5">5. Do I have to pay import duty on my order?</a></li>
                <li><a href="#1_6">6. Will my products arrive at the same time?</a></li>
                <li><a href="#1_7">7. Can I contact someone about my order?</a></li>
                <li><a href="#1_8">8. What happens if I have been sent the wrong items?</a></li>
                <li><a href="#1_9">9. What happens if my order/package arrives damaged?</a></li>
                <li><a href="#1_10">10. Can I return unwanted items?</a></li>
                <li><a href="#1_11">11. Can I cancel my order?</a></li>
                <h3 id="2">Ordering</h3>
                <li><a href="#2_1">12. How do I place an order online?</a></li>
                <li><a href="#2_2">13. What payment methods do you accept?</a></li>
                <li><a href="#2_3">14. How secure is it to use my credit/debit card with online payments?</a></li>
                <li><a href="#2_4">15. Why doesn't my voucher code work?</a></li>
                <li><a href="#2_5">16. What happens if I don't use all of the available money on my voucher?</a></li>
                <li><a href="#2_6">17. What if you don't have the size I require?</a></li>
                <li><a href="#2_7">18. How do I get copies of the core product brochure?</a></li>
                <h3 id="3">Product</h3>
                <li><a href="#3_1">19. Can you dual-brand items with Life Fitness and another logo?</a></li>
                <li><a href="#3_2">20. What branding processes do you use to apply logos to garments?</a></li>
                <h3 id="4">Admin</h3>
                <li><a href="#4_1">21. What if I have forgotten my login details?</a></li>
                <li><a href="#4_2">22. How do I check my order history?</a></li>
                <li><a href="#4_3">23. How do I add someone as a user to the system?</a></li>
                <h3 id="5">Legal</h3>
                <li><a href="#5_1">24. What is your privacy policy?</a></li>
                <li><a href="#5_2">25. What are your terms and conditions?</a></li>
            </ul>
            <dl class="faq span8">
                <dt id="1_1">1. How long will it take for my order to be delivered?</dt>
                <dd>We endeavour to deliver your goods within 2 weeks of placing an order. However if you need your
                    order to arrive on a specific date please let us know and we will try to accommodate your needs.
                </dd>
                <dt id="1_2">2. How much will my delivery cost?</dt>
                <dd>Delivery costs will be automatically calculated when you place your order.</dd>
                <dt id="1_3">3. What countries do you deliver to?</dt>
                <dd>We can dispatch worldwide to any country.&nbsp; <a href="/documents/Countries We Deliver To.pdf">For
                        a comprehensive list please view the attached PDF.</a><br/><a
                        href="/documents/Countries We Deliver To.pdf"></a></dd>
                <dt id="1_4">4. Can I track my delivery?</dt>
                <dd>Upon dispatch, you will be sent an e-mail with your unique DPD tracking number. Using the following
                    link you can follow your delivery progress: <a href="http://www.dpd.co.uk ">http://www.dpd.co.uk</a>
                </dd>
                <dt id="1_5">5. Do I have to pay import duty on my order?</dt>
                <dd>Any standard import duties you already pay on goods arriving from outside your country will still
                    apply to Life Fitness merchandise purchased from this website.
                </dd>
                <dt id="1_6">6. Will my products arrive at the same time?</dt>
                <dd>Where possible, we try to deliver in one go. However if there is a stock shortage on a particular
                    item, we will send out multiple shipments. You will not be charged for any additional shipping
                    costs.
                </dd>
                <dt id="1_7">7. Can I contact someone about my order?</dt>
                <dd>If you need to contact someone regarding your order please e-mail <a
                        href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a></dd>
                <dt id="1_8">8. What happens if I have been sent the wrong items?</dt>
                <dd>You must inform us within 5 working days of receiving an incorrect order what items you want to
                    return. We will send you a returns document that needs completing and then we will arrange
                    collection of the goods. If you inform us after 5 working days, we cannot accept returns.
                </dd>
                <dt id="1_9">9. What happens if my order/package arrives damaged?</dt>
                <dd>If your order is damaged please e-mail <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a>
                    and we will arrange collection of the damaged items. Once these items have been processed at our
                    warehouse, you have the option of either a refund or a replacement item.
                </dd>
                <dt id="1_10">10. Can I return unwanted items?</dt>
                <dd>Any unwanted returned items will incur a restocking charge. Please e-mail <a
                        href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a> if you want to
                    return unwanted items and we will calculate the cost. You must also pay the carriage costs for the
                    return of any items. Items must be returned unopened.
                </dd>
                <dt id="1_11">11. Can I cancel my order?</dt>
                <dd>From point of order you have 24 hours to let us know if you want to cancel your order. Any orders
                    cancelled after this time will incur a charge.
                </dd>


                <dt id="2_1">12.&nbsp; How do I place an order online?</dt>
                <dd><a href="/documents/Web Guide.pdf">For help placing an order please refer to our online webguide</a>
                </dd>
                <dt id="2_2">13.&nbsp; What payment methods do you accept?</dt>
                <dd>We accept payments by credit card and invoice subject to approval on our credit terms. <a
                        href="/documents/Fact Sheet_english.pdf">We also accept payment by e-voucher, please click here
                        for further info</a></dd>
                <dt id="2_3">14.&nbsp; How secure is it to use my credit/debit card with online payments?</dt>
                <dd>The website has a 128 bit SSL certificate. At no point in the ordering process are credit card
                    details stored.
                </dd>
                <dt id="2_4">15.&nbsp; Why doesn't my voucher code work?</dt>
                <dd>Please contact <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a> &nbsp;if
                    your voucher code isn't working.
                </dd>
                <dt id="2_5">16.&nbsp; What happens if I don't use all of the available money on my voucher?</dt>
                <dd>If you don't spend all of your voucher in one visit, when you log into your account you will be able
                    to see how much voucher credit you have left to spend. Voucher codes are valid for 6 months from the
                    date of purchase.
                </dd>
                <dt id="2_6">17.&nbsp; What if you don't have the size I require?</dt>
                <dd>Please contact us at <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a>
                    with your requirements and we will try and accommodate you.
                </dd>
                <dt id="2_7">18.&nbsp; How do I get copies of the core product brochure?</dt>
                <dd>Please contact us at <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a>
                    if more product brochures are required.
                </dd>

                <dt id="3_1">19. Can you dual-brand items with Life Fitness and another logo?</dt>
                <dd>Dual branding is available on certain products, please visit the dual branded section on the website
                    (insert hyperlink). Minimum order quantities apply. For any specific dual branding enquiries, please
                    e-mail <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a> with your
                    enquiry.
                </dd>
                <dt id="3_2">20. What branding processes do you use to apply logos to garments?</dt>
                <dd>We use several processes to apply logos to garments:
                    Embroidery- A logo or image is stitched on to a garment utilising an embroidery machine.
                    Transfer print- An image is printed on to a specially coated transfer paper. The printed paper is
                    then placed face down on to the fabric, heat is applied and the image is transferred to the fabric.
                    Screen print- Most commonly used to print logos on to clothing, the logo is applied using a screen
                    that has been stretched on to a frame and to which a stencil has been affixed. The ink passes
                    through the screen and the stencil determines the image that is printed.
                    Digital print- Digital printing is using techniques developed for computer printers such as inkjet
                    or laser printers. It's a simple and quick process most commonly used for small run orders of
                    brochures, banners and posters.
                    Litho print- Litho printing is a similar process to digital printing but is used for larger print
                    runs. Its also utilised when high quality and colour clarity are required.
                </dd>


                <dt id="4_1">21. What if I have forgotten my login details?</dt>
                <dd>Please e-mail <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a> and we
                    will issue you a new password.
                </dd>
                <dt id="4_2">22. How do I check my order history?</dt>
                <dd>Please login in to access your account and order history</dd>
                <dt id="4_3">23. How do I add someone as a user to the system?</dt>
                <dd>Please e-mail <a href="mailto:support@lifefitness-shop.com">support@lifefitness-shop.com</a>&nbsp;
                    with the details of the person you want to add and we will issue a new user name and password for
                    that person.
                </dd>
                <dt id="5_1">24. What is your privacy policy?</dt>
                <dd><a href="/privacy-policy/">Please click on the link to see our privacy policy</a></dd>
                <dt id="5_2">25. What are your terms and conditions?</dt>
                <dd><a href="/terms/">Please click on the link to see our terms and conditions</a></dd>
            </dl>


</div>


<div id="push"></div>
<script>
    $(document).ready(function () {

        var sidebar = $('#sidebar_content');
        var top = sidebar.offset().top - parseFloat(sidebar.css('marginTop'));

        $(window).scroll(function (event) {
            var ypos = $(this).scrollTop();
            if (ypos >= top) {
                sidebar.addClass('fixed');
            }
            else {
                sidebar.removeClass('fixed');
            }
        });

        $.localScroll();

    });
</script>
