<?php
if ($this->user->getBillingAddress()) {
    $billingAddress = $this->user->getBillingAddress();
    $billingCountry = $billingAddress->getCountry();
}
if ($this->user->getDeliveryAddress()) {
    $deliveryAddress = $this->user->getDeliveryAddress();
    $deliveryCountry = $deliveryAddress->getCountry();
}
?>

<style>
    .borderless {
        border: none;
        text-align: left;
        background: #F7F7F7;
    }
</style>

<section id="account" class="container">

<div class="tabbable span8">
<ul>
    <li><a href="#pane1" data-toggle="tab">My Orders</a></li>
    <li><a href="#pane2" data-toggle="tab">Address Book</a></li>
    <li><a href="#pane3" data-toggle="tab">Account Settings</a></li>

</ul>
<div class="tab-content">


<div id="pane1" class="tab-pane">

    <div class="account-orders">
        <?php if ($this->myOrders) : ?>
            <table class="table">
                <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Order Number</th>
                    <th>Order Total</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($this->myOrders as $order):
                    $currencyModel = new Core_Currency_Models_Currency();
                    $currency = $currencyModel->findById($order->getCurrencyId());
                    $currencySymbol = $currency->getCurrencySymbol();
                    $date = date('d-m-Y', strtotime($order->getDateOrdered()));

                    ?>
                    <tr id="<?php echo $order->getId(); ?>">
                        <td><?php echo $date; ?></td>
                        <td><?php echo $order->getOrderNumber(); ?></td>
                        <td><?php echo $order->getOrderTotal(); ?></td>
                        <td><?php echo $order->getStatus(); ?></td>
                        <td>
                            <a href="#" id="order-expand-<?php echo $order->getId(); ?>"
                               class="order-expand" alt="Show Order Details" title="Show Order Details">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </td>
                    </tr>
                    <?php
                    if ($order->getOrderParts()):
                        ?>
                        <tr class="order-hidden order-part-<?php echo $order->getId(); ?>">
                            <td colspan="15" class="borderless">
                                <div class="slide-me">
                                    <?php
                                    $userModel = new Core_User_Models_User();
                                    $addressModel = new Core_Address_Models_Address();

                                    $userId = $order->getUserId();
                                    $user = $userModel->findById($userId);
                                    $billingAddress = $addressModel->findById($order->getBillingAddressId());
                                    $deliveryAddress = $addressModel->findById($order->getDeliveryAddressId());

                                    ?>
                                    <h3>
                                    <?php
                                        echo $order->getOrderNumber();
                                        if ($order->getPaymentType() == 'invoice'){
                                            echo ' [PAID BY INVOICE]';
                                        }
                                    ?>
                                    </h3>
                                    <b>Billing Address</b>
                                    <?php
                                    echo $billingAddress->getLineOne() . ' ' . $billingAddress->getLineTwo() . ', ' .
                                        $billingAddress->getCity() . ', ' . $billingAddress->getCountry()->getCountry(); ?>
                                    <br/>
                                    <b>Delivery Address</b>
                                    <?php
                                    echo $deliveryAddress->getLineOne() . ' ' . $deliveryAddress->getLineTwo() . ', ' .
                                        $deliveryAddress->getCity() . ', ' . $deliveryAddress->getCountry()->getCountry(); ?>
                                    <br/>
                                    <table>
                                        <?php
                                        if ($order->getOrderParts()):?>
                                            <tr>
                                                <th>Product</th>
                                                <th>Qty</th>
                                                <th>Unit Price</th>
                                                <th>Line Total</th>
                                            </tr>
                                            <?php
                                            foreach ($order->getOrderParts() as $orderPart):
                                                ?>
                                                <tr>
                                                    <td><?php echo $orderPart->getPartStockDetails()->product; ?></td>
                                                    <td><?php echo $orderPart->getQuantity(); ?></td>
                                                    <td><?php echo $currencySymbol . number_format($orderPart->getPrice(), 2); ?></td>
                                                    <td><?php echo $currencySymbol . number_format($orderPart->getLineTotal(), 2); ?></td>
                                                </tr>
                                            <?php
                                            endforeach;
                                            ?>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Items Total</td>
                                                <td><?php echo $currencySymbol . number_format($order->getItemsTotal(), 2); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Delivery Charge</td>
                                                <td><?php echo $currencySymbol . number_format($order->getDeliveryCharge(), 2); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>VAT</td>
                                                <td><?php echo $currencySymbol . number_format($order->getVatCharge(), 2); ?></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>Order Total</td>
                                                <td><?php echo $currencySymbol . number_format($order->getOrderTotal(), 2); ?></td>
                                            </tr>
                                        <?php
                                        endif;
                                        ?>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    <?php
                    endif;
                endforeach;
                ?>
                </tbody>
            </table>

        <?php else : ?>
            <p>You currently don't have any placed orders.</p>
        <?php endif; ?>
    </div>
</div>
<div id="pane2" class="tab-pane">
    <div class="address-book">
        <?php
        if ($this->userAddresses):
            ?>
            <h4>Current Addresses</h4>
            <?php
            if ($this->errors):
                ?>
                <div class="notification error"><?php echo $this->errors; ?></div>
            <?php
            endif;
            foreach ($this->userAddresses as $userAddress):
                ?>
                <div class="add-book-address span4">
                    <?php
                    echo '<p>' . $userAddress->getLineOne() . '</p>';
                    echo '<p>' . ($userAddress->getLineTwo() ? $userAddress->getLineTwo() . '</p>' : '');
                    echo '<p>' . $userAddress->getCity() . '</p>';
                    echo '<p>' . $userAddress->getPostcode() . '</p>';
                    echo '<p>' . $userAddress->getRegion() . '</p>';
                    echo '<p>' . $userAddress->getCountry()->getCountry() . '</p>';
                    ?>
                    <a class="btn-link"
                       href="<?php echo $this->addressUrl; ?>/delete/<?php echo $userAddress->getId(); ?>">Delete</a>

                    <div class="clear"></div>

                    <?php if ($this->defaultAddress && $this->defaultAddress->getId() === $userAddress->getId()): ?>
                        <p class="notification success" href="#">Current Default</p>

                        <div class="clear"></div>
                    <?php else: ?>
                        <a class="btn btn-primary"
                           href="<?php echo $this->addressUrl; ?>/select/<?php echo $userAddress->getId(); ?>">Set
                            as
                            default</a>
                        <div class="clear"></div>
                    <?php endif; ?>
                </div>
            <?php
            endforeach;
        endif;
        ?>
        <h4><?php echo $this->addressForm->getDescription(); ?></h4>
        <?php if ($this->formErrors): ?>
            <div class="notification error"><?php echo $this->formErrors; ?></div>
        <?php endif; ?>
        <?php echo $this->addressForm ?>
    </div>

</div>

<div id="pane3" class="tab-pane">
    <div class="account-settings">
        <h4>Reset Password</h4>
        <?php if (isset($this->resetPasswordFeedback)) {
            echo $this->resetPasswordFeedback;
        }

        if (isset($this->resetForm)) {
            echo $this->resetForm;
        } ?>

      <!--  <h4>Change Preferred Currency</h4>
        <?php /*if (isset($this->changeCurrencyForm)) : */?>
            <?php /*echo $this->changeCurrencyFeedback; */?>
            <?php /*echo $this->changeCurrencyForm; */?>
        --><?php /*endif; */?>
    </div>
</div>


<!-- /.tab-content -->
</div>
<!-- /.tabbable -->
</div>
<div class="account-overview span4">
    <div class="contact-details span7">
        <h4>Contact Details</h4>

        <p><?php echo $this->user->getForename() . ' ' . $this->user->getSurname(); ?></p>

        <p><?php echo $this->user->getEmail(); ?></p>

        <!--  <div class="account-currency">
            <h4>Currency</h4>
          <p>  <?php /*echo $this->currency->getCurrency(); */?>
            (<?php /*echo $this->currency->getCurrencySymbol(); */?>)</p>


        </div>-->
    </div>
    <div class="address-details ">
        <div class="account-address">
            <h4>Billing address</h4>
            <?php
            if ($billingAddress) :
                ?>
                <p> <?php echo $billingAddress->getLineOne(); ?></p>
                <p><?php echo $billingAddress->getLineTwo(); ?></p>
                <p><?php echo $billingAddress->getCity(); ?></p>
                <p><?php echo $billingCountry->getCountry(); ?></p>

            <?php else: ?>

                <p class="notification error">No billing Address set up</p>
                <a href="" class="btn btn-primary">Add Address <i class="fa fa-plus-circle"></i></a>

            <?php
            endif;
            ?>
        </div>
        <div class="account-address">
            <h4>Delivery Address</h4>
            <?php
            if ($deliveryAddress) :
                ?>
                <p><?php echo $deliveryAddress->getLineOne(); ?></p>
                <p><?php echo $deliveryAddress->getLineTwo(); ?></p>
                <p><?php echo $deliveryAddress->getCity(); ?></p>
                <p><?php echo $deliveryCountry->getCountry(); ?></p>

            <?php else: ?>

            <p class="notification error">No delivery Address set up</p>
            <a href="" class="btn btn-primary">Add Address <i class="fa fa-plus-circle"></i></a>
        </div>
    </div>
    <?php endif; ?>

</div>

</section>

