<?php /* @var $this Banner_Views_View*/ ?>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>

<div class="container">
    <div id="push"></div>
    <h3>Banners</h3>
        <p>Please select an area from below.</p>
    <div id="accordion">
            <h3>Home</h3>
        <div>
            <p>Select a header from below or add a new one.</p>
            <form action="#" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file"><br>
                <input type="submit" name="submit" value="Upload">
            </form>
            <?php foreach($this->getContent('banners') as $banner) : ?>
                <ul>
                    <li><?php echo ($banner['id']);?> <?php echo ($banner['file_name']);?> <?php echo ($banner['path']);?></li>
                </ul>
            <?php endforeach ?>
        </div>
        <h3>Products</h3>
        <div>
            <p>Select a header from below or add a new one.</p>
            <form action="#" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file"><br>
                <input type="submit" name="submit" value="Upload">
            </form>
            <?php foreach($this->getContent('banners') as $banner) : ?>
                <ul>
                    <li><?php echo ($banner['id']);?> <?php echo ($banner['file_name']);?> <?php echo ($banner['path']);?></li>
                </ul>
            <?php endforeach ?>
        </div>
        <h3>About Us</h3>
        <div>
            <p>Select a header from below or add a new one.</p>
            <form action="#" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file"><br>
                <input type="submit" name="submit" value="Upload">
            </form>
            <?php foreach($this->getContent('banners') as $banner) : ?>
                <ul>
                    <li><?php echo ($banner['id']);?> <?php echo ($banner['file_name']);?> <?php echo ($banner['path']);?></li>
                </ul>
            <?php endforeach ?>
        </div>
    </div>
</div>

<script>
    $("#accordion").accordion();
    $("#accordion").accordion({ header: "h3", collapsible: true, active: false });
</script>