<div id="index-box" class="grid_24 box-static">

    <div class="box-header-static">
        <h1><i class="fa fa-pencil-square-o fa-fw"></i> History</h1>
        <div class="box-header-static-links"></div>
    </div>

    <div class="box-content-static">
        <?php
        if (isset($this->allHistory)):
            foreach($this->allHistory as $history) :
                if ($history->action == 'added') {
                    $image = '/core/img/icons/add.png';
                } else if ($history->action == 'edited') {
                    $image = '/core/img/icons/edit.jpeg';
                } else {
                    $image = '/core/img/icons/trash.png';
                }
                ?>
                <p><img src="<?php echo $image; ?>" height="10px" width="10px"> <?php echo $history->forename . ' ' . $history->surname; ?><?php echo ' -    ' . $history->action; ?>
                    (<?php echo $history->type; ?>) <?php echo $history->name; ?></p>
            <?php
            endforeach;
        else:
            ?>
            <p>There is no history logged yet</p>
        <?php endif; ?>
    </div>
</div>