    <div class="main-wrapper">
    <div class="left-links">
        <ul class="nav nav-list nav-lined">
            <?php
            if (!empty($this->childCategories)):
                foreach ($this->childCategories as $childCategory): 
                ?>
                <li>
                    <a href ="<?php echo $this->categoryUrl . $childCategory->getId(); ?>">
                    <?php echo $childCategory->getNameByLanguage($this->languageSelected) ?></a>
                </li>
                <?php
                endforeach;
            endif;
            ?>
            <?php if ($childCategory->getId() ==  13) : ?>
                <li><a href="/pack/index">Marketing Packs</a></li>
            <?php endif; ?>
        </ul>
    </div>


    <div class="main-right-wrapper"> 
        <h3>Results for "<?php echo $this->search ;?>"...</h3>
        <ul class="thumbnails">
            <?php
            if (!empty($this->products)):
                foreach ($this->products as $product):
                    $productId = $product->getId();
                    $productUrl = $this->productUrl . $productId;
                    $productName = $product->getNameByLanguage($this->languageSelected);
                    $defaultImage = $product->getDefaultImage()->image_url;
                    $productPrice = $product->getMinPrice();
                    ?>
                    <li class="product-thumb">
                        <a class="product-url" href ="<?php echo $productUrl; ?>">
                            <div class="thumbnail">
                                <p class="product-name">
                                    <?php echo $productName; ?>
                                </p>
                                <p class="product-price">
                                    <?php echo "&pound;" . number_format($productPrice, 2); ?> (ex VAT)
                                </p>
                                <div class="product-image">
                                    <img src="<?php echo $this->productImageLocation . $defaultImage; ?>"/>
                                </div>
                                <div class="product-colourways">
                                    <?php
                                    //check and show colourway boxes only if product has colourways
                                    if ($product->hasColourways()):
                                        foreach ($product->getColourways() as $colourway):
                                            ?>
                                            <div class="colourway-product-select" id="colourway-select-<?php echo $colourway->getId(); ?>" product-id = "<?php echo $productId; ?>" style="background-color: <?php echo $colourway->getHex(); ?>">
                                            </div>
                                            <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </div>
                            </div>
                        </a>
                    </li>
                <?php endforeach; ?>
            <?php else :
                ?>
                <h3 class="no-products"> 
                    Sorry. Your search returned no results. Please try again.
                </h3>
                <?php
                endif;
            ?>
        </ul>
    </div>
</div>




<div class="clearfix"></div>
