<section id="category" class="container">
    <nav class="span3">
        <h3>Categories</h3>
        <ul>
            <?php
            if (!empty($this->childCats)):
                foreach ($this->parentCats as $parentCats) : ?>
                    <li><?php echo $parentCats->getNameByLanguage(); ?></li>
                    <?php if (!empty($this->childCats[$parentCats->id])) : //echo '<pre>'; var_dump($this->childCats[$parentCats->id]); die();
                        ?>
                        <?php foreach ($this->childCats[$parentCats->id] as $childCats): //die('here');
                        ?>
                        <li class="child-category">
                            <a class="<?php echo $childCats->id; ?>"
                               href="<?php echo $this->categoryUrl . $childCats->id; ?>">
                                <?php echo $childCats->getNameByLanguage(); ?></a></li>
                    <?php
                    endforeach;
                    endif;
                endforeach;
            endif;
            ?>
        </ul>
    </nav>
    <!-- end column 1 -->

    <div class="thumbnail-wrapper span9">

        <ul class="thumbnails container">
            <?php
            if (!empty($this->categoryProducts)):
                foreach ($this->categoryProducts as $product):
                    if ($product !== false) :
                        $productId = $product->getId();
                        $productUrl = $this->productUrl . $productId;
                        $productName = $product->getNameByLanguage();
                        $defaultImage = $product->getDefaultImage()->image_url;
                        $productPrice = $product->getMinPrice();
                        ?>
                        <li class="product-thumb span3">
                            <a class="product-url" href="<?php echo $productUrl; ?>">
                                <div class="product-inner">
                                    <div class="product-image">
                                        <img src="<?php echo $this->productImageLocation . $defaultImage; ?><?php //echo '/' . APP_PLATFORM . '/resize.php?src=' . $this->productImageLocation . $defaultImage .'&w=300'; ?>"/>
                                    </div>
                                    <div class="product-colourways">
                                        <?php
                                        //check and show colourway boxes only if product has colourways
                                        if ($product->hasColourways()):
                                            foreach ($product->getColourways() as $colourway):
                                                ?>
                                                <div class="colourway-product-select"
                                                     id="colourway-select-<?php echo $colourway->getId(); ?>"
                                                     product-id="<?php echo $productId; ?>"
                                                     style="background-color: <?php echo $colourway->getHex(); ?>">
                                                </div>
                                            <?php
                                            endforeach;
                                        endif;
                                        ?>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <h3 class="product-name">
                                        <?php echo $productName; ?>
                                    </h3>

                                    <p class="product-price">
                                        <?php if ($this->usergroup != null && $this->usergroup->vat === '1') {
                                            echo $this->currency->getCurrencySymbol() . number_format($productPrice * $this->conversion, 2);
                                            echo ' (ex VAT)';
                                        } else {
                                            echo $this->currency->getCurrencySymbol() . number_format($productPrice * $this->conversion * 1.2, 2);
                                        }
                                        ?>
                                    </p>
                                </div>
                            </a>
                        </li>
                    <?php endif;
                endforeach;
            endif;
            ?>
        </ul>
    </div>
</section>
<div class="clearfix"></div>