<div class="main-wrapper-category">
    <div class="left-links span3">
        <ul class="nav-list">
            <h3>Categories</h3>
            <?php
            if (!empty($this->childCategories)):
                foreach ($this->childCategories as $childCategory):
                    ?>
                    <li>
                        <a class="<?php echo $childCategory->getId(); ?>"
                           href="<?php echo $this->categoryUrl . $childCategory->getId(); ?>">
                            <?php echo $childCategory->getNameByLanguage($this->languageSelected); ?></a></li>
                <?php
                endforeach;
            endif;
            ?>
            <?php if ($childCategory->getId() == 13) : ?>
                <li><a href="/pack/index">Marketing Packs</a></li>
            <?php endif; ?>
        </ul>
    </div>

    <?php if ($this->category->isParent()): ?>
        <div class="categories-slides">
            <a href="">
                <img src="/lifefitness-shop/img/tem-cat-slides-pic.jpg" alt="temporary image">
            </a>
        </div>
    <?php endif; ?>


    <div class="container">
        <ul class="thumbnails">
            <?php
            if (!empty($this->categoryProducts)):
                foreach ($this->categoryProducts as $product):
                    $productId = $product->getId();
                    $productUrl = $this->productUrl . $productId;
                    $productName = $product->getNameByLanguage();
                    $defaultImage = $product->getDefaultImage()->image_url;
                    $productPrice = $product->getMinPrice();
                    ?>
                    <li class="product-thumb">
                        <a class="product-url" href="<?php echo $productUrl; ?>">
                            <div class="product-inner">
                                <div class="product-image">
                                    <img src="<?php echo $this->productImageLocation . $defaultImage; ?>"/>
                                </div>
                                <div class="product-colourways">
                                    <?php
                                    //check and show colourway boxes only if product has colourways
                                    if ($product->hasColourways()):
                                        foreach ($product->getColourways() as $colourway):
                                            ?>
                                            <div class="colourway-product-select"
                                                 id="colourway-select-<?php echo $colourway->getId(); ?>"
                                                 product-id="<?php echo $productId; ?>"
                                                 style="background-color: <?php echo $colourway->getHex(); ?>">
                                            </div>
                                        <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </div>
                            </div>
                            <div class="product-description">
                                <h3 class="product-name">
                                    <?php echo $productName; ?>
                                </h3>
                                <p class="product-price">
                                    <?php echo $this->currency->getCurrencySymbol() . number_format($productPrice * $this->conversion, 2); ?>
                                    (ex VAT)
                                </p>
                            </div>
                        </a>
                    </li>
                <?php
                endforeach;
            elseif ($this->category->isChild()):
            ?>
            <!--There are no products in this category-->
            <h3 class="no-products"> <?php
                echo $this->languageSelected->getContent('no_cat_products')->getContent();
                endif;
                ?>
            </h3>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        var categoryId = <?php echo json_encode($childCategory->getId()); ?>;
        if (categoryId === 1 || 2 || 3 || 4) {
            $(categoryId).remove();
        }
    });
</script>
<div class="clearfix"></div>